Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Mill, add device info
  homeassistant/components/mill/climate.py
  homeassistant/components/mill/manifest.json
  homeassistant/components/mill/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Update const.py
  homeassistant/components/influxdb/const.py
Due: mypy

Use configflow (WIP)
  .coveragerc
  CODEOWNERS
  homeassistant/components/nissan_leaf/__init__.py
  homeassistant/components/nissan_leaf/binary_sensor.py
  homeassistant/components/nissan_leaf/config_flow.py
  homeassistant/components/nissan_leaf/manifest.json
  homeassistant/components/nissan_leaf/sensor.py
  homeassistant/components/nissan_leaf/strings.json
  homeassistant/components/nissan_leaf/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/nissan_leaf/__init__.py
  tests/components/nissan_leaf/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Add 'queries_raw' feature
  homeassistant/components/influxdb/sensor.py
Due: mypy

Don't alter start_charging logic
  homeassistant/components/nissan_leaf/__init__.py
Due: mypy

Add .coveragerc exception
  .coveragerc
Due: hassfest

Start using ParamSpec for decorator functions
  homeassistant/components/dlna_dmr/media_player.py
  homeassistant/components/evil_genius_labs/util.py
  homeassistant/components/sonos/helpers.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/vlc_telnet/media_player.py
  homeassistant/components/zwave_js/addon.py
Due: mypy

Removes leftover variable
  homeassistant/components/unifiprotect/light.py
Due: mypy

Enable strict typing for Overkiz integration (#63108)
  .strict-typing
  homeassistant/components/overkiz/binary_sensor.py
  homeassistant/components/overkiz/coordinator.py
  homeassistant/components/overkiz/executor.py
  homeassistant/components/overkiz/light.py
  homeassistant/components/overkiz/lock.py
  homeassistant/components/overkiz/number.py
  homeassistant/components/overkiz/sensor.py
  mypy.ini
Due: mypy

Update tests and code style
  .coveragerc
  homeassistant/components/wevolor/config_flow.py
  homeassistant/components/wevolor/cover.py
  homeassistant/components/wevolor/manifest.json
  homeassistant/components/wevolor/strings.json
  tests/components/wevolor/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Fix Shelly error fetching device triggers for sleeping devices (#63103)
  homeassistant/components/shelly/device_trigger.py
  tests/components/shelly/test_device_trigger.py
Due: mypy

Fix pylint + tests
  homeassistant/components/dlna_dmr/media_player.py
  homeassistant/components/evil_genius_labs/util.py
  homeassistant/components/sonos/helpers.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/vlc_telnet/media_player.py
  homeassistant/components/zwave_js/addon.py
Due: mypy

Bump google-nest-sdm to 1.2.1
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add velbus USB dicovery (#62596)
  homeassistant/components/velbus/config_flow.py
  homeassistant/components/velbus/manifest.json
  homeassistant/generated/usb.py
  tests/components/velbus/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Added keyboard_remote integration tests
  requirements_test_all.txt
  tests/components/keyboard_remote/__init__.py
  tests/components/keyboard_remote/conftest.py
  tests/components/keyboard_remote/test_basic.py
Due: none

Mill, add HVAC_MODE_OFF for gen 3 heaters (#63134)
  homeassistant/components/mill/climate.py
Due: mypy

Bump google-nest-sdm to 1.2.1 (#63151)
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix test bug to improve test covergae and restructure statements
  homeassistant/components/camera/__init__.py
  tests/components/camera/test_init.py
Due: mypy

Implement a webrtc to rtsp support in camera as a registry
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/const.py
  tests/components/camera/test_init.py
Due: mypy

Add set sleepnumber service
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/const.py
  homeassistant/components/sleepiq/sensor.py
  homeassistant/components/sleepiq/services.yaml
Due: mypy, hassfest

Add missing call to refresh webrtc providers
  homeassistant/components/camera/__init__.py
Due: mypy

Update trait.py
  homeassistant/components/google_assistant/trait.py
Due: mypy

Run provider refresh in parallel since it may send RPCs
  homeassistant/components/camera/__init__.py
Due: mypy

Replace for loop with any
  homeassistant/components/camera/__init__.py
Due: mypy

Fix pylint warning to use a generator
  homeassistant/components/camera/__init__.py
Due: mypy

Bump flux_led to 0.27.26
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add UniFi Protect light platform (#63137)
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/light.py
  tests/components/unifiprotect/conftest.py
  tests/components/unifiprotect/sample_data/sample_light.json
  tests/components/unifiprotect/test_light.py
Due: mypy

Implement an rtsp to webrtc registry in camera (#62962)
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/const.py
  tests/components/camera/test_init.py
Due: mypy
