Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Revert "Restart CI"
  homeassistant/components/reolink/config_flow.py
Due: mypy

Formatting
  homeassistant/components/microsoft_graph/__init__.py
  homeassistant/components/microsoft_graph/config_flow.py
  homeassistant/components/microsoft_graph/const.py
Due: mypy

Removing TODOs generated by scaffolder
  homeassistant/components/microsoft_graph/api.py
  homeassistant/components/microsoft_graph/const.py
Due: mypy

[ci skip] Translation update
  homeassistant/components/binary_sensor/translations/nl.json
  homeassistant/components/bsblan/translations/sl.json
  homeassistant/components/dunehd/translations/nl.json
  homeassistant/components/dunehd/translations/sl.json
  homeassistant/components/forked_daapd/translations/sl.json
  homeassistant/components/gogogate2/translations/sl.json
  homeassistant/components/guardian/translations/sl.json
  homeassistant/components/homekit/translations/nl.json
  homeassistant/components/openuv/translations/sl.json
  homeassistant/components/plex/translations/sl.json
  homeassistant/components/plugwise/translations/sl.json
  homeassistant/components/sonarr/translations/sl.json
  homeassistant/components/vizio/translations/es.json
  homeassistant/components/vizio/translations/pl.json
Due: none

Refactor ZHA tests to allow attribute reads during device initialization (#43357)
  tests/components/zha/common.py
  tests/components/zha/test_climate.py
  tests/components/zha/test_cover.py
Due: none

Update denonavr to 0.9.6
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update Zha dependencies
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update Zha dependencies (#43373)
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Get attr from cluster, not channel
  homeassistant/components/zha/sensor.py
Due: mypy

Run cached state through formatter method
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/sensor.py
Due: mypy

Use cached values for div/multiplier for SmartEnergy channel
  homeassistant/components/zha/core/channels/smartenergy.py
Due: mypy

Refactor ZHA sensors to use cached values after restart
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/sensor.py
Due: mypy

Restore batter voltage from cache
  homeassistant/components/zha/sensor.py
Due: mypy

Refactor sensor to use cached values only
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/sensor.py
Due: mypy

Update tests
  tests/components/zha/test_sensor.py
Due: none

Add battery sensor test
  tests/components/zha/test_sensor.py
Due: none

Refactor ZHA sensor initialization (#43339)
  homeassistant/components/zha/core/channels/base.py
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/smartenergy.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/sensor.py
  tests/components/zha/test_sensor.py
Due: mypy

bump pyvizio to 0.1.57
  homeassistant/components/vizio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update denonavr to 0.9.6 (#43370)
  homeassistant/components/denonavr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

bump frontend to 20201111.3
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
Due: gen_requirements_all, hassfest

Bump pyvizio to 0.1.57 (#43374)
  homeassistant/components/vizio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump hatasmota to 0.0.32 (#43360)
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_discovery.py
Due: gen_requirements_all, hassfest

Update homeassistant/components/shelly/utils.py
  homeassistant/components/shelly/utils.py
Due: mypy

Fixed pytest config_flow
  tests/components/fireservicerota/test_config_flow.py
Due: none

20201111.4
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  setup.py
Due: gen_requirements_all, hassfest

0.118.0b1
  homeassistant/const.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^homeassistant/.+/(manifest|strings)\.json$ and \.json$
