Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Reworks data coordinator, corrects strings, fixes tests
  homeassistant/components/loqed/__init__.py
  homeassistant/components/loqed/config_flow.py
  homeassistant/components/loqed/const.py
  homeassistant/components/loqed/coordinator.py
  homeassistant/components/loqed/lock.py
  homeassistant/components/loqed/sensor.py
  homeassistant/components/loqed/strings.json
  tests/components/loqed/conftest.py
  tests/components/loqed/test_init.py
  tests/components/loqed/test_lock.py
  tests/components/loqed/test_sensor.py
Due: mypy, pylint, hassfest

Allows updates of hostname, types coordinator message, removes context
  homeassistant/components/loqed/config_flow.py
  homeassistant/components/loqed/coordinator.py
  homeassistant/components/loqed/lock.py
  tests/components/loqed/test_config_flow.py
Due: mypy, pylint

Uses improved LoqedAPI library
  homeassistant/components/loqed/__init__.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint

Uses hostname and sets unique id for manual setups
  homeassistant/components/loqed/config_flow.py
  tests/components/loqed/test_config_flow.py
Due: mypy, pylint

Updates manifest to match new lib version
  homeassistant/components/loqed/__init__.py
  homeassistant/components/loqed/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Moves back to token based flow
  CODEOWNERS
  homeassistant/components/loqed/application_credentials.py
  homeassistant/components/loqed/config_flow.py
  homeassistant/components/loqed/lock.py
  homeassistant/components/loqed/manifest.json
  homeassistant/components/loqed/strings.json
  homeassistant/components/loqed/translations/en.json
  homeassistant/generated/application_credentials.py
Due: mypy, pylint, gen_requirements_all, hassfest

Adds correct branding
  homeassistant/components/loqed/entity.py
  homeassistant/components/loqed/lock.py
Due: mypy, pylint

Uses identifier instead of ip
  homeassistant/components/loqed/__init__.py
Due: mypy, pylint

Remove legacy STT provider from the demo integration
  homeassistant/components/demo/stt.py
  tests/components/demo/test_stt.py
Due: mypy, pylint

Fix ZHA tests
  tests/components/zha/test_config_flow.py
Due: none

Update __init__.py
  homeassistant/components/ness_alarm/__init__.py
Due: mypy, pylint

Fix ZHA tests (#94588)
  tests/components/zha/test_config_flow.py
Due: none

Remove legacy STT provider from the demo integration (#94585)
  homeassistant/components/demo/stt.py
  tests/components/demo/test_stt.py
Due: mypy, pylint

Completes tests
  homeassistant/components/loqed/config_flow.py
  homeassistant/components/loqed/strings.json
  homeassistant/components/loqed/translations/en.json
  tests/components/loqed/conftest.py
  tests/components/loqed/fixtures/get_all_locks.json
  tests/components/loqed/test_config_flow.py
  tests/components/loqed/test_lock.py
Due: mypy, pylint, hassfest

fix(config): don't transform all falsey documents into an empty dict
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

Adjust test fixutres
  tests/components/demo/test_button.py
  tests/components/demo/test_climate.py
  tests/components/demo/test_cover.py
  tests/components/demo/test_date.py
  tests/components/demo/test_datetime.py
  tests/components/demo/test_light.py
  tests/components/demo/test_number.py
  tests/components/demo/test_select.py
  tests/components/demo/test_sensor.py
Due: none

Update tests depending on the demo integration
  homeassistant/components/demo/camera.py
  tests/components/calendar/test_recorder.py
  tests/components/camera/conftest.py
  tests/components/climate/test_recorder.py
  tests/components/config/test_config_entries.py
  tests/components/demo/test_camera.py
  tests/components/emulated_hue/test_hue_api.py
  tests/components/fan/test_recorder.py
  tests/components/google_assistant/test_diagnostics.py
  tests/components/google_assistant/test_google_assistant.py
  tests/components/google_assistant/test_smart_home.py
  tests/components/light/test_recorder.py
  tests/components/media_player/test_recorder.py
  tests/components/number/test_recorder.py
  tests/components/select/test_recorder.py
  tests/components/text/test_recorder.py
  tests/components/tts/test_notify.py
Due: mypy, pylint

Always setup demo platforms with device support from config entry
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/binary_sensor.py
  homeassistant/components/demo/button.py
  homeassistant/components/demo/climate.py
  homeassistant/components/demo/cover.py
  homeassistant/components/demo/date.py
  homeassistant/components/demo/datetime.py
  homeassistant/components/demo/light.py
  homeassistant/components/demo/number.py
  homeassistant/components/demo/select.py
  homeassistant/components/demo/sensor.py
  homeassistant/components/stt/legacy.py
  tests/components/demo/conftest.py
  tests/components/demo/test_button.py
  tests/components/demo/test_camera.py
  tests/components/demo/test_climate.py
  tests/components/demo/test_cover.py
  tests/components/demo/test_date.py
  tests/components/demo/test_datetime.py
  tests/components/demo/test_fan.py
  tests/components/demo/test_geo_location.py
  tests/components/demo/test_humidifier.py
  tests/components/demo/test_light.py
  tests/components/demo/test_lock.py
  tests/components/demo/test_media_player.py
  tests/components/demo/test_notify.py
  tests/components/demo/test_number.py
  tests/components/demo/test_remote.py
  tests/components/demo/test_select.py
  tests/components/demo/test_sensor.py
  tests/components/demo/test_siren.py
  tests/components/demo/test_switch.py
  tests/components/demo/test_text.py
  tests/components/demo/test_time.py
  tests/components/demo/test_update.py
  tests/components/demo/test_vacuum.py
  tests/components/demo/test_water_heater.py
  tests/components/demo/test_weather.py
Due: mypy, pylint

Added Config Flow to EmonCMS
  CODEOWNERS
  homeassistant/components/emoncms/__init__.py
  homeassistant/components/emoncms/config_flow.py
  homeassistant/components/emoncms/const.py
  homeassistant/components/emoncms/feed.py
  homeassistant/components/emoncms/hub.py
  homeassistant/components/emoncms/manifest.json
  homeassistant/components/emoncms/sensor.py
  homeassistant/components/emoncms/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Fix async_timeout deprecation warning
  homeassistant/components/wyoming/data.py
Due: mypy, pylint

Removes incorrect executable flags
  homeassistant/components/loqed/entity.py
  homeassistant/components/loqed/lock.py
Due: mypy, pylint

Update solax to 0.3.2 (#94545)
  homeassistant/components/solax/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Always setup demo platforms with device support from config entry
  homeassistant/components/demo/switch.py
  homeassistant/components/demo/text.py
  homeassistant/components/demo/time.py
  homeassistant/components/demo/update.py
  tests/components/demo/test_switch.py
  tests/components/demo/test_text.py
  tests/components/demo/test_time.py
  tests/components/demo/test_update.py
Due: mypy, pylint

Set has_entity_name in electrasmart
  homeassistant/components/electrasmart/climate.py
Due: mypy, pylint

Set has_entity_name in freedompro
  homeassistant/components/freedompro/binary_sensor.py
  homeassistant/components/freedompro/climate.py
  homeassistant/components/freedompro/cover.py
  homeassistant/components/freedompro/fan.py
  homeassistant/components/freedompro/light.py
  homeassistant/components/freedompro/lock.py
  homeassistant/components/freedompro/sensor.py
  homeassistant/components/freedompro/switch.py
Due: mypy, pylint

Set has_entity_name in kodi
  homeassistant/components/kodi/media_player.py
Due: mypy, pylint

Set has_entity_name in mill
  homeassistant/components/mill/climate.py
Due: mypy, pylint

Update homeassistant/components/fully_kiosk/__init__.py
  homeassistant/components/fully_kiosk/__init__.py
Due: mypy, pylint

Set has_entity_name in sharkiq
  homeassistant/components/sharkiq/vacuum.py
Due: mypy, pylint

Set has_entity_name in webostv
  homeassistant/components/webostv/media_player.py
Due: mypy, pylint

Set has_entity_name in ws66i
  homeassistant/components/ws66i/media_player.py
Due: mypy, pylint

Update tests depending on the demo integration
  tests/components/google_assistant/test_smart_home.py
Due: none

Fix log message
  homeassistant/components/webostv/media_player.py
Due: mypy, pylint

Update homeassistant/components/keyboard_remote/__init__.py
  homeassistant/components/keyboard_remote/__init__.py
Due: mypy, pylint

Fix typing
  homeassistant/components/keyboard_remote/__init__.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
