Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Change the way an entity is supported in La Marzocco (#108216)
  homeassistant/components/lamarzocco/entity.py
  homeassistant/components/lamarzocco/sensor.py
  homeassistant/components/lamarzocco/switch.py
Due: mypy, pylint

Add sensor platform to La Marzocco integration (#108157)
  homeassistant/components/lamarzocco/__init__.py
  homeassistant/components/lamarzocco/coordinator.py
  homeassistant/components/lamarzocco/entity.py
  homeassistant/components/lamarzocco/sensor.py
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/snapshots/test_sensor.ambr
  tests/components/lamarzocco/test_sensor.py
Due: mypy, pylint, hassfest

Improve aurora typing (#108217)
  homeassistant/components/aurora/binary_sensor.py
  homeassistant/components/aurora/config_flow.py
  homeassistant/components/aurora/coordinator.py
  homeassistant/components/aurora/sensor.py
Due: mypy, pylint

Add binary sensor platforms to La Marzocco (#108212)
  homeassistant/components/lamarzocco/__init__.py
  homeassistant/components/lamarzocco/binary_sensor.py
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/snapshots/test_binary_sensor.ambr
  tests/components/lamarzocco/test_binary_sensor.py
Due: mypy, pylint, hassfest

Add number platform to La Marzocco (#108229)
  homeassistant/components/lamarzocco/__init__.py
  homeassistant/components/lamarzocco/number.py
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/snapshots/test_number.ambr
  tests/components/lamarzocco/test_number.py
Due: mypy, pylint, hassfest

Fix state after La Marzocco update (#108244)
  homeassistant/components/lamarzocco/update.py
Due: mypy, pylint

Remove unused entity_sources argument from shared_attrs_bytes_from_event (#108210)
  homeassistant/components/recorder/db_schema.py
  homeassistant/components/recorder/table_managers/state_attributes.py
  tests/components/recorder/test_models.py
Due: mypy, pylint

Decrease fitbit logging verbosity on connection error (#108228)
  homeassistant/components/fitbit/api.py
  tests/components/fitbit/test_sensor.py
Due: mypy, pylint

Bump PyTado to 0.17.4 (#108255)
  homeassistant/components/tado/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Send target temp to Shelly TRV in F when needed (#108188)
  homeassistant/components/shelly/climate.py
  tests/components/shelly/test_climate.py
Due: mypy, pylint

Remove deprecated redundant dry and fan modes from `zwave_js` climates (#108124)
  homeassistant/components/zwave_js/climate.py
  homeassistant/components/zwave_js/strings.json
  tests/components/zwave_js/test_climate.py
Due: mypy, pylint, hassfest

Disable Python 3.12 incompatible integrations (#108163)
  homeassistant/components/cisco_webex_teams/manifest.json
  homeassistant/components/metoffice/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/metoffice/conftest.py
Due: gen_requirements_all, hassfest

Assert default response from conversation trigger (#108231)
  tests/components/conversation/test_trigger.py
Due: none

Add update platform to La Marzocco (#108235)
  homeassistant/components/lamarzocco/__init__.py
  homeassistant/components/lamarzocco/strings.json
  homeassistant/components/lamarzocco/update.py
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/snapshots/test_update.ambr
  tests/components/lamarzocco/test_update.py
Due: mypy, pylint, hassfest

Add button platform to La Marzocco (#108236)
  homeassistant/components/lamarzocco/__init__.py
  homeassistant/components/lamarzocco/button.py
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/snapshots/test_button.ambr
  tests/components/lamarzocco/test_button.py
Due: mypy, pylint, hassfest

Improve systemmonitor generic typing (#108220)
  homeassistant/components/systemmonitor/sensor.py
Due: mypy, pylint

Switch for swiss_public_transport to unique_id instead of unique_entry (#107910)
  homeassistant/components/swiss_public_transport/config_flow.py
  tests/components/swiss_public_transport/test_config_flow.py
Due: mypy, pylint

Bump ZHA dependency zigpy to 0.60.6 (#108266)
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use cache update for WIFI blinds (#108224)
  homeassistant/components/motion_blinds/coordinator.py
Due: mypy, pylint

Bump reolink_aio to 0.8.7 (#108248)
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove legacy VacuumEntity base class support (#108189)
  homeassistant/components/vacuum/__init__.py
  homeassistant/components/vacuum/strings.json
  tests/components/vacuum/test_init.py
Due: mypy, pylint, hassfest

Let zigpy decide on default manufacturer id (#108257)
  homeassistant/components/zha/strings.json
  homeassistant/components/zha/websocket_api.py
Due: mypy, pylint, hassfest

Speed up ZHA initialization and improve startup responsiveness (#108103)
  homeassistant/components/zha/core/cluster_handlers/__init__.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/core/endpoint.py
  homeassistant/components/zha/core/gateway.py
  homeassistant/components/zha/core/helpers.py
  tests/components/zha/conftest.py
  tests/components/zha/test_gateway.py
Due: mypy, pylint

Remove unused variables in honeywell (#108252)
  homeassistant/components/honeywell/__init__.py
  homeassistant/components/honeywell/const.py
Due: mypy, pylint

Bump aiounifi to v69 to improve websocket logging (#108265)
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Allow multiple config entries in Honeywell (#108263)
  homeassistant/components/honeywell/__init__.py
Due: mypy, pylint

Add tests to flexit_bacnet integration (#108291)
  tests/components/flexit_bacnet/__init__.py
  tests/components/flexit_bacnet/conftest.py
  tests/components/flexit_bacnet/snapshots/test_climate.ambr
  tests/components/flexit_bacnet/test_climate.py
  tests/components/flexit_bacnet/test_config_flow.py
  tests/components/flexit_bacnet/test_init.py
Due: none

Bump lmcloud to 0.4.35 (#108288)
  homeassistant/components/lamarzocco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add diagnostics to La Marzocco (#108240)
  homeassistant/components/lamarzocco/diagnostics.py
  tests/components/lamarzocco/snapshots/test_diagnostics.ambr
  tests/components/lamarzocco/test_diagnostics.py
Due: mypy, pylint

Enable strict typing for config (#108023)
  .strict-typing
  homeassistant/components/config/__init__.py
  homeassistant/components/config/area_registry.py
  homeassistant/components/config/auth.py
  homeassistant/components/config/auth_provider_homeassistant.py
  homeassistant/components/config/automation.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/config/core.py
  homeassistant/components/config/device_registry.py
  homeassistant/components/config/scene.py
  homeassistant/components/config/script.py
  homeassistant/util/yaml/dumper.py
  mypy.ini
Due: mypy, pylint, hassfest-mypy-config

Avoid many replace calls in find_next_time_expression_time (#108273)
  homeassistant/util/dt.py
Due: mypy, pylint

Fix apple_tv IP Address not being updated from discovery (#107611)
  homeassistant/components/apple_tv/config_flow.py
  tests/components/apple_tv/test_config_flow.py
Due: mypy, pylint

Improve daikin typing (#108039)
  homeassistant/components/daikin/__init__.py
  homeassistant/components/daikin/climate.py
  homeassistant/components/daikin/config_flow.py
  homeassistant/components/daikin/switch.py
Due: mypy, pylint

Fix benign typo in entity registry (#108270)
  homeassistant/helpers/entity_registry.py
Due: mypy, pylint

Add state caching to button entities (#108272)
  homeassistant/components/button/__init__.py
  tests/components/button/test_init.py
Due: mypy, pylint

Small cleanups to the websocket api handler (#108274)
  homeassistant/components/websocket_api/auth.py
  homeassistant/components/websocket_api/http.py
Due: mypy, pylint

Don't always set first thread dataset as preferred (#108278)
  homeassistant/components/thread/dataset_store.py
  tests/components/otbr/__init__.py
  tests/components/otbr/test_init.py
  tests/components/thread/__init__.py
  tests/components/thread/test_dataset_store.py
  tests/components/thread/test_websocket_api.py
Due: mypy, pylint

Add task to install all requirements of an integration (#108262)
  .vscode/tasks.json
  script/const.py
  script/install_integration_requirements.py
  script/scaffold/__main__.py
  script/util.py
Due: none

Add coordinator to Flexit bacnet (#108295)
  homeassistant/components/flexit_bacnet/__init__.py
  homeassistant/components/flexit_bacnet/climate.py
  homeassistant/components/flexit_bacnet/coordinator.py
  homeassistant/components/flexit_bacnet/entity.py
  tests/components/flexit_bacnet/conftest.py
Due: mypy, pylint
