Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Handle portmapping with same name
  homeassistant/components/fritz/switch.py
Due: mypy

Surepetcare, improve set_pet_location
  homeassistant/components/surepetcare/__init__.py
Due: mypy

Fix creating `cert_expiry` configs during runtime (#56298)
  homeassistant/components/cert_expiry/__init__.py
  tests/components/cert_expiry/test_init.py
  tests/components/cert_expiry/test_sensors.py
Due: mypy

Surepetcare, add reauth
  homeassistant/components/surepetcare/config_flow.py
  tests/components/surepetcare/test_config_flow.py
Due: mypy

reauth
  homeassistant/components/surepetcare/__init__.py
Due: mypy

Update homeassistant/components/deconz/siren.py
  homeassistant/components/deconz/siren.py
Due: mypy

Bump Tibber library, updated prices for Glitre energy
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add config flow to Switchbot (#50653)
  .coveragerc
  CODEOWNERS
  homeassistant/components/switchbot/__init__.py
  homeassistant/components/switchbot/config_flow.py
  homeassistant/components/switchbot/const.py
  homeassistant/components/switchbot/coordinator.py
  homeassistant/components/switchbot/manifest.json
  homeassistant/components/switchbot/strings.json
  homeassistant/components/switchbot/switch.py
  homeassistant/components/switchbot/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/switchbot/__init__.py
  tests/components/switchbot/conftest.py
  tests/components/switchbot/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Surepetcare, add reauth
  tests/components/surepetcare/test_config_flow.py
Due: none

type
  homeassistant/components/surepetcare/config_flow.py
Due: mypy

Strictly type sensor.py (#56388)
  homeassistant/components/tradfri/sensor.py
Due: mypy

Strictly type binary_sensor.py. (#56376)
  homeassistant/components/modbus/binary_sensor.py
Due: mypy

deCONZ use siren platform (#56397)
  homeassistant/components/deconz/const.py
  homeassistant/components/deconz/light.py
  homeassistant/components/deconz/siren.py
  homeassistant/components/deconz/switch.py
  tests/components/deconz/test_gateway.py
  tests/components/deconz/test_siren.py
  tests/components/deconz/test_switch.py
Due: mypy

Move attribution to library, add normal sensors (#1)
  homeassistant/components/environment_canada/__init__.py
  homeassistant/components/environment_canada/const.py
  homeassistant/components/environment_canada/manifest.json
Due: mypy, gen_requirements_all, hassfest

Added tests.
  homeassistant/components/environment_canada/config_flow.py
  homeassistant/components/environment_canada/weather.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/environment_canada/__init__.py
  tests/components/environment_canada/test_config_flow.py
Due: mypy

Use hass_client_no_auth test fixture in withings tests (#56337)
  tests/components/withings/common.py
  tests/components/withings/conftest.py
  tests/components/withings/test_config_flow.py
Due: none

restore float and not string
  homeassistant/components/utility_meter/sensor.py
Due: mypy

Bump pyTibber to 0.19.1 (#56405)
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use hass_client_no_auth test fixture in nest tests (#56326)
  tests/components/nest/test_config_flow_sdm.py
Due: none

Add strict typing to tradfri __init__ and switch (#56002)
  homeassistant/components/tradfri/__init__.py
  homeassistant/components/tradfri/base_class.py
  homeassistant/components/tradfri/switch.py
Due: mypy
