Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Update wled to 0.18.0 (#117790)
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump python-kasa to 0.7.0.dev0 (#117785)
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tplink/__init__.py
  tests/components/tplink/test_init.py
Due: gen_requirements_all, hassfest

Convert SmartDeviceException->KasaException, SmartDevice->Device
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/config_flow.py
  homeassistant/components/tplink/coordinator.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
Due: mypy, pylint

Use PEP 695 type alias in tests
  tests/components/application_credentials/test_init.py
  tests/components/crownstone/test_config_flow.py
  tests/components/dlink/conftest.py
  tests/components/dlna_dms/test_dms_device_source.py
  tests/components/electric_kiwi/conftest.py
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
  tests/components/google/test_init.py
  tests/components/google_assistant_sdk/conftest.py
  tests/components/google_mail/conftest.py
  tests/components/google_sheets/test_init.py
  tests/components/lastfm/conftest.py
  tests/components/lidarr/conftest.py
  tests/components/local_calendar/conftest.py
  tests/components/mqtt/test_common.py
  tests/components/nest/common.py
  tests/components/nest/test_climate.py
  tests/components/rainbird/test_calendar.py
  tests/components/rest_command/conftest.py
  tests/components/rtsp_to_webrtc/conftest.py
  tests/components/trend/conftest.py
  tests/components/twinkly/conftest.py
  tests/components/twinkly/test_diagnostics.py
  tests/components/twitch/conftest.py
  tests/components/vera/common.py
  tests/components/youtube/conftest.py
  tests/typing.py
Due: none

Fix tests
  tests/conftest.py
Due: none

Run full test suite for changes in tests/typing.py
  .core_files.yaml
Due: none

Enable UP040 ruff check (#117792)
  pyproject.toml
Due: gen_requirements_all, hassfest-metadata

move integration runtime data to a dedicated location within a Config entry
  homeassistant/components/godice/__init__.py
  homeassistant/components/godice/const.py
  homeassistant/components/godice/sensor.py
  tests/components/godice/__init__.py
  tests/components/godice/test_sensor.py
Due: mypy, pylint

Add sleep to test
  tests/components/media_player/test_intent.py
Due: none

Use context
  homeassistant/components/media_player/intent.py
  tests/components/media_player/test_intent.py
Due: mypy, pylint

Use time.time()
  homeassistant/components/media_player/intent.py
Due: mypy, pylint

Unpause media players that were paused outside voice
  homeassistant/components/media_player/intent.py
  tests/components/media_player/test_intent.py
Due: mypy, pylint

Update last paused as media players change state
  homeassistant/components/media_player/intent.py
  tests/components/media_player/test_intent.py
Due: mypy, pylint

Implement suggestions
  homeassistant/components/media_player/intent.py
Due: mypy, pylint

Unpause media players that were paused outside voice (#117575)
  homeassistant/components/media_player/intent.py
  tests/components/media_player/test_intent.py
Due: mypy, pylint

Properly handle disabled ZHA discovery config entries
  homeassistant/components/homeassistant_sky_connect/util.py
  tests/components/homeassistant_sky_connect/test_util.py
Due: mypy, pylint

IntelliChem lsi values as numbers
  homeassistant/components/screenlogic/number.py
  homeassistant/components/screenlogic/sensor.py
Due: mypy, pylint

Revert "Fix spelling error"
  homeassistant/components/tesla_wall_connector/strings.json
Due: hassfest

Use PEP 695 type alias in tests (#117797)
  .core_files.yaml
  tests/components/application_credentials/test_init.py
  tests/components/crownstone/test_config_flow.py
  tests/components/dlink/conftest.py
  tests/components/dlna_dms/test_dms_device_source.py
  tests/components/electric_kiwi/conftest.py
  tests/components/google/conftest.py
  tests/components/google/test_calendar.py
  tests/components/google/test_init.py
  tests/components/google_assistant_sdk/conftest.py
  tests/components/google_mail/conftest.py
  tests/components/google_sheets/test_init.py
  tests/components/lastfm/conftest.py
  tests/components/lidarr/conftest.py
  tests/components/local_calendar/conftest.py
  tests/components/mqtt/test_common.py
  tests/components/nest/common.py
  tests/components/nest/test_climate.py
  tests/components/rainbird/test_calendar.py
  tests/components/rest_command/conftest.py
  tests/components/rtsp_to_webrtc/conftest.py
  tests/components/trend/conftest.py
  tests/components/twinkly/conftest.py
  tests/components/twinkly/test_diagnostics.py
  tests/components/twitch/conftest.py
  tests/components/vera/common.py
  tests/components/youtube/conftest.py
  tests/conftest.py
  tests/typing.py
Due: none

add repair flow
  homeassistant/components/openweathermap/repairs.py
  homeassistant/components/openweathermap/strings.json
Due: mypy, pylint, hassfest

Update tests/components/homeassistant_sky_connect/test_util.py
  tests/components/homeassistant_sky_connect/test_util.py
Due: none

improvements
  homeassistant/components/husqvarna_automower/switch.py
  tests/components/husqvarna_automower/test_switch.py
Due: mypy, pylint

Allow passing kwargs to descriptions
  homeassistant/components/tplink/entity.py
Due: mypy, pylint

Implement feature-based entities & convert switch platform over
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
Due: mypy, pylint

Disable all but explicitly enabled debug features per default
  homeassistant/components/tplink/entity.py
Due: mypy, pylint

Add pulse functionality to modbus switches
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
Due: mypy, pylint

Add but disable lsi sensors by default
  homeassistant/components/screenlogic/sensor.py
Due: mypy, pylint

add automatic removal
  homeassistant/components/husqvarna_automower/switch.py
  tests/components/husqvarna_automower/snapshots/test_switch.ambr
  tests/components/husqvarna_automower/test_switch.py
Due: mypy, pylint

Improve zwave_js TypeVar usage
  homeassistant/components/zwave_js/discovery_data_template.py
  homeassistant/components/zwave_js/services.py
Due: mypy, pylint

Bump aioautomower to 2024.5.1
  homeassistant/components/husqvarna_automower/manifest.json
  homeassistant/components/husqvarna_automower/number.py
  homeassistant/components/husqvarna_automower/select.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Use PEP 695 misc (2)
  homeassistant/components/deconz/deconz_device.py
  homeassistant/components/devolo_home_network/entity.py
  homeassistant/components/sleepiq/entity.py
  homeassistant/components/sonarr/coordinator.py
  homeassistant/components/switchbee/entity.py
  homeassistant/components/zha/core/decorators.py
  homeassistant/components/zha/core/registries.py
  homeassistant/helpers/collection.py
  homeassistant/helpers/storage.py
  homeassistant/helpers/update_coordinator.py
  homeassistant/util/enum.py
Due: mypy, pylint

fix tests
  tests/components/husqvarna_automower/fixtures/mower.json
  tests/components/husqvarna_automower/snapshots/test_diagnostics.ambr
  tests/components/husqvarna_automower/test_select.py
Due: none

Revert sonarr change
  homeassistant/components/sonarr/coordinator.py
Due: mypy, pylint

Use custom DataUpdateCoordinator to make data valid for 60 minutes
  homeassistant/components/nws/__init__.py
  homeassistant/components/nws/const.py
  homeassistant/components/nws/coordinator.py
  homeassistant/components/nws/sensor.py
  tests/components/nws/test_weather.py
Due: mypy, pylint

simplify tests
  tests/components/sonos/conftest.py
  tests/components/sonos/fixtures/music_library_albums.json
  tests/components/sonos/fixtures/music_library_categories.json
  tests/components/sonos/test_media_browser.py
Due: none

Use underscore for TypeVar name
  homeassistant/components/zwave_js/discovery_data_template.py
Due: mypy, pylint
