Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Add state_class_measurement to nws (#56629)
  homeassistant/components/nws/const.py
Due: mypy

Update python-smarttub to 0.0.27 (#56626)
  homeassistant/components/smarttub/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Upgrade pytest-xdist to 2.4.0 (#56606)
  requirements_test.txt
Due: none

Upgrade numpy to 1.21.2 (#56640)
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Ignore config directory symlink in development (#56639)
  .gitignore
Due: none

SSDP listener also start config flow for update messages
  homeassistant/components/ssdp/__init__.py
  tests/components/ssdp/test_init.py
Due: mypy

Add delay after first update to avoid limit
  homeassistant/components/kraken/__init__.py
  homeassistant/components/kraken/sensor.py
  tests/components/kraken/const.py
  tests/components/kraken/test_sensor.py
Due: mypy

Apply suggestions
  tests/components/kraken/test_sensor.py
Due: none

Move logging to _handle_coordinator_update
  homeassistant/components/xiaomi_miio/vacuum.py
Due: mypy

Use internal state attribute.
  homeassistant/components/xiaomi_miio/vacuum.py
Due: mypy

refactor to use Discover.discover_single
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/coordinator.py
Due: mypy

dry
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/config_flow.py
  homeassistant/components/tplink/utils.py
Due: mypy

implemented config flow for comfoconnect component
  homeassistant/components/comfoconnect/__init__.py
  homeassistant/components/comfoconnect/config_flow.py
  homeassistant/components/comfoconnect/const.py
  homeassistant/components/comfoconnect/fan.py
  homeassistant/components/comfoconnect/manifest.json
  homeassistant/components/comfoconnect/sensor.py
  homeassistant/components/comfoconnect/strings.json
  homeassistant/components/comfoconnect/translations/en.json
  homeassistant/generated/config_flows.py
Due: mypy, gen_requirements_all, hassfest

implement debounce
  homeassistant/components/tplink/coordinator.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/switch.py
Due: mypy

prune workarounds
  homeassistant/components/tplink/switch.py
Due: mypy

dry
  homeassistant/components/tplink/coordinator.py
  homeassistant/components/tplink/switch.py
Due: mypy

collapse
  homeassistant/components/tplink/light.py
Due: mypy

relocate since its not used outside
  homeassistant/components/tplink/migration.py
Due: mypy

reduce
  homeassistant/components/tplink/__init__.py
Due: mypy

dry
  homeassistant/components/tplink/config_flow.py
Due: mypy

type
  .strict-typing
  homeassistant/components/tplink/const.py
Due: mypy

type
  script/hassfest/mypy_config.py
Due: none

mypy
  mypy.ini
Due: none

typing
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/config_flow.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/sensor.py
  homeassistant/components/tplink/switch.py
Due: mypy

remove useless delegations
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/sensor.py
Due: mypy

decorate
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/switch.py
Due: mypy

tweak
  homeassistant/components/tplink/coordinator.py
Due: mypy
