Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Cleanup pylint ignore (#117964)
  homeassistant/components/hassio/coordinator.py
  homeassistant/components/mikrotik/coordinator.py
Due: mypy, pylint

Add possibility to enable expiry date
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/components/auth/__init__.py
  tests/auth/test_auth_store.py
  tests/components/auth/test_init.py
Due: mypy, pylint

Add tests to moehlenhoff_alpha2
  tests/components/moehlenhoff_alpha2/__init__.py
  tests/components/moehlenhoff_alpha2/fixtures/static2.xml
  tests/components/moehlenhoff_alpha2/snapshots/test_binary_sensor.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_button.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_climate.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_sensor.ambr
  tests/components/moehlenhoff_alpha2/test_binary_sensor.py
  tests/components/moehlenhoff_alpha2/test_button.py
  tests/components/moehlenhoff_alpha2/test_climate.py
  tests/components/moehlenhoff_alpha2/test_config_flow.py
  tests/components/moehlenhoff_alpha2/test_sensor.py
Due: none

Adjust coverage
  .coveragerc
Due: hassfest

Adjust patch
  tests/components/moehlenhoff_alpha2/__init__.py
  tests/components/moehlenhoff_alpha2/test_config_flow.py
Due: none

Adjust
  tests/components/moehlenhoff_alpha2/test_config_flow.py
Due: none

Add snapshot tests to moehlenhoff_alpha2 (#117967)
  .coveragerc
  tests/components/moehlenhoff_alpha2/__init__.py
  tests/components/moehlenhoff_alpha2/fixtures/static2.xml
  tests/components/moehlenhoff_alpha2/snapshots/test_binary_sensor.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_button.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_climate.ambr
  tests/components/moehlenhoff_alpha2/snapshots/test_sensor.ambr
  tests/components/moehlenhoff_alpha2/test_binary_sensor.py
  tests/components/moehlenhoff_alpha2/test_button.py
  tests/components/moehlenhoff_alpha2/test_climate.py
  tests/components/moehlenhoff_alpha2/test_config_flow.py
  tests/components/moehlenhoff_alpha2/test_sensor.py
Due: hassfest

Move moehlenhoff_alpha2 coordinator to separate module
  .coveragerc
  homeassistant/components/moehlenhoff_alpha2/__init__.py
  homeassistant/components/moehlenhoff_alpha2/binary_sensor.py
  homeassistant/components/moehlenhoff_alpha2/button.py
  homeassistant/components/moehlenhoff_alpha2/climate.py
  homeassistant/components/moehlenhoff_alpha2/coordinator.py
  homeassistant/components/moehlenhoff_alpha2/sensor.py
Due: mypy, pylint, hassfest

new device class energy_forecast
  homeassistant/components/number/const.py
  homeassistant/components/number/icons.json
  homeassistant/components/number/strings.json
  homeassistant/components/scrape/strings.json
  homeassistant/components/sensor/const.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/sensor/icons.json
  homeassistant/components/sensor/strings.json
  homeassistant/components/sql/strings.json
  homeassistant/components/template/strings.json
  tests/components/sensor/test_device_condition.py
  tests/components/sensor/test_device_trigger.py
Due: mypy, pylint, hassfest

new device class energy_forecast
  homeassistant/components/number/const.py
  homeassistant/components/sensor/const.py
Due: mypy, pylint

Fix turbojpeg init doing blocking I/O in the event loop
  homeassistant/components/camera/img_util.py
Due: mypy, pylint

Update homeassistant/components/camera/img_util.py
  homeassistant/components/camera/img_util.py
Due: mypy, pylint

already suppressed and logged
  homeassistant/components/camera/img_util.py
Due: mypy, pylint

Adjust
  tests/components/moehlenhoff_alpha2/__init__.py
Due: none

Apply suggestions from code review
  tests/components/teslemetry/test_switch.py
Due: none

ruff
  tests/components/teslemetry/test_switch.py
Due: none

Use fixture and constants in nuki tests
  tests/components/nuki/fixtures/info.json
  tests/components/nuki/mock.py
  tests/components/nuki/test_config_flow.py
Due: none

Review feedback
  tests/components/teslemetry/__init__.py
  tests/components/teslemetry/snapshots/test_switch.ambr
  tests/components/teslemetry/test_switch.py
Due: none

Review feedback
  tests/components/teslemetry/__init__.py
  tests/components/teslemetry/test_media_player.py
Due: none

coverage
  tests/helpers/test_llm.py
Due: none

Update snapshot
  tests/components/teslemetry/snapshots/test_media_player.ambr
Due: none

Update fixtures
  tests/components/nuki/fixtures/callback_add.json
  tests/components/nuki/fixtures/callback_list.json
  tests/components/nuki/fixtures/info.json
  tests/components/nuki/fixtures/list.json
Due: none

Convert custom service to play_media announce
  homeassistant/components/bang_olufsen/const.py
  homeassistant/components/bang_olufsen/media_player.py
  homeassistant/components/bang_olufsen/services.yaml
  homeassistant/components/bang_olufsen/strings.json
Due: mypy, pylint, hassfest

Add snapshot tests
  .coveragerc
  tests/components/nuki/__init__.py
  tests/components/nuki/snapshots/test_binary_sensor.ambr
  tests/components/nuki/snapshots/test_lock.ambr
  tests/components/nuki/snapshots/test_sensor.ambr
  tests/components/nuki/test_binary_sensor.py
  tests/components/nuki/test_lock.py
  tests/components/nuki/test_sensor.py
Due: hassfest

fix issue with device_class.capitalize()
  homeassistant/components/point/binary_sensor.py
Due: mypy, pylint

Add error message to snapshot_platform helper
  tests/common.py
Due: none

more tests
  homeassistant/components/llm_tools/__init__.py
  tests/components/llm_tools/test_init.py
Due: mypy, pylint

Add switch platform to Teslemetry (#117482)
  homeassistant/components/teslemetry/__init__.py
  homeassistant/components/teslemetry/icons.json
  homeassistant/components/teslemetry/strings.json
  homeassistant/components/teslemetry/switch.py
  tests/components/teslemetry/fixtures/vehicle_data_alt.json
  tests/components/teslemetry/snapshots/test_switch.ambr
  tests/components/teslemetry/test_switch.py
Due: mypy, pylint, hassfest

Remove debugging
  homeassistant/components/bang_olufsen/media_player.py
Due: mypy, pylint

Use SnapshotAssertion in rainmachine diagnostic tests
  tests/components/rainmachine/snapshots/test_diagnostics.ambr
  tests/components/rainmachine/test_diagnostics.py
Due: none

Force entry_id
  tests/components/rainmachine/conftest.py
  tests/components/rainmachine/snapshots/test_diagnostics.ambr
Due: none

Adjust
  tests/components/rainmachine/snapshots/test_diagnostics.ambr
Due: none

Define connections when the device has no parent
  homeassistant/components/tplink/entity.py
Due: mypy, pylint

Fix incorrect fixtures
  tests/components/rainmachine/conftest.py
  tests/components/rainmachine/fixtures/zones_details.json
  tests/components/rainmachine/snapshots/test_diagnostics.ambr
Due: none

Adjust
  tests/components/rainmachine/conftest.py
Due: none

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
