Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Migrate integration services (L-M) to support translations
  homeassistant/components/lcn/services.yaml
  homeassistant/components/lcn/strings.json
  homeassistant/components/lifx/services.yaml
  homeassistant/components/lifx/strings.json
  homeassistant/components/litterrobot/services.yaml
  homeassistant/components/litterrobot/strings.json
  homeassistant/components/local_file/services.yaml
  homeassistant/components/local_file/strings.json
  homeassistant/components/logi_circle/services.yaml
  homeassistant/components/logi_circle/strings.json
  homeassistant/components/lyric/services.yaml
  homeassistant/components/lyric/strings.json
  homeassistant/components/matrix/services.yaml
  homeassistant/components/matrix/strings.json
  homeassistant/components/mazda/services.yaml
  homeassistant/components/mazda/strings.json
  homeassistant/components/media_extractor/services.yaml
  homeassistant/components/media_extractor/strings.json
  homeassistant/components/melcloud/services.yaml
  homeassistant/components/melcloud/strings.json
  homeassistant/components/microsoft_face/services.yaml
  homeassistant/components/microsoft_face/strings.json
  homeassistant/components/mill/services.yaml
  homeassistant/components/mill/strings.json
  homeassistant/components/minio/services.yaml
  homeassistant/components/minio/strings.json
  homeassistant/components/modbus/services.yaml
  homeassistant/components/modbus/strings.json
  homeassistant/components/modern_forms/services.yaml
  homeassistant/components/modern_forms/strings.json
  homeassistant/components/monoprice/services.yaml
  homeassistant/components/monoprice/strings.json
  homeassistant/components/motion_blinds/services.yaml
  homeassistant/components/motion_blinds/strings.json
  homeassistant/components/motioneye/services.yaml
  homeassistant/components/motioneye/strings.json
Due: hassfest

Bump pyunifiprotect to 4.10.4
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Migrate integration services (E-F) to support translations (#96367)
  homeassistant/components/demo/services.yaml
  homeassistant/components/demo/strings.json
  homeassistant/components/ebusd/services.yaml
  homeassistant/components/ebusd/strings.json
  homeassistant/components/ecobee/services.yaml
  homeassistant/components/ecobee/strings.json
  homeassistant/components/eight_sleep/services.yaml
  homeassistant/components/eight_sleep/strings.json
  homeassistant/components/elgato/services.yaml
  homeassistant/components/elgato/strings.json
  homeassistant/components/elkm1/services.yaml
  homeassistant/components/elkm1/strings.json
  homeassistant/components/environment_canada/services.yaml
  homeassistant/components/environment_canada/strings.json
  homeassistant/components/envisalink/services.yaml
  homeassistant/components/envisalink/strings.json
  homeassistant/components/epson/services.yaml
  homeassistant/components/epson/strings.json
  homeassistant/components/evohome/services.yaml
  homeassistant/components/evohome/strings.json
  homeassistant/components/ezviz/services.yaml
  homeassistant/components/ezviz/strings.json
  homeassistant/components/facebox/services.yaml
  homeassistant/components/facebox/strings.json
  homeassistant/components/fastdotcom/services.yaml
  homeassistant/components/fastdotcom/strings.json
  homeassistant/components/ffmpeg/services.yaml
  homeassistant/components/ffmpeg/strings.json
  homeassistant/components/flo/services.yaml
  homeassistant/components/flo/strings.json
  homeassistant/components/flux_led/services.yaml
  homeassistant/components/flux_led/strings.json
  homeassistant/components/foscam/services.yaml
  homeassistant/components/foscam/strings.json
  homeassistant/components/freebox/services.yaml
  homeassistant/components/freebox/strings.json
  homeassistant/components/fritz/services.yaml
  homeassistant/components/fritz/strings.json
  homeassistant/components/fully_kiosk/services.yaml
  homeassistant/components/fully_kiosk/strings.json
Due: hassfest

Always try PullPoint with ONVIF
  homeassistant/components/onvif/device.py
Due: mypy, pylint

Migrate integration services (T-V) to support translations
  homeassistant/components/tado/services.yaml
  homeassistant/components/tado/strings.json
  homeassistant/components/telegram/services.yaml
  homeassistant/components/telegram/strings.json
  homeassistant/components/telegram_bot/services.yaml
  homeassistant/components/telegram_bot/strings.json
  homeassistant/components/timer/services.yaml
  homeassistant/components/timer/strings.json
  homeassistant/components/todoist/services.yaml
  homeassistant/components/todoist/strings.json
  homeassistant/components/toon/services.yaml
  homeassistant/components/toon/strings.json
  homeassistant/components/totalconnect/services.yaml
  homeassistant/components/totalconnect/strings.json
  homeassistant/components/tplink/services.yaml
  homeassistant/components/tplink/strings.json
  homeassistant/components/transmission/services.yaml
  homeassistant/components/transmission/strings.json
  homeassistant/components/unifi/services.yaml
  homeassistant/components/unifi/strings.json
  homeassistant/components/unifiprotect/services.yaml
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/upb/services.yaml
  homeassistant/components/upb/strings.json
  homeassistant/components/utility_meter/services.yaml
  homeassistant/components/utility_meter/strings.json
  homeassistant/components/vallox/services.yaml
  homeassistant/components/vallox/strings.json
  homeassistant/components/velbus/services.yaml
  homeassistant/components/velbus/strings.json
  homeassistant/components/velux/services.yaml
  homeassistant/components/velux/strings.json
  homeassistant/components/verisure/services.yaml
  homeassistant/components/verisure/strings.json
  homeassistant/components/vesync/services.yaml
  homeassistant/components/vesync/strings.json
  homeassistant/components/vicare/services.yaml
  homeassistant/components/vicare/strings.json
  homeassistant/components/vizio/services.yaml
  homeassistant/components/vizio/strings.json
Due: hassfest

Migrate integration services (L-M) to support translations (#96374)
  homeassistant/components/lcn/services.yaml
  homeassistant/components/lcn/strings.json
  homeassistant/components/lifx/services.yaml
  homeassistant/components/lifx/strings.json
  homeassistant/components/litterrobot/services.yaml
  homeassistant/components/litterrobot/strings.json
  homeassistant/components/local_file/services.yaml
  homeassistant/components/local_file/strings.json
  homeassistant/components/logi_circle/services.yaml
  homeassistant/components/logi_circle/strings.json
  homeassistant/components/lyric/services.yaml
  homeassistant/components/lyric/strings.json
  homeassistant/components/matrix/services.yaml
  homeassistant/components/matrix/strings.json
  homeassistant/components/mazda/services.yaml
  homeassistant/components/mazda/strings.json
  homeassistant/components/media_extractor/services.yaml
  homeassistant/components/media_extractor/strings.json
  homeassistant/components/melcloud/services.yaml
  homeassistant/components/melcloud/strings.json
  homeassistant/components/microsoft_face/services.yaml
  homeassistant/components/microsoft_face/strings.json
  homeassistant/components/mill/services.yaml
  homeassistant/components/mill/strings.json
  homeassistant/components/minio/services.yaml
  homeassistant/components/minio/strings.json
  homeassistant/components/modbus/services.yaml
  homeassistant/components/modbus/strings.json
  homeassistant/components/modern_forms/services.yaml
  homeassistant/components/modern_forms/strings.json
  homeassistant/components/monoprice/services.yaml
  homeassistant/components/monoprice/strings.json
  homeassistant/components/motion_blinds/services.yaml
  homeassistant/components/motion_blinds/strings.json
  homeassistant/components/motioneye/services.yaml
  homeassistant/components/motioneye/strings.json
Due: hassfest

Migrate integration services (W-Z) to support translations
  homeassistant/components/wake_on_lan/services.yaml
  homeassistant/components/wake_on_lan/strings.json
  homeassistant/components/webostv/services.yaml
  homeassistant/components/webostv/strings.json
  homeassistant/components/wemo/services.yaml
  homeassistant/components/wemo/strings.json
  homeassistant/components/wilight/services.yaml
  homeassistant/components/wilight/strings.json
  homeassistant/components/wled/services.yaml
  homeassistant/components/wled/strings.json
  homeassistant/components/xiaomi_aqara/services.yaml
  homeassistant/components/xiaomi_aqara/strings.json
  homeassistant/components/xiaomi_miio/services.yaml
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/components/yamaha/services.yaml
  homeassistant/components/yamaha/strings.json
  homeassistant/components/yeelight/services.yaml
  homeassistant/components/yeelight/strings.json
  homeassistant/components/zoneminder/services.yaml
  homeassistant/components/zoneminder/strings.json
Due: hassfest

Update pre-commit to 3.3.3 (#96359)
  requirements_test.txt
Due: none

Update RestrictedPython to 6.1 (#96358)
  homeassistant/components/python_script/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix recovery of down bluetooth adapters
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/bluetooth/scanner.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Add additional tplink kasa OUI
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Due: mypy, pylint, gen_requirements_all, hassfest

Add additional tplink kasa OUI (#96383)
  homeassistant/components/tplink/manifest.json
  homeassistant/generated/dhcp.py
Due: mypy, pylint, gen_requirements_all, hassfest

Migrate integration services (W-Z) to support translations (#96381)
  homeassistant/components/wake_on_lan/services.yaml
  homeassistant/components/wake_on_lan/strings.json
  homeassistant/components/webostv/services.yaml
  homeassistant/components/webostv/strings.json
  homeassistant/components/wemo/services.yaml
  homeassistant/components/wemo/strings.json
  homeassistant/components/wilight/services.yaml
  homeassistant/components/wilight/strings.json
  homeassistant/components/wled/services.yaml
  homeassistant/components/wled/strings.json
  homeassistant/components/xiaomi_aqara/services.yaml
  homeassistant/components/xiaomi_aqara/strings.json
  homeassistant/components/xiaomi_miio/services.yaml
  homeassistant/components/xiaomi_miio/strings.json
  homeassistant/components/yamaha/services.yaml
  homeassistant/components/yamaha/strings.json
  homeassistant/components/yeelight/services.yaml
  homeassistant/components/yeelight/strings.json
  homeassistant/components/zoneminder/services.yaml
  homeassistant/components/zoneminder/strings.json
Due: hassfest

Migrate integration services (T-V) to support translations (#96379)
  homeassistant/components/tado/services.yaml
  homeassistant/components/tado/strings.json
  homeassistant/components/telegram/services.yaml
  homeassistant/components/telegram/strings.json
  homeassistant/components/telegram_bot/services.yaml
  homeassistant/components/telegram_bot/strings.json
  homeassistant/components/timer/services.yaml
  homeassistant/components/timer/strings.json
  homeassistant/components/todoist/services.yaml
  homeassistant/components/todoist/strings.json
  homeassistant/components/toon/services.yaml
  homeassistant/components/toon/strings.json
  homeassistant/components/totalconnect/services.yaml
  homeassistant/components/totalconnect/strings.json
  homeassistant/components/tplink/services.yaml
  homeassistant/components/tplink/strings.json
  homeassistant/components/transmission/services.yaml
  homeassistant/components/transmission/strings.json
  homeassistant/components/unifi/services.yaml
  homeassistant/components/unifi/strings.json
  homeassistant/components/unifiprotect/services.yaml
  homeassistant/components/unifiprotect/strings.json
  homeassistant/components/upb/services.yaml
  homeassistant/components/upb/strings.json
  homeassistant/components/utility_meter/services.yaml
  homeassistant/components/utility_meter/strings.json
  homeassistant/components/vallox/services.yaml
  homeassistant/components/vallox/strings.json
  homeassistant/components/velbus/services.yaml
  homeassistant/components/velbus/strings.json
  homeassistant/components/velux/services.yaml
  homeassistant/components/velux/strings.json
  homeassistant/components/verisure/services.yaml
  homeassistant/components/verisure/strings.json
  homeassistant/components/vesync/services.yaml
  homeassistant/components/vesync/strings.json
  homeassistant/components/vicare/services.yaml
  homeassistant/components/vicare/strings.json
  homeassistant/components/vizio/services.yaml
  homeassistant/components/vizio/strings.json
Due: hassfest

Migrate hassio services to support translations
  homeassistant/components/hassio/services.yaml
  homeassistant/components/hassio/strings.json
Due: hassfest

Apply suggestions from code review
  homeassistant/components/conversation/strings.json
Due: hassfest

Migrate homeassistant services to support translations
  homeassistant/components/homeassistant/services.yaml
  homeassistant/components/homeassistant/strings.json
Due: hassfest

Migrate water_heater services to support translations
  homeassistant/components/water_heater/services.yaml
  homeassistant/components/water_heater/strings.json
Due: hassfest

Migrate scene services to support translations
  homeassistant/components/scene/services.yaml
  homeassistant/components/scene/strings.json
Due: hassfest

Migrate persistent notification services to support translations
  homeassistant/components/persistent_notification/services.yaml
  homeassistant/components/persistent_notification/strings.json
Due: hassfest

Add test for diagnostics
  tests/components/nut/test_diagnostics.py
Due: none

Add Nut commands to diagnostics data
  homeassistant/components/nut/diagnostics.py
Due: mypy, pylint

Migrate input helpers services to support translations
  homeassistant/components/input_boolean/services.yaml
  homeassistant/components/input_boolean/strings.json
  homeassistant/components/input_button/services.yaml
  homeassistant/components/input_button/strings.json
  homeassistant/components/input_datetime/services.yaml
  homeassistant/components/input_datetime/strings.json
  homeassistant/components/input_number/services.yaml
  homeassistant/components/input_number/strings.json
  homeassistant/components/input_select/services.yaml
  homeassistant/components/input_select/strings.json
  homeassistant/components/input_text/services.yaml
  homeassistant/components/input_text/strings.json
Due: hassfest

Apply suggestions from code review
  homeassistant/components/hassio/strings.json
Due: hassfest

Apply suggestions from code review
  homeassistant/components/water_heater/strings.json
Due: hassfest

Migrate logger services to support translations
  homeassistant/components/logger/services.yaml
  homeassistant/components/logger/strings.json
Due: hassfest

Migrate intent_script services to support translations
  homeassistant/components/intent_script/services.yaml
  homeassistant/components/intent_script/strings.json
Due: hassfest

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
