Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Bump yalexs to 6.5.0
  homeassistant/components/august/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Improve type hints in lcn tests (#123648)
  tests/components/lcn/conftest.py
Due: none

Improve type hints in locative tests (#123643)
  tests/components/locative/test_init.py
Due: none

correct entity availability
  homeassistant/components/zha/entity.py
Due: mypy, pylint

Remove demo mailbox
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/mailbox.py
Due: mypy, pylint

tts: prefer external url
  homeassistant/components/tts/__init__.py
Due: mypy, pylint

Update wled to 0.20.2
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix: address feedback part 2
  homeassistant/components/deako/__init__.py
  homeassistant/components/deako/light.py
  tests/components/deako/conftest.py
  tests/components/deako/test_config_flow.py
  tests/components/deako/test_init.py
  tests/components/deako/test_light.py
Due: mypy, pylint

Remove demo mailbox (#123741)
  homeassistant/components/demo/__init__.py
  homeassistant/components/demo/mailbox.py
Due: mypy, pylint

Bump ZHA lib to 0.0.31 (#123743)
  homeassistant/components/zha/entity.py
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Bump yalexs to 6.5.0 (#123739)
  homeassistant/components/august/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump pyatv to 0.15.0 (#123674)
  homeassistant/components/apple_tv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

feat: working options flow
  homeassistant/components/onkyo/config_flow.py
  homeassistant/components/onkyo/const.py
  homeassistant/components/onkyo/media_player.py
  homeassistant/components/onkyo/strings.json
  tests/components/onkyo/test_config_flow.py
Due: mypy, pylint, hassfest

replace non-existing property status with existing status_code
  homeassistant/components/html5/notify.py
Due: mypy, pylint

Update wled to 0.20.2 (#123746)
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump py-nextbusnext to 2.0.4
  homeassistant/components/nextbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix device lookup
  homeassistant/components/fujitsu_hvac/climate.py
Due: mypy, pylint

Add better error handling to Russound RIO
  homeassistant/components/russound_rio/__init__.py
  homeassistant/components/russound_rio/media_player.py
Due: mypy, pylint

Add handling for RoborockTooFrequentCodeRequests
  homeassistant/components/roborock/config_flow.py
  homeassistant/components/roborock/strings.json
Due: mypy, pylint, hassfest

Add tests for coverage
  tests/components/roborock/test_config_flow.py
Due: none

Update test_service_handler_device_classes tests
  tests/helpers/test_intent.py
Due: none

Revert test default agent
  tests/components/conversation/test_default_agent.py
Due: none

Revert set position required domains
  homeassistant/components/intent/__init__.py
Due: mypy, pylint

Bump python-nest-sdm to 4.0.6
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update xknx to 3.1.0
  homeassistant/components/knx/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove unnecessary assignment of Template.hass from alert
  homeassistant/components/alert/__init__.py
Due: mypy, pylint

Remove unnecessary assignment of Template.hass from generic camera
  homeassistant/components/generic/camera.py
Due: mypy, pylint

Remove unnecessary assignment of Template.hass from influxdb
  homeassistant/components/influxdb/sensor.py
Due: mypy, pylint

Remove unnecessary assignment of Template.hass from manual
  homeassistant/components/manual/alarm_control_panel.py
Due: mypy, pylint

Remove unnecessary assignment of Template.hass from manual_mqtt
  homeassistant/components/manual_mqtt/alarm_control_panel.py
Due: mypy, pylint

Remove unnecessary assignment of Template.hass from rest
  homeassistant/components/rest/switch.py
Due: mypy, pylint

Bump python-nest-sdm to 4.0.6 (#123762)
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
