Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Add rainbird request debouncer and immediately update entity switch state (#112152)
  homeassistant/components/rainbird/coordinator.py
  homeassistant/components/rainbird/switch.py
Due: mypy, pylint

Update homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/climate.py
Due: mypy, pylint

Handle exception in ViCare integration (#111128)
  homeassistant/components/vicare/climate.py
Due: mypy, pylint

Refactor integration platforms to load in the executor
  homeassistant/helpers/integration_platform.py
Due: mypy, pylint

Add icon translations to P1 monitor
  tests/components/p1_monitor/test_sensor.py
Due: none

adjust
  homeassistant/helpers/integration_platform.py
Due: mypy, pylint

Add icon translations to PECO
  homeassistant/components/peco/icons.json
  homeassistant/components/peco/sensor.py
Due: mypy, pylint

Add icon translations to Permobil
  homeassistant/components/permobil/icons.json
  homeassistant/components/permobil/sensor.py
Due: mypy, pylint

fix
  homeassistant/helpers/integration_platform.py
Due: mypy, pylint

Remove unused test helper mock_area_registry
  tests/common.py
Due: none

Update System Bridge to support version 4.x.x and above (#107957)
  homeassistant/components/system_bridge/__init__.py
  homeassistant/components/system_bridge/config_flow.py
  homeassistant/components/system_bridge/const.py
  homeassistant/components/system_bridge/coordinator.py
  homeassistant/components/system_bridge/manifest.json
  homeassistant/components/system_bridge/media_player.py
  homeassistant/components/system_bridge/media_source.py
  homeassistant/components/system_bridge/notify.py
  homeassistant/components/system_bridge/sensor.py
  homeassistant/components/system_bridge/strings.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/system_bridge/test_config_flow.py
Due: mypy, pylint, gen_requirements_all, hassfest

preload
  homeassistant/helpers/integration_platform.py
  homeassistant/loader.py
Due: mypy, pylint

update
  homeassistant/components/vicare/__init__.py
Due: mypy, pylint

update sample fixture
  tests/components/vicare/fixtures/Vitodens300W.json
Due: none

pre filter on missing
  homeassistant/helpers/integration_platform.py
  homeassistant/loader.py
Due: mypy, pylint

Update pytest to 8.1.0
  requirements_test.txt
Due: none

Fix bad merge
  homeassistant/components/aseko_pool_live/config_flow.py
Due: mypy, pylint

Update systembridgeconnector to 4.0.2
  homeassistant/components/system_bridge/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

comments
  homeassistant/helpers/integration_platform.py
Due: mypy, pylint

comments
  homeassistant/helpers/integration_platform.py
  homeassistant/loader.py
Due: mypy, pylint

comments
  homeassistant/loader.py
Due: mypy, pylint

add test case for device_info
  tests/components/vicare/snapshots/test_device_info.ambr
  tests/components/vicare/test_device_info.py
Due: none

Add local API support to elmax (#94392)
  homeassistant/components/elmax/__init__.py
  homeassistant/components/elmax/alarm_control_panel.py
  homeassistant/components/elmax/binary_sensor.py
  homeassistant/components/elmax/common.py
  homeassistant/components/elmax/config_flow.py
  homeassistant/components/elmax/const.py
  homeassistant/components/elmax/cover.py
  homeassistant/components/elmax/manifest.json
  homeassistant/components/elmax/strings.json
  homeassistant/components/elmax/switch.py
  homeassistant/generated/zeroconf.py
  tests/components/elmax/__init__.py
  tests/components/elmax/conftest.py
  tests/components/elmax/fixtures/cloud/get_panel.json
  tests/components/elmax/fixtures/cloud/list_devices.json
  tests/components/elmax/fixtures/cloud/login.json
  tests/components/elmax/fixtures/direct/cert.pem
  tests/components/elmax/fixtures/direct/discovery_panel.json
  tests/components/elmax/fixtures/direct/login.json
  tests/components/elmax/test_config_flow.py
Due: mypy, pylint, gen_requirements_all, hassfest

pre pop so we start loading as soon as we can
  homeassistant/helpers/integration_platform.py
  homeassistant/loader.py
Due: mypy, pylint

tweak
  homeassistant/loader.py
  tests/test_loader.py
Due: mypy, pylint

skip platform preloads for non interations
  homeassistant/loader.py
Due: mypy, pylint

Remove unused test helper mock_area_registry (#112172)
  tests/common.py
Due: none

Migrate config to use async_get_component (#112160)
  homeassistant/components/config/device_registry.py
Due: mypy, pylint

Migrate device_automation to use async_get_platform (#112162)
  homeassistant/components/device_automation/__init__.py
Due: mypy, pylint

some system do
  homeassistant/loader.py
Due: mypy, pylint

Migrate rest to use eager tasks for setup (#112166)
  homeassistant/components/rest/__init__.py
Due: mypy, pylint

Migrate application_credentials to use async_get_platform (#112161)
  homeassistant/components/application_credentials/__init__.py
Due: mypy, pylint
