Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Config Flow test coverage
  homeassistant/components/aussie_broadband/config_flow.py
  tests/components/aussie_broadband/test_config_flow.py
Due: mypy

Fix reauth
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/strings.json
  homeassistant/components/aussie_broadband/translations/en.json
Due: mypy, hassfest

improve coverage
  tests/components/aussie_broadband/test_config_flow.py
Due: none

pylint
  homeassistant/components/aussie_broadband/__init__.py
Due: mypy

Refactor and add STATE_CLASS_TOTAL_INCREASING
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Best practice changes
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Remove unused private
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Config flow test WIP
  tests/components/aussie_broadband/test_config_flow.py
Due: none

Fix potential persistent_notification errors
  tests/components/aussie_broadband/test_config_flow.py
Due: none

merge test for no services
  tests/components/aussie_broadband/test_config_flow.py
Due: none

Add reload on reauth
  homeassistant/components/aussie_broadband/config_flow.py
Due: mypy

Changes requested by ludeeus
  homeassistant/components/aussie_broadband/__init__.py
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Add aiohttp version with phone support (#3)
  homeassistant/components/aussie_broadband/__init__.py
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/const.py
  homeassistant/components/aussie_broadband/manifest.json
  homeassistant/components/aussie_broadband/sensor.py
  homeassistant/components/aussie_broadband/strings.json
  homeassistant/components/aussie_broadband/translations/en.json
  tests/components/aussie_broadband/common.py
  tests/components/aussie_broadband/test_config_flow.py
  tests/components/aussie_broadband/test_init.py
  tests/components/aussie_broadband/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Apply suggestions from @farmio
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Cleanup
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Updates for reauth
  homeassistant/components/aussie_broadband/config_flow.py
Due: mypy

Test Init
  tests/components/aussie_broadband/common.py
  tests/components/aussie_broadband/test_init.py
Due: none

Consistent usage of used
  homeassistant/components/aussie_broadband/sensor.py
  tests/components/aussie_broadband/test_sensor.py
Due: mypy

Test Fixes
  tests/components/aussie_broadband/test_config_flow.py
Due: none

Reauth test cover
  tests/components/aussie_broadband/test_config_flow.py
Due: none

Implement review changes
  homeassistant/components/aussie_broadband/__init__.py
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/const.py
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Add @Bre77 as co-owner
  CODEOWNERS
  homeassistant/components/aussie_broadband/manifest.json
Due: gen_requirements_all, hassfest

Lint
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/sensor.py
  homeassistant/components/aussie_broadband/strings.json
Due: mypy, hassfest

Fix tests
  tests/components/aussie_broadband/common.py
  tests/components/aussie_broadband/test_sensor.py
Due: none

Update to use native_value
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Consistency improvements
  homeassistant/components/aussie_broadband/config_flow.py
  tests/components/aussie_broadband/common.py
Due: mypy

Remove CONF_SCAN_INTERVAL option
  homeassistant/components/aussie_broadband/__init__.py
  homeassistant/components/aussie_broadband/config_flow.py
  tests/components/aussie_broadband/test_config_flow.py
Due: mypy

Implement requested changes
  homeassistant/components/aussie_broadband/__init__.py
  homeassistant/components/aussie_broadband/config_flow.py
  homeassistant/components/aussie_broadband/strings.json
  homeassistant/components/aussie_broadband/translations/en.json
  tests/components/aussie_broadband/test_config_flow.py
Due: mypy, hassfest

Fix tests
  homeassistant/components/aussie_broadband/config_flow.py
  tests/components/aussie_broadband/test_config_flow.py
Due: mypy

Post rebase fixes
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

Use state class enums
  homeassistant/components/aussie_broadband/sensor.py
Due: mypy

Remove translation from PR
  homeassistant/components/aussie_broadband/translations/en.json
Due: none

Use Platform enum
  homeassistant/components/aussie_broadband/__init__.py
Due: mypy

Rework fan data templates to support preset modes, and define data for the Inovelli LZW36
  homeassistant/components/zwave_js/discovery.py
  homeassistant/components/zwave_js/discovery_data_template.py
  homeassistant/components/zwave_js/fan.py
Due: mypy

Fix shelly
  homeassistant/components/shelly/__init__.py
Due: mypy

Revert changes to panasonic_viera
  homeassistant/components/panasonic_viera/__init__.py
Due: mypy

uno mas
  homeassistant/components/radarr/__init__.py
  homeassistant/components/radarr/config_flow.py
  homeassistant/components/radarr/coordinator.py
  homeassistant/components/radarr/manifest.json
  homeassistant/components/radarr/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/radarr/__init__.py
  tests/components/radarr/fixtures/diskspace.json
  tests/components/radarr/fixtures/rootfolder.json
  tests/components/radarr/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Fix stookalert
  homeassistant/components/stookalert/__init__.py
Due: mypy

Improve doc strings
  homeassistant/components/unifi/switch.py
Due: mypy

Library has normalized management of DPI apps and groups, move logic to UniFi integration
  homeassistant/components/unifi/controller.py
  homeassistant/components/unifi/switch.py
  tests/components/unifi/test_switch.py
Due: mypy
