Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Make season types translatable (#105027)
  homeassistant/components/season/config_flow.py
  homeassistant/components/season/strings.json
Due: mypy, pylint, hassfest

Follow up on code review
  tests/components/lock/conftest.py
  tests/components/lock/test_init.py
Due: none

Remove breaks_in_ha_version from deprecated YAML classes
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

update .coveragerc
  .coveragerc
Due: hassfest

Added test for get_cities
  tests/components/smhi/test_weather_locations.py
Due: none

mock api using client (#25)
  tests/components/openAQ/__init__.py
  tests/components/openAQ/conftest.py
  tests/components/openAQ/test_config_flow.py
Due: none

Added some documentation and comments to lightning API class
  homeassistant/components/smhi/lightning_api.py
Due: mypy, pylint

Remove breaks_in_ha_version from deprecated YAML classes (#105062)
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

Don't use deprecated_class decorator on deprecated YAML classes
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

update codeowners and remove old tests
  CODEOWNERS
  homeassistant/components/unifi_direct/manifest.json
  requirements_test_all.txt
  tests/components/unifi_direct/__init__.py
  tests/components/unifi_direct/fixtures/data.txt
  tests/components/unifi_direct/test_device_tracker.py
Due: gen_requirements_all, hassfest

Added mock data to weather locations test file
  tests/components/smhi/test_weather_locations.py
Due: none

Added test for get_weather_data
  tests/components/smhi/test_weather_locations.py
Due: none

Performance improvement for lightning, same impact will no longer sbe added more than once
  homeassistant/components/smhi/lightning_api.py
Due: mypy, pylint

Re-run ruff over files
  homeassistant/components/combined_energy/config_flow.py
  homeassistant/components/combined_energy/sensor.py
Due: mypy, pylint

Update README.rst
  README.rst
Due: none

Added test for get_weather_locations
  tests/components/smhi/test_weather_locations.py
Due: none

Don't use deprecated_class decorator on deprecated YAML classes (#105063)
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

New function for isolating value from parameter
  homeassistant/components/smhi/weather_locations.py
Due: mypy, pylint

Fixed failing fire test
  homeassistant/components/smhi/firerisk/fire_risk_data_fetcher.py
Due: mypy, pylint

Updated snapshot of weather file, tests now pass
  tests/components/smhi/snapshots/test_weather.ambr
Due: none

Per vehicle coordinator
  homeassistant/components/tessie/__init__.py
  homeassistant/components/tessie/coordinator.py
  homeassistant/components/tessie/entity.py
  homeassistant/components/tessie/sensor.py
  tests/components/tessie/common.py
Due: mypy, pylint

reverted get_device_name to old behaviour
  homeassistant/components/unifi_direct/device_tracker.py
Due: mypy, pylint

refactor: Documentation imporved.
  homeassistant/components/smhi/image.py
Due: mypy, pylint

Update text in issue.
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/strings.json
Due: mypy, pylint, hassfest

Deprecate lazy_error.
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/sensor.py
  tests/components/modbus/test_binary_sensor.py
  tests/components/modbus/test_climate.py
  tests/components/modbus/test_cover.py
  tests/components/modbus/test_fan.py
  tests/components/modbus/test_light.py
  tests/components/modbus/test_sensor.py
  tests/components/modbus/test_switch.py
Due: mypy, pylint

changed removal to 2024.7.
  homeassistant/components/modbus/base_platform.py
Due: mypy, pylint

Create issue.
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/binary_sensor.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/cover.py
  homeassistant/components/modbus/fan.py
  homeassistant/components/modbus/light.py
  homeassistant/components/modbus/sensor.py
  homeassistant/components/modbus/strings.json
  homeassistant/components/modbus/switch.py
Due: mypy, pylint, hassfest

Shelly Button Manager - first developement
  CODEOWNERS
  Dockerfile.dev
  homeassistant/components/shelly_button_manager/__init__.py
  homeassistant/components/shelly_button_manager/config_flow.py
  homeassistant/components/shelly_button_manager/const.py
  homeassistant/components/shelly_button_manager/manifest.json
  homeassistant/components/shelly_button_manager/services.yaml
  homeassistant/components/shelly_button_manager/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  script/setup
Due: mypy, pylint, gen_requirements_all, hassfest

Update strings.
  homeassistant/components/modbus/strings.json
Due: hassfest

Added test for get_parameter_value
  tests/components/smhi/test_weather_locations.py
Due: none

Rework coordinator
  homeassistant/components/tessie/const.py
  homeassistant/components/tessie/coordinator.py
  tests/components/tessie/common.py
  tests/components/tessie/fixtures/asleep.json
  tests/components/tessie/fixtures/online.json
  tests/components/tessie/test_coordinator.py
Due: mypy, pylint

Added test for get_weather_condition_icon
  tests/components/smhi/test_weather_locations.py
Due: none

Fix coverage
  tests/components/tessie/fixtures/online.json
  tests/components/tessie/test_coordinator.py
Due: none

Improve matrix typing
  homeassistant/components/matrix/__init__.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
