Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Migrate Monoprice to has entity name (#96704)
  homeassistant/components/monoprice/media_player.py
Due: mypy, pylint

Migrate Laundrify to has entity name (#96703)
  homeassistant/components/laundrify/binary_sensor.py
Due: mypy, pylint

Add sensor to gardena (#96691)
  .coveragerc
  homeassistant/components/gardena_bluetooth/__init__.py
  homeassistant/components/gardena_bluetooth/coordinator.py
  homeassistant/components/gardena_bluetooth/sensor.py
  homeassistant/components/gardena_bluetooth/strings.json
Due: mypy, pylint, hassfest

Migrate Kulersky to has entity name (#96702)
  homeassistant/components/kulersky/light.py
Due: mypy, pylint

Use device class naming in keenteic ndms2 (#96701)
  homeassistant/components/keenetic_ndms2/binary_sensor.py
Due: mypy, pylint

Bump Cryptography from 41.0.1 to 41.0.2 (#96699)
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Update homeassistant/components/websocket_api/http.py
  homeassistant/components/websocket_api/http.py
Due: mypy, pylint

Migrate iAlarm to has entity name (#96700)
  homeassistant/components/ialarm/alarm_control_panel.py
Due: mypy, pylint

Fix typo for PM 1 (#96473)
  homeassistant/components/number/const.py
  homeassistant/components/sensor/const.py
Due: mypy, pylint

Add string "Quiet" to fan mode in climate component (#96584)
  homeassistant/components/esphome/climate.py
  homeassistant/components/esphome/strings.json
Due: mypy, pylint, hassfest

Improve error handling config entry
  homeassistant/components/imap/coordinator.py
  tests/components/imap/test_init.py
Due: mypy, pylint

Add cleanup
  homeassistant/components/imap/coordinator.py
Due: mypy, pylint

Removed CancelledError
  homeassistant/components/imap/coordinator.py
Due: mypy, pylint

Bump pytomorrowio to 0.3.6 (#96628)
  homeassistant/components/tomorrowio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Do not call protected async_set_state()
  homeassistant/components/imap/coordinator.py
  tests/components/imap/test_init.py
Due: mypy, pylint

Bump pynina to 0.3.1 (#96693)
  homeassistant/components/nina/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nina/fixtures/sample_warning_details.json
  tests/components/nina/test_binary_sensor.py
Due: gen_requirements_all, hassfest

Speed up single entity/response service calls (#96729)
  homeassistant/helpers/service.py
  tests/components/devolo_home_network/test_button.py
  tests/components/devolo_home_network/test_switch.py
  tests/components/homeassistant/triggers/test_time.py
  tests/components/rflink/test_light.py
  tests/components/shelly/test_climate.py
  tests/components/shelly/test_number.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_update.py
  tests/components/totalconnect/test_alarm_control_panel.py
  tests/components/vizio/test_media_player.py
Due: mypy, pylint

2023.7.17 - Update logic catering for the 'n/a' response on an API failure - Add testcase
  homeassistant/components/transport_nsw/sensor.py
  tests/components/transport_nsw/test_sensor.py
Due: mypy, pylint

Improve imap error handling for config entry (#96724)
  homeassistant/components/imap/coordinator.py
  tests/components/imap/test_init.py
Due: mypy, pylint

- Fix bug in formatting
  tests/components/transport_nsw/test_sensor.py
Due: none

Drop upper constraint for pip
  .github/workflows/ci.yaml
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Fixed accidentally removed line in debug stament in previous commit.
  homeassistant/components/fronius/__init__.py
Due: mypy, pylint

create an issue for corrupt storage
  homeassistant/components/homeassistant/strings.json
  homeassistant/helpers/storage.py
  tests/helpers/test_storage.py
Due: mypy, pylint, hassfest

fix key
  homeassistant/helpers/storage.py
Due: mypy, pylint

persist
  homeassistant/helpers/storage.py
Due: mypy, pylint

Periodically re-scan for Fronius inverters that were offline while setup (#96538)
  homeassistant/components/fronius/__init__.py
  homeassistant/components/fronius/const.py
  homeassistant/components/fronius/sensor.py
  tests/components/fronius/__init__.py
  tests/components/fronius/fixtures/igplus_v2/GetAPIVersion.json
  tests/components/fronius/fixtures/igplus_v2/GetInverterInfo.json
  tests/components/fronius/fixtures/igplus_v2/GetInverterInfo_night.json
  tests/components/fronius/fixtures/igplus_v2/GetInverterRealtimeData_Device_1.json
  tests/components/fronius/fixtures/igplus_v2/GetInverterRealtimeData_Device_1_night.json
  tests/components/fronius/fixtures/igplus_v2/GetLoggerInfo.json
  tests/components/fronius/fixtures/igplus_v2/GetMeterRealtimeData.json
  tests/components/fronius/fixtures/igplus_v2/GetOhmPilotRealtimeData.json
  tests/components/fronius/fixtures/igplus_v2/GetPowerFlowRealtimeData.json
  tests/components/fronius/fixtures/igplus_v2/GetPowerFlowRealtimeData_night.json
  tests/components/fronius/fixtures/igplus_v2/GetStorageRealtimeData.json
  tests/components/fronius/fixtures/symo/GetInverterInfo_night.json
  tests/components/fronius/test_init.py
Due: mypy, pylint
