Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Added test cases for notify setting
  tests/components/harmony/test_config_flow.py
Due: none

Fix connections tuple
  homeassistant/components/samsungtv/media_player.py
Due: mypy

Recursively load everything
  homeassistant/bootstrap.py
Due: mypy

After deps3
  homeassistant/bootstrap.py
  homeassistant/components/auth/manifest.json
  homeassistant/loader.py
  homeassistant/setup.py
  script/hassfest/dependencies.py
  tests/common.py
  tests/test_bootstrap.py
  tests/test_loader.py
  tests/test_setup.py
Due: mypy, gen_requirements_all, hassfest

Revert "After deps3"
  homeassistant/bootstrap.py
  homeassistant/components/auth/manifest.json
  homeassistant/loader.py
  homeassistant/setup.py
  script/hassfest/dependencies.py
  tests/common.py
  tests/test_bootstrap.py
  tests/test_loader.py
  tests/test_setup.py
Due: mypy, gen_requirements_all, hassfest

attempt 4
  homeassistant/bootstrap.py
  homeassistant/components/auth/manifest.json
  homeassistant/loader.py
  homeassistant/setup.py
  script/hassfest/dependencies.py
  tests/common.py
  tests/test_bootstrap.py
  tests/test_loader.py
  tests/test_setup.py
Due: mypy, gen_requirements_all, hassfest

Revert "attempt 4"
  homeassistant/bootstrap.py
  homeassistant/components/auth/manifest.json
  homeassistant/loader.py
  homeassistant/setup.py
  script/hassfest/dependencies.py
  tests/common.py
  tests/test_bootstrap.py
  tests/test_loader.py
  tests/test_setup.py
Due: mypy, gen_requirements_all, hassfest

Add one more test
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Due: mypy

Remove after_deps support for stage 1
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Due: mypy

Fixes invalid JSON backslash escaping
  homeassistant/components/unifi_direct/device_tracker.py
Due: mypy

[ci skip] Translation update
  homeassistant/components/blink/translations/lb.json
  homeassistant/components/denonavr/translations/lb.json
  homeassistant/components/hvv_departures/translations/lb.json
  homeassistant/components/metoffice/translations/lb.json
  homeassistant/components/nut/translations/en.json
  homeassistant/components/smappee/translations/lb.json
  homeassistant/components/speedtestdotnet/translations/lb.json
  homeassistant/components/tellduslive/translations/lb.json
  homeassistant/components/withings/translations/lb.json
  homeassistant/components/xiaomi_miio/translations/lb.json
Due: none

Clarify comment
  homeassistant/bootstrap.py
Due: mypy

Improve after_dependencies handling (#36898)
  homeassistant/bootstrap.py
  homeassistant/components/auth/manifest.json
  homeassistant/loader.py
  homeassistant/setup.py
  script/hassfest/dependencies.py
  tests/common.py
  tests/test_bootstrap.py
  tests/test_loader.py
  tests/test_setup.py
Due: mypy, gen_requirements_all, hassfest

Add a new service for pressing Lutron Buttons and generate unique IDs.
  homeassistant/components/lutron/__init__.py
  homeassistant/components/lutron/manifest.json
  homeassistant/components/lutron/services.yaml
  requirements_all.txt
Due: mypy, gen_requirements_all, hassfest

Improve Area Support
  homeassistant/helpers/area_registry.py
  homeassistant/helpers/device_registry.py
  homeassistant/helpers/entity_platform.py
  tests/helpers/test_area_registry.py
Due: mypy

Lutron component overhaul
  homeassistant/components/lutron/__init__.py
  homeassistant/components/lutron/binary_sensor.py
  homeassistant/components/lutron/config_flow.py
  homeassistant/components/lutron/const.py
  homeassistant/components/lutron/cover.py
  homeassistant/components/lutron/light.py
  homeassistant/components/lutron/manifest.json
  homeassistant/components/lutron/scene.py
  homeassistant/components/lutron/strings.json
  homeassistant/components/lutron/switch.py
  homeassistant/generated/config_flows.py
Due: mypy, gen_requirements_all, hassfest

Properly escaping tickmarks in JSON
  homeassistant/components/unifi_direct/device_tracker.py
Due: mypy

Allow harmony activity change on start of switching activity (#36699)
  homeassistant/components/harmony/__init__.py
  homeassistant/components/harmony/config_flow.py
  homeassistant/components/harmony/const.py
  homeassistant/components/harmony/manifest.json
  homeassistant/components/harmony/remote.py
  homeassistant/components/harmony/strings.json
  homeassistant/components/harmony/translations/en.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/harmony/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Add config flow to HLK-SW16
  CODEOWNERS
  homeassistant/components/hlk_sw16/__init__.py
  homeassistant/components/hlk_sw16/config_flow.py
  homeassistant/components/hlk_sw16/const.py
  homeassistant/components/hlk_sw16/errors.py
  homeassistant/components/hlk_sw16/manifest.json
  homeassistant/components/hlk_sw16/strings.json
  homeassistant/components/hlk_sw16/switch.py
  homeassistant/generated/config_flows.py
Due: mypy, gen_requirements_all, hassfest

Remove unused webhook dependency from device automation
  homeassistant/components/device_automation/manifest.json
Due: gen_requirements_all, hassfest

Address some review feedback
  homeassistant/components/awair/__init__.py
  homeassistant/components/awair/config_flow.py
  homeassistant/components/awair/const.py
  homeassistant/components/awair/sensor.py
  homeassistant/components/awair/strings.json
Due: mypy, hassfest

Update the library version in requirements_all.txt
  requirements_all.txt
Due: none

Use chip id in Konnected pro boards (#36940)
  homeassistant/components/konnected/config_flow.py
  homeassistant/components/konnected/panel.py
  tests/components/konnected/test_config_flow.py
Due: mypy

Fix unique_id in Zeroconf flow
  homeassistant/components/daikin/config_flow.py
Due: mypy

Linting
  homeassistant/components/netdata/sensor.py
Due: mypy

Properly update-after-add for lutron devices.
  homeassistant/components/lutron/cover.py
  homeassistant/components/lutron/light.py
  homeassistant/components/lutron/scene.py
  homeassistant/components/lutron/switch.py
Due: mypy

Bump library to resolve unresponsive integration
  homeassistant/components/hisense_aehw4a1/manifest.json
Due: gen_requirements_all, hassfest

Remove unused webhook dependency from device automation (#36946)
  homeassistant/components/device_automation/manifest.json
Due: gen_requirements_all, hassfest

Update requirements_all.txt
  requirements_all.txt
Due: none

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^homeassistant/.+/(manifest|strings)\.json$ and \.json$
