Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Bump flux_led to 0.25.0 (#60460)
  homeassistant/components/flux_led/light.py
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Bump flux_led to 0.25.1
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Full coverage for RFLink tests
  tests/components/rflink/test_init.py
Due: none

use global constants
  tests/components/rflink/test_init.py
Due: none

fix
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/config_flow.py
Due: mypy

Bump flux_led to 0.25.1 (#60463)
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/const.py
Due: mypy

fix
  homeassistant/components/flux_led/__init__.py
Due: mypy

Fix flux_led discovery missing responses
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/const.py
Due: mypy

Update PyTurboJPEG to v1.6.3 (#60400)
  homeassistant/components/camera/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

don't issue requests for non-existing devices (#60416)
  homeassistant/components/fronius/__init__.py
Due: mypy

Control4 WSS (#45)
  homeassistant/components/control4/__init__.py
  homeassistant/components/control4/const.py
  homeassistant/components/control4/director_utils.py
  homeassistant/components/control4/light.py
  homeassistant/components/control4/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Change naming to x_axis and y_axis
  homeassistant/components/ezviz/camera.py
Due: mypy

Simplify reconnect logic. Bump screenlogicpy
  homeassistant/components/screenlogic/__init__.py
  homeassistant/components/screenlogic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Fix merge
  homeassistant/components/screenlogic/__init__.py
Due: mypy

First pass using async api
  homeassistant/components/screenlogic/__init__.py
  homeassistant/components/screenlogic/climate.py
  homeassistant/components/screenlogic/config_flow.py
  homeassistant/components/screenlogic/manifest.json
  homeassistant/components/screenlogic/services.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Raise UpdateFailed on ScreenLogicError/Warning
  homeassistant/components/screenlogic/__init__.py
Due: mypy

Actually rediscover on error/reload
  homeassistant/components/screenlogic/__init__.py
Due: mypy

Use f-string for exception
  homeassistant/components/screenlogic/__init__.py
Due: mypy

Update tests
  tests/components/screenlogic/test_config_flow.py
Due: none

Remove store user as auth result
  homeassistant/components/auth/__init__.py
  tests/components/auth/test_init.py
Due: mypy

fix_shelly_dual_mode_bulb_mode_switch
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/light.py
Due: mypy

Better test coverage
  tests/components/screenlogic/test_config_flow.py
Due: none

Bumped version of wirelessttagpy to 0.8.1
  homeassistant/components/wirelesstag/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Removed dependency on wirelesstagpy for tests as no tests yet present
  requirements_test_all.txt
Due: none

Bump screenlogicpy version
  homeassistant/components/screenlogic/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update buienradar to 1.0.5
  homeassistant/components/buienradar/manifest.json
Due: gen_requirements_all, hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
