Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Fix default code
  homeassistant/components/lock/__init__.py
  tests/components/lock/test_init.py
Due: mypy, pylint

test reg_entry update
  tests/components/lock/test_init.py
  tests/testing_config/custom_components/test/lock.py
Due: none

Add test
  tests/components/lock/test_init.py
Due: none

Fix lingering timer in Axis library (#92143)
  homeassistant/components/axis/device.py
  homeassistant/components/axis/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

fix test
  tests/components/recorder/test_models.py
Due: none

avoid mutation
  homeassistant/components/homeassistant/triggers/event.py
Due: mypy, pylint

Fix tests
  tests/components/mobile_app/test_webhook.py
Due: none

Bump pyvizio to 0.1.61 (#92161)
  homeassistant/components/vizio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

review comments
  homeassistant/components/transmission/__init__.py
  tests/components/transmission/test_init.py
Due: mypy, pylint

more comments
  homeassistant/components/transmission/__init__.py
Due: mypy, pylint

revert accidental name change
  homeassistant/components/transmission/const.py
Due: mypy, pylint

Added 1BS/D5-00-01 "WindowSensor" Device
  homeassistant/components/enocean/sensor.py
Due: mypy, pylint

Add AgentManager.async_setup
  homeassistant/components/conversation/__init__.py
Due: mypy, pylint

Address review comments
  homeassistant/components/assist_pipeline/pipeline.py
Due: mypy, pylint

Remove homeassistant from cloud dependencies
  homeassistant/components/cloud/manifest.json
  tests/components/cloud/__init__.py
Due: gen_requirements_all, hassfest

Remove homeassistant from conversation dependencies
  homeassistant/components/conversation/manifest.json
  tests/components/conversation/test_init.py
Due: gen_requirements_all, hassfest

TriggerEntity to CoordinatorTriggerEntity
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/number.py
  homeassistant/components/template/select.py
  homeassistant/components/template/sensor.py
Due: mypy, pylint

name
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/number.py
  homeassistant/components/template/select.py
  homeassistant/components/template/sensor.py
Due: mypy, pylint

_render_templates
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

split manual vs coordinator
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

ManualTriggerEntity
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

value
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

Remove ManualTriggerEntity
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

Add test
  tests/components/template/test_manual_trigger_entity.py
Due: none

process_manual_data
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

imports
  homeassistant/components/template/trigger_entity.py
Due: mypy, pylint

upgrade lakeside to 0.13
  homeassistant/components/eufy/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

more review comments
  homeassistant/components/transmission/__init__.py
  tests/components/transmission/test_init.py
Due: mypy, pylint

Move ManualTriggerEntity
  homeassistant/components/template/trigger_entity.py
  homeassistant/helpers/template_entity.py
Due: mypy, pylint

Refactor multipan options flow
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
Due: mypy, pylint

cmd_line switch
  homeassistant/components/command_line/switch.py
Due: mypy, pylint

more review comments
  tests/components/transmission/test_init.py
Due: none

Fix typo
  tests/components/conversation/test_default_agent.py
Due: none

Remove homeassistant from cloud dependencies (#92169)
  homeassistant/components/cloud/manifest.json
  tests/components/cloud/__init__.py
Due: gen_requirements_all, hassfest

Improve init type hints in enocean
  homeassistant/components/enocean/binary_sensor.py
  homeassistant/components/enocean/device.py
  homeassistant/components/enocean/light.py
  homeassistant/components/enocean/sensor.py
  homeassistant/components/enocean/switch.py
Due: mypy, pylint

Upgrade lakeside to 0.13 (#92173)
  homeassistant/components/eufy/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
