Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Handle no enabled ipv4 addresses in the network integration (#63416)
  homeassistant/components/network/__init__.py
  tests/components/network/test_init.py
Due: mypy

Fix type hint in http register_view (#63385)
  homeassistant/components/http/__init__.py
Due: mypy

Add additional service to set advanced Hue scene options (#63035)
  homeassistant/components/hue/scene.py
  homeassistant/components/hue/services.yaml
  homeassistant/components/hue/v2/group.py
  tests/components/hue/test_scene.py
Due: mypy, hassfest

Fix test
  tests/test_config.py
Due: none

add mac address to roku device info
  homeassistant/components/roku/entity.py
Due: mypy

Update test_binary_sensor.py
  tests/components/roku/test_binary_sensor.py
Due: none

Update entity.py
  homeassistant/components/roku/entity.py
Due: mypy

Update test_media_player.py
  tests/components/roku/test_media_player.py
Due: none

Fix ZHA
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/device_tracker.py
Due: mypy

Pylint
  homeassistant/components/zha/device_tracker.py
Due: mypy

Format
  tests/test_config.py
Due: none

name
  homeassistant/components/tibber/sensor.py
  tests/components/tibber/test_statistics.py
Due: mypy

Deprecate Nanoleaf YAML (#63404)
  homeassistant/components/nanoleaf/light.py
Due: mypy

Remove groups.yaml from default config (#63366)
  homeassistant/config.py
  tests/test_config.py
Due: mypy

Make device tracker entities work better (#63328)
  homeassistant/components/asuswrt/device_tracker.py
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/freebox/device_tracker.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/device_tracker.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/binary_sensor.py
  homeassistant/components/huawei_lte/sensor.py
  homeassistant/components/huawei_lte/switch.py
  homeassistant/components/keenetic_ndms2/device_tracker.py
  homeassistant/components/mikrotik/device_tracker.py
  homeassistant/components/nmap_tracker/device_tracker.py
  homeassistant/components/ruckus_unleashed/device_tracker.py
  homeassistant/components/unifi/device_tracker.py
  homeassistant/components/unifi/unifi_entity_base.py
  homeassistant/components/zha/device_tracker.py
  homeassistant/helpers/device_registry.py
  homeassistant/helpers/entity_registry.py
  tests/components/asuswrt/test_sensor.py
  tests/components/device_tracker/test_config_entry.py
  tests/components/device_tracker/test_entities.py
  tests/components/freebox/conftest.py
  tests/components/mikrotik/test_device_tracker.py
  tests/components/ruckus_unleashed/__init__.py
  tests/components/ruckus_unleashed/test_device_tracker.py
  tests/components/unifi/conftest.py
  tests/components/unifi/test_controller.py
  tests/components/unifi/test_device_tracker.py
  tests/components/unifi/test_switch.py
  tests/testing_config/custom_components/test/device_tracker.py
Due: mypy

Add setup type hints to airtouch4
  homeassistant/components/airtouch4/climate.py
Due: mypy

Add setup type hints to alpha_vantage
  homeassistant/components/alpha_vantage/sensor.py
Due: mypy

Add setup type hints to anel_pwrctrl
  homeassistant/components/anel_pwrctrl/switch.py
Due: mypy

Add setup type hints to api
  homeassistant/components/api/__init__.py
Due: mypy

Add setup type hints to arest
  homeassistant/components/arest/switch.py
Due: mypy

Add setup type hints to asterisk_mbox
  homeassistant/components/asterisk_mbox/__init__.py
Due: mypy

bump
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add setup type hints to balboa
  homeassistant/components/balboa/binary_sensor.py
Due: mypy

Add setup type hints to blinkt
  homeassistant/components/blinkt/light.py
Due: mypy

Add setup type hints in bosch_shc
  homeassistant/components/bosch_shc/binary_sensor.py
  homeassistant/components/bosch_shc/sensor.py
Due: mypy

Add setup type hints to coinbase
  homeassistant/components/coinbase/sensor.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
