Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Revert "Improvements to Sonos activity tracking"
  homeassistant/components/sonos/speaker.py
Due: mypy

Add sync_abort_entries_match in import flow
  homeassistant/components/trafikverket_weatherstation/config_flow.py
Due: mypy

Keep traceback if in debug
  homeassistant/components/sonos/speaker.py
Due: mypy

Bump xiaomi_miio dependency
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Fixed review remarks to remove bugfix
  homeassistant/components/yale_smart_alarm/config_flow.py
  homeassistant/components/yale_smart_alarm/strings.json
Due: mypy, hassfest

Fix mocking
  tests/components/xiaomi_miio/test_vacuum.py
Due: none

Fix black
  homeassistant/components/deconz/config_flow.py
Due: mypy

Hue handle device update (#60612)
  homeassistant/components/hue/scene.py
  homeassistant/components/hue/v2/entity.py
  tests/components/hue/const.py
  tests/components/hue/test_light_v2.py
  tests/components/hue/test_scene.py
Due: mypy

Migrate binary sensor device classes to StrEnum
  homeassistant/components/binary_sensor/__init__.py
  homeassistant/components/demo/binary_sensor.py
Due: mypy

Convert SIA to fix typing
  homeassistant/components/sia/binary_sensor.py
  homeassistant/components/sia/sia_entity_base.py
Due: mypy

Convert upcloud to fix typing
  homeassistant/components/upcloud/binary_sensor.py
Due: mypy

feat: Move connection handling of KNX integration to library
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/knx_entity.py
Due: mypy

Remove running binary_sensor for HAOS (#60597)
  homeassistant/components/hassio/binary_sensor.py
Due: mypy

Add mode to ESPHome numbers
  homeassistant/components/esphome/manifest.json
  homeassistant/components/esphome/number.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Fix tests from removing bugfix
  homeassistant/components/yale_smart_alarm/strings.json
  tests/components/yale_smart_alarm/test_config_flow.py
Due: hassfest

Migrate sensor device classes to StrEnum
  homeassistant/components/demo/sensor.py
  homeassistant/components/sensor/__init__.py
  homeassistant/const.py
Due: mypy

Config flow for trafikverket_weatherstation (#60078)
  .coveragerc
  homeassistant/components/trafikverket_weatherstation/__init__.py
  homeassistant/components/trafikverket_weatherstation/config_flow.py
  homeassistant/components/trafikverket_weatherstation/const.py
  homeassistant/components/trafikverket_weatherstation/manifest.json
  homeassistant/components/trafikverket_weatherstation/sensor.py
  homeassistant/components/trafikverket_weatherstation/strings.json
  homeassistant/components/trafikverket_weatherstation/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/trafikverket_weatherstation/__init__.py
  tests/components/trafikverket_weatherstation/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Remove bugfix strings
  homeassistant/components/yale_smart_alarm/strings.json
  homeassistant/components/yale_smart_alarm/translations/en.json
Due: hassfest

Migrate cover device classes to StrEnum
  homeassistant/components/cover/__init__.py
  homeassistant/components/demo/cover.py
Due: mypy

Migrate media player device classes to StrEnum
  homeassistant/components/media_player/__init__.py
Due: mypy

Bugfix strings yale_smart_alarm
  homeassistant/components/yale_smart_alarm/strings.json
  homeassistant/components/yale_smart_alarm/translations/en.json
Due: hassfest

Migrate switch device classes to StrEnum
  homeassistant/components/demo/switch.py
  homeassistant/components/switch/__init__.py
Due: mypy

Add mode to ESPHome numbers (#60653)
  homeassistant/components/esphome/manifest.json
  homeassistant/components/esphome/number.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Fix fields being None for discord notify service (#59736)
  homeassistant/components/discord/notify.py
Due: mypy

Extend Docker build caching opportunities
  Dockerfile
Due: none

Mark calendar as a base platform
  homeassistant/setup.py
Due: mypy

Fix typing
  homeassistant/components/huawei_lte/switch.py
  homeassistant/components/upcloud/__init__.py
Due: mypy

Use dataclass properties in axis discovery (#60558)
  homeassistant/components/axis/config_flow.py
  tests/components/axis/test_device.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
