Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Explicitly pass a group name when creating groups
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/group.py
Due: mypy

Allow empty config in discovery.async_load_platform (#69619)
  homeassistant/helpers/discovery.py
Due: mypy

Deprecate SUPPORT_* constants in climate (#69482)
  pylint/plugins/hass_imports.py
Due: none

Deprecate SUPPORT_* constants in media_player (#69518)
  pylint/plugins/hass_imports.py
Due: none

Update tests
  tests/components/analytics/test_analytics.py
  tests/components/energy/test_sensor.py
  tests/components/energy/test_websocket_api.py
Due: none

Deprecate SUPPORT_* constants in cover (#69484)
  pylint/plugins/hass_imports.py
Due: none

Deprecate SUPPORT_* constants in alarm_control_panel (#69475)
  pylint/plugins/hass_imports.py
Due: none

Update test test_last_run_was_recently_clean
  tests/components/recorder/test_util.py
Due: none

Fix get_schema_version
  homeassistant/components/recorder/migration.py
Due: mypy

Add MutexPool for recorder tests
  homeassistant/components/recorder/__init__.py
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_util.py
Due: mypy

Add test for 2nd page options flow
  tests/components/generic/test_config_flow.py
Due: none

Explicitly use a group name
  homeassistant/components/zha/core/device.py
Due: mypy

Reduce memory pressure during database migration
  homeassistant/components/recorder/__init__.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
Due: mypy

tweaks
  homeassistant/components/recorder/__init__.py
Due: mypy

Fix utility_meter reset service (#69612)
  homeassistant/components/utility_meter/__init__.py
  homeassistant/components/utility_meter/services.yaml
  tests/components/utility_meter/test_init.py
Due: mypy, hassfest

Update aioairzone to v0.3.3 (#69615)
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Generic fix stream thumbnail (#69378)
  homeassistant/components/generic/config_flow.py
  homeassistant/components/generic/strings.json
  homeassistant/components/generic/translations/en.json
  tests/components/generic/test_config_flow.py
Due: mypy, hassfest

Fix ZHA group creation (#69629)
  homeassistant/components/zha/api.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/core/group.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
