Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Bump aiostreammagic to 2.2.3 (#125704)
  homeassistant/components/cambridge_audio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump plugwise to v1.4.0 (#125998)
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/plugwise/fixtures/adam_multiple_devices_per_zone/all_data.json
  tests/components/plugwise/fixtures/anna_heatpump_heating/all_data.json
  tests/components/plugwise/fixtures/m_adam_cooling/all_data.json
  tests/components/plugwise/fixtures/m_adam_heating/all_data.json
  tests/components/plugwise/fixtures/m_adam_jip/all_data.json
  tests/components/plugwise/fixtures/m_anna_heatpump_cooling/all_data.json
  tests/components/plugwise/fixtures/m_anna_heatpump_idle/all_data.json
  tests/components/plugwise/fixtures/p1v4_442_single/all_data.json
  tests/components/plugwise/fixtures/p1v4_442_triple/all_data.json
  tests/components/plugwise/fixtures/stretch_v23/all_data.json
  tests/components/plugwise/snapshots/test_diagnostics.ambr
Due: gen_requirements_all, hassfest

Bump yalexs to 8.6.4 (#125442)
  homeassistant/components/august/manifest.json
  homeassistant/components/yale/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add URL description for Sabnzbd integration (#125414)
  homeassistant/components/sabnzbd/strings.json
Due: hassfest

Improve config flow type hints in yeelight (#125319)
  homeassistant/components/yeelight/config_flow.py
  homeassistant/components/yeelight/device.py
Due: mypy, pylint

Disable Wyoming assist_in_progress binary sensor (#125806)
  homeassistant/components/wyoming/binary_sensor.py
  tests/components/wyoming/test_binary_sensor.py
  tests/components/wyoming/test_devices.py
Due: mypy, pylint

Add tests for BSBLAN climate component (#124524)
  homeassistant/components/bsblan/climate.py
  tests/components/bsblan/__init__.py
  tests/components/bsblan/conftest.py
  tests/components/bsblan/fixtures/static_F.json
  tests/components/bsblan/snapshots/test_climate.ambr
  tests/components/bsblan/test_climate.py
  tests/components/bsblan/test_diagnostics.py
Due: mypy, pylint

Use root import for device_automation (#125836)
  homeassistant/components/bthome/device_trigger.py
  homeassistant/components/deconz/device_trigger.py
  homeassistant/components/hue/device_trigger.py
  homeassistant/components/hue/v1/device_trigger.py
  homeassistant/components/knx/device_trigger.py
  homeassistant/components/lg_netcast/device_trigger.py
  homeassistant/components/nest/device_trigger.py
  homeassistant/components/netatmo/device_trigger.py
  homeassistant/components/rfxtrx/device_action.py
  homeassistant/components/rfxtrx/device_trigger.py
  homeassistant/components/samsungtv/device_trigger.py
  homeassistant/components/sensor/device_condition.py
  homeassistant/components/sensor/device_trigger.py
  homeassistant/components/shelly/device_trigger.py
  homeassistant/components/webostv/device_trigger.py
  homeassistant/components/zha/device_trigger.py
  homeassistant/components/zwave_js/device_condition.py
  homeassistant/components/zwave_js/device_trigger.py
Due: mypy, pylint

Use root import in assist_satellite imports (#126025)
  tests/components/esphome/test_assist_satellite.py
  tests/components/voip/test_voip.py
Due: none

Add announce support to ESPHome Assist Satellite platform (#125157)
  homeassistant/components/esphome/assist_satellite.py
  tests/components/esphome/test_assist_satellite.py
Due: mypy, pylint

Use json data instead of timedelta for tests in generic hygrostat (#124111)
  tests/components/generic_hygrostat/test_humidifier.py
Due: none

Allow attaching additional data to schedule helper blocks (#116585)
  homeassistant/components/schedule/__init__.py
  homeassistant/components/schedule/const.py
  tests/components/schedule/test_init.py
  tests/components/schedule/test_recorder.py
Due: mypy, pylint

Add codeowner to ADS integration. (#125893)
  CODEOWNERS
  homeassistant/components/ads/manifest.json
Due: gen_requirements_all, hassfest

Add select platform to ADS integration (#125892)
  homeassistant/components/ads/select.py
Due: mypy, pylint

Bump pyiskra to 0.1.11 (#126048)
  homeassistant/components/iskra/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add helper functions for repair tests (#125886)
  .core_files.yaml
  tests/components/doorbird/test_repairs.py
  tests/components/ecobee/test_repairs.py
  tests/components/homeassistant/test_repairs.py
  tests/components/knx/test_repairs.py
  tests/components/notify/test_repairs.py
  tests/components/repairs/__init__.py
  tests/components/seventeentrack/test_repairs.py
  tests/components/tibber/test_repairs.py
  tests/components/unifiprotect/test_migrate.py
  tests/components/unifiprotect/test_repairs.py
  tests/components/workday/test_repairs.py
  tests/components/zwave_js/test_repairs.py
Due: none

Pin pyasn1 until fixed (#125712)
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Improve config flow type hints in wolflink (#125313)
  homeassistant/components/wolflink/config_flow.py
Due: mypy, pylint

Add k10+ vacuum in switchbot cloud integration (#125457)
  CODEOWNERS
  homeassistant/components/switchbot_cloud/__init__.py
  homeassistant/components/switchbot_cloud/climate.py
  homeassistant/components/switchbot_cloud/const.py
  homeassistant/components/switchbot_cloud/entity.py
  homeassistant/components/switchbot_cloud/manifest.json
  homeassistant/components/switchbot_cloud/switch.py
  homeassistant/components/switchbot_cloud/vacuum.py
Due: mypy, pylint, gen_requirements_all, hassfest

Fix docstrings in opentherm_gw (#125456)
  homeassistant/components/opentherm_gw/switch.py
Due: mypy, pylint

Add discovery schemas for Matter 1.3 power/energy sensors (#125403)
  homeassistant/components/matter/sensor.py
  tests/components/matter/fixtures/nodes/eve-energy-plug-patched.json
  tests/components/matter/test_sensor.py
Due: mypy, pylint

Move constants in Threshold (#125683)
  homeassistant/components/threshold/binary_sensor.py
  homeassistant/components/threshold/const.py
  tests/components/threshold/test_binary_sensor.py
Due: mypy, pylint

Move overkiz climate definitions (#125741)
  homeassistant/components/overkiz/climate.py
  homeassistant/components/overkiz/climate/__init__.py
  homeassistant/components/overkiz/climate/atlantic_electrical_heater.py
  homeassistant/components/overkiz/climate/atlantic_electrical_heater_with_adjustable_temperature_setpoint.py
  homeassistant/components/overkiz/climate/atlantic_electrical_towel_dryer.py
  homeassistant/components/overkiz/climate/atlantic_heat_recovery_ventilation.py
  homeassistant/components/overkiz/climate/atlantic_pass_apc_heat_pump_main_component.py
  homeassistant/components/overkiz/climate/atlantic_pass_apc_heating_zone.py
  homeassistant/components/overkiz/climate/atlantic_pass_apc_zone_control.py
  homeassistant/components/overkiz/climate/atlantic_pass_apc_zone_control_zone.py
  homeassistant/components/overkiz/climate/hitachi_air_to_air_heat_pump_hlrrwifi.py
  homeassistant/components/overkiz/climate/hitachi_air_to_air_heat_pump_ovp.py
  homeassistant/components/overkiz/climate/somfy_heating_temperature_interface.py
  homeassistant/components/overkiz/climate/somfy_thermostat.py
  homeassistant/components/overkiz/climate/valve_heating_temperature_interface.py
Due: mypy, pylint

Refactoring flipr integration to prepare Hub device addition (#125262)
  homeassistant/components/flipr/__init__.py
  homeassistant/components/flipr/binary_sensor.py
  homeassistant/components/flipr/config_flow.py
  homeassistant/components/flipr/const.py
  homeassistant/components/flipr/coordinator.py
  homeassistant/components/flipr/entity.py
  homeassistant/components/flipr/sensor.py
  homeassistant/components/flipr/strings.json
  tests/components/flipr/__init__.py
  tests/components/flipr/conftest.py
  tests/components/flipr/test_binary_sensor.py
  tests/components/flipr/test_config_flow.py
  tests/components/flipr/test_init.py
  tests/components/flipr/test_sensor.py
Due: mypy, pylint, hassfest

Bump aiostreammagic to 2.3.0 (#125903)
  homeassistant/components/cambridge_audio/entity.py
  homeassistant/components/cambridge_audio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cambridge_audio/test_media_player.py
Due: mypy, pylint, gen_requirements_all, hassfest

Update aioairzone to v0.9.2 (#125682)
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use debug/warning instead of info log level in components [k] (#126038)
  homeassistant/components/kankun/switch.py
  homeassistant/components/kira/__init__.py
  homeassistant/components/kira/remote.py
  homeassistant/components/kiwi/lock.py
  homeassistant/components/konnected/panel.py
  homeassistant/components/kraken/__init__.py
  homeassistant/components/kulersky/light.py
Due: mypy, pylint

Additional sensor for Weheat integration (#125524)
  homeassistant/components/weheat/const.py
  homeassistant/components/weheat/coordinator.py
  homeassistant/components/weheat/icons.json
  homeassistant/components/weheat/sensor.py
  homeassistant/components/weheat/strings.json
  tests/components/weheat/__init__.py
  tests/components/weheat/conftest.py
  tests/components/weheat/const.py
  tests/components/weheat/snapshots/test_sensor.ambr
  tests/components/weheat/test_sensor.py
Due: mypy, pylint, hassfest

Move sunweg sensor definitions (#125754)
  homeassistant/components/sunweg/sensor/__init__.py
  homeassistant/components/sunweg/sensor/inverter.py
  homeassistant/components/sunweg/sensor/phase.py
  homeassistant/components/sunweg/sensor/sensor_entity_description.py
  homeassistant/components/sunweg/sensor/string.py
  homeassistant/components/sunweg/sensor/total.py
  homeassistant/components/sunweg/sensor_types/__init__.py
  tests/components/sunweg/test_init.py
Due: mypy, pylint

Add tests to the media_player platform of the Squeezebox integration (#125378)
  homeassistant/components/squeezebox/media_player.py
  tests/components/squeezebox/__init__.py
  tests/components/squeezebox/conftest.py
  tests/components/squeezebox/snapshots/test_media_player.ambr
  tests/components/squeezebox/test_binary_sensor.py
  tests/components/squeezebox/test_media_player.py
  tests/components/squeezebox/test_sensor.py
Due: mypy, pylint

Expose component constants for llm helper (#125891)
  homeassistant/components/climate/__init__.py
  homeassistant/components/climate/const.py
  homeassistant/components/climate/intent.py
  homeassistant/components/conversation/__init__.py
  homeassistant/components/cover/__init__.py
  homeassistant/components/cover/const.py
  homeassistant/components/cover/intent.py
  homeassistant/components/homeassistant/__init__.py
  homeassistant/components/weather/__init__.py
  homeassistant/components/weather/const.py
  homeassistant/components/weather/intent.py
  homeassistant/helpers/llm.py
Due: mypy, pylint

Add flexibility to HassEnforceClassModule (#125739)
  pylint/plugins/hass_enforce_class_module.py
  tests/pylint/test_enforce_class_module.py
Due: mypy

Use root import in components (#125858)
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_satellite/entity.py
  homeassistant/components/axis/hub/event_source.py
  homeassistant/components/esphome/assist_satellite.py
  homeassistant/components/generic/config_flow.py
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/mobile_app/timers.py
  homeassistant/components/mqtt/config_flow.py
  homeassistant/components/nanoleaf/device_trigger.py
  homeassistant/components/notify/repairs.py
  homeassistant/components/octoprint/camera.py
Due: mypy, pylint

Bump yarl to 1.10.0 (#125446)
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Migrate ambient_network to use runtime_data (#125535)
  homeassistant/components/ambient_network/__init__.py
  homeassistant/components/ambient_network/sensor.py
  tests/components/ambient_network/conftest.py
Due: mypy, pylint

Bump aiostreammagic to 2.3.1 (#126017)
  homeassistant/components/cambridge_audio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add diagnostics platform to Cambridge Audio (#125910)
  homeassistant/components/cambridge_audio/diagnostics.py
  tests/components/cambridge_audio/snapshots/test_diagnostics.ambr
  tests/components/cambridge_audio/test_diagnostics.py
Due: mypy, pylint

Add sensor platform to laundrify integration (#121378)
  homeassistant/components/laundrify/__init__.py
  homeassistant/components/laundrify/binary_sensor.py
  homeassistant/components/laundrify/sensor.py
  tests/components/laundrify/__init__.py
  tests/components/laundrify/conftest.py
  tests/components/laundrify/fixtures/machines.json
  tests/components/laundrify/test_config_flow.py
  tests/components/laundrify/test_coordinator.py
  tests/components/laundrify/test_init.py
  tests/components/laundrify/test_sensor.py
Due: mypy, pylint

Bump uv to 0.4.9 (#125726)
  .pre-commit-config.yaml
  Dockerfile
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  script/hassfest/docker/Dockerfile
Due: gen_requirements_all, hassfest-metadata

Remove recorder history queries for database schemas < 31 (#125652)
  homeassistant/components/recorder/history/common.py
  homeassistant/components/recorder/history/legacy.py
  homeassistant/components/recorder/models/__init__.py
  homeassistant/components/recorder/models/legacy.py
  homeassistant/components/recorder/models/time.py
  tests/components/history/test_init_db_schema_30.py
  tests/components/recorder/test_history_db_schema_30.py
  tests/components/recorder/test_models.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
