Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Fix requested changes
  homeassistant/components/aseko_pool_live/binary_sensor.py
Due: mypy

Refactor according to review comments
  homeassistant/components/config/config_entries.py
  homeassistant/components/config/device_registry.py
  homeassistant/config_entries.py
  tests/common.py
  tests/components/config/test_config_entries.py
  tests/components/config/test_device_registry.py
Due: mypy

self.entity_description. -> entity_description
  homeassistant/components/aseko_pool_live/binary_sensor.py
Due: mypy

Clean up set HVAC
  homeassistant/components/plugwise/climate.py
Due: mypy

Enable dhcp flows for samsungtv registered devices (#66589)
  homeassistant/components/samsungtv/manifest.json
  homeassistant/generated/dhcp.py
Due: mypy, gen_requirements_all, hassfest

Add binary sensor platform to Aseko (#66643)
  .coveragerc
  homeassistant/components/aseko_pool_live/__init__.py
  homeassistant/components/aseko_pool_live/binary_sensor.py
Due: mypy, hassfest

Fix Plugwise auto HVAC mode (#66639)
  homeassistant/components/plugwise/climate.py
  tests/components/plugwise/test_climate.py
Due: mypy

Fix tuya value scaling to show correct temperatures #63941
  homeassistant/components/tuya/base.py
  homeassistant/components/tuya/const.py
Due: mypy

Update homeassistant/components/tuya/const.py
  homeassistant/components/tuya/const.py
Due: mypy

Adjust __enter__ in remotews fixtures
  tests/components/samsungtv/conftest.py
Due: none

Use patch.object in media_player tests
  tests/components/samsungtv/test_media_player.py
Due: none

Fix IndexError
  homeassistant/components/lidarr/sensor.py
Due: mypy

FIx diagnostics implementation
  homeassistant/components/homewizard/diagnostics.py
Due: mypy

Use TypedDict for service config
  homeassistant/components/mqtt/const.py
  homeassistant/components/mqtt/notify.py
  tests/components/mqtt/test_discovery.py
Due: mypy

Move coordinator to __init__
  homeassistant/components/homewizard/__init__.py
  homeassistant/components/homewizard/coordinator.py
  homeassistant/components/homewizard/diagnostics.py
  homeassistant/components/homewizard/sensor.py
  homeassistant/components/homewizard/switch.py
Due: mypy

Fix try_connect in samsungtv
  homeassistant/components/samsungtv/bridge.py
Due: mypy

Update signature of validator
  homeassistant/helpers/selector.py
Due: mypy

Fix scaling of numeric Tuya values (#66644)
  homeassistant/components/tuya/base.py
Due: mypy

Use try...else
  homeassistant/components/samsungtv/bridge.py
Due: mypy

Add epenet to samsungtv codeowners
  CODEOWNERS
  homeassistant/components/samsungtv/manifest.json
Due: gen_requirements_all, hassfest

Adjust try...else
  homeassistant/components/samsungtv/bridge.py
Due: mypy

Update sensors list
  homeassistant/components/hive/sensor.py
Due: mypy

Update entitiy categories
  homeassistant/components/hive/sensor.py
Due: mypy

Add validators to all selectors
  homeassistant/helpers/selector.py
Due: mypy

Undo try...else
  homeassistant/components/samsungtv/bridge.py
Due: mypy

Use patch.object in config_flow tests
  tests/components/samsungtv/test_config_flow.py
Due: none

Remove deprecated way of setting fan preset in Vallox
  homeassistant/components/vallox/__init__.py
  homeassistant/components/vallox/services.yaml
Due: mypy, hassfest

Add tests for diagnostics
  .coveragerc
  tests/components/homewizard/conftest.py
  tests/components/homewizard/fixtures/data.json
  tests/components/homewizard/fixtures/data_minimal.json
  tests/components/homewizard/fixtures/device.json
  tests/components/homewizard/fixtures/state.json
  tests/components/homewizard/test_diagnostics.py
Due: hassfest

Support serializing selectors
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/selector.py
Due: mypy

Sleepyq.login never returns False, needs to throw a ValueError
  tests/components/sleepiq/test_init.py
Due: none

Refactor sleepiq as async with config flow (#64850)
  .strict-typing
  CODEOWNERS
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/binary_sensor.py
  homeassistant/components/sleepiq/config_flow.py
  homeassistant/components/sleepiq/const.py
  homeassistant/components/sleepiq/coordinator.py
  homeassistant/components/sleepiq/entity.py
  homeassistant/components/sleepiq/manifest.json
  homeassistant/components/sleepiq/sensor.py
  homeassistant/components/sleepiq/strings.json
  homeassistant/components/sleepiq/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/dhcp.py
  mypy.ini
  tests/components/sleepiq/conftest.py
  tests/components/sleepiq/fixtures/bed-single.json
  tests/components/sleepiq/fixtures/bed.json
  tests/components/sleepiq/fixtures/familystatus-single.json
  tests/components/sleepiq/fixtures/familystatus.json
  tests/components/sleepiq/fixtures/login.json
  tests/components/sleepiq/fixtures/sleeper.json
  tests/components/sleepiq/test_binary_sensor.py
  tests/components/sleepiq/test_config_flow.py
  tests/components/sleepiq/test_init.py
  tests/components/sleepiq/test_sensor.py
  tests/fixtures/sleepiq-bed-single.json
  tests/fixtures/sleepiq-bed.json
  tests/fixtures/sleepiq-familystatus-single.json
  tests/fixtures/sleepiq-familystatus.json
  tests/fixtures/sleepiq-login-failed.json
  tests/fixtures/sleepiq-login.json
  tests/fixtures/sleepiq-sleeper.json
Due: mypy, gen_requirements_all, hassfest
