Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

[ci skip] Translation update
  homeassistant/components/switchbot/translations/it.json
  homeassistant/components/tuya/translations/ca.json
  homeassistant/components/tuya/translations/et.json
  homeassistant/components/tuya/translations/it.json
  homeassistant/components/tuya/translations/nl.json
Due: none

Add config_flow to Environment Canada
  .coveragerc
  CODEOWNERS
  homeassistant/components/environment_canada/__init__.py
  homeassistant/components/environment_canada/camera.py
  homeassistant/components/environment_canada/config_flow.py
  homeassistant/components/environment_canada/const.py
  homeassistant/components/environment_canada/manifest.json
  homeassistant/components/environment_canada/sensor.py
  homeassistant/components/environment_canada/strings.json
  homeassistant/components/environment_canada/translations/en.json
  homeassistant/components/environment_canada/weather.py
  homeassistant/generated/config_flows.py
  requirements_test_all.txt
  tests/components/environment_canada/__init__.py
  tests/components/environment_canada/test_config_flow.py
  tests/environment_canada/__init__.py
  tests/environment_canada/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

add additional dimmer based on community
  homeassistant/components/tuya/light.py
Due: mypy

Add additional devices to flux_led discovery
  homeassistant/components/flux_led/manifest.json
  homeassistant/generated/dhcp.py
Due: mypy, gen_requirements_all, hassfest

Add unique_id
  homeassistant/components/environment_canada/__init__.py
  homeassistant/components/environment_canada/camera.py
  homeassistant/components/environment_canada/config_flow.py
  homeassistant/components/environment_canada/const.py
  homeassistant/components/environment_canada/weather.py
Due: mypy

Remove erroneous directory.
  tests/environment_canada/__init__.py
  tests/environment_canada/test_config_flow.py
Due: none

Bump nest 0.3.7
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update frontend to 20211004.0 (#57073)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix energy gas price validation (#57075)
  homeassistant/components/energy/validate.py
  tests/components/energy/test_validate.py
Due: mypy

Disconnect websockets after token is revoked
  homeassistant/auth/__init__.py
  homeassistant/auth/auth_store.py
  homeassistant/components/websocket_api/connection.py
Due: mypy

Bump nest 0.3.7 to prepare for WebRTC support (#57089)
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Improve sensor statistics validation (#56892)
  homeassistant/components/sensor/recorder.py
  tests/components/recorder/test_websocket_api.py
  tests/components/sensor/test_recorder.py
Due: mypy

Update esphome reconnect logic to use newer RecordUpdateListener logic (#57057)
  homeassistant/components/esphome/__init__.py
Due: mypy

Fix: Shelly Gen2 - filter unsupported sensors (#57065)
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
Due: mypy

Bumped version to 2021.10.0b6
  homeassistant/const.py
Due: mypy

Enable template icons for template selects
  homeassistant/components/template/select.py
  tests/components/template/test_select.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
