Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Update sonarr to 0.2.2 (#36429)
  homeassistant/components/sonarr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix deCONZ groups don't report ctmax/min (#36432)
  homeassistant/components/deconz/light.py
Due: mypy

Add partial mobile app sensor validation (#36433)
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/webhook.py
  tests/components/mobile_app/test_entity.py
Due: mypy

Ensure verbose logging flag is respected. (#36444)
  homeassistant/bootstrap.py
  homeassistant/util/logging.py
Due: mypy

Fix invalid device info for Daikin devices (#36448)
  homeassistant/components/daikin/__init__.py
Due: mypy

Bumped version to 0.111.0b1
  homeassistant/const.py
Due: mypy

Clean up Tile refactor
  homeassistant/components/tile/device_tracker.py
  tests/components/tile/test_config_flow.py
Due: mypy

Bump pychromecast to 6.0.0 (#36414)
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cast/test_media_player.py
Due: mypy, gen_requirements_all, hassfest

Aqualogic component updates - switch to new library - add serial port support - add new switches
  homeassistant/components/aqualogic/__init__.py
  homeassistant/components/aqualogic/manifest.json
  homeassistant/components/aqualogic/switch.py
  requirements_all.txt
Due: mypy, gen_requirements_all, hassfest

Added http to manifest.json
  homeassistant/components/wirelesstag/manifest.json
Due: gen_requirements_all, hassfest

Handle empty UOM for Climate Devices, Use known keyword for cover
  homeassistant/components/isy994/climate.py
  homeassistant/components/isy994/cover.py
Due: mypy

Update remote_rpi_gpio, Add tests
  homeassistant/components/remote_rpi_gpio/__init__.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/switch.py
  tests/components/remote_rpi_gpio/__init__.py
  tests/components/remote_rpi_gpio/test_init.py
  tests/components/remote_rpi_gpio/test_switch.py
Due: mypy

Update package to 0.0.23
  homeassistant/components/agent_dvr/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use mjpegStreamHeight and mjpegStreamWidth
  homeassistant/components/agent_dvr/camera.py
Due: mypy

Fix for returning zero erroneously
  homeassistant/components/dte_energy_bridge/sensor.py
Due: mypy

Use timezone-aware timestamps
  homeassistant/components/cert_expiry/helper.py
  homeassistant/components/cert_expiry/sensor.py
  tests/components/cert_expiry/helpers.py
Due: mypy

Fix error on empty UOM for ISY994 Climate Device (#36454)
  homeassistant/components/isy994/climate.py
  homeassistant/components/isy994/cover.py
Due: mypy

Bump hass-nabucasa to 0.34.5
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add dependencies to manifest
  homeassistant/components/remote_rpi_gpio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Refactor remote_rpi_gpio and add tests
  homeassistant/components/remote_rpi_gpio/__init__.py
  homeassistant/components/remote_rpi_gpio/binary_sensor.py
  homeassistant/components/remote_rpi_gpio/manifest.json
  homeassistant/components/remote_rpi_gpio/switch.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/remote_rpi_gpio/__init__.py
  tests/components/remote_rpi_gpio/test_init.py
  tests/components/remote_rpi_gpio/test_switch.py
Due: mypy, gen_requirements_all, hassfest

[ci skip] Translation update
  homeassistant/components/acmeda/translations/fr.json
  homeassistant/components/arcam_fmj/translations/fr.json
  homeassistant/components/atag/translations/fr.json
  homeassistant/components/axis/translations/fr.json
  homeassistant/components/axis/translations/lb.json
  homeassistant/components/blink/translations/fr.json
  homeassistant/components/braviatv/translations/fr.json
  homeassistant/components/dunehd/translations/es.json
  homeassistant/components/dunehd/translations/fr.json
  homeassistant/components/dunehd/translations/lb.json
  homeassistant/components/dunehd/translations/no.json
  homeassistant/components/dunehd/translations/zh-Hant.json
  homeassistant/components/forked_daapd/translations/fr.json
  homeassistant/components/gogogate2/translations/fr.json
  homeassistant/components/guardian/translations/fr.json
  homeassistant/components/ipp/translations/fr.json
  homeassistant/components/isy994/translations/fr.json
  homeassistant/components/onvif/translations/fr.json
  homeassistant/components/openuv/translations/fr.json
  homeassistant/components/plex/translations/fr.json
  homeassistant/components/plugwise/translations/fr.json
  homeassistant/components/plugwise/translations/lb.json
  homeassistant/components/plugwise/translations/ru.json
  homeassistant/components/sonarr/translations/fr.json
  homeassistant/components/sonarr/translations/lb.json
  homeassistant/components/tile/translations/it.json
  homeassistant/components/upnp/translations/fr.json
  homeassistant/components/vizio/translations/fr.json
  homeassistant/components/wiffi/translations/fr.json
  homeassistant/components/zerproc/translations/fr.json
Due: none
