Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Bump flux_led to 0.24.9 (#58006)
  homeassistant/components/flux_led/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

BMW: Fix check_control_message short description (#57998)
  homeassistant/components/bmw_connected_drive/binary_sensor.py
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Include webhook_id in mobile_app's notify registration_info (#58007)
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/notify.py
  tests/components/mobile_app/test_notify.py
Due: mypy

Add configuration_url and entity_category to Fritz (#58004)
  homeassistant/components/fritz/binary_sensor.py
  homeassistant/components/fritz/common.py
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
Due: mypy

Mark Tasmota status sensors as diagnostic sensors (#57958)
  homeassistant/components/tasmota/sensor.py
  tests/components/tasmota/test_sensor.py
Due: mypy

Ensure migrated entry is `None` and not `"None"`
  tests/components/flux_led/test_light.py
Due: none

Use assignment expressions 16 (#57962)
  homeassistant/components/doods/image_processing.py
  homeassistant/components/gpmdp/media_player.py
  homeassistant/components/hisense_aehw4a1/climate.py
  homeassistant/components/lifx/light.py
  homeassistant/components/lightwave/__init__.py
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/lutron_caseta/device_trigger.py
  homeassistant/components/mediaroom/media_player.py
  homeassistant/components/nuki/__init__.py
  homeassistant/components/roon/media_browser.py
  homeassistant/components/roon/media_player.py
  homeassistant/components/somfy_mylink/config_flow.py
  homeassistant/components/sonos/__init__.py
  homeassistant/components/steam_online/sensor.py
Due: mypy

Change warning to info when modbus is ready (#57953)
  homeassistant/components/modbus/modbus.py
  tests/components/modbus/test_init.py
Due: mypy

Log unhandled loop exception traces when asyncio debug is on (#57602)
  homeassistant/runner.py
  tests/ignore_uncaught_exceptions.py
  tests/test_runner.py
Due: mypy

Add entity category to Hue
  homeassistant/components/hue/sensor.py
  tests/components/hue/test_sensor_base.py
Due: mypy

Add entity category to mobile app
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/entity.py
  homeassistant/components/mobile_app/webhook.py
  tests/components/mobile_app/test_sensor.py
Due: mypy

Fix #58003 - abort keenetic SSDP setup if ignored, update HOST if rediscovered already configured item
  homeassistant/components/keenetic_ndms2/config_flow.py
  tests/components/keenetic_ndms2/test_config_flow.py
Due: mypy

Add additional nest stream test coverage
  tests/components/nest/camera_sdm_test.py
Due: none

bump
  homeassistant/components/lookin/__init__.py
  homeassistant/components/lookin/climate.py
  homeassistant/components/lookin/config_flow.py
  homeassistant/components/lookin/entity.py
  homeassistant/components/lookin/fan.py
  homeassistant/components/lookin/light.py
  homeassistant/components/lookin/manifest.json
  homeassistant/components/lookin/media_player.py
  homeassistant/components/lookin/models.py
  homeassistant/components/lookin/remote.py
  homeassistant/components/lookin/sensor.py
  homeassistant/components/lookin/vacuum.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Revert "Swap order of int template helper kwargs (#57729)"
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Due: mypy

Apply suggestions from code review
  homeassistant/components/trace/__init__.py
Due: mypy

Add support for daily and monthly statistics (#57576)
  homeassistant/components/recorder/statistics.py
  tests/components/sensor/test_recorder.py
Due: mypy

Fix issue parsing color effect None in flux_led (#57979)
  homeassistant/components/flux_led/light.py
  tests/components/flux_led/test_light.py
Due: mypy

Add service to stop air conditioning to bmw_connected_drive (#57772)
  homeassistant/components/bmw_connected_drive/__init__.py
  homeassistant/components/bmw_connected_drive/services.yaml
Due: mypy, hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
