Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((homeassistant|pylint|script|tests)/.+)?[^/]+\.(py|pyi)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=astroid,checkin,currenty,hass,iif,incomfort,lookin,nam,NotIn
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^tests/fixtures/|homeassistant/generated/|tests/components/.*/snapshots/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.6.0
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py311-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(homeassistant|pylint)/.+\.(py|pyi)$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
        language: script
        types_or: [python, pyi]
        files: ^(homeassistant|tests)/.+\.(py|pyi)$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
      - id: hassfest-metadata
        name: hassfest-metadata
        entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
      - id: hassfest-mypy-config
        name: hassfest-mypy-config
        entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

determine model name in lib
  homeassistant/components/acaia/coordinator.py
  homeassistant/components/acaia/entity.py
  homeassistant/components/acaia/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/acaia/conftest.py
Due: gen_requirements_all, hassfest

Add alarm count sensor for Kostal Inverters (#130324)
  homeassistant/components/kostal_plenticore/sensor.py
Due: none

Fix fan's warning TURN_ON, TURN_OFF
  homeassistant/components/lg_thinq/fan.py
Due: none

Fix typo in BaseBackupManager.async_restore_backup
  homeassistant/components/backup/manager.py
Due: none

add test for missing coverage
  tests/components/acaia/test_button.py
Due: none

Update tuya-device-sharing-sdk to version 0.2.1
  homeassistant/components/tuya/__init__.py
  homeassistant/components/tuya/entity.py
  homeassistant/components/tuya/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

add space
  tests/components/acaia/test_button.py
Due: none

Use runtime data for eq3btsmart
  homeassistant/components/eq3btsmart/__init__.py
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

move and rename test
  tests/components/acaia/test_button.py
  tests/components/acaia/test_init.py
Due: none

Bump Weheat wh-python to 2024.11.02
  homeassistant/components/weheat/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Address review comments
  homeassistant/backup_restore.py
  homeassistant/components/backup/manager.py
  tests/test_backup_restore.py
Due: none

Add translation strings for entities
  homeassistant/components/screenlogic/binary_sensor.py
  homeassistant/components/screenlogic/climate.py
  homeassistant/components/screenlogic/entity.py
  homeassistant/components/screenlogic/number.py
  homeassistant/components/screenlogic/sensor.py
  homeassistant/components/screenlogic/strings.json
Due: hassfest

Fix config entry type hint
  homeassistant/components/eq3btsmart/climate.py
Due: none

Prepare eq3btsmart base entity for additional platforms
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

Add missing device classes and native units of measurement
  homeassistant/components/waqi/sensor.py
Due: none

Subscribe to gateway state for mqtt discovery
  homeassistant/components/qbus/config_flow.py
  homeassistant/components/qbus/manifest.json
  homeassistant/components/qbus/qbus.py
  homeassistant/generated/mqtt.py
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Restored drop_connect config_flow.py
  homeassistant/components/drop_connect/config_flow.py
Due: none

Final commit to review for Qbus
  homeassistant/components/qbus/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Auto discover qbus controllers
  homeassistant/components/qbus/__init__.py
  homeassistant/components/qbus/config_flow.py
  homeassistant/components/qbus/const.py
  homeassistant/components/qbus/coordinator.py
  homeassistant/components/qbus/entity.py
  homeassistant/components/qbus/manifest.json
  homeassistant/components/qbus/qbus.py
  homeassistant/components/qbus/qbus_entry.py
  homeassistant/components/qbus/qbus_queue.py
  homeassistant/components/qbus/strings.json
  homeassistant/components/qbus/switch.py
  homeassistant/generated/mqtt.py
Due: gen_requirements_all, hassfest

Add integration for Qbus
  CODEOWNERS
  homeassistant/components/drop_connect/config_flow.py
  homeassistant/components/qbus/__init__.py
  homeassistant/components/qbus/config_flow.py
  homeassistant/components/qbus/const.py
  homeassistant/components/qbus/coordinator.py
  homeassistant/components/qbus/entity.py
  homeassistant/components/qbus/manifest.json
  homeassistant/components/qbus/qbus_entry.py
  homeassistant/components/qbus/qbus_queue.py
  homeassistant/components/qbus/strings.json
  homeassistant/components/qbus/switch.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  homeassistant/generated/mqtt.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/qbus/__init__.py
  tests/components/qbus/conftest.py
Due: gen_requirements_all, hassfest

Updated files with suggested changes
  homeassistant/components/qbus/entity.py
  homeassistant/components/qbus/qbus.py
Due: none

Bring config flow test coverage to 100%
  tests/components/qbus/test_config_flow.py
Due: none

Add config flow unit tests
  tests/components/qbus/conftest.py
  tests/components/qbus/test_config_flow.py
Due: none

Fix test
  tests/components/ring/test_init.py
Due: none

Use runtime data for eq3btsmart (#130334)
  homeassistant/components/eq3btsmart/__init__.py
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

format mac before adding to config entry
  homeassistant/components/acaia/config_flow.py
Due: none

Fix pylint warnings
  homeassistant/components/qbus/__init__.py
  homeassistant/components/qbus/coordinator.py
  homeassistant/components/qbus/entity.py
  homeassistant/components/qbus/qbus.py
  homeassistant/components/qbus/switch.py
Due: none

Use unique key for unique id
  homeassistant/components/eq3btsmart/const.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

Improve docstring
  homeassistant/backup_restore.py
Due: none

Remove obsolete unique id property
  homeassistant/components/eq3btsmart/entity.py
Due: none

Remove invalid ABC inheritance
  homeassistant/components/eq3btsmart/entity.py
Due: none

Prepare eq3btsmart base entity for additional platforms (#130340)
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/const.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

Refactor with DataUpdateCoordinator Device Entities use existing push update method
  homeassistant/components/zimi/__init__.py
  homeassistant/components/zimi/controller.py
  homeassistant/components/zimi/coordinator.py
  homeassistant/components/zimi/light.py
Due: none

Use entity descriptions for eq3btsmart
  homeassistant/components/eq3btsmart/climate.py
  homeassistant/components/eq3btsmart/const.py
  homeassistant/components/eq3btsmart/entity.py
Due: none

Sort some code in cloud prefs
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cloud/prefs.py
Due: none

Fix typo in BaseBackupManager.async_restore_backup (#130329)
  homeassistant/components/backup/manager.py
Due: none
