Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Update systembridgeconnector to version 4.0.3 (#112608)
  homeassistant/components/system_bridge/config_flow.py
  homeassistant/components/system_bridge/coordinator.py
  homeassistant/components/system_bridge/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Fix System Bridge media source data URL
  homeassistant/components/system_bridge/media_source.py
Due: mypy, pylint

Update homeassistant/components/buienradar/weather.py
  homeassistant/components/buienradar/weather.py
Due: mypy, pylint

Update homeassistant/components/buienradar/sensor.py
  homeassistant/components/buienradar/sensor.py
Due: mypy, pylint

Bump ruff to 0.3.1
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/buienradar/weather.py
Due: mypy, pylint

Downgrade pysnmp-lextudio to version 5.0.34
  homeassistant/components/snmp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use more f-strings [ruff]
  homeassistant/components/buienradar/sensor.py
  homeassistant/components/buienradar/weather.py
  homeassistant/components/signal_messenger/notify.py
  homeassistant/components/smartthings/smartapp.py
  homeassistant/components/statistics/sensor.py
  homeassistant/components/tellstick/sensor.py
  homeassistant/components/utility_meter/__init__.py
  homeassistant/components/webhook/__init__.py
  homeassistant/components/wemo/switch.py
  homeassistant/helpers/aiohttp_client.py
  homeassistant/helpers/httpx_client.py
  tests/common.py
  tests/components/binary_sensor/test_device_trigger.py
  tests/components/device_automation/test_toggle_entity.py
Due: mypy, pylint

Bump ruff to 0.3.1
  .pre-commit-config.yaml
Due: gen_requirements_all

Allow duplicate names in different entities.
  homeassistant/components/modbus/validators.py
  tests/components/modbus/test_init.py
Due: mypy, pylint

Make Event data generic (#111955)
  homeassistant/components/history/websocket_api.py
  homeassistant/components/logbook/helpers.py
  homeassistant/core.py
  homeassistant/helpers/typing.py
Due: mypy, pylint

Guard against db corruption when renaming entities
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/entity_registry.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
Due: mypy, pylint

fixes
  homeassistant/components/recorder/entity_registry.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/util.py
Due: mypy, pylint

fix
  homeassistant/components/recorder/util.py
Due: mypy, pylint

Revert "Leave default Python to 3.11 for now"
  .github/workflows/ci.yaml
Due: none

Add new mypy ignore
  homeassistant/helpers/config_validation.py
Due: mypy, pylint

guard
  homeassistant/components/recorder/table_managers/statistics_meta.py
Due: mypy, pylint

Fix utility_meter
  homeassistant/components/utility_meter/__init__.py
Due: mypy, pylint

Double verison bump
  homeassistant/components/weatherflow_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

add more safeguards
  tests/components/recorder/test_statistics.py
Due: none
