Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Add to strict-typing list
  .strict-typing
  mypy.ini
Due: none

Use assignment expressions [K-Z]
  homeassistant/components/knx/__init__.py
  homeassistant/components/kostal_plenticore/helper.py
  homeassistant/components/lcn/device_trigger.py
  homeassistant/components/lookin/climate.py
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/moehlenhoff_alpha2/climate.py
  homeassistant/components/mold_indicator/sensor.py
  homeassistant/components/motioneye/media_source.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/media_source.py
  homeassistant/components/open_meteo/__init__.py
  homeassistant/components/picnic/coordinator.py
  homeassistant/components/synology_dsm/service.py
  homeassistant/components/tolo/climate.py
  homeassistant/components/venstar/sensor.py
  homeassistant/components/webostv/device_trigger.py
  homeassistant/components/webostv/helpers.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/xiaomi_aqara/binary_sensor.py
Due: mypy

Update tests based on cleanup commit
  tests/components/pure_energie/test_config_flow.py
  tests/components/pure_energie/test_sensor.py
Due: none

Fix yeelight config flow ip update and timeout
  homeassistant/components/yeelight/config_flow.py
  tests/components/yeelight/test_config_flow.py
Due: mypy

Bump pysensibo to 1.0.4
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/config_flow.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sensibo/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Add support for INT8 and UINT8.
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/validators.py
Due: mypy

Remove unused code
  homeassistant/components/pure_energie/config_flow.py
  homeassistant/components/pure_energie/strings.json
  homeassistant/components/pure_energie/translations/en.json
  tests/components/pure_energie/test_init.py
Due: mypy, hassfest

Created duplicate class to avoid init call
  homeassistant/components/sleepiq/entity.py
Due: mypy

Add support for INT8 and UINT8 in Modbus (#66889)
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/validators.py
Due: mypy

Use assignment expressions [K-Z] (#66881)
  homeassistant/components/knx/__init__.py
  homeassistant/components/kostal_plenticore/helper.py
  homeassistant/components/lcn/device_trigger.py
  homeassistant/components/lookin/climate.py
  homeassistant/components/lutron_caseta/__init__.py
  homeassistant/components/moehlenhoff_alpha2/climate.py
  homeassistant/components/mold_indicator/sensor.py
  homeassistant/components/motioneye/media_source.py
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
  homeassistant/components/nest/media_source.py
  homeassistant/components/open_meteo/__init__.py
  homeassistant/components/picnic/coordinator.py
  homeassistant/components/synology_dsm/service.py
  homeassistant/components/tolo/climate.py
  homeassistant/components/venstar/sensor.py
  homeassistant/components/webostv/device_trigger.py
  homeassistant/components/webostv/helpers.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/xiaomi_aqara/binary_sensor.py
Due: mypy

Use assignment expressions [A-I] (#66880)
  homeassistant/components/adax/climate.py
  homeassistant/components/androidtv/__init__.py
  homeassistant/components/aurora_abb_powerone/aurora_device.py
  homeassistant/components/balboa/climate.py
  homeassistant/components/broadlink/switch.py
  homeassistant/components/edl21/sensor.py
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/config_flow.py
  homeassistant/components/flux_led/discovery.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/heos/__init__.py
  homeassistant/components/hive/alarm_control_panel.py
  homeassistant/components/homekit/util.py
  homeassistant/components/homekit_controller/diagnostics.py
  homeassistant/components/homematic/sensor.py
  homeassistant/components/hue/device_trigger.py
  homeassistant/components/hue/migration.py
  homeassistant/components/iaqualink/__init__.py
Due: mypy

Use assignment expressions [other] (#66882)
  homeassistant/components/camera/media_source.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/diagnostics/__init__.py
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/tts/__init__.py
  homeassistant/components/tts/media_source.py
  homeassistant/components/zone/trigger.py
  homeassistant/components/zwave_js/helpers.py
Due: mypy

Fix binary sensor translations
  homeassistant/components/binary_sensor/strings.json
  homeassistant/components/binary_sensor/translations/en.json
Due: hassfest

Fix yeelight config flow ip update and timeout (#66883)
  homeassistant/components/yeelight/config_flow.py
  tests/components/yeelight/test_config_flow.py
Due: mypy

Bugfix
  homeassistant/components/binary_sensor/strings.json
  homeassistant/components/binary_sensor/translations/en.json
Due: hassfest

Bump aiodiscovery to 1.4.8
  homeassistant/components/dhcp/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Change to use entity descriptions
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/button.py
  tests/components/sleepiq/test_button.py
Due: mypy

Add Shelly gen2 error sensors (#66825)
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
Due: mypy

Add Pure Energie integration (#66846)
  .strict-typing
  CODEOWNERS
  homeassistant/components/pure_energie/__init__.py
  homeassistant/components/pure_energie/config_flow.py
  homeassistant/components/pure_energie/const.py
  homeassistant/components/pure_energie/manifest.json
  homeassistant/components/pure_energie/sensor.py
  homeassistant/components/pure_energie/strings.json
  homeassistant/components/pure_energie/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/zeroconf.py
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/pure_energie/__init__.py
  tests/components/pure_energie/conftest.py
  tests/components/pure_energie/fixtures/device.json
  tests/components/pure_energie/fixtures/smartbridge.json
  tests/components/pure_energie/test_config_flow.py
  tests/components/pure_energie/test_init.py
  tests/components/pure_energie/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

update rokuecp to 0.14.1
  homeassistant/components/roku/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update srpenergy dependency to 1.3.6 (#66821)
  homeassistant/components/srp_energy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update homeassistant/components/zwave_js/triggers/event.py
  homeassistant/components/zwave_js/triggers/event.py
Due: mypy

Button updates
  homeassistant/components/sleepiq/button.py
Due: mypy

scope mypy ignore down
  homeassistant/components/zwave_js/triggers/event.py
Due: mypy
