Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Coverage
  homeassistant/components/private_ble_device/coordinator.py
Due: mypy, pylint

More sensor.py back out
  homeassistant/components/private_ble_device/entity.py
Due: mypy, pylint

Handle timestamp sensors in Prometheus integration (#98001)
  homeassistant/components/prometheus/__init__.py
  tests/components/prometheus/test_init.py
Due: mypy, pylint

Switcher fix naming transations
  homeassistant/components/switcher_kis/cover.py
  homeassistant/components/switcher_kis/switch.py
Due: mypy, pylint

Freeze time for MQTT sensor expire tests
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_sensor.py
Due: none

Fix translation bug Renson sensors (#99461)
  homeassistant/components/renson/sensor.py
Due: mypy, pylint

Freeze time for MQTT sensor expire tests (#99496)
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_sensor.py
Due: none

Update scene.py
  homeassistant/components/hunterdouglas_powerview/scene.py
Due: mypy, pylint

Use shorthand attributes in Hunterdouglas powerview (#99386)
  homeassistant/components/hunterdouglas_powerview/scene.py
Due: mypy, pylint

clean up base entities
  .coveragerc
  homeassistant/components/netgear/button.py
  homeassistant/components/netgear/device_tracker.py
  homeassistant/components/netgear/entity.py
  homeassistant/components/netgear/router.py
  homeassistant/components/netgear/sensor.py
  homeassistant/components/netgear/switch.py
  homeassistant/components/netgear/update.py
Due: mypy, pylint, hassfest

More sensor removal
  homeassistant/components/private_ble_device/strings.json
Due: hassfest

Shared fixture on TEMP_DIR_NAME mock in MQTT tests
  tests/components/mqtt/conftest.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_util.py
Due: none

move router device info
  homeassistant/components/netgear/__init__.py
  homeassistant/components/netgear/entity.py
Due: mypy, pylint

use has_entity_name
  homeassistant/components/netgear/button.py
  homeassistant/components/netgear/device_tracker.py
  homeassistant/components/netgear/entity.py
  homeassistant/components/netgear/sensor.py
  homeassistant/components/netgear/switch.py
  homeassistant/components/netgear/update.py
Due: mypy, pylint

Change matrix component to use matrix-nio instead of matrix_client (#72797)
  .coveragerc
  .strict-typing
  CODEOWNERS
  homeassistant/components/matrix/__init__.py
  homeassistant/components/matrix/manifest.json
  homeassistant/components/matrix/notify.py
  mypy.ini
  requirements_all.txt
  requirements_test.txt
  requirements_test_all.txt
  tests/components/matrix/__init__.py
  tests/components/matrix/conftest.py
  tests/components/matrix/test_join_rooms.py
  tests/components/matrix/test_login.py
  tests/components/matrix/test_matrix_bot.py
  tests/components/matrix/test_send_message.py
Due: mypy, pylint, gen_requirements_all, hassfest, hassfest-mypy-config

Update Tibber library to 0.28.2 (#99115)
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Improve mqtt certificate file tests
  tests/components/mqtt/conftest.py
  tests/components/mqtt/test_util.py
Due: none

fix styling
  homeassistant/components/netgear/__init__.py
  homeassistant/components/netgear/button.py
  homeassistant/components/netgear/device_tracker.py
  homeassistant/components/netgear/entity.py
  homeassistant/components/netgear/router.py
  homeassistant/components/netgear/sensor.py
  homeassistant/components/netgear/switch.py
  homeassistant/components/netgear/update.py
Due: mypy, pylint

Add long-term statistics to BMW ConnectedDrive sensors
  homeassistant/components/bmw_connected_drive/sensor.py
Due: mypy, pylint

Add sensor test snapshot
  tests/components/bmw_connected_drive/snapshots/test_sensor.ambr
  tests/components/bmw_connected_drive/test_sensor.py
Due: none

Support tracking private bluetooth devices (#99465)
  .strict-typing
  CODEOWNERS
  homeassistant/components/private_ble_device/__init__.py
  homeassistant/components/private_ble_device/config_flow.py
  homeassistant/components/private_ble_device/const.py
  homeassistant/components/private_ble_device/coordinator.py
  homeassistant/components/private_ble_device/device_tracker.py
  homeassistant/components/private_ble_device/entity.py
  homeassistant/components/private_ble_device/manifest.json
  homeassistant/components/private_ble_device/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  mypy.ini
  requirements_all.txt
  requirements_test_all.txt
  tests/components/private_ble_device/__init__.py
  tests/components/private_ble_device/conftest.py
  tests/components/private_ble_device/test_config_flow.py
  tests/components/private_ble_device/test_device_tracker.py
Due: mypy, pylint, gen_requirements_all, hassfest, hassfest-mypy-config

Use shorthand attributes in hlk_sw16 (#99383)
  homeassistant/components/hlk_sw16/__init__.py
Due: mypy, pylint

Update tests/components/mqtt/test_util.py
  tests/components/mqtt/test_util.py
Due: none

Update tests/components/mqtt/conftest.py
  tests/components/mqtt/conftest.py
Due: none

Log unexpected exceptions causing recorder shutdown (#99445)
  homeassistant/components/recorder/core.py
Due: mypy, pylint

Don't compile missing statistics when running tests (#99446)
  tests/conftest.py
Due: none

Avoid blocking code
  tests/components/mqtt/test_util.py
Due: none

fix typos
  tests/components/reolink/test_config_flow.py
Due: none

split out has_connection_problem
  homeassistant/components/reolink/config_flow.py
Due: mypy, pylint

fix styling
  homeassistant/components/reolink/config_flow.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
