Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Allow deleting entity entries from entity_registry.async_migrate_entries
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Due: mypy, pylint

Fix current_color
  homeassistant/components/twinkly/light.py
Due: mypy, pylint

Use pep 503 compatible wheels index for builds
  Dockerfile
Due: none

Use pep 503 compatible wheels index for builds (#101096)
  Dockerfile
Due: none

Explicitly return None in tests
  tests/helpers/test_entity_registry.py
Due: none

Fix circular dependency on homeassistant
  homeassistant/package_constraints.txt
Due: none

Improve tests
  homeassistant/components/twinkly/light.py
  tests/components/twinkly/__init__.py
  tests/components/twinkly/test_light.py
Due: mypy, pylint

Add constraint to gen_requirements script
  script/gen_requirements_all.py
Due: gen_requirements_all

Make the minimum of samples configurable & raise issue when min_samples > max_samples
  homeassistant/components/trend/binary_sensor.py
  homeassistant/components/trend/const.py
  homeassistant/components/trend/strings.json
  tests/components/trend/test_binary_sensor.py
Due: mypy, pylint, hassfest

Fix circular dependency on homeassistant (#101099)
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Wording
  homeassistant/components/trend/strings.json
Due: hassfest

Ignore binary distribution wheels for charset-normalizer
  .github/workflows/wheels.yml
Due: none

Stop the Home Assistant Core container by default
  rootfs/etc/services.d/home-assistant/finish
Due: none

Even more tests
  tests/components/twinkly/__init__.py
  tests/components/twinkly/test_light.py
Due: none

Ignore binary distribution wheels for charset-normalizer (#101104)
  .github/workflows/wheels.yml
Due: none

Correcty binary ignore for charset-normalizer to charset_normalizer
  .github/workflows/wheels.yml
Due: none

Correct binary ignore for charset-normalizer to charset_normalizer (#101106)
  .github/workflows/wheels.yml
Due: none

Pin charset_normalizer in our package constraints
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

According to PyPi it is a dash...
  .github/workflows/wheels.yml
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Pin charset-normalizer in our package constraints (#101107)
  .github/workflows/wheels.yml
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Make sure logging is in time in sonos CI test
  tests/components/sonos/test_init.py
Due: none

Add tests to Hydrawise
  .coveragerc
  homeassistant/components/hydrawise/binary_sensor.py
  homeassistant/components/hydrawise/sensor.py
  homeassistant/components/hydrawise/switch.py
  tests/components/hydrawise/conftest.py
  tests/components/hydrawise/test_binary_sensor.py
  tests/components/hydrawise/test_init.py
  tests/components/hydrawise/test_sensor.py
  tests/components/hydrawise/test_switch.py
Due: mypy, pylint, hassfest

remove unqiue ip duplicate check
  homeassistant/components/gree/config_flow.py
  tests/components/gree/test_config_flow.py
Due: mypy, pylint

Apply suggestions from code review
  homeassistant/components/fitbit/config_flow.py
  homeassistant/components/fitbit/sensor.py
  homeassistant/components/fitbit/strings.json
Due: mypy, pylint, hassfest

Simplify translations, issue keys, and token refresh
  homeassistant/components/fitbit/application_credentials.py
  homeassistant/components/fitbit/config_flow.py
  homeassistant/components/fitbit/sensor.py
  homeassistant/components/fitbit/strings.json
  tests/components/fitbit/conftest.py
  tests/components/fitbit/test_config_flow.py
  tests/components/fitbit/test_init.py
Due: mypy, pylint, hassfest

Fix patch of PLATFORMS constant in netatmo (#101038)
  tests/components/netatmo/common.py
  tests/components/netatmo/test_camera.py
  tests/components/netatmo/test_init.py
  tests/components/netatmo/test_light.py
Due: none

Migrate unique_id
  homeassistant/components/waqi/__init__.py
  homeassistant/components/waqi/sensor.py
  tests/components/waqi/test_sensor.py
Due: mypy, pylint

charset
  homeassistant/components/http/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix: tweak
  .github/workflows/wheels.yml
Due: none

Add debug line to check the selected stream
  homeassistant/components/media_extractor/__init__.py
Due: mypy, pylint

Correct youtube filter
  homeassistant/components/media_extractor/__init__.py
Due: mypy, pylint

Correct youtube filter
  tests/components/media_extractor/snapshots/test_init.ambr
Due: none

Add device class pH to aseko pool live
  homeassistant/components/aseko_pool_live/sensor.py
Due: mypy, pylint

Add device class pH to Flipr
  homeassistant/components/flipr/sensor.py
  homeassistant/components/flipr/strings.json
Due: mypy, pylint, hassfest

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
