Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Add min/max price sensor to Nord Pool
  homeassistant/components/nordpool/sensor.py
  homeassistant/components/nordpool/strings.json
  tests/components/nordpool/snapshots/test_sensor.ambr
Due: hassfest

mark entity as unavailable on exception raise
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/fan.py
  homeassistant/components/vicare/number.py
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vicare/water_heater.py
Due: none

update snapshot
  tests/components/vicare/snapshots/test_binary_sensor.ambr
  tests/components/vicare/snapshots/test_number.ambr
Due: none

update iqs
  homeassistant/components/vicare/quality_scale.yaml
Due: none

Simplify Idasen Desk entity properties
  homeassistant/components/idasen_desk/cover.py
  homeassistant/components/idasen_desk/sensor.py
Due: none

Add integration setup tests to Peblar Rocksolid EV Chargers (#133532)
  tests/components/peblar/conftest.py
  tests/components/peblar/test_init.py
Due: none

Simplify Idasen Desk entity properties (#133536)
  homeassistant/components/idasen_desk/cover.py
  homeassistant/components/idasen_desk/sensor.py
Due: none

Bump aiohttp to 3.11.11 (#133530)
  homeassistant/components/image/__init__.py
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

fix update_todo_item
  homeassistant/components/habitica/todo.py
  tests/components/habitica/test_todo.py
Due: none

make SqueezeLite players not a service
  homeassistant/components/squeezebox/media_player.py
  tests/components/squeezebox/snapshots/test_media_player.ambr
Due: none

ruff
  homeassistant/components/squeezebox/media_player.py
Due: none

Address review comments regarding metadata access
  homeassistant/components/snapcast/media_player.py
Due: none

Add zeroconf discovery to Peblar Rocksolid EV chargers
  homeassistant/components/peblar/config_flow.py
  homeassistant/components/peblar/manifest.json
  homeassistant/components/peblar/strings.json
  homeassistant/generated/zeroconf.py
  tests/components/peblar/test_config_flow.py
Due: gen_requirements_all, hassfest

Add zeroconf discovery to Peblar Rocksolid EV chargers (#133529)
  homeassistant/components/peblar/config_flow.py
  homeassistant/components/peblar/manifest.json
  homeassistant/components/peblar/strings.json
  homeassistant/generated/zeroconf.py
  tests/components/peblar/test_config_flow.py
Due: gen_requirements_all, hassfest

add proxy view for unifiprotect to sgrab snapshot at specific time
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/views.py
Due: none

Bump pydantic to 2.10.4
  homeassistant/package_constraints.txt
  requirements_test.txt
  script/gen_requirements_all.py
Due: gen_requirements_all, hassfest

Ensure icalendar==6.1.0 is installed for caldav integration
  homeassistant/components/caldav/manifest.json
Due: gen_requirements_all, hassfest

add inverse tests for not using the lateral query without PostgreSQL
  tests/components/recorder/test_history.py
  tests/components/recorder/test_statistics.py
Due: none

Add SmartTowerFan to VeSync Integration
  homeassistant/components/vesync/const.py
  homeassistant/components/vesync/fan.py
  homeassistant/components/vesync/icons.json
  homeassistant/components/vesync/light.py
  homeassistant/components/vesync/manifest.json
  homeassistant/components/vesync/strings.json
Due: gen_requirements_all, hassfest

Optimize start time state queries for PostgreSQL (#133228)
  homeassistant/components/recorder/history/modern.py
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_statistics.py
Due: none

add proxy view for unifiprotect to grab snapshot at specific time
  homeassistant/components/unifiprotect/__init__.py
  homeassistant/components/unifiprotect/views.py
Due: none

Fix code style issues and optimize code structure
  homeassistant/components/imou_life/__init__.py
  homeassistant/components/imou_life/button.py
  homeassistant/components/imou_life/config_flow.py
  homeassistant/components/imou_life/coordinator.py
  homeassistant/components/imou_life/entity.py
  homeassistant/components/imou_life/manifest.json
  tests/components/imou_life/test_config_flow.py
Due: gen_requirements_all, hassfest

Set default min/max color temperature in hue lights
  homeassistant/components/hue/v1/light.py
Due: none

Set default min/max color temperature in template lights
  homeassistant/components/template/light.py
Due: none

Revert "Use common function"
  homeassistant/components/fritzbox/coordinator.py
  homeassistant/components/fritzbox/light.py
  tests/components/fritzbox/__init__.py
Due: none

Revert "Pre-load light capabilities"
  homeassistant/components/fritzbox/coordinator.py
  homeassistant/components/fritzbox/light.py
  tests/components/fritzbox/__init__.py
Due: none

Use mV and mA as units for electrical power measurement in Matter (#133505)
  homeassistant/components/matter/sensor.py
  tests/components/matter/snapshots/test_sensor.ambr
Due: none

add quality_scale.yaml
  homeassistant/components/imou_life/quality_scale.yaml
Due: none

Set default min/max color temperature in hue lights (#133548)
  homeassistant/components/hue/v1/light.py
Due: none

Remove numbers for now
  homeassistant/components/lamarzocco/number.py
  tests/components/lamarzocco/snapshots/test_number.ambr
  tests/components/lamarzocco/test_number.py
Due: none

Remove numbers for now
  homeassistant/components/lamarzocco/strings.json
Due: hassfest

Update config_entries.py
  homeassistant/config_entries.py
Due: none

Apply suggestions from code review
  homeassistant/config_entries.py
Due: none

Path conditions:
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
