Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Bump xiaomi-ble to 0.19.1 (#96967)
  homeassistant/components/xiaomi_ble/config_flow.py
  homeassistant/components/xiaomi_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Update homeassistant/components/recorder/const.py
  homeassistant/components/recorder/const.py
Due: mypy, pylint

Update test_purge.py
  tests/components/recorder/test_purge.py
Due: none

Bump env_canada to v0.5.36 (#96987)
  homeassistant/components/environment_canada/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix sentry test assert (#96983)
  tests/components/sentry/test_init.py
Due: none

Cache version compare in update entity (#96978)
  homeassistant/components/update/__init__.py
Due: mypy, pylint

Update syrupy to 4.0.8
  requirements_test.txt
Due: none

Remove stateclass from Systemmonitor process sensor (#96973)
  homeassistant/components/systemmonitor/sensor.py
Due: mypy, pylint

Add snapshot testing to YouTube (#96974)
  tests/components/youtube/snapshots/test_sensor.ambr
  tests/components/youtube/test_sensor.py
Due: none

Add entity translations to Daikin (#95181)
  homeassistant/components/daikin/sensor.py
  homeassistant/components/daikin/strings.json
Due: mypy, pylint, hassfest

Clean up logi circle const (#95540)
  homeassistant/components/logi_circle/__init__.py
  homeassistant/components/logi_circle/const.py
  homeassistant/components/logi_circle/sensor.py
Due: mypy, pylint

Always set `_attr_has_entity_name`
  homeassistant/components/mqtt/mixins.py
Due: mypy, pylint

Cleanup
  homeassistant/components/mqtt/mixins.py
Due: mypy, pylint

Fix translations
  homeassistant/components/youtube/strings.json
  tests/components/youtube/snapshots/test_sensor.ambr
Due: hassfest

Several tweaks and cleanups
  homeassistant/components/event/__init__.py
  tests/components/event/test_init.py
Due: mypy, pylint

Fix feedback
  homeassistant/components/youtube/diagnostics.py
  tests/components/youtube/fixtures/diagnostics.json
  tests/components/youtube/snapshots/test_diagnostics.ambr
  tests/components/youtube/test_diagnostics.py
Due: mypy, pylint

Rename last_event to last_event_triggered
  homeassistant/components/event/__init__.py
Due: mypy, pylint

Clean up Ombi const file (#95541)
  homeassistant/components/ombi/const.py
  homeassistant/components/ombi/sensor.py
Due: mypy, pylint

Update syrupy to 4.0.8 (#96990)
  requirements_test.txt
Due: none

Add diagnostics to YouTube (#96975)
  homeassistant/components/youtube/diagnostics.py
  tests/components/youtube/snapshots/test_diagnostics.ambr
  tests/components/youtube/test_diagnostics.py
Due: mypy, pylint

adding relative_url
  homeassistant/components/esphome/config_flow.py
  homeassistant/components/esphome/dashboard.py
  tests/components/esphome/conftest.py
  tests/components/esphome/test_dashboard.py
Due: mypy, pylint

Add new device class: PH (potential hydrogen)
  homeassistant/components/number/const.py
  homeassistant/components/sensor/__init__.py
  homeassistant/components/sensor/const.py
  homeassistant/const.py
  tests/components/sensor/test_init.py
Due: mypy, pylint, hassfest-metadata

Add EZVIZ AlarmControlPanelEntity (#96602)
  .coveragerc
  homeassistant/components/ezviz/__init__.py
  homeassistant/components/ezviz/alarm_control_panel.py
  homeassistant/components/ezviz/const.py
Due: mypy, pylint, hassfest

Update respx to 0.20.2
  requirements_test.txt
Due: none

Update tqdm to 4.65.0
  requirements_test.txt
Due: none

Update coverage to 7.2.7
  requirements_test.txt
Due: none

Update pytest-asyncio to 0.21.0
  requirements_test.txt
Due: none

Update pytest-freezer to 0.4.8
  requirements_test.txt
Due: none

Update pytest-sugar to 0.9.7
  requirements_test.txt
Due: none
