Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Not needed
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/server.py
Due: mypy

Skip coverage for now
  .coveragerc
Due: none

Handle missing duration (e.g., live TV)
  homeassistant/components/plex/models.py
Due: mypy

Fix & simplify tests
  tests/components/plex/conftest.py
  tests/components/plex/helpers.py
  tests/components/plex/mock_classes.py
  tests/components/plex/test_browse_media.py
  tests/components/plex/test_config_flow.py
  tests/components/plex/test_init.py
  tests/components/plex/test_media_players.py
  tests/components/plex/test_server.py
Due: none

Clean up setter, write state immediately
  homeassistant/components/plex/media_player.py
Due: mypy

Revert invalid cleanup
  homeassistant/components/plex/media_player.py
  homeassistant/components/plex/server.py
Due: mypy

fixing black
  homeassistant/components/esphome/climate.py
Due: mypy

Remove for..loop
  homeassistant/components/accuweather/system_health.py
Due: mypy

Remove unused stuff from ZHA registries
  homeassistant/components/zha/core/channels/general.py
  homeassistant/components/zha/core/channels/hvac.py
  homeassistant/components/zha/core/channels/lighting.py
  homeassistant/components/zha/core/channels/measurement.py
  homeassistant/components/zha/core/channels/security.py
  homeassistant/components/zha/core/registries.py
Due: mypy

Add support for device class in target selector (#43768)
  homeassistant/helpers/selector.py
  tests/helpers/test_selector.py
Due: mypy

Warn when referencing missing devices/areas
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Due: mypy

Stop duplicating coordinator references
  homeassistant/components/gree/__init__.py
  homeassistant/components/gree/climate.py
  homeassistant/components/gree/const.py
  homeassistant/components/gree/switch.py
Due: mypy

Clean up tests
  tests/components/gree/test_climate.py
  tests/components/gree/test_switch.py
Due: none

Fix MQTT birth message deadlock
  homeassistant/components/mqtt/__init__.py
Due: mypy

Update media_player.py
  homeassistant/components/androidtv/media_player.py
Due: mypy

Upgrade elgato to 1.0.0
  homeassistant/components/elgato/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix MQTT birth message deadlock (#43790)
  homeassistant/components/mqtt/__init__.py
Due: mypy

[ci skip] Translation update
  homeassistant/components/abode/translations/lb.json
  homeassistant/components/abode/translations/no.json
  homeassistant/components/alarm_control_panel/translations/et.json
  homeassistant/components/aurora/translations/lb.json
  homeassistant/components/bsblan/translations/en.json
  homeassistant/components/device_tracker/translations/lb.json
  homeassistant/components/dialogflow/translations/lb.json
  homeassistant/components/epson/translations/lb.json
  homeassistant/components/fireservicerota/translations/lb.json
  homeassistant/components/geofency/translations/lb.json
  homeassistant/components/gpslogger/translations/lb.json
  homeassistant/components/hassio/translations/lb.json
  homeassistant/components/homeassistant/translations/lb.json
  homeassistant/components/hyperion/translations/en.json
  homeassistant/components/hyperion/translations/et.json
  homeassistant/components/ifttt/translations/lb.json
  homeassistant/components/ipma/translations/en.json
  homeassistant/components/ipma/translations/et.json
  homeassistant/components/kodi/translations/lb.json
  homeassistant/components/locative/translations/lb.json
  homeassistant/components/lovelace/translations/lb.json
  homeassistant/components/mailgun/translations/lb.json
  homeassistant/components/motion_blinds/translations/lb.json
  homeassistant/components/nest/translations/en.json
  homeassistant/components/nest/translations/es.json
  homeassistant/components/nest/translations/et.json
  homeassistant/components/nest/translations/lb.json
  homeassistant/components/nest/translations/ru.json
  homeassistant/components/nest/translations/zh-Hant.json
  homeassistant/components/ozw/translations/et.json
  homeassistant/components/spotify/translations/no.json
  homeassistant/components/zha/translations/ru.json
Due: none

Make light respect profile transition when turning off
  homeassistant/components/light/__init__.py
Due: mypy

Change to match upstream
  homeassistant/components/light/__init__.py
Due: mypy

Add reauth support
  homeassistant/components/hyperion/__init__.py
  homeassistant/components/hyperion/config_flow.py
  homeassistant/components/hyperion/const.py
  homeassistant/components/hyperion/strings.json
  tests/components/hyperion/__init__.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
Due: mypy, hassfest

Bump aiorecollect to 0.2.2
  homeassistant/components/recollect_waste/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add a few more test cases.
  homeassistant/components/hyperion/config_flow.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
Due: mypy

Automatically choose SOLID effect
  homeassistant/components/hyperion/light.py
  tests/components/hyperion/test_light.py
Due: mypy

Add mypy typing fixes.
  tests/components/hyperion/__init__.py
  tests/components/hyperion/test_config_flow.py
  tests/components/hyperion/test_light.py
Due: none

Minor test fixes
  tests/components/hyperion/test_light.py
Due: none

Remove superfluous argument
  homeassistant/components/hyperion/__init__.py
Due: mypy

Warn when referencing missing devices/areas (#43787)
  homeassistant/helpers/service.py
  tests/helpers/test_service.py
Due: mypy

Add lock.open service to nello (#42141)
  homeassistant/components/nello/lock.py
Due: mypy

Migrate foscam to use entity platform entity services (#43775)
  homeassistant/components/foscam/camera.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^homeassistant/.+/(manifest|strings)\.json$ and \.json$
