Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Remove username entity from Geocaching
  homeassistant/components/geocaching/sensor.py
Due: mypy

Tweak template light tests
  tests/components/template/conftest.py
  tests/components/template/test_light.py
Due: none

Remove username entity from Geocaching (#71728)
  homeassistant/components/geocaching/sensor.py
Due: mypy

Add amperage limit number to JuiceNet (#71716)
  .coveragerc
  homeassistant/components/juicenet/__init__.py
  homeassistant/components/juicenet/entity.py
  homeassistant/components/juicenet/number.py
Due: mypy, hassfest

Tweak template alarm tests
  tests/components/template/test_alarm_control_panel.py
Due: none

Fix current vane position
  homeassistant/components/hunterdouglas_powerview/cover.py
Due: mypy

Presets no longer present, get preset_modes instead
  homeassistant/components/plugwise/climate.py
Due: mypy

Tweak template alarm tests (#71730)
  tests/components/template/test_alarm_control_panel.py
Due: none

Use HVACAction in mqtt (#71726)
  homeassistant/components/mqtt/climate.py
Due: mypy

Tweak template cover tests
  tests/components/template/test_cover.py
Due: none

Revert some updates, as requested
  homeassistant/components/plugwise/const.py
  homeassistant/components/plugwise/entity.py
Due: mypy

Tweak template lock tests
  tests/components/template/test_lock.py
Due: none

Remove unused calls fixture from template tests
  tests/components/template/test_button.py
  tests/components/template/test_fan.py
  tests/components/template/test_number.py
  tests/components/template/test_select.py
Due: none

revised tests and wording for yaml import
  homeassistant/components/aladdin_connect/cover.py
  tests/components/aladdin_connect/test_cover.py
  tests/components/aladdin_connect/test_init.py
Due: mypy

Fix the problem with typing on the localtuya
  homeassistant/util/percentage.py
Due: mypy

Tweak template switch tests
  tests/components/template/test_switch.py
Due: none

Documentation cleanup.
  tests/components/aladdin_connect/test_config_flow.py
Due: none

Bump plugwise to v0.18.2 (#71731)
  homeassistant/components/plugwise/climate.py
  homeassistant/components/plugwise/const.py
  homeassistant/components/plugwise/entity.py
  homeassistant/components/plugwise/gateway.py
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/plugwise/fixtures/adam_multiple_devices_per_zone/all_data.json
  tests/components/plugwise/fixtures/anna_heatpump/all_data.json
  tests/components/plugwise/fixtures/p1v3_full_option/all_data.json
  tests/components/plugwise/fixtures/stretch_v31/all_data.json
  tests/components/plugwise/test_diagnostics.py
Due: mypy, gen_requirements_all, hassfest

Tweak template cover tests (#71732)
  tests/components/template/test_cover.py
Due: none

Restore v23 stats migration tests
  tests/components/recorder/models_schema_23_with_newer_columns.py
  tests/components/recorder/test_statistics_v23_migration.py
Due: none

Support this variable in template alarm actions
  homeassistant/components/template/alarm_control_panel.py
  homeassistant/components/template/template_entity.py
  tests/components/template/test_alarm_control_panel.py
Due: mypy

Better handling of tdbu shades
  homeassistant/components/hunterdouglas_powerview/cover.py
Due: mypy

fix tests
  homeassistant/components/logbook/__init__.py
Due: mypy

typo
  tests/components/recorder/models_schema_23_with_newer_columns.py
Due: none

Remove unused calls fixture from template tests (#71735)
  tests/components/template/test_button.py
  tests/components/template/test_fan.py
  tests/components/template/test_number.py
  tests/components/template/test_select.py
Due: none

Remove prints from template tests
  tests/components/template/test_alarm_control_panel.py
  tests/components/template/test_cover.py
Due: none
