Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Silence sisyphus chatty logging from dependencies (#66711)
  homeassistant/components/sisyphus/__init__.py
Due: mypy

Update tests/components/google_travel_time/test_sensor.py
  tests/components/google_travel_time/test_sensor.py
Due: none

moved number entity definitions to constant
  homeassistant/components/tolo/number.py
Due: mypy

Add google_travel_time sensor tests (#66568)
  .coveragerc
  tests/components/google_travel_time/const.py
  tests/components/google_travel_time/test_config_flow.py
  tests/components/google_travel_time/test_sensor.py
Due: hassfest

Break it back up since its different concepts
  homeassistant/components/device_tracker/config_entry.py
Due: mypy

spell
  homeassistant/components/device_tracker/config_entry.py
  homeassistant/components/device_tracker/const.py
  homeassistant/components/dhcp/__init__.py
Due: mypy

Remove unnecessary yield
  tests/components/waze_travel_time/test_sensor.py
Due: none

coverage
  tests/components/device_tracker/test_config_entry.py
Due: none

Bump aiohue to 4.2.1
  homeassistant/components/hue/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Modernize Sleepiq and add new entities (#66336)
  CODEOWNERS
  homeassistant/components/sleepiq/__init__.py
  homeassistant/components/sleepiq/binary_sensor.py
  homeassistant/components/sleepiq/config_flow.py
  homeassistant/components/sleepiq/const.py
  homeassistant/components/sleepiq/coordinator.py
  homeassistant/components/sleepiq/entity.py
  homeassistant/components/sleepiq/manifest.json
  homeassistant/components/sleepiq/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/sleepiq/conftest.py
  tests/components/sleepiq/fixtures/bed-single.json
  tests/components/sleepiq/fixtures/bed.json
  tests/components/sleepiq/fixtures/familystatus-single.json
  tests/components/sleepiq/fixtures/familystatus.json
  tests/components/sleepiq/fixtures/login.json
  tests/components/sleepiq/fixtures/sleeper.json
  tests/components/sleepiq/test_binary_sensor.py
  tests/components/sleepiq/test_config_flow.py
  tests/components/sleepiq/test_init.py
  tests/components/sleepiq/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Add Shelly gen2 error sensors
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
Due: mypy

Bump hass-nabucasa to 0.53.0
  homeassistant/components/cloud/http_api.py
  homeassistant/components/cloud/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/cloud/test_http_api.py
Due: mypy, gen_requirements_all, hassfest

Dependency Bump on Intellifire Lib (#66814)
  homeassistant/components/intellifire/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump frontend to 20220203.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fixes from review
  homeassistant/components/edl21/__init__.py
  homeassistant/components/edl21/config_flow.py
  homeassistant/components/edl21/sensor.py
  homeassistant/components/edl21/translations/de.json
Due: mypy

Modify from review
  homeassistant/components/workday/binary_sensor.py
  tests/components/workday/test_binary_sensor.py
Due: mypy

cover
  tests/components/dhcp/test_init.py
Due: none

Bump aiohue to 4.2.1 (#66823)
  homeassistant/components/hue/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump frontend to 20220203.1 (#66827)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add functionality to play Spotify on Soundtouch integration
  homeassistant/components/soundtouch/manifest.json
  homeassistant/components/soundtouch/media_player.py
  tests/components/soundtouch/test_media_player.py
Due: mypy, gen_requirements_all, hassfest

Correct current temperature for tuya thermostats (#66715)
  homeassistant/components/tuya/climate.py
Due: mypy

Ensure new samsungtv token is updated in the config_entry (#66731)
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/bridge.py
Due: mypy

Bump pyinsteon to 1.0.16 (#66759)
  homeassistant/components/insteon/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
