Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Fix Netatmo wind angle (#41324)
  homeassistant/components/netatmo/sensor.py
Due: mypy

Update homeassistant/components/netatmo/sensor.py
  homeassistant/components/netatmo/sensor.py
Due: mypy

Use reference strings in Tile (#41328)
  homeassistant/components/tile/config_flow.py
  homeassistant/components/tile/strings.json
  tests/components/tile/test_config_flow.py
Due: mypy, hassfest

Fetch timers separately
  homeassistant/components/xiaomi_miio/vacuum.py
Due: mypy

Add Tasmota integration (#39624)
  CODEOWNERS
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/tasmota/__init__.py
  homeassistant/components/tasmota/config_flow.py
  homeassistant/components/tasmota/const.py
  homeassistant/components/tasmota/discovery.py
  homeassistant/components/tasmota/manifest.json
  homeassistant/components/tasmota/mixins.py
  homeassistant/components/tasmota/strings.json
  homeassistant/components/tasmota/switch.py
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/__init__.py
  tests/components/tasmota/conftest.py
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_config_flow.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_switch.py
  tests/conftest.py
Due: mypy, gen_requirements_all, hassfest

Bump hatasmota to 0.0.10, minor refactor of discovery
  homeassistant/components/tasmota/discovery.py
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Rewrite uk_transport tests to use pytest style (#41168)
  tests/components/uk_transport/test_sensor.py
Due: none

Update tests
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_switch.py
Due: none

Use name reference and fix already_configured string for GIOS integration (#41323)
  homeassistant/components/gios/strings.json
Due: hassfest

Improve switch template tests, remove common test helpers (#41322)
  tests/components/template/test_switch.py
Due: none

Update strings.json
  homeassistant/components/synology_dsm/strings.json
Due: hassfest

Rewrite imap_email_content tests to use pytest (#41200)
  tests/components/imap_email_content/test_sensor.py
Due: none

Add MQTT integration discovery
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/const.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/tasmota/config_flow.py
  homeassistant/components/tasmota/manifest.json
  homeassistant/components/tasmota/strings.json
  homeassistant/config_entries.py
  homeassistant/helpers/config_entry_flow.py
  homeassistant/helpers/config_entry_oauth2_flow.py
  homeassistant/loader.py
  homeassistant/requirements.py
  script/hassfest/__main__.py
  script/hassfest/config_flow.py
  script/hassfest/manifest.py
  tests/components/tasmota/test_config_flow.py
  tests/helpers/test_config_entry_flow.py
  tests/test_loader.py
  tests/test_requirements.py
Due: mypy, gen_requirements_all, hassfest

Handle somfy error 404 during setup (#41298)
  homeassistant/components/somfy/__init__.py
Due: mypy

Use dict syntax (#41325)
  homeassistant/components/arwn/sensor.py
  homeassistant/components/cast/media_player.py
  homeassistant/components/concord232/alarm_control_panel.py
  homeassistant/components/garadget/cover.py
  homeassistant/components/huawei_router/device_tracker.py
  homeassistant/components/nfandroidtv/notify.py
  homeassistant/components/numato/__init__.py
  homeassistant/components/nx584/alarm_control_panel.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/sms/gateway.py
  homeassistant/components/uvc/camera.py
  homeassistant/components/vivotek/camera.py
  homeassistant/setup.py
Due: mypy

Update config_flow.py
  homeassistant/components/synology_dsm/config_flow.py
Due: mypy

Update test_config_flow.py
  tests/components/synology_dsm/test_config_flow.py
Due: none

Add already_configured_location key
  homeassistant/strings.json
Due: none

Update assert statement constant value ordering
  tests/components/london_air/test_sensor.py
Due: none

Use already_configured_location in Airly
  homeassistant/components/airly/strings.json
Due: hassfest

Use already_configured_location in Flu Near You
  homeassistant/components/flunearyou/strings.json
Due: hassfest

Use already_configured_location in OpenUV
  homeassistant/components/openuv/strings.json
Due: hassfest

Use already_configured_location in Open Weather Map
  homeassistant/components/openweathermap/strings.json
Due: hassfest
