Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Bump gcal-sync to 6.0.4 (#114085)
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump tplink_omada to 1.3.12 for ER7212PC support (#114077)
  homeassistant/components/tplink_omada/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add vehicle config to coordinator to fix bug in Teslemetry (#113850)
  homeassistant/components/teslemetry/coordinator.py
Due: mypy, pylint

Improve blue current integration code (#114004)
  homeassistant/components/blue_current/__init__.py
  homeassistant/components/blue_current/entity.py
  homeassistant/components/blue_current/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/blue_current/__init__.py
  tests/components/blue_current/test_config_flow.py
  tests/components/blue_current/test_init.py
Due: mypy, pylint, gen_requirements_all, hassfest

Add more sensors & tests
  homeassistant/components/aurora_abb_powerone/coordinator.py
  homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/aurora_abb_powerone/strings.json
  tests/components/aurora_abb_powerone/test_sensor.py
Due: mypy, pylint, hassfest

Add icons.json
  homeassistant/components/aurora_abb_powerone/icons.json
Due: none

Typo
  homeassistant/components/aurora_abb_powerone/strings.json
Due: hassfest

Ruff
  homeassistant/components/teslemetry/sensor.py
Due: mypy, pylint

Correct units as per datasheet
  homeassistant/components/aurora_abb_powerone/sensor.py
Due: mypy, pylint

Fix
  tests/components/teslemetry/test_sensor.py
Due: none

Ensure discovery can create legacy device tracker platforms
  homeassistant/components/device_tracker/__init__.py
  homeassistant/components/device_tracker/legacy.py
  tests/components/device_tracker/test_init.py
Due: mypy, pylint

Update tests/components/device_tracker/test_init.py
  tests/components/device_tracker/test_init.py
Due: none

Fix flapping device_tracker test_bad_platform test
  tests/components/device_tracker/test_init.py
Due: none

Fix
  tests/components/netatmo/snapshots/test_init.ambr
Due: none

cover
  tests/components/device_tracker/test_init.py
Due: none

Fix
  homeassistant/components/netatmo/sensor.py
Due: mypy, pylint

Generate updated requirements files
  requirements_all.txt
  requirements_test_all.txt
Due: none

Add more sensors to aurora_abb_powerone (part 2) (#114097)
  homeassistant/components/aurora_abb_powerone/coordinator.py
  homeassistant/components/aurora_abb_powerone/icons.json
  homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/aurora_abb_powerone/strings.json
  tests/components/aurora_abb_powerone/test_sensor.py
Due: mypy, pylint, hassfest

Allow float for int argument type [pylint plugin]
  homeassistant/components/xiaomi_miio/humidifier.py
  homeassistant/util/percentage.py
  pylint/plugins/hass_enforce_type_hints.py
  tests/pylint/test_enforce_type_hints.py
Due: mypy, pylint

Replace if in range check
  homeassistant/components/ecobee/climate.py
Due: mypy, pylint

Fix tests trace component
  tests/components/trace/test_websocket_api.py
Due: none

Fix script errors
  tests/helpers/test_script.py
Due: none

Add reconfigure flow to Axis integration (#114067)
  homeassistant/components/axis/config_flow.py
  tests/components/axis/test_config_flow.py
Due: mypy, pylint

get rid of duplicate entry addign
  homeassistant/components/lamarzocco/select.py
  tests/components/lamarzocco/snapshots/test_select.ambr
Due: mypy, pylint

fix-113982
  homeassistant/components/tado/__init__.py
Due: mypy, pylint

Fix flapping device_tracker test_bad_platform test (#114102)
  tests/components/device_tracker/test_init.py
Due: none

Tado: fix 113982 (#114109)
  homeassistant/components/tado/__init__.py
Due: mypy, pylint

Remove aux heat
  homeassistant/components/honeywell/climate.py
  tests/components/honeywell/snapshots/test_climate.ambr
  tests/components/honeywell/test_climate.py
Due: mypy, pylint

Move most uptime specific code to DataUpdateCoordinator
  homeassistant/components/glances/coordinator.py
  homeassistant/components/glances/sensor.py
Due: mypy, pylint

Improve google assistant diagnostics test
  tests/components/google_assistant/test_diagnostics.py
Due: none

Update types.py
  homeassistant/components/vicare/types.py
Due: mypy, pylint

Add last_reported after merge with upstream
  tests/components/glances/snapshots/test_sensor.ambr
Due: none

Fix launch library translation keys (#114093)
  homeassistant/components/launch_library/sensor.py
Due: mypy, pylint
