Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Remove commented-out line
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Delete unrelated file
  .hypothesis/unicode_data/14.0.0/charmap.json.gz
Due: none

Implement suggested
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Remove type-ignore's
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Shorten name as suggested
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Implement option 1 as requested
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Pass actuator via PlugwiseNumberEntity
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Let .get() return None
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Fix double indexing
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Update to Actuator | None
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Revert back to walrus
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Mypy run 5523242888 unused-ignore?
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Ignore operator (for now)
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Proper working code
  homeassistant/components/plugwise/number.py
Due: mypy, pylint

Migrate integration services (G-H) to support translations
  homeassistant/components/geniushub/services.yaml
  homeassistant/components/geniushub/strings.json
  homeassistant/components/google/services.yaml
  homeassistant/components/google/strings.json
  homeassistant/components/google_assistant/services.yaml
  homeassistant/components/google_assistant/strings.json
  homeassistant/components/google_assistant_sdk/services.yaml
  homeassistant/components/google_assistant_sdk/strings.json
  homeassistant/components/google_mail/services.yaml
  homeassistant/components/google_mail/strings.json
  homeassistant/components/google_sheets/services.yaml
  homeassistant/components/google_sheets/strings.json
  homeassistant/components/guardian/services.yaml
  homeassistant/components/guardian/strings.json
  homeassistant/components/habitica/services.yaml
  homeassistant/components/habitica/strings.json
  homeassistant/components/harmony/services.yaml
  homeassistant/components/harmony/strings.json
  homeassistant/components/hdmi_cec/services.yaml
  homeassistant/components/hdmi_cec/strings.json
  homeassistant/components/heos/services.yaml
  homeassistant/components/heos/strings.json
  homeassistant/components/hive/services.yaml
  homeassistant/components/hive/strings.json
  homeassistant/components/home_connect/services.yaml
  homeassistant/components/home_connect/strings.json
  homeassistant/components/homekit/services.yaml
  homeassistant/components/homekit/strings.json
  homeassistant/components/homematic/services.yaml
  homeassistant/components/homematic/strings.json
  homeassistant/components/homematicip_cloud/services.yaml
  homeassistant/components/homematicip_cloud/strings.json
  homeassistant/components/html5/services.yaml
  homeassistant/components/html5/strings.json
  homeassistant/components/huawei_lte/services.yaml
  homeassistant/components/huawei_lte/strings.json
  homeassistant/components/hue/services.yaml
  homeassistant/components/hue/strings.json
Due: hassfest

Migrate integration services (I-K) to support translations
  homeassistant/components/icloud/services.yaml
  homeassistant/components/icloud/strings.json
  homeassistant/components/ifttt/services.yaml
  homeassistant/components/ifttt/strings.json
  homeassistant/components/ihc/services.yaml
  homeassistant/components/ihc/strings.json
  homeassistant/components/insteon/services.yaml
  homeassistant/components/insteon/strings.json
  homeassistant/components/iperf3/services.yaml
  homeassistant/components/iperf3/strings.json
  homeassistant/components/isy994/services.yaml
  homeassistant/components/isy994/strings.json
  homeassistant/components/izone/services.yaml
  homeassistant/components/izone/strings.json
  homeassistant/components/keba/services.yaml
  homeassistant/components/keba/strings.json
  homeassistant/components/kef/services.yaml
  homeassistant/components/kef/strings.json
  homeassistant/components/keyboard/services.yaml
  homeassistant/components/keyboard/strings.json
  homeassistant/components/keymitt_ble/services.yaml
  homeassistant/components/keymitt_ble/strings.json
  homeassistant/components/knx/services.yaml
  homeassistant/components/knx/strings.json
  homeassistant/components/kodi/services.yaml
  homeassistant/components/kodi/strings.json
Due: hassfest

Migrate integration services (A) to support translations (#96362)
  homeassistant/components/abode/services.yaml
  homeassistant/components/abode/strings.json
  homeassistant/components/adguard/services.yaml
  homeassistant/components/adguard/strings.json
  homeassistant/components/ads/services.yaml
  homeassistant/components/ads/strings.json
  homeassistant/components/advantage_air/services.yaml
  homeassistant/components/advantage_air/strings.json
  homeassistant/components/aftership/services.yaml
  homeassistant/components/aftership/strings.json
  homeassistant/components/agent_dvr/services.yaml
  homeassistant/components/agent_dvr/strings.json
  homeassistant/components/alarmdecoder/services.yaml
  homeassistant/components/alarmdecoder/strings.json
  homeassistant/components/ambiclimate/services.yaml
  homeassistant/components/ambiclimate/strings.json
  homeassistant/components/amcrest/services.yaml
  homeassistant/components/amcrest/strings.json
  homeassistant/components/androidtv/services.yaml
  homeassistant/components/androidtv/strings.json
Due: hassfest

Migrate integration services (B-D) to support translations (#96363)
  homeassistant/components/alert/services.yaml
  homeassistant/components/alert/strings.json
  homeassistant/components/blackbird/services.yaml
  homeassistant/components/blackbird/strings.json
  homeassistant/components/blink/services.yaml
  homeassistant/components/blink/strings.json
  homeassistant/components/bluesound/services.yaml
  homeassistant/components/bluesound/strings.json
  homeassistant/components/bluetooth_tracker/services.yaml
  homeassistant/components/bluetooth_tracker/strings.json
  homeassistant/components/bond/services.yaml
  homeassistant/components/bond/strings.json
  homeassistant/components/browser/services.yaml
  homeassistant/components/browser/strings.json
  homeassistant/components/cast/services.yaml
  homeassistant/components/cast/strings.json
  homeassistant/components/channels/services.yaml
  homeassistant/components/channels/strings.json
  homeassistant/components/cloudflare/services.yaml
  homeassistant/components/cloudflare/strings.json
  homeassistant/components/color_extractor/services.yaml
  homeassistant/components/color_extractor/strings.json
  homeassistant/components/command_line/services.yaml
  homeassistant/components/command_line/strings.json
  homeassistant/components/counter/services.yaml
  homeassistant/components/counter/strings.json
  homeassistant/components/debugpy/services.yaml
  homeassistant/components/debugpy/strings.json
  homeassistant/components/deconz/services.yaml
  homeassistant/components/deconz/strings.json
  homeassistant/components/denonavr/services.yaml
  homeassistant/components/denonavr/strings.json
  homeassistant/components/dominos/services.yaml
  homeassistant/components/dominos/strings.json
  homeassistant/components/downloader/services.yaml
  homeassistant/components/downloader/strings.json
  homeassistant/components/duckdns/services.yaml
  homeassistant/components/duckdns/strings.json
  homeassistant/components/dynalite/services.yaml
  homeassistant/components/dynalite/strings.json
Due: hassfest

Fix ESPHome deep sleep devices staying unavailable after unexpected disconnect (#96353)
  homeassistant/components/esphome/manager.py
  tests/components/esphome/conftest.py
  tests/components/esphome/test_entity.py
Due: mypy, pylint

Migrate climate services to support translations (#96314)
  homeassistant/components/climate/services.yaml
  homeassistant/components/climate/strings.json
Due: hassfest

Migrate automation services to support translations (#96306)
  homeassistant/components/automation/services.yaml
  homeassistant/components/automation/strings.json
Due: hassfest

Migrate device_tracker services to support translations (#96320)
  homeassistant/components/device_tracker/services.yaml
  homeassistant/components/device_tracker/strings.json
Due: hassfest

Migrate image_processing services to support translations (#96328)
  homeassistant/components/image_processing/services.yaml
  homeassistant/components/image_processing/strings.json
Due: hassfest

Migrate button services to support translations (#96309)
  homeassistant/components/button/services.yaml
  homeassistant/components/button/strings.json
Due: hassfest

Migrate calendar services to support translations (#96310)
  homeassistant/components/calendar/services.yaml
  homeassistant/components/calendar/strings.json
Due: hassfest

Migrate cloud services to support translations (#96319)
  homeassistant/components/cloud/services.yaml
  homeassistant/components/cloud/strings.json
Due: hassfest
