Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Device automation triggers for stateless HomeKit accessories (#39090)
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/connection.py
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/device_trigger.py
  homeassistant/components/homekit_controller/strings.json
  homeassistant/components/homekit_controller/translations/en.json
  tests/components/homekit_controller/specific_devices/test_aqara_switch.py
  tests/components/homekit_controller/specific_devices/test_hue_bridge.py
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/homekit_controller/test_device_trigger.py
  tests/fixtures/homekit_controller/aqara_switch.json
Due: mypy, hassfest

Disable tqdm on CI
  script/hassfest/requirements.py
Due: none

Add test expect_reset false for bimonthly cycle in utility_meter component
  tests/components/utility_meter/test_sensor.py
Due: none

Corrected Black code formatting
  homeassistant/components/utility_meter/sensor.py
Due: mypy

Bump pyloopenergy library to 0.2.1 (#39919)
  CODEOWNERS
  homeassistant/components/loopenergy/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Corrected isort for .const import
  homeassistant/components/utility_meter/sensor.py
Due: mypy

Activate hassfest requirements CI check (#39940)
  .github/workflows/ci.yaml
  homeassistant/components/homekit_controller/manifest.json
  homeassistant/components/samsungtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
  script/hassfest/requirements.py
Due: gen_requirements_all, hassfest

Added game_icon to steam_online
  homeassistant/components/steam_online/sensor.py
Due: mypy

Use STATE_UNKNOWN constant in dlink and ecobee
  homeassistant/components/dlink/switch.py
  homeassistant/components/ecobee/sensor.py
Due: mypy

Use DEVICE_CLASS_WINDOW constant in various integrations
  homeassistant/components/brunt/cover.py
  homeassistant/components/deconz/cover.py
  homeassistant/components/fibaro/binary_sensor.py
  homeassistant/components/fritzbox/binary_sensor.py
  homeassistant/components/maxcube/binary_sensor.py
  homeassistant/components/notion/binary_sensor.py
  homeassistant/components/somfy_mylink/cover.py
Due: mypy

Use STATE_UNKNOWN constant in dlink and ecobee (#39948)
  homeassistant/components/dlink/switch.py
  homeassistant/components/ecobee/sensor.py
Due: mypy

Add template filter timedelta_seconds to create a timedelta from seconds (#39608)
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Due: mypy

Fix vizio async mock fixtures on Python 3.8.0 and .1
  tests/components/vizio/conftest.py
Due: none

Use DEVICE_CLASS_DOOR and DEVICE_CLASS_SMOKE in various integrations
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/fibaro/binary_sensor.py
  homeassistant/components/notion/binary_sensor.py
  homeassistant/components/satel_integra/binary_sensor.py
  homeassistant/components/spc/binary_sensor.py
  homeassistant/components/tahoma/binary_sensor.py
  homeassistant/components/wink/binary_sensor.py
Due: mypy

Remove unchecked return value in synology_dsm (#39929)
  homeassistant/components/synology_dsm/camera.py
Due: mypy

Use sound, vibration and safety device class constants in various integrations
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/ffmpeg_noise/binary_sensor.py
  homeassistant/components/meteoalarm/binary_sensor.py
  homeassistant/components/mysensors/binary_sensor.py
  homeassistant/components/nest/binary_sensor.py
  homeassistant/components/smartthings/binary_sensor.py
  homeassistant/components/wink/binary_sensor.py
Due: mypy

Fix wrong import
  homeassistant/components/concord232/binary_sensor.py
Due: mypy

Fix wrong imports
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/mysensors/binary_sensor.py
Due: mypy

Add children media class to children
  homeassistant/components/spotify/media_player.py
Due: mypy

Fix children_media_class for special folders
  homeassistant/components/plex/media_browser.py
Due: mypy

Use sound, vibration and safety device class constants in various integrations (#39952)
  homeassistant/components/concord232/binary_sensor.py
  homeassistant/components/ffmpeg_noise/binary_sensor.py
  homeassistant/components/meteoalarm/binary_sensor.py
  homeassistant/components/mysensors/binary_sensor.py
  homeassistant/components/nest/binary_sensor.py
  homeassistant/components/smartthings/binary_sensor.py
  homeassistant/components/wink/binary_sensor.py
Due: mypy

Improve tests for Broadlink devices (#39898)
  tests/components/broadlink/test_device.py
Due: none
