Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

address comments
  homeassistant/components/husqvarna_automower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/husqvarna_automower/common.py
  tests/components/husqvarna_automower/const.py
  tests/components/husqvarna_automower/fixtures/jwt
  tests/components/husqvarna_automower/fixtures/mower.json
  tests/components/husqvarna_automower/test_config_flow.py
  tests/components/husqvarna_automower/test_lawn_mower.py
  tests/components/husqvarna_automower/utils.py
Due: gen_requirements_all, hassfest

Cache translation_placeholders property
  homeassistant/helpers/entity.py
Due: mypy, pylint

Make translation_placeholders uncondotionally return dict
  homeassistant/helpers/entity.py
Due: mypy, pylint

Fall back to unsubstituted name in case of mismatch
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Due: mypy, pylint

Only replace failing translations with English
  homeassistant/helpers/translation.py
  tests/helpers/test_translation.py
  tests/testing_config/custom_components/test/translations/de.json
  tests/testing_config/custom_components/test/translations/en.json
  tests/testing_config/custom_components/test/translations/es.json
Due: mypy, pylint

Update snapshots
  tests/helpers/snapshots/test_entity.ambr
Due: none

Update frontend to 20240103.0 (#106942)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Change Tado deprecation version to 2024.7.0 (#106938)
  homeassistant/components/tado/device_tracker.py
Due: mypy, pylint

Bump version to 2024.1.0b7
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Addressing code review comments
  homeassistant/components/opengarage/__init__.py
  homeassistant/components/opengarage/button.py
  homeassistant/components/opengarage/strings.json
  tests/components/opengarage/test_button.py
Due: mypy, pylint, hassfest

Add button entity to reboot OpenGarage device
  homeassistant/components/opengarage/__init__.py
  homeassistant/components/opengarage/button.py
  homeassistant/components/opengarage/strings.json
  tests/components/opengarage/conftest.py
  tests/components/opengarage/test_button.py
Due: mypy, pylint, hassfest

QA, using ColorMode for lights capabilities
  homeassistant/components/govee_light_api/capability.py
  homeassistant/components/govee_light_api/light.py
Due: mypy, pylint

Another code-review fix
  homeassistant/components/opengarage/button.py
Due: mypy, pylint

Update homeassistant/components/opengarage/button.py
  homeassistant/components/opengarage/button.py
Due: mypy, pylint

Blow up on non stable releases
  homeassistant/helpers/entity.py
  tests/helpers/test_entity.py
Due: mypy, pylint

Fix creating cloud hook twice for mobile_app
  homeassistant/components/mobile_app/__init__.py
Due: mypy, pylint

Fix pr comment
  homeassistant/components/airthings_ble/__init__.py
Due: mypy, pylint

Fix creating cloud hook twice for mobile_app (#106945)
  homeassistant/components/mobile_app/__init__.py
Due: mypy, pylint

Update test_template.py
  tests/helpers/test_template.py
Due: none

Fix test
  tests/helpers/test_translation.py
Due: none

Update frontend to 20240103.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Modernise UPC Connect integration
  .coveragerc
  homeassistant/components/upc_connect/__init__.py
  homeassistant/components/upc_connect/config_flow.py
  homeassistant/components/upc_connect/const.py
  homeassistant/components/upc_connect/device_tracker.py
  homeassistant/components/upc_connect/manifest.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
Due: mypy, pylint, gen_requirements_all, hassfest

Remove duplicate assignment of `mean` and `statistical_mode` jinja2 filter
  homeassistant/helpers/template.py
Due: mypy, pylint

Only set precision if not configured.
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
Due: mypy, pylint

Update frontend to 20240103.1 (#106948)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Only set precision in modbus if not configured. (#106952)
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
Due: mypy, pylint

Removed double assignment of _attr_target_temperature_step in __init__ (#106611)
  homeassistant/components/modbus/climate.py
Due: mypy, pylint

fixup! Modernise UPC Connect integration
  homeassistant/components/nmap_tracker/manifest.json
  homeassistant/components/upc_connect/__init__.py
  homeassistant/components/upc_connect/device_tracker.py
Due: mypy, pylint, gen_requirements_all, hassfest

fixup! fixup! Modernise UPC Connect integration
  homeassistant/components/upc_connect/device_tracker.py
Due: mypy, pylint

Refactor drop sensor tests
  tests/components/drop_connect/common.py
  tests/components/drop_connect/test_sensor.py
Due: none

flexit_bacnet: set precision to halves for target temperature
  homeassistant/components/flexit_bacnet/climate.py
Due: mypy, pylint
