Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Use shorthand attribute for Coolmaster (#99211)
  homeassistant/components/coolmaster/climate.py
Due: mypy, pylint

Clean up Balboa entity (#99203)
  homeassistant/components/balboa/entity.py
Due: mypy, pylint

Remove polling interval property from Aurora (#99198)
  homeassistant/components/aurora/__init__.py
  homeassistant/components/aurora/const.py
  homeassistant/components/aurora/coordinator.py
Due: mypy, pylint

Enhance Androidtv remote config flow typing (#99144)
  homeassistant/components/androidtv_remote/config_flow.py
Due: mypy, pylint

Add Freebox Home battery sensor
  homeassistant/components/freebox/sensor.py
  tests/components/freebox/const.py
Due: mypy, pylint

Use `waiting` instead of `sync` in class name and methods
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
  tests/components/homeassistant_sky_connect/test_config_flow.py
  tests/components/homeassistant_yellow/test_config_flow.py
Due: mypy, pylint

Switcher fixing token empty, added Lights support for Runner
  homeassistant/components/switcher_kis/config_flow.py
  homeassistant/components/switcher_kis/cover.py
  homeassistant/components/switcher_kis/switch.py
Due: mypy, pylint

Test multiple DL devices
  homeassistant/components/wemo/wemo_device.py
  tests/components/wemo/test_wemo_device.py
Due: mypy, pylint

Add entity translations
  homeassistant/components/switcher_kis/sensor.py
  homeassistant/components/switcher_kis/strings.json
  homeassistant/components/switcher_kis/switch.py
Due: mypy, pylint, hassfest

Refactor Freebox Home categories
  homeassistant/components/freebox/camera.py
  homeassistant/components/freebox/const.py
  homeassistant/components/freebox/home_base.py
  homeassistant/components/freebox/router.py
Due: mypy, pylint

use entity_id for unique_id
  homeassistant/components/nextcloud/__init__.py
  homeassistant/components/nextcloud/entity.py
Due: mypy, pylint

Switcher fix cover logic
  homeassistant/components/switcher_kis/cover.py
Due: mypy, pylint

Fix tests
  homeassistant/components/switcher_kis/switch.py
  tests/components/switcher_kis/test_init.py
  tests/components/switcher_kis/test_sensor.py
Due: mypy, pylint

Use better names in test_dli_multi_wemo to clarify intent
  tests/components/wemo/test_wemo_device.py
Due: none

Use shorthand attributes for Daikin
  homeassistant/components/daikin/climate.py
  homeassistant/components/daikin/sensor.py
  homeassistant/components/daikin/switch.py
Due: mypy, pylint

Use shorthand attributes for Daikin
  homeassistant/components/daikin/switch.py
Due: mypy, pylint

Remove unique id from device name
  homeassistant/components/wemo/wemo_device.py
  tests/components/wemo/test_wemo_device.py
Due: mypy, pylint

add value function to sensor description
  homeassistant/components/nextcloud/sensor.py
Due: mypy, pylint

Fix test_dli_device_info
  tests/components/wemo/test_wemo_device.py
Due: none

fix user shares sensor
  homeassistant/components/nextcloud/sensor.py
Due: mypy, pylint

Fix Life360 reauthorization config flow
  homeassistant/components/life360/config_flow.py
  tests/components/life360/test_config_flow.py
Due: mypy, pylint

Add entity translations to Switcher kis (#99223)
  homeassistant/components/switcher_kis/button.py
  homeassistant/components/switcher_kis/climate.py
  homeassistant/components/switcher_kis/cover.py
  homeassistant/components/switcher_kis/sensor.py
  homeassistant/components/switcher_kis/strings.json
  homeassistant/components/switcher_kis/switch.py
  tests/components/switcher_kis/test_init.py
  tests/components/switcher_kis/test_sensor.py
Due: mypy, pylint, hassfest

Add feature to add measuring station via number
  homeassistant/components/waqi/config_flow.py
  homeassistant/components/waqi/strings.json
  tests/components/waqi/test_config_flow.py
Due: mypy, pylint, hassfest

reduce utcnow patching
  tests/components/gardena_bluetooth/conftest.py
  tests/components/modbus/conftest.py
  tests/components/modbus/test_binary_sensor.py
  tests/components/modbus/test_climate.py
  tests/components/modbus/test_cover.py
  tests/components/modbus/test_sensor.py
  tests/components/modbus/test_switch.py
Due: none

Add feature to add measuring station via number
  homeassistant/components/waqi/config_flow.py
Due: mypy, pylint

unifi test
  tests/components/unifi/test_device_tracker.py
Due: none

Opower add new virtual integrations ConEd and ORU
  homeassistant/components/coned/__init__.py
  homeassistant/components/coned/manifest.json
  homeassistant/components/oru_opower/__init__.py
  homeassistant/components/oru_opower/manifest.json
  homeassistant/generated/integrations.json
Due: mypy, pylint, gen_requirements_all, hassfest

Switch async_track_time_interval to use async_call_later internally (#99220)
  homeassistant/helpers/event.py
  tests/components/gardena_bluetooth/conftest.py
  tests/components/modbus/conftest.py
  tests/components/modbus/test_binary_sensor.py
  tests/components/modbus/test_climate.py
  tests/components/modbus/test_cover.py
  tests/components/modbus/test_sensor.py
  tests/components/modbus/test_switch.py
  tests/components/unifi/test_device_tracker.py
Due: mypy, pylint

Renson binary sensors (#94490)
  .coveragerc
  homeassistant/components/renson/__init__.py
  homeassistant/components/renson/binary_sensor.py
  homeassistant/components/renson/strings.json
Due: mypy, pylint, hassfest

Add Options Flow to change radius after initial configuration (#97285)
  homeassistant/components/airnow/__init__.py
  homeassistant/components/airnow/config_flow.py
  homeassistant/components/airnow/strings.json
  tests/components/airnow/conftest.py
  tests/components/airnow/snapshots/test_diagnostics.ambr
  tests/components/airnow/test_config_flow.py
Due: mypy, pylint, hassfest

Update homeassistant/components/fastdotcom/config_flow.py
  homeassistant/components/fastdotcom/config_flow.py
Due: mypy, pylint

Update homeassistant/components/fastdotcom/strings.json
  homeassistant/components/fastdotcom/strings.json
Due: hassfest
