Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((homeassistant|pylint|script|tests)/.+)?[^/]+\.(py|pyi)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=astroid,checkin,currenty,hass,iif,incomfort,lookin,nam,NotIn
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^tests/fixtures/|homeassistant/generated/|tests/components/.*/snapshots/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.6.0
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py311-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(homeassistant|pylint)/.+\.(py|pyi)$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
        language: script
        types_or: [python, pyi]
        files: ^(homeassistant|tests)/.+\.(py|pyi)$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
      - id: hassfest-metadata
        name: hassfest-metadata
        entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
      - id: hassfest-mypy-config
        name: hassfest-mypy-config
        entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Bring emoncms coverage to 100% (#130092)
  tests/components/emoncms/test_config_flow.py
Due: none

Trigger full CI run on homeassistant_hardware integration changes (#130129)
  .core_files.yaml
Due: none

load_data use DOMAIN
  tests/components/nordpool/conftest.py
Due: none

Update test URL to match stookwijzer v1.5.0
  tests/components/stookwijzer/__init__.py
Due: none

Update tests/components/suez_water/test_config_flow.py
  tests/components/suez_water/test_config_flow.py
Due: none

Suez water: simplify config flow (#130083)
  homeassistant/components/suez_water/config_flow.py
  homeassistant/components/suez_water/strings.json
  tests/components/suez_water/test_config_flow.py
Due: hassfest

Move host string parsing into its own method
  homeassistant/components/tplink/config_flow.py
Due: none

Fix issue when timestamp is None. Check first for None before applying isoformat on it
  homeassistant/components/seventeentrack/services.py
  tests/components/seventeentrack/snapshots/test_services.ambr
  tests/components/seventeentrack/test_services.py
Due: none

improvements
  homeassistant/components/swiss_public_transport/__init__.py
  homeassistant/components/swiss_public_transport/config_flow.py
  homeassistant/components/swiss_public_transport/const.py
  homeassistant/components/swiss_public_transport/helper.py
  homeassistant/components/swiss_public_transport/strings.json
  tests/components/swiss_public_transport/test_config_flow.py
  tests/components/swiss_public_transport/test_init.py
Due: hassfest

Bump uv to 0.5.0 (#130127)
  Dockerfile
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
  script/hassfest/docker/Dockerfile
Due: gen_requirements_all, hassfest-metadata

snapshot
  tests/components/nordpool/snapshots/test_sensor.ambr
Due: none

Add exceptions to test
  tests/components/nordpool/test_config_flow.py
Due: none

Move manual trigger entity tests
  tests/helpers/test_manual_trigger_entity.py
Due: none

Add binary sensor platform.
  homeassistant/components/lektrico/__init__.py
  homeassistant/components/lektrico/binary_sensor.py
  homeassistant/components/lektrico/strings.json
  tests/components/lektrico/fixtures/get_info.json
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
  tests/components/lektrico/test_binary_sensor.py
Due: hassfest

Replace binary sensor errors with binary sensors for each of it's attributes.
  homeassistant/components/lektrico/binary_sensor.py
  homeassistant/components/lektrico/strings.json
  tests/components/lektrico/fixtures/get_info.json
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
Due: hassfest

Add snapshots for binary_sensor.
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
Due: none

Add attributes to binary sensor.
  homeassistant/components/lektrico/binary_sensor.py
  tests/components/lektrico/fixtures/get_info.json
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
Due: none

Change the names of two binary sensors.
  homeassistant/components/lektrico/binary_sensor.py
  homeassistant/components/lektrico/strings.json
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
Due: hassfest

Remove attributes from binary sensor.
  homeassistant/components/lektrico/binary_sensor.py
Due: none

Change the display names of binary sensors.
  homeassistant/components/lektrico/strings.json
  tests/components/lektrico/snapshots/test_binary_sensor.ambr
Due: hassfest

Enable overriding connection port for tplink devices (#129619)
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/config_flow.py
  tests/components/tplink/conftest.py
  tests/components/tplink/test_config_flow.py
Due: none

Initial Victron support.
  CODEOWNERS
  homeassistant/components/victronvenus/__init__.py
  homeassistant/components/victronvenus/_hubcontrol.py
  homeassistant/components/victronvenus/_topicmap.py
  homeassistant/components/victronvenus/_unwrappers.py
  homeassistant/components/victronvenus/config_flow.py
  homeassistant/components/victronvenus/const.py
  homeassistant/components/victronvenus/data_classes.py
  homeassistant/components/victronvenus/manifest.json
  homeassistant/components/victronvenus/sensor.py
  homeassistant/components/victronvenus/strings.json
  homeassistant/components/victronvenus/victronvenus_base.py
  homeassistant/components/victronvenus/victronvenus_device.py
  homeassistant/components/victronvenus/victronvenus_hub.py
  homeassistant/components/victronvenus/victronvenus_sensor.py
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  homeassistant/generated/ssdp.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/victronvenus/__init__.py
  tests/components/victronvenus/conftest.py
  tests/components/victronvenus/test_config_flow.py
  tests/components/victronvenus/test_hub_device_sensors.py
Due: gen_requirements_all, hassfest

Use TemplateStateFromEntityId in ManualTriggerEntity
  homeassistant/helpers/trigger_template_entity.py
Due: none

ensure mac is formatted
  homeassistant/components/acaia/config_flow.py
Due: none

Remove Z-Wave incorrect lock service descriptions (#130034)
  homeassistant/components/zwave_js/services.yaml
  homeassistant/components/zwave_js/strings.json
Due: hassfest

Use TemplateStateFromEntityId in Template trigger entity
  homeassistant/components/template/trigger_entity.py
Due: none

define MEGA/GIGA/TERA WATT as deprecated
  homeassistant/const.py
Due: hassfest-metadata

Drop OptionsFlowWithConfigEntry usage in homeassistant_hardware (#130078)
  homeassistant/components/homeassistant_hardware/firmware_config_flow.py
Due: none

revert
  homeassistant/const.py
Due: hassfest-metadata

make timestamp optional
  homeassistant/components/seventeentrack/services.py
  tests/components/seventeentrack/snapshots/test_services.ambr
Due: none

Add go2rtc workaround for HA managed one until upstream fixes it
  homeassistant/components/go2rtc/__init__.py
  homeassistant/components/go2rtc/const.py
  homeassistant/components/go2rtc/server.py
  tests/components/go2rtc/test_init.py
  tests/components/go2rtc/test_server.py
Due: none

Update homeassistant/components/seventeentrack/services.py
  homeassistant/components/seventeentrack/services.py
Due: none

Bump spotifyaio to 0.8.7
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
