Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Add diagnostics support to Stookalert
  homeassistant/components/stookalert/diagnostics.py
Due: mypy

Improve seperation of lookin udp listener and typing (#64742)
  homeassistant/components/lookin/__init__.py
Due: mypy

Enhancements for diagnostics platform (#64670)
  homeassistant/components/diagnostics/__init__.py
  tests/components/diagnostics/__init__.py
  tests/components/diagnostics/test_init.py
Due: mypy

Clean up Notion config tests (#64669)
  tests/components/notion/conftest.py
  tests/components/notion/test_config_flow.py
Due: none

Clean up AirVisual config flow tests (#64714)
  tests/components/airvisual/test_config_flow.py
Due: none

Bump tensorflow to be compatible with python3.9
  homeassistant/components/tensorflow/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Lint
  homeassistant/components/tensorflow/manifest.json
Due: gen_requirements_all, hassfest

Have device enumeration tests use a const for '00:00:00:00:00:00'
  tests/components/homekit_controller/common.py
  tests/components/homekit_controller/specific_devices/test_anker_eufycam.py
  tests/components/homekit_controller/specific_devices/test_aqara_gateway.py
  tests/components/homekit_controller/specific_devices/test_aqara_switch.py
  tests/components/homekit_controller/specific_devices/test_arlo_baby.py
  tests/components/homekit_controller/specific_devices/test_connectsense.py
  tests/components/homekit_controller/specific_devices/test_ecobee3.py
  tests/components/homekit_controller/specific_devices/test_ecobee_occupancy.py
  tests/components/homekit_controller/specific_devices/test_eve_degree.py
  tests/components/homekit_controller/specific_devices/test_haa_fan.py
  tests/components/homekit_controller/specific_devices/test_homeassistant_bridge.py
  tests/components/homekit_controller/specific_devices/test_hue_bridge.py
  tests/components/homekit_controller/specific_devices/test_koogeek_ls1.py
  tests/components/homekit_controller/specific_devices/test_koogeek_p1eu.py
  tests/components/homekit_controller/specific_devices/test_koogeek_sw2.py
  tests/components/homekit_controller/specific_devices/test_lennox_e30.py
  tests/components/homekit_controller/specific_devices/test_lg_tv.py
  tests/components/homekit_controller/specific_devices/test_mysa_living.py
  tests/components/homekit_controller/specific_devices/test_netamo_doorbell.py
  tests/components/homekit_controller/specific_devices/test_rainmachine_pro_8.py
  tests/components/homekit_controller/specific_devices/test_ryse_smart_bridge.py
  tests/components/homekit_controller/specific_devices/test_simpleconnect_fan.py
  tests/components/homekit_controller/specific_devices/test_velux_gateway.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_flowerbud.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_vp3.py
Due: none

Update pipdeptree to 2.2.1 (#64746)
  requirements_test.txt
Due: none

De-duplicate generation of DeviceInfo dict from Accessory
  homeassistant/components/homekit_controller/__init__.py
  homeassistant/components/homekit_controller/connection.py
Due: mypy

Bump tensorflow to be compatible with python3.9 (#64732)
  homeassistant/components/tensorflow/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Fix For loops in _handle_coordinator_update()
  homeassistant/components/shelly/climate.py
Due: mypy

Diagnostics extended info adjustment
  homeassistant/components/diagnostics/__init__.py
Due: mypy

Fixing CI
  homeassistant/components/sensibo/climate.py
  homeassistant/components/sensibo/config_flow.py
  homeassistant/components/sensibo/const.py
  homeassistant/components/sensibo/coordinator.py
Due: mypy

Remove obsolete typing
  homeassistant/components/diagnostics/__init__.py
Due: mypy

Redact possibly sensitive information in deCONZ diagnostics data
  homeassistant/components/deconz/diagnostics.py
  tests/components/deconz/test_diagnostics.py
Due: mypy

Add config option to iotawatt for scan_interval
  homeassistant/components/iotawatt/__init__.py
  homeassistant/components/iotawatt/config_flow.py
  homeassistant/components/iotawatt/coordinator.py
  homeassistant/components/iotawatt/strings.json
  homeassistant/components/iotawatt/translations/en.json
  tests/components/iotawatt/test_config_flow.py
Due: mypy, hassfest

coordinator in untested
  .coveragerc
Due: hassfest

Redact possibly sensitive information in deCONZ diagnostics data (#64754)
  homeassistant/components/deconz/diagnostics.py
  tests/components/deconz/test_diagnostics.py
Due: mypy

Allow toggles (switches) state to be None (#64621)
  homeassistant/components/esphome/fan.py
  homeassistant/components/esphome/light.py
  homeassistant/components/esphome/switch.py
  homeassistant/components/freedompro/fan.py
  homeassistant/components/fritz/switch.py
  homeassistant/components/modbus/fan.py
  homeassistant/components/switchbot/switch.py
  homeassistant/components/zwave_js/fan.py
  homeassistant/components/zwave_js/switch.py
  homeassistant/helpers/entity.py
  tests/components/blebox/test_light.py
  tests/components/blebox/test_switch.py
  tests/components/rfxtrx/test_light.py
  tests/components/rfxtrx/test_switch.py
Due: mypy

Diagnostics extended info adjustment (#64752)
  homeassistant/components/diagnostics/__init__.py
Due: mypy

Add command template for MQTT button (#63838)
  homeassistant/components/mqtt/button.py
  tests/components/mqtt/test_button.py
Due: mypy
