Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Make debug log entry more useful
  homeassistant/components/foscam/camera.py
Due: mypy

Deprecate config and platform schemas
  homeassistant/components/foscam/__init__.py
  homeassistant/components/foscam/camera.py
Due: mypy

Simplify config_flow steps
  homeassistant/components/foscam/config_flow.py
Due: mypy

Add config_flow and stream selection to foscam
  .coveragerc
  homeassistant/components/foscam/__init__.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/foscam/config_flow.py
  homeassistant/components/foscam/const.py
  homeassistant/components/foscam/manifest.json
  homeassistant/components/foscam/strings.json
  homeassistant/components/foscam/translations/en.json
  homeassistant/generated/config_flows.py
Due: mypy, gen_requirements_all, hassfest

Add more debug details to running timeouts (#43644)
  homeassistant/bootstrap.py
  homeassistant/util/timeout.py
  tests/util/test_timeout.py
Due: mypy

Change rest sensors update interval for Shelly Motion (#44692)
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
Due: mypy

Print exception cause for PlatformNotReady
  homeassistant/helpers/entity_platform.py
Due: mypy

Guard unbound var for DSMR (#44673)
  homeassistant/components/dsmr/sensor.py
Due: mypy

Add index to old_state_id column for postgres and older databases (#44757)
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
Due: mypy

Update docker base image 2021.01.0 (#44761)
  build.json
Due: none

Fix bug with blink auth flow (#44769)
  homeassistant/components/blink/config_flow.py
Due: mypy

Fix knx.send service not accepting floats (#44802)
  homeassistant/components/knx/__init__.py
Due: mypy

Bumped version to 2021.1.0b2
  homeassistant/const.py
Due: mypy

Updated timeouts
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/config_flow.py
  homeassistant/components/shelly/const.py
Due: mypy

Small cleanup
  homeassistant/components/shelly/config_flow.py
Due: mypy

Fix + small cleanup of test code
  tests/components/shelly/test_config_flow.py
Due: none

Add config flow testing
  .coveragerc
  requirements_test_all.txt
  tests/components/foscam/__init__.py
  tests/components/foscam/test_config_flow.py
Due: none

Improve test coverage
  .coveragerc
  tests/components/foscam/test_config_flow.py
Due: none

Remove unneeded CONFIG_SCHEMA deprecation
  homeassistant/components/foscam/__init__.py
Due: mypy

Unload service by tracking loaded entries
  homeassistant/components/foscam/__init__.py
  homeassistant/components/foscam/camera.py
  homeassistant/components/foscam/const.py
Due: mypy

Add myself to codeowners for Shelly
  CODEOWNERS
  homeassistant/components/shelly/manifest.json
Due: gen_requirements_all, hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^homeassistant/.+/(manifest|strings)\.json$ and \.json$
