Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

airzone_cloud: sensor: refactor _attr_has_entity_name
  homeassistant/components/airzone_cloud/sensor.py
Due: mypy, pylint

Name things better.
  homeassistant/components/advantage_air/diagnostics.py
Due: mypy, pylint

Fix import
  tests/components/advantage_air/test_switch.py
Due: none

Remove reference to FAN map
  tests/components/advantage_air/test_climate.py
Due: none

Explicity use device name
  homeassistant/components/advantage_air/climate.py
Due: mypy, pylint

Allow username to be changed in reauth
  homeassistant/components/opower/config_flow.py
  homeassistant/components/opower/strings.json
Due: mypy, pylint, hassfest

Add super basic test
  tests/components/advantage_air/test_diagnostics.py
Due: none

Rename docstring
  tests/components/advantage_air/test_diagnostics.py
Due: none

Explicity use device name in Advantage Air (#95611)
  homeassistant/components/advantage_air/climate.py
Due: mypy, pylint

Refactor Airzone Cloud _attr_has_entity_name in sensor (#95609)
  homeassistant/components/airzone_cloud/sensor.py
Due: mypy, pylint

Add explicit device name to Google Mail
  homeassistant/components/google_mail/entity.py
Due: mypy, pylint

Add config flow for zodiac (#95447)
  homeassistant/components/zodiac/__init__.py
  homeassistant/components/zodiac/config_flow.py
  homeassistant/components/zodiac/const.py
  homeassistant/components/zodiac/manifest.json
  homeassistant/components/zodiac/sensor.py
  homeassistant/components/zodiac/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  tests/components/zodiac/test_config_flow.py
  tests/components/zodiac/test_sensor.py
Due: mypy, pylint, gen_requirements_all, hassfest

Fix explicit device naming for a-j
  homeassistant/components/abode/alarm_control_panel.py
  homeassistant/components/abode/camera.py
  homeassistant/components/abode/cover.py
  homeassistant/components/abode/light.py
  homeassistant/components/abode/lock.py
  homeassistant/components/abode/sensor.py
  homeassistant/components/abode/switch.py
  homeassistant/components/advantage_air/entity.py
  homeassistant/components/advantage_air/light.py
  homeassistant/components/anthemav/media_player.py
  homeassistant/components/broadlink/switch.py
  homeassistant/components/brottsplatskartan/sensor.py
  homeassistant/components/bsblan/climate.py
  homeassistant/components/devolo_home_control/devolo_multi_level_switch.py
  homeassistant/components/devolo_home_control/switch.py
  homeassistant/components/elgato/light.py
  homeassistant/components/homewizard/switch.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/jellyfin/media_player.py
  homeassistant/components/jellyfin/sensor.py
  homeassistant/components/jvc_projector/remote.py
Due: mypy, pylint

Fix black
  homeassistant/components/sensibo/climate.py
Due: mypy, pylint

Use explicit naming in Sensibo climate entity (#95591)
  homeassistant/components/sensibo/climate.py
Due: mypy, pylint

update permobil api version
  homeassistant/components/permobil/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

add new integration MyPermobil
  CODEOWNERS
  homeassistant/components/permobil/__init__.py
  homeassistant/components/permobil/config_flow.py
  homeassistant/components/permobil/const.py
  homeassistant/components/permobil/manifest.json
  homeassistant/components/permobil/sensor.py
  homeassistant/components/permobil/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/permobil/__init__.py
Due: mypy, pylint, gen_requirements_all, hassfest

improve documentation
  .coveragerc
  homeassistant/components/permobil/config_flow.py
  homeassistant/components/permobil/sensor.py
Due: mypy, pylint, hassfest

add config flow test
  homeassistant/components/permobil/config_flow.py
  homeassistant/components/permobil/sensor.py
  tests/components/permobil/conftest.py
  tests/components/permobil/test_config_flow.py
Due: mypy, pylint

Update typing-extensions to 4.7.0 (#95539)
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Fix explicit device naming for m-r
  homeassistant/components/melnor/switch.py
  homeassistant/components/open_meteo/weather.py
  homeassistant/components/openhome/update.py
  homeassistant/components/plugwise/climate.py
  homeassistant/components/prusalink/sensor.py
  homeassistant/components/rainbird/switch.py
  homeassistant/components/recollect_waste/calendar.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/ridwell/calendar.py
  homeassistant/components/rituals_perfume_genie/switch.py
Due: mypy, pylint

support heat_cool in hvac_modes
  homeassistant/components/matter/climate.py
Due: mypy, pylint

Fix Device Source
  homeassistant/components/derivative/sensor.py
  tests/components/derivative/test_sensor.py
Due: mypy, pylint

Fix Device Source
  homeassistant/components/integration/sensor.py
  tests/components/integration/test_sensor.py
Due: mypy, pylint

Fix Device Source
  homeassistant/components/threshold/binary_sensor.py
  tests/components/threshold/test_binary_sensor.py
Due: mypy, pylint

Add unique_id to Envisalink entities
  homeassistant/components/envisalink/alarm_control_panel.py
  homeassistant/components/envisalink/binary_sensor.py
  homeassistant/components/envisalink/sensor.py
  homeassistant/components/envisalink/switch.py
Due: mypy, pylint

Fix Device Source
  homeassistant/components/utility_meter/select.py
Due: mypy, pylint

Add entity translations to kaleidescape
  homeassistant/components/kaleidescape/entity.py
  homeassistant/components/kaleidescape/media_player.py
  homeassistant/components/kaleidescape/remote.py
  homeassistant/components/kaleidescape/sensor.py
  homeassistant/components/kaleidescape/strings.json
  tests/components/kaleidescape/test_sensor.py
Due: mypy, pylint, hassfest

Bump aioesphomeapi to 15.0.1
  homeassistant/components/esphome/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

address some review feedback
  homeassistant/components/matter/climate.py
Due: mypy, pylint

Update services.yaml
  homeassistant/components/persistent_notification/services.yaml
Due: hassfest

handle hvac mode param in set temp service
  homeassistant/components/matter/climate.py
Due: mypy, pylint

Add unique_id to Wirelesstag entities.
  homeassistant/components/wirelesstag/binary_sensor.py
  homeassistant/components/wirelesstag/sensor.py
  homeassistant/components/wirelesstag/switch.py
Due: mypy, pylint

Add ability to configure map icons for PurpleAir (#86124)
  homeassistant/components/purpleair/__init__.py
  homeassistant/components/purpleair/config_flow.py
  homeassistant/components/purpleair/const.py
  homeassistant/components/purpleair/strings.json
  tests/components/purpleair/test_config_flow.py
Due: mypy, pylint, hassfest
