Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Change trigger platform key to trigger (#124357)
  homeassistant/components/device_automation/__init__.py
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/llm.py
  tests/components/automation/test_init.py
  tests/components/automation/test_recorder.py
  tests/components/blueprint/test_websocket_api.py
  tests/components/config/test_automation.py
  tests/components/device_automation/test_init.py
  tests/helpers/test_config_validation.py
  tests/helpers/test_selector.py
  tests/testing_config/blueprints/automation/test_event_service.yaml
Due: mypy, pylint, hassfest-metadata

Use shorthand attributes in tesla_fleet device tracker (#126736)
  homeassistant/components/tesla_fleet/device_tracker.py
Due: mypy, pylint

Clean up entity registry for ring integration removed entities
  homeassistant/components/ring/binary_sensor.py
  homeassistant/components/ring/entity.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/ring/siren.py
  homeassistant/components/ring/strings.json
  homeassistant/components/ring/switch.py
  tests/components/ring/test_switch.py
Due: mypy, pylint, hassfest

Remove strings.json entry for the issue creation
  homeassistant/components/ring/strings.json
Due: hassfest

Remove issue creation for removed entities
  homeassistant/components/ring/entity.py
  tests/components/ring/test_switch.py
Due: mypy, pylint

Use bold to markup UI strings
  homeassistant/components/awair/strings.json
  homeassistant/components/calendar/strings.json
  homeassistant/components/deconz/strings.json
  homeassistant/components/dlna_dmr/strings.json
  homeassistant/components/ecobee/strings.json
  homeassistant/components/econet/strings.json
  homeassistant/components/ecovacs/strings.json
  homeassistant/components/ecowitt/strings.json
  homeassistant/components/elkm1/strings.json
  homeassistant/components/freebox/strings.json
  homeassistant/components/hassio/strings.json
  homeassistant/components/homematicip_cloud/strings.json
  homeassistant/components/kitchen_sink/strings.json
  homeassistant/components/mqtt/strings.json
  homeassistant/components/nexia/strings.json
  homeassistant/components/octoprint/strings.json
  homeassistant/components/onvif/strings.json
  homeassistant/components/ps4/strings.json
  homeassistant/components/roon/strings.json
  homeassistant/components/systemmonitor/strings.json
  homeassistant/components/tellduslive/strings.json
  homeassistant/components/tessie/strings.json
  homeassistant/components/weather/strings.json
  homeassistant/components/weatherflow/strings.json
  homeassistant/components/webostv/strings.json
  homeassistant/components/xiaomi_miio/strings.json
Due: hassfest

Use shorthand attributes in vodafone_station device tracker
  homeassistant/components/vodafone_station/device_tracker.py
Due: mypy, pylint

Change error message to trigger
  homeassistant/helpers/trigger.py
  tests/helpers/test_trigger.py
Due: mypy, pylint

Use bold to markup UI strings
  homeassistant/components/automation/strings.json
  homeassistant/components/homeassistant/strings.json
  homeassistant/components/nanoleaf/strings.json
Due: hassfest

remove TZ code (moved to PR #126679)
  tests/components/evohome/conftest.py
  tests/components/evohome/snapshots/test_init.ambr
  tests/components/evohome/snapshots/test_services.ambr
  tests/components/evohome/test_services.py
Due: none

Modify test to test remote and button
  tests/components/bang_olufsen/test_device_trigger.py
Due: none

Add eheimdigital integration
  CODEOWNERS
  homeassistant/components/eheimdigital/__init__.py
  homeassistant/components/eheimdigital/config_flow.py
  homeassistant/components/eheimdigital/const.py
  homeassistant/components/eheimdigital/coordinator.py
  homeassistant/components/eheimdigital/light.py
  homeassistant/components/eheimdigital/manifest.json
  homeassistant/components/eheimdigital/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  homeassistant/generated/zeroconf.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/eheimdigital/__init__.py
Due: mypy, pylint, gen_requirements_all, hassfest

Update tests/components/evohome/test_init.py
  tests/components/evohome/test_init.py
Due: none

Add check for missing trigger
  homeassistant/components/device_automation/__init__.py
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Due: mypy, pylint

Clean up variable
  homeassistant/components/matter/valve.py
Due: mypy, pylint

Fix test
  tests/components/websocket_api/test_commands.py
Due: none

Format
  homeassistant/components/matter/valve.py
Due: mypy, pylint

Fix ingress websocket forward not closing the websocket
  homeassistant/components/hassio/ingress.py
Due: mypy, pylint

Remove comment
  homeassistant/components/nightscout/sensor.py
Due: mypy, pylint

Add test for invalid sound mode
  tests/components/bang_olufsen/test_media_player.py
Due: none

Improve tests, delete py.typed
  homeassistant/components/stookwijzer/py.typed
  homeassistant/components/stookwijzer/sensor.py
  tests/components/stookwijzer/__init__.py
  tests/components/stookwijzer/test_init.py
Due: mypy, pylint

Added a white line before class
  homeassistant/components/nightscout/sensor.py
Due: mypy, pylint

bump jaraco.abode to 6.2.1
  homeassistant/components/abode/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Due: mypy, pylint

update abode user_data path to HA config
  homeassistant/components/abode/__init__.py
Due: mypy, pylint

Make Matter snapshot logic a shared function (#126744)
  tests/components/matter/common.py
  tests/components/matter/test_binary_sensor.py
  tests/components/matter/test_sensor.py
Due: none

Make MG_DL more default
  homeassistant/components/nightscout/sensor.py
Due: mypy, pylint

MG_DL must be defined
  homeassistant/components/nightscout/sensor.py
Due: mypy, pylint

Use shorthand attributes in mysensors device tracker (#126738)
  homeassistant/components/mysensors/device_tracker.py
Due: mypy, pylint

Fix
  homeassistant/helpers/config_validation.py
Due: mypy, pylint

Apply suggestions from code review
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Add pylint checks for fixture scope (#126723)
  pylint/plugins/hass_decorator.py
  tests/pylint/test_decorator.py
Due: mypy

Fix license check for new aiocache
  script/licenses.py
Due: none

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
