Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Improve command_line switch tests
  tests/components/command_line/test_switch.py
Due: none

Implementing feedback from @Kane610
  homeassistant/components/advantage_air/__init__.py
  homeassistant/components/advantage_air/climate.py
  homeassistant/components/advantage_air/config_flow.py
Due: mypy

Use the home assistant cast app to play camera streams from google assistant
  homeassistant/components/cast/const.py
  homeassistant/components/google_assistant/trait.py
Due: mypy

Correct tracked client list that aren't connected
  homeassistant/components/aruba_instant/config_flow.py
Due: mypy

Move const
  homeassistant/components/cast/const.py
  homeassistant/components/google_assistant/trait.py
  homeassistant/const.py
Due: mypy

Add tests & correct const name.
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  tests/components/zha/test_api.py
Due: mypy

Reorg channel handling for Homematic IP Cloud
  homeassistant/components/homematicip_cloud/binary_sensor.py
  homeassistant/components/homematicip_cloud/generic_entity.py
  homeassistant/components/homematicip_cloud/light.py
  homeassistant/components/homematicip_cloud/sensor.py
  homeassistant/components/homematicip_cloud/switch.py
Due: mypy

Upgrade paho-mqtt to 1.5.1 (#40703)
  homeassistant/components/mqtt/manifest.json
  homeassistant/components/shiftr/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix tests
  tests/components/google_assistant/test_smart_home.py
  tests/components/google_assistant/test_trait.py
Due: none

Change tests to use corresponding enum device_type
  homeassistant/components/zha/core/device.py
  tests/components/zha/common.py
  tests/components/zha/test_binary_sensor.py
  tests/components/zha/test_channels.py
  tests/components/zha/test_cover.py
  tests/components/zha/test_device.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_device_trigger.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_fan.py
  tests/components/zha/test_gateway.py
  tests/components/zha/test_light.py
  tests/components/zha/test_sensor.py
  tests/components/zha/test_switch.py
Due: mypy

Add Neighbors & Endpoint Names to zha/devices reply (#40748)
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  tests/components/zha/common.py
  tests/components/zha/test_api.py
  tests/components/zha/test_binary_sensor.py
  tests/components/zha/test_channels.py
  tests/components/zha/test_cover.py
  tests/components/zha/test_device.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_device_trigger.py
  tests/components/zha/test_discover.py
  tests/components/zha/test_fan.py
  tests/components/zha/test_gateway.py
  tests/components/zha/test_light.py
  tests/components/zha/test_sensor.py
  tests/components/zha/test_switch.py
Due: mypy

Remove TekSavvy Component, no longer available
  homeassistant/components/teksavvy/__init__.py
  homeassistant/components/teksavvy/manifest.json
  homeassistant/components/teksavvy/sensor.py
  tests/components/teksavvy/__init__.py
  tests/components/teksavvy/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Implement `track_states` template directive to manually set tracked states.
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Due: mypy

Update home_control_api version
  homeassistant/components/devolo_home_control/devolo_device.py
  homeassistant/components/devolo_home_control/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

centralized update using DataUpdateCoordinator
  homeassistant/components/govee/light.py
  homeassistant/components/govee/manifest.json
Due: mypy, gen_requirements_all, hassfest

updated requirements + isort
  homeassistant/components/govee/light.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

rm ais_ingress
  homeassistant/components/ais_ingress/__init__.py
  homeassistant/components/ais_ingress/const.py
  homeassistant/components/ais_ingress/manifest.json
Due: mypy, gen_requirements_all, hassfest

ais_web_zigbee2mqtt
  homeassistant/components/ais_web_zigbee2mqtt/const.py
  homeassistant/components/ais_web_zigbee2mqtt/manifest.json
Due: mypy, gen_requirements_all, hassfest

zigbbe2mqtt
  homeassistant/components/ais_web_zigbee2mqtt/__init__.py
Due: mypy

ais_web_zigbee2mqtt in config
  homeassistant/ais-dom-config/configuration.yaml
  homeassistant/components/ais_cloud/dom/radio_stations.json
Due: none

Handle Shelly channel names (if available) for emeters devices
  homeassistant/components/shelly/entity.py
Due: mypy

Added missing unit for signal strength
  homeassistant/const.py
Due: mypy

Added one more unit
  homeassistant/const.py
Due: mypy

Replaced string with variable
  homeassistant/components/blink/sensor.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/netgear_lte/sensor_types.py
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/sms/sensor.py
  homeassistant/components/wirelesstag/__init__.py
  homeassistant/components/wled/const.py
  homeassistant/components/wled/sensor.py
  tests/components/canary/test_sensor.py
  tests/components/huawei_lte/test_sensor.py
  tests/components/rfxtrx/test_sensor.py
  tests/components/wled/test_sensor.py
  tests/testing_config/custom_components/test/sensor.py
Due: mypy

Fix import
  tests/components/rfxtrx/test_sensor.py
Due: none

Fixed wrong import
  homeassistant/components/blink/sensor.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/ring/sensor.py
  homeassistant/components/wirelesstag/__init__.py
Due: mypy

Migrate changes from Manual Alarm into Manual_MQTT Change "pending" to "arming" Update MQTT state-changes to add "arming_*" states NB: Breaking change in config and MQTT interfaces
  homeassistant/components/manual_mqtt/alarm_control_panel.py
Due: mypy

Update component name to include "alarm"
  homeassistant/components/manual_mqtt/__init__.py
  homeassistant/components/manual_mqtt/manifest.json
Due: mypy, gen_requirements_all, hassfest

Replaced string with variable
  homeassistant/components/blink/sensor.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/wirelesstag/__init__.py
  tests/components/rfxtrx/test_sensor.py
Due: mypy

Fixed wrong import
  homeassistant/components/blink/sensor.py
  homeassistant/components/canary/sensor.py
  homeassistant/components/wirelesstag/__init__.py
Due: mypy

Black
  tests/components/rfxtrx/test_sensor.py
Due: none

Apply suggestions from code review
  tests/components/huawei_lte/test_sensor.py
  tests/components/rfxtrx/test_sensor.py
Due: none

Again a fix :-(
  tests/components/rfxtrx/test_sensor.py
Due: none

iSort
  tests/components/huawei_lte/test_sensor.py
Due: none

iSort after merge
  homeassistant/components/rfxtrx/__init__.py
Due: mypy

Bump ZHA quirks lib to 0.0.45
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
