Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Improve performance of generate diffs of state change events (#124601)
  homeassistant/components/websocket_api/messages.py
Due: mypy, pylint

conventional operation state usage
  homeassistant/components/overkiz/water_heater_entities/atlantic_domestic_hot_water_production_mlb_component.py
Due: mypy, pylint

Prevent duplicating constraints during schema migration
  homeassistant/components/recorder/migration.py
  tests/components/recorder/test_migrate.py
Due: mypy, pylint

MartinHjelmare indentation request
  homeassistant/components/overkiz/binary_sensor.py
Due: mypy, pylint

Manual Mode binary sensor
  homeassistant/components/overkiz/binary_sensor.py
Due: mypy, pylint

Auto recover mqtt config entry secret if Mosquitto add-on was re-installed (#124514)
  homeassistant/components/mqtt/config_flow.py
  tests/components/mqtt/test_config_flow.py
Due: mypy, pylint

Revert "Use speex for noise suppression and auto gain (#124591)"
  homeassistant/components/assist_pipeline/audio_enhancer.py
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/voip/voip.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Revert "Use speex for noise suppression and auto gain" (#124620)
  homeassistant/components/assist_pipeline/audio_enhancer.py
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/voip/voip.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Handle LCN entity instances only in corresponding platform (#124589)
  homeassistant/components/lcn/binary_sensor.py
  homeassistant/components/lcn/climate.py
  homeassistant/components/lcn/cover.py
  homeassistant/components/lcn/light.py
  homeassistant/components/lcn/scene.py
  homeassistant/components/lcn/sensor.py
  homeassistant/components/lcn/switch.py
  homeassistant/components/lcn/websocket.py
Due: mypy, pylint

Update binary_sensor.py
  homeassistant/components/vicare/binary_sensor.py
Due: mypy, pylint

Bump 0.0.9 Address old comments in 113940
  homeassistant/components/linkplay/__init__.py
  homeassistant/components/linkplay/config_flow.py
  homeassistant/components/linkplay/manifest.json
  homeassistant/components/linkplay/utils.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Removed usage of unconventional operation states
  homeassistant/components/overkiz/water_heater_entities/atlantic_domestic_hot_water_production_mlb_component.py
Due: mypy, pylint

Add test showing we prefer tts entity over legacy tts provider
  tests/components/tts/test_init.py
Due: none

Prefer stt entity over legacy stt provider
  homeassistant/components/stt/__init__.py
  tests/components/stt/test_init.py
Due: mypy, pylint

Add test showing we prefer tts entity over legacy tts provider (#124624)
  tests/components/tts/test_init.py
Due: none

integration(touchlinesl): address review feedback
  homeassistant/components/touchlinesl/climate.py
  homeassistant/components/touchlinesl/config_flow.py
  homeassistant/components/touchlinesl/const.py
  tests/components/touchlinesl/test_config_flow.py
Due: mypy, pylint

Update icons.json
  homeassistant/components/sensor/icons.json
Due: none

Update to accept both motion and occupancy
  homeassistant/components/automation/blueprints/motion_light.yaml
Due: none

Update assist_pipeline tests
  tests/components/assist_pipeline/snapshots/test_init.ambr
  tests/components/assist_pipeline/snapshots/test_websocket.ambr
  tests/components/assist_pipeline/test_init.py
  tests/components/assist_pipeline/test_pipeline.py
  tests/components/assist_pipeline/test_websocket.py
Due: none

Update sensor.py
  homeassistant/components/bthome/sensor.py
Due: mypy, pylint

Send name or original name to frontend
  homeassistant/components/lcn/websocket.py
Due: mypy, pylint

Fix docstring
  homeassistant/components/lcn/websocket.py
Due: mypy, pylint

Use walrus operator
  homeassistant/components/lcn/websocket.py
Due: mypy, pylint

fixing issues with time-based statistics (peaks, incorrect values when values aren't changing) and provide values for statistical function even if only a single input value exists
  homeassistant/components/statistics/sensor.py
  tests/components/statistics/test_sensor.py
Due: mypy, pylint

fixing issues with time-based statistics (peaks, incorrect values when values aren't changing) and provide values for statistical function even if only a single input value exists
  CODEOWNERS
  homeassistant/components/statistics/manifest.json
Due: gen_requirements_all, hassfest

Add conductivity sensor to bthome (#124312)
  homeassistant/components/bthome/sensor.py
Due: mypy, pylint

Prefer stt entity over legacy stt provider (#124625)
  homeassistant/components/stt/__init__.py
  tests/components/assist_pipeline/snapshots/test_init.ambr
  tests/components/assist_pipeline/snapshots/test_websocket.ambr
  tests/components/assist_pipeline/test_init.py
  tests/components/assist_pipeline/test_pipeline.py
  tests/components/assist_pipeline/test_websocket.py
  tests/components/stt/test_init.py
Due: mypy, pylint

Bump cached-ipaddress to 0.5.0 (#124602)
  homeassistant/components/dhcp/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Reduce multiple calls to calculate sensor unit in tplink (#124606)
  homeassistant/components/tplink/sensor.py
Due: mypy, pylint

Exact _async_register_default_clientsession_shutdown
  homeassistant/components/linkplay/utils.py
Due: mypy, pylint

Split up sensor types
  homeassistant/components/solarlog/sensor.py
Due: mypy, pylint

Revert "Revert "Use speex for noise suppression and auto gain" (#124620)"
  homeassistant/components/assist_pipeline/audio_enhancer.py
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/voip/voip.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest
