Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Bump google-nest-sdm to 3.0.4 (#115731)
  homeassistant/components/nest/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Simplify labels and areas template calls (#115673)
  homeassistant/helpers/template.py
Due: mypy, pylint

Implement reconfigure step for enphase_envoy
  homeassistant/components/enphase_envoy/config_flow.py
  homeassistant/components/enphase_envoy/strings.json
  tests/components/enphase_envoy/conftest.py
  tests/components/enphase_envoy/test_config_flow.py
Due: mypy, pylint, hassfest

Bump Broadlink to 0.19.0 (#115742)
  homeassistant/components/broadlink/const.py
  homeassistant/components/broadlink/manifest.json
  homeassistant/components/broadlink/remote.py
  homeassistant/components/broadlink/switch.py
  homeassistant/components/broadlink/updater.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

fix incomplete mocking
  tests/components/bluetooth/test_init.py
Due: none

Migrate snooze config flow to use eager_start (#115658)
  homeassistant/components/snooz/config_flow.py
  tests/components/snooz/test_config_flow.py
Due: mypy, pylint

add test case
  homeassistant/components/vicare/fan.py
  tests/components/vicare/snapshots/test_fan.ambr
  tests/components/vicare/test_fan.py
Due: mypy, pylint

Bump habluetooth to 2.7.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

more missing mocks
  tests/components/bluetooth/test_init.py
Due: none

add mode
  tests/components/bluetooth/test_diagnostics.py
Due: none

Add sweep_frequency service
  homeassistant/components/remote/__init__.py
  homeassistant/components/remote/services.yaml
  homeassistant/components/remote/strings.json
Due: mypy, pylint, hassfest

Add max frequency
  homeassistant/components/remote/__init__.py
  homeassistant/components/remote/services.yaml
Due: mypy, pylint, hassfest

Add missing string and icon
  homeassistant/components/remote/icons.json
  homeassistant/components/remote/strings.json
Due: hassfest

lint
  homeassistant/components/knx/notify.py
Due: mypy, pylint

Keep legacy notify service and raise repair issue
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/notify.py
  homeassistant/components/knx/repairs.py
  homeassistant/components/knx/strings.json
  tests/components/knx/test_notify.py
  tests/components/knx/test_repairs.py
Due: mypy, pylint, hassfest

Migrate KNX notify service to entity platform
  homeassistant/components/knx/__init__.py
  homeassistant/components/knx/notify.py
  homeassistant/components/knx/schema.py
  tests/components/knx/test_notify.py
Due: mypy, pylint

test the repair flow
  tests/components/knx/test_repairs.py
Due: none

Update homeassistant/components/knx/notify.py
  homeassistant/components/knx/notify.py
Due: mypy, pylint

Use ws_client.send_json_auto_id
  tests/components/ecobee/test_repairs.py
Due: none

Add deprecation warning
  homeassistant/components/remote/__init__.py
Due: mypy, pylint

add missing features
  homeassistant/components/samsungtv/media_player.py
Due: mypy, pylint

Add sweep frequency service
  homeassistant/components/broadlink/remote.py
Due: mypy, pylint

Bump habluetooth to 2.7.0 (#115783)
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bluetooth/test_diagnostics.py
Due: gen_requirements_all, hassfest

Bump habluetooth to 2.8.0
  homeassistant/components/bluetooth/__init__.py
Due: mypy, pylint

fix snapshot
  homeassistant/components/samsungtv/media_player.py
  tests/components/samsungtv/snapshots/test_init.ambr
Due: mypy, pylint

bump lib
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

tweak
  homeassistant/components/bluetooth/diagnostics.py
Due: mypy, pylint

Update from PR feedback
  homeassistant/components/ambient_station/entity.py
Due: mypy, pylint

Skip bluetooth discovery for Bluetooth adapters in a crashed state
  homeassistant/components/bluetooth/__init__.py
Due: mypy, pylint

Use timeout from service options
  homeassistant/components/broadlink/remote.py
Due: mypy, pylint

Add return types and ServiceValidationError(s)
  homeassistant/components/qbittorrent/__init__.py
  homeassistant/components/qbittorrent/coordinator.py
  homeassistant/components/qbittorrent/strings.json
Due: mypy, pylint, hassfest

Bump bluetooth-auto-recovery to 1.4.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix naming
  homeassistant/components/qbittorrent/__init__.py
  homeassistant/components/qbittorrent/const.py
Due: mypy, pylint

Bump bluetooth-auto-recovery to 1.4.1 (#115792)
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fixing failing sanix tests
  tests/components/sanix/snapshots/test_sensor.ambr
Due: none

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
