Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Fix date observed is not sent by AirNow (#101921)
  homeassistant/components/airnow/const.py
  homeassistant/components/airnow/coordinator.py
  homeassistant/components/airnow/sensor.py
  tests/components/airnow/snapshots/test_diagnostics.ambr
Due: mypy, pylint

Revert "Update numpy to 1.26.1" (#102036)
  homeassistant/components/compensation/manifest.json
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/stream/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/gen_requirements_all.py
Due: gen_requirements_all, hassfest

Bump HAP-python to 4.9.0
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump zeroconf to 0.118.0 (#102015)
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Clean up Withings webhook (#102038)
  homeassistant/components/withings/__init__.py
  tests/components/withings/test_init.py
Due: mypy, pylint

Dynamically add sensors for new measurements in Withings (#102022)
  homeassistant/components/withings/sensor.py
  tests/components/withings/fixtures/get_meas_1.json
  tests/components/withings/test_sensor.py
Due: mypy, pylint

Mark Withings as cloud push (#102040)
  homeassistant/components/withings/manifest.json
  homeassistant/generated/integrations.json
Due: gen_requirements_all, hassfest

Allow to remove devices in Sensibo (#101890)
  homeassistant/components/sensibo/__init__.py
  tests/components/sensibo/test_init.py
Due: mypy, pylint

Bump SQLAlchemy to 2.0.22 (#102033)
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Apple TV remote: translate deprecated commands
  homeassistant/components/apple_tv/remote.py
  tests/components/apple_tv/test_remote.py
Due: mypy, pylint

Bump HAP-python to 4.9.0 (#102055)
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump pynina to 0.3.3 (#101960)
  homeassistant/components/nina/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add Withings to strict-typing (#101761)
  .strict-typing
  homeassistant/components/withings/__init__.py
  mypy.ini
Due: mypy, pylint, hassfest-mypy-config

Adjust WeatherFlow air density sensor device class and unit (#101777)
  homeassistant/components/weatherflow/sensor.py
Due: mypy, pylint

Make Withings bed presence sensor dynamic
  homeassistant/components/withings/binary_sensor.py
  tests/components/withings/test_binary_sensor.py
Due: mypy, pylint

Fix date observed is not sent by AirNow (#101921) (#101977)
  homeassistant/components/airnow/const.py
  homeassistant/components/airnow/coordinator.py
  homeassistant/components/airnow/sensor.py
  tests/components/airnow/snapshots/test_diagnostics.ambr
Due: mypy, pylint

Skip CalDAV calendars that do not support events
  homeassistant/components/caldav/calendar.py
  tests/components/caldav/test_calendar.py
Due: mypy, pylint

Add test covergae for fallback case
  tests/components/caldav/test_calendar.py
Due: none

add check
  homeassistant/components/recorder/migration.py
Due: mypy, pylint

Add diagnostics to Withings
  homeassistant/components/withings/coordinator.py
  homeassistant/components/withings/diagnostics.py
  tests/components/withings/snapshots/test_diagnostics.ambr
  tests/components/withings/test_diagnostics.py
Due: mypy, pylint

Promote Withings to Platinum quality
  homeassistant/components/withings/manifest.json
Due: gen_requirements_all, hassfest

Bump gcal_sync to 5.0.0 (#102010)
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/google/snapshots/test_diagnostics.ambr
Due: gen_requirements_all, hassfest

Add diagnostics to Withings (#102066)
  homeassistant/components/withings/coordinator.py
  homeassistant/components/withings/diagnostics.py
  tests/components/withings/snapshots/test_diagnostics.ambr
  tests/components/withings/test_diagnostics.py
Due: mypy, pylint

add fallback migration
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/queries.py
Due: mypy, pylint

add fallback migration
  homeassistant/components/recorder/migration.py
Due: mypy, pylint
