Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Update homeassistant/components/myuplink/sensor.py
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Removed unused class
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Remvoed firmware + connstate sensors
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Set device point entity name if there's no entity description
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Removed MyUplinkDeviceSensor
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Bump govee-ble to 0.27.0
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

.1
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add Govee H5106 support
  homeassistant/components/govee_ble/sensor.py
  tests/components/govee_ble/__init__.py
  tests/components/govee_ble/test_sensor.py
Due: mypy, pylint

0.27.2
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

key="celsius",
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Ensure backwards compatibility
  homeassistant/components/zabbix/__init__.py
Due: mypy, pylint

Change API according to discussion
  homeassistant/components/github/config_flow.py
  homeassistant/data_entry_flow.py
  tests/components/github/test_config_flow.py
  tests/test_data_entry_flow.py
Due: mypy, pylint

commit the tests
  tests/components/govee_ble/test_sensor.py
Due: none

change coordinator name
  homeassistant/components/electric_kiwi/sensor.py
Due: mypy, pylint

Revert "Revert "Add preselect_remember_me to `/auth/providers`"" (#106867)
  homeassistant/components/auth/login_flow.py
  homeassistant/components/person/__init__.py
  tests/components/auth/test_login_flow.py
  tests/components/person/test_init.py
Due: mypy, pylint

Fix switcher kis logging incorrect property for device's name (#107775)
  homeassistant/components/switcher_kis/switch.py
Due: mypy, pylint

fixes
  homeassistant/components/yolink/number.py
Due: mypy, pylint

vevor_heater: Address more PR comments.
  homeassistant/components/vevor_heater/__init__.py
  homeassistant/components/vevor_heater/config_flow.py
  homeassistant/components/vevor_heater/coordinator.py
  homeassistant/components/vevor_heater/sensor.py
  tests/components/vevor_heater/test_sensor.py
Due: mypy, pylint

vevor: Rename extractor to value_fn to follow convention.
  homeassistant/components/vevor_heater/sensor.py
Due: mypy, pylint

fixes as suggestion & remove Speker Hub service
  .coveragerc
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/services.py
  homeassistant/components/yolink/services.yaml
  homeassistant/components/yolink/strings.json
Due: mypy, pylint, hassfest

Add SpeakerHub support to YoLink (#104678)
  .coveragerc
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/number.py
  homeassistant/components/yolink/strings.json
Due: mypy, pylint, hassfest

Adjust typing
  homeassistant/data_entry_flow.py
Due: mypy, pylint

tidy up sensor translation names
  homeassistant/components/electric_kiwi/select.py
  homeassistant/components/electric_kiwi/sensor.py
  homeassistant/components/electric_kiwi/strings.json
  tests/components/electric_kiwi/test_sensor.py
Due: mypy, pylint, hassfest

aemet: disable legacy options
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/config_flow.py
  tests/components/aemet/snapshots/test_weather.ambr
  tests/components/aemet/test_sensor.py
  tests/components/aemet/test_weather.py
Due: mypy, pylint

Bump govee-ble to 0.27.2 (#107778)
  homeassistant/components/govee_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Improve ergonomics of FlowManager.async_show_progress (#107668)
  homeassistant/components/github/config_flow.py
  homeassistant/data_entry_flow.py
  tests/components/github/test_config_flow.py
  tests/test_data_entry_flow.py
Due: mypy, pylint

Improve the test class used for testing FlowManager.async_show_progress
  tests/test_data_entry_flow.py
Due: none

Add YoLink SpeakerHub Service
  .coveragerc
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/const.py
  homeassistant/components/yolink/services.py
  homeassistant/components/yolink/services.yaml
  homeassistant/components/yolink/strings.json
Due: mypy, pylint, hassfest

Improve calls to async_show_progress in google
  homeassistant/components/google/config_flow.py
  tests/components/google/test_config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in homeassistant_hardware
  homeassistant/components/homeassistant_hardware/silabs_multiprotocol_addon.py
  tests/components/homeassistant_hardware/test_silabs_multiprotocol_addon.py
  tests/components/homeassistant_sky_connect/test_config_flow.py
  tests/components/homeassistant_yellow/test_config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in improv_ble
  homeassistant/components/improv_ble/config_flow.py
  tests/components/improv_ble/test_config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in matter
  homeassistant/components/matter/config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in octoprint
  homeassistant/components/octoprint/config_flow.py
  tests/components/octoprint/test_config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in snooz
  homeassistant/components/snooz/config_flow.py
Due: mypy, pylint

Improve calls to async_show_progress in zwave_js
  homeassistant/components/zwave_js/config_flow.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
