Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

fix generated integrations.json
  homeassistant/generated/integrations.json
Due: none

Create core
  homeassistant/components/hassio/core
Due: none

Added new method for removing old entities
  homeassistant/components/smhi/additionaldatahandler.py
  homeassistant/components/smhi/firerisk/fire_risk_data_fetcher.py
  homeassistant/components/smhi/lightning_api.py
  homeassistant/components/smhi/smhi_geolocation_event.py
  homeassistant/components/smhi/warnings.py
  homeassistant/components/smhi/weather.py
  homeassistant/components/smhi/weather_locations.py
Due: mypy, pylint

Add missing state classes
  homeassistant/components/drop_connect/sensor.py
Due: mypy, pylint

Fixing homeID and strings.json
  homeassistant/components/tado/config_flow.py
  homeassistant/components/tado/strings.json
Due: mypy, pylint, hassfest

Remove "swap: none" from modbus (#104713)
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
  homeassistant/components/modbus/validators.py
  tests/components/modbus/test_sensor.py
Due: mypy, pylint

W-Z: add host field description (#104996)
  homeassistant/components/weatherflow/strings.json
  homeassistant/components/webostv/strings.json
  homeassistant/components/wled/strings.json
  homeassistant/components/yamaha_musiccast/strings.json
  homeassistant/components/yardian/strings.json
  homeassistant/components/yeelight/strings.json
  homeassistant/components/youless/strings.json
  homeassistant/components/zeversolar/strings.json
Due: hassfest

Add CB3 descriptor to ZHA manifest (#104071)
  homeassistant/components/zha/manifest.json
  homeassistant/generated/usb.py
Due: mypy, pylint, gen_requirements_all, hassfest

Late review updates for Blink (#104755)
  homeassistant/components/blink/__init__.py
  homeassistant/components/blink/services.py
  homeassistant/components/blink/strings.json
  tests/components/blink/test_services.py
Due: mypy, pylint, hassfest

Update Matter test fixtures to schema version 5 (#104829)
  tests/components/matter/fixtures/config_entry_diagnostics.json
  tests/components/matter/fixtures/config_entry_diagnostics_redacted.json
  tests/components/matter/fixtures/nodes/color-temperature-light.json
  tests/components/matter/fixtures/nodes/device_diagnostics.json
  tests/components/matter/fixtures/nodes/dimmable-light.json
  tests/components/matter/fixtures/nodes/door-lock-with-unbolt.json
  tests/components/matter/fixtures/nodes/door-lock.json
  tests/components/matter/fixtures/nodes/eve-contact-sensor.json
  tests/components/matter/fixtures/nodes/extended-color-light.json
  tests/components/matter/fixtures/nodes/flow-sensor.json
  tests/components/matter/fixtures/nodes/generic-switch-multi.json
  tests/components/matter/fixtures/nodes/generic-switch.json
  tests/components/matter/fixtures/nodes/humidity-sensor.json
  tests/components/matter/fixtures/nodes/light-sensor.json
  tests/components/matter/fixtures/nodes/occupancy-sensor.json
  tests/components/matter/fixtures/nodes/on-off-plugin-unit.json
  tests/components/matter/fixtures/nodes/onoff-light-alt-name.json
  tests/components/matter/fixtures/nodes/onoff-light-no-name.json
  tests/components/matter/fixtures/nodes/onoff-light.json
  tests/components/matter/fixtures/nodes/pressure-sensor.json
  tests/components/matter/fixtures/nodes/switch-unit.json
  tests/components/matter/fixtures/nodes/temperature-sensor.json
  tests/components/matter/fixtures/nodes/thermostat.json
  tests/components/matter/fixtures/nodes/window-covering_full.json
  tests/components/matter/fixtures/nodes/window-covering_lift.json
  tests/components/matter/fixtures/nodes/window-covering_pa-lift.json
  tests/components/matter/fixtures/nodes/window-covering_pa-tilt.json
  tests/components/matter/fixtures/nodes/window-covering_tilt.json
Due: none

Update Todoist config flow URL (#104992)
  homeassistant/components/todoist/config_flow.py
Due: mypy, pylint

Use deprecated_class decorator in deprecated YAML loader classes (#104835)
  homeassistant/util/yaml/loader.py
  tests/util/yaml/test_init.py
Due: mypy, pylint

Bump Mill library (#104836)
  homeassistant/components/mill/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix Harmony switch removal version (#104838)
  homeassistant/components/harmony/switch.py
Due: mypy, pylint

Filter out zero readings for DSMR enery sensors (#104843)
  homeassistant/components/dsmr/sensor.py
  tests/components/dsmr/test_sensor.py
Due: mypy, pylint

Fix handling of unrecognized mimetypes in Synology DSM photos integration (#104848)
  homeassistant/components/synology_dsm/media_source.py
Due: mypy, pylint

Lifx, Lutron: add host field description (#104855)
  homeassistant/components/lifx/strings.json
  homeassistant/components/lutron_caseta/strings.json
Due: hassfest

Modern Forms to MyStrom: add host field description (#104856)
  homeassistant/components/modern_forms/strings.json
  homeassistant/components/moehlenhoff_alpha2/strings.json
  homeassistant/components/mutesync/strings.json
  homeassistant/components/mystrom/strings.json
Due: hassfest

Nanoleaf to Nut: add host field description (#104857)
  homeassistant/components/nanoleaf/strings.json
  homeassistant/components/netgear/strings.json
  homeassistant/components/nfandroidtv/strings.json
  homeassistant/components/nuki/strings.json
  homeassistant/components/nut/strings.json
Due: hassfest

Obihai to OpenGarage: add host field description (#104858)
  homeassistant/components/obihai/strings.json
  homeassistant/components/octoprint/strings.json
  homeassistant/components/onewire/strings.json
  homeassistant/components/onvif/strings.json
  homeassistant/components/opengarage/strings.json
Due: hassfest

Ping to Qnap: add host field description (#104859)
  homeassistant/components/ping/strings.json
  homeassistant/components/progettihwsw/strings.json
  homeassistant/components/qnap/strings.json
Due: hassfest

Radio Thermostat to Renson: add host field description (#104860)
  homeassistant/components/radiotherm/strings.json
  homeassistant/components/rainbird/strings.json
  homeassistant/components/rainforest_eagle/strings.json
  homeassistant/components/renson/strings.json
Due: hassfest

Reolink to Ruckus: add host field description (#104861)
  homeassistant/components/reolink/strings.json
  homeassistant/components/rfxtrx/strings.json
  homeassistant/components/roomba/strings.json
  homeassistant/components/ruckus_unleashed/strings.json
Due: hassfest
