Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Motion Blinds integration add Brel dhcp discovery (#68938)
  homeassistant/components/motion_blinds/manifest.json
  homeassistant/generated/dhcp.py
Due: mypy, gen_requirements_all, hassfest

Update homeassistant/components/motion_blinds/gateway.py
  homeassistant/components/motion_blinds/gateway.py
Due: mypy

fix import
  homeassistant/components/motion_blinds/gateway.py
Due: mypy

Exclude ATTR_IN_PROGRESS from being recorded for update entities
  homeassistant/components/update/recorder.py
  tests/components/update/test_recorder.py
Due: mypy

add additional suggested one
  homeassistant/components/update/recorder.py
  tests/components/update/test_recorder.py
Due: mypy

Generic camera: Allow svg detect to accept leading whitespace (#68932)
  homeassistant/components/generic/config_flow.py
  tests/components/generic/test_config_flow.py
Due: mypy

Improve utility_meter services.yaml (#68930)
  homeassistant/components/utility_meter/services.yaml
Due: hassfest

Bump pylitterbot to 2022.3.0 (#68929)
  homeassistant/components/litterrobot/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Rename google hangouts and google chat
  homeassistant/components/hangouts/manifest.json
  homeassistant/components/hangouts/strings.json
  homeassistant/components/hangouts/translations/en.json
Due: gen_requirements_all, hassfest

Fix unit test returning lists as ZCL request responses
  tests/components/zha/test_channels.py
Due: none

Update device_trigger.py
  homeassistant/components/deconz/device_trigger.py
Due: mypy

Add test flow and update .coveragerc
  .coveragerc
  CODEOWNERS
  homeassistant/components/yolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/yolink/__init__.py
  tests/components/yolink/test_config_flow.py
Due: gen_requirements_all, hassfest

use `_attr_` form for mullvad and add _unique_id
  homeassistant/components/mullvad/binary_sensor.py
Due: mypy

Bump simplisafe-python to 2022.03.2 (#68915)
  homeassistant/components/simplisafe/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump aioguardian to 2022.03.0
  homeassistant/components/guardian/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Another bump
  homeassistant/components/guardian/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix google calendar blocking call, running outside of executor
  homeassistant/components/google/api.py
Due: mypy

Update homeassistant/components/generic/config_flow.py
  homeassistant/components/generic/config_flow.py
Due: mypy

Add support for new select selector properties
  homeassistant/helpers/selector.py
  tests/helpers/test_selector.py
Due: mypy

Update tests/components/update/test_recorder.py
  tests/components/update/test_recorder.py
Due: none

fix mode option
  homeassistant/helpers/selector.py
Due: mypy

Change privacy mode to config
  homeassistant/components/unifiprotect/switch.py
Due: mypy

Add test dat
  tests/components/zwave_js/fixtures/wallmote_central_scene_state.json
  tests/components/zwave_js/test_api.py
Due: none

Add comments to zwave_js node metadata WS API
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Due: mypy

Improve utility_meter services.yaml
  homeassistant/components/utility_meter/services.yaml
Due: hassfest

Revert "Update following python_awair bump"
  script/pip_check
Due: none

Revert "Update DEPENDENCY_CONFLICTS"
  script/pip_check
Due: none

Updated Command Class Name to match Z-Wave spec
  homeassistant/components/zwave_js/__init__.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
