Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Add fake humidity and dew point to test data (first interval only)
  tests/components/tomorrowio/snapshots/test_weather.ambr
  tests/components/tomorrowio/test_weather.py
Due: none

Fix inconsistency
  tests/components/tomorrowio/test_weather.py
Due: none

Update mypy to 1.5.1
  requirements_test.txt
Due: none

Apply suggestions from emontnemery's code review
  homeassistant/components/mqtt/alarm_control_panel.py
Due: mypy, pylint

Add invalid config tests for the MQTT Alarm Control Panel
  tests/components/mqtt/test_alarm_control_panel.py
Due: none

Bump package to v5.3.0
  homeassistant/components/garages_amsterdam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Load only the garages for cars
  homeassistant/components/garages_amsterdam/__init__.py
  homeassistant/components/garages_amsterdam/config_flow.py
Due: mypy, pylint

Address code review comments
  homeassistant/components/lyric/climate.py
Due: mypy, pylint

Update mypy to 1.5.1 (#98554)
  requirements_test.txt
Due: none

Set expected_features to None in the invalid MQTT Alarm Control Panel tests
  tests/components/mqtt/test_alarm_control_panel.py
Due: none

Add unit tests
  homeassistant/components/accuweather/const.py
  homeassistant/components/accuweather/weather.py
  homeassistant/components/buienradar/weather.py
  homeassistant/components/demo/weather.py
  homeassistant/components/dexcom/sensor.py
  homeassistant/components/environment_canada/weather.py
  homeassistant/components/eufylife_ble/sensor.py
  homeassistant/components/honeywell/climate.py
  homeassistant/components/honeywell/const.py
  homeassistant/components/honeywell/sensor.py
  homeassistant/components/kitchen_sink/weather.py
  homeassistant/components/meteoclimatic/const.py
  homeassistant/components/meteoclimatic/weather.py
  homeassistant/components/metoffice/const.py
  homeassistant/components/metoffice/sensor.py
  homeassistant/components/metoffice/weather.py
  homeassistant/components/nws/__init__.py
  homeassistant/components/nws/const.py
  homeassistant/components/nws/sensor.py
  homeassistant/components/nws/weather.py
  homeassistant/components/openweathermap/const.py
  homeassistant/components/openweathermap/weather_update_coordinator.py
  homeassistant/components/smhi/weather.py
  homeassistant/components/startca/sensor.py
  homeassistant/components/tomorrowio/weather.py
  homeassistant/core.py
  requirements_test.txt
  tests/components/esphome/test_entity.py
  tests/components/honeywell/test_climate.py
  tests/components/honeywell/test_init.py
  tests/components/honeywell/test_sensor.py
  tests/components/startca/test_sensor.py
  tests/components/tomorrowio/test_weather.py
Due: mypy, pylint

Make IKEA fan sensors diagnostic in ZHA (#97747)
  homeassistant/components/zha/binary_sensor.py
  homeassistant/components/zha/sensor.py
Due: mypy, pylint

adjust tests
  tests/components/lawn_mower/test_init.py
Due: none

fix refactoring error
  homeassistant/components/doorbird/__init__.py
Due: mypy, pylint

comment
  homeassistant/components/doorbird/__init__.py
Due: mypy, pylint

fix flume notifications not triggering
  homeassistant/components/flume/coordinator.py
Due: mypy, pylint

Expose dew point in Met.no (#98543)
  homeassistant/components/met/const.py
  homeassistant/components/met/manifest.json
  homeassistant/components/met/weather.py
  homeassistant/components/norway_air/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/met/conftest.py
Due: mypy, pylint, gen_requirements_all, hassfest

Fix config entry name
  tests/components/lawn_mower/test_init.py
Due: none

Test that pause was called
  tests/components/lawn_mower/test_init.py
Due: none

Fix Verisure config entry migration (#98546)
  homeassistant/components/verisure/__init__.py
Due: mypy, pylint

Bump odp-amsterdam to v5.3.0 (#98555)
  homeassistant/components/garages_amsterdam/__init__.py
  homeassistant/components/garages_amsterdam/config_flow.py
  homeassistant/components/garages_amsterdam/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Changed measurement to string.
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

assert entry state is not loaded
  tests/components/lawn_mower/test_init.py
Due: none

Changed from "measurement" to SensorStateClass
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

Code clean-up and optimizing base functionality
  .coveragerc
  homeassistant/components/fastdotcom/config_flow.py
  homeassistant/components/fastdotcom/const.py
  homeassistant/components/fastdotcom/coordinator.py
  homeassistant/components/fastdotcom/sensor.py
  homeassistant/components/fastdotcom/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
Due: mypy, pylint, hassfest

Add state_class to tomorrowio UV Index (#98541)
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

Pass dispatcher_signal to TractiveEntity as argument
  homeassistant/components/tractive/binary_sensor.py
  homeassistant/components/tractive/device_tracker.py
  homeassistant/components/tractive/entity.py
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/switch.py
Due: mypy, pylint

add extra parts that were missing
  tests/components/lawn_mower/test_init.py
Due: none

Improve availability of Tractive entities (#97091)
  homeassistant/components/tractive/__init__.py
  homeassistant/components/tractive/binary_sensor.py
  homeassistant/components/tractive/device_tracker.py
  homeassistant/components/tractive/entity.py
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/switch.py
Due: mypy, pylint

Send events to the debug log
  homeassistant/components/tractive/__init__.py
Due: mypy, pylint

Make repetier job start sensor timestamp an aware one, too
  homeassistant/components/repetier/sensor.py
Due: mypy, pylint

Formatting
  homeassistant/components/gogogate2/common.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
