Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Add tests for sensor and switch
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_switch.py
Due: none

Add default variables to script helper (#39895)
  homeassistant/components/automation/__init__.py
  homeassistant/components/script/__init__.py
  homeassistant/const.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/script.py
  homeassistant/helpers/template.py
  homeassistant/helpers/typing.py
  tests/components/automation/test_init.py
  tests/components/script/test_init.py
Due: mypy

Updated test_config_flow to follow recommended pattern.
  tests/components/omnilogic/test_config_flow.py
Due: none

Increase template test coverage. (#39908)
  tests/helpers/test_template.py
Due: none

Add zeroconf discovery to homekit (#39907)
  homeassistant/components/homekit/manifest.json
  homeassistant/generated/zeroconf.py
Due: mypy, gen_requirements_all, hassfest

Excluded sensor.py from test coverage tests.
  .coveragerc
Due: none

Upgrade numpy to 1.19.2 (#39912)
  homeassistant/components/iqvia/manifest.json
  homeassistant/components/opencv/manifest.json
  homeassistant/components/tensorflow/manifest.json
  homeassistant/components/trend/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Detect self-referencing loops in template entities and log a warning (#39897)
  homeassistant/components/template/template_entity.py
  homeassistant/helpers/event.py
  tests/components/template/test_sensor.py
Due: mypy

Fix discovery update of MQTT state templates (#39901)
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/cover.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/lock.py
  homeassistant/components/mqtt/sensor.py
  homeassistant/components/mqtt/switch.py
  tests/components/mqtt/test_alarm_control_panel.py
  tests/components/mqtt/test_binary_sensor.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_sensor.py
  tests/components/mqtt/test_switch.py
Due: mypy

Add exception for NoURLAvailableError in OAuth2FlowHandler (#39845)
  homeassistant/components/almond/strings.json
  homeassistant/components/home_connect/strings.json
  homeassistant/components/netatmo/strings.json
  homeassistant/components/smappee/strings.json
  homeassistant/components/somfy/strings.json
  homeassistant/components/spotify/strings.json
  homeassistant/components/toon/strings.json
  homeassistant/components/withings/strings.json
  homeassistant/helpers/config_entry_oauth2_flow.py
  homeassistant/strings.json
  tests/helpers/test_config_entry_oauth2_flow.py
Due: mypy, hassfest

Improve Roku media browser structure (#39754)
  homeassistant/components/roku/browse_media.py
  homeassistant/components/roku/media_player.py
Due: mypy

Install stdlib-list in script/bootstrap (#39866)
  script/bootstrap
Due: none

Disable Met.no hourly weather by default (#39867)
  homeassistant/components/met/weather.py
  tests/components/met/test_weather.py
  tests/components/onboarding/test_views.py
Due: mypy

Updated frontend to 20200909.0 (#39869)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump pysmappee to 0.2.13 (#39883)
  homeassistant/components/smappee/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix event trigger (#39884)
  homeassistant/components/homeassistant/triggers/event.py
  tests/components/homeassistant/triggers/test_event.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^homeassistant/.+/(manifest|strings)\.json$ and \.json$
