Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

bump pylint to 2.6.0
  requirements_test.txt
Due: none

bump astroid==2.4.2
  requirements_test.txt
Due: none

Black
  homeassistant/helpers/script.py
Due: mypy

Fix test
  tests/helpers/test_script.py
Due: none

Deprecate optional script context
  homeassistant/components/intent_script/__init__.py
  homeassistant/components/panasonic_viera/__init__.py
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/template/light.py
  homeassistant/components/webostv/media_player.py
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Due: mypy

Apply suggestions from code review
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/helpers/script.py
Due: mypy

correct naming
  homeassistant/components/devolo_home_control/cover.py
Due: mypy

Use SimpleQueue for recorder (#38967)
  homeassistant/components/recorder/__init__.py
  tests/components/recorder/test_purge.py
Due: mypy

Code review follow up
  homeassistant/components/kodi/config_flow.py
  homeassistant/components/kodi/strings.json
  tests/components/kodi/__init__.py
  tests/components/kodi/test_config_flow.py
Due: mypy, hassfest

Update websocket api to use async_track_template_result (#39057)
  homeassistant/components/websocket_api/commands.py
  tests/components/websocket_api/test_commands.py
Due: mypy

Lint
  homeassistant/components/template/trigger.py
Due: mypy

Deprecate optional script context (#39034)
  homeassistant/components/intent_script/__init__.py
  homeassistant/components/panasonic_viera/__init__.py
  homeassistant/components/panasonic_viera/media_player.py
  homeassistant/components/samsungtv/media_player.py
  homeassistant/components/template/light.py
  homeassistant/components/webostv/media_player.py
  homeassistant/helpers/script.py
  tests/helpers/test_script.py
Due: mypy

Skip the sqlite quick_check on clean restarts (#38972)
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/util.py
  tests/components/recorder/test_util.py
Due: mypy

add remote devices as binary sensors
  homeassistant/components/devolo_home_control/binary_sensor.py
Due: mypy

Prevent invalid data from being passed to zeroconf (#39009)
  homeassistant/components/zeroconf/__init__.py
  tests/components/zeroconf/test_init.py
Due: mypy

Simplify template integration entities (#39083)
  homeassistant/components/template/alarm_control_panel.py
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/cover.py
  homeassistant/components/template/fan.py
  homeassistant/components/template/light.py
  homeassistant/components/template/lock.py
  homeassistant/components/template/sensor.py
  homeassistant/components/template/switch.py
  homeassistant/components/template/template_entity.py
  homeassistant/components/template/vacuum.py
Due: mypy

Tweak websocket responses
  homeassistant/components/ozw/websocket_api.py
Due: mypy

More tweaks and update tests
  homeassistant/components/ozw/websocket_api.py
  tests/components/ozw/test_websocket_api.py
Due: mypy

Apply suggestions from code review
  tests/components/smart_meter_texas/test_init.py
Due: none

Update template triggers to use async_track_template_result (#39059)
  homeassistant/components/template/trigger.py
Due: mypy

Remove unused imports
  tests/components/smart_meter_texas/test_init.py
Due: none

Update homeassistant/components/wilight/strings.json
  homeassistant/components/wilight/strings.json
Due: hassfest

Add some tests
  tests/components/rfxtrx/test_config_flow.py
Due: none

Rework review comments 1
  homeassistant/components/rfxtrx/__init__.py
  homeassistant/components/rfxtrx/config_flow.py
  homeassistant/components/rfxtrx/const.py
Due: mypy

Make pylint happy
  homeassistant/components/rfxtrx/config_flow.py
Due: mypy

Remove commented code
  homeassistant/components/rfxtrx/__init__.py
Due: mypy
