Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Improve SRP Energy coordinator (#99010)
  homeassistant/components/srp_energy/coordinator.py
  tests/components/srp_energy/test_sensor.py
Due: mypy, pylint

Remove test classes
  tests/components/ffmpeg/test_sensor.py
Due: none

Rename test file
  tests/components/ffmpeg/test_binary_sensor.py
Due: none

Fix grammar
  homeassistant/components/reolink/select.py
Due: mypy, pylint

Reolink fix unknown value in select enums (#99012)
  homeassistant/components/reolink/select.py
Due: mypy, pylint

Replace mock_coro with AsyncMock
  tests/components/ecobee/test_config_flow.py
  tests/components/ios/test_init.py
  tests/components/logi_circle/test_config_flow.py
  tests/components/mill/test_init.py
  tests/components/mobile_app/test_http_api.py
  tests/components/onboarding/test_init.py
  tests/components/owntracks/test_device_tracker.py
  tests/components/spaceapi/test_init.py
  tests/components/spc/test_init.py
  tests/components/syncthru/test_config_flow.py
  tests/components/websocket_api/test_auth.py
  tests/components/zha/test_button.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_number.py
  tests/components/zha/test_siren.py
  tests/test_bootstrap.py
  tests/test_config_entries.py
Due: none

Migrate Venstar to has entity name
  homeassistant/components/venstar/__init__.py
  homeassistant/components/venstar/binary_sensor.py
  homeassistant/components/venstar/climate.py
  homeassistant/components/venstar/sensor.py
Due: mypy, pylint

Update AEMET-OpenData to v0.4.0
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/config_flow.py
  homeassistant/components/aemet/manifest.json
  homeassistant/components/aemet/weather_update_coordinator.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

test
  homeassistant/components/refoss/__init__.py
  homeassistant/components/refoss/coordinator.py
Due: mypy, pylint

Add typing to Venstar Config flow
  homeassistant/components/venstar/config_flow.py
Due: mypy, pylint

Update homeassistant/components/aurora_abb_powerone/sensor.py
  homeassistant/components/aurora_abb_powerone/sensor.py
Due: mypy, pylint

Add device for Vilfo
  homeassistant/components/vilfo/sensor.py
Due: mypy, pylint

Add missing "low" option
  homeassistant/components/tractive/sensor.py
  homeassistant/components/tractive/strings.json
Due: mypy, pylint, hassfest

Migrate Vulcan to has entity name
  homeassistant/components/vulcan/calendar.py
Due: mypy, pylint

Add entity translations to Wallbox
  homeassistant/components/wallbox/__init__.py
  homeassistant/components/wallbox/lock.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/sensor.py
  homeassistant/components/wallbox/strings.json
  homeassistant/components/wallbox/switch.py
Due: mypy, pylint, hassfest

Fix asyncio DeprecationWarning [3.12] (#98989)
  tests/components/ffmpeg/test_binary_sensor.py
  tests/components/ffmpeg/test_sensor.py
  tests/components/minecraft_server/test_config_flow.py
Due: none

Add entity translations to Wallbox
  tests/components/wallbox/const.py
  tests/components/wallbox/test_sensor.py
Due: none

Add entity translations to Wallbox
  homeassistant/components/wallbox/__init__.py
  tests/components/wallbox/const.py
  tests/components/wallbox/test_sensor.py
Due: mypy, pylint

Remove mock_coro test helper function
  tests/common.py
Due: none

Add entity translations to Wallbox
  homeassistant/components/wallbox/sensor.py
Due: mypy, pylint

Add device info to Watttime
  homeassistant/components/watttime/sensor.py
Due: mypy, pylint

Use snapshot assertion for Watttime diagnostics test
  tests/components/watttime/snapshots/test_diagnostics.ambr
  tests/components/watttime/test_diagnostics.py
Due: none

test
  homeassistant/components/refoss/__init__.py
Due: mypy, pylint

Update AEMET-OpenData to v0.4.0 (#99015)
  homeassistant/components/aemet/__init__.py
  homeassistant/components/aemet/config_flow.py
  homeassistant/components/aemet/manifest.json
  homeassistant/components/aemet/weather_update_coordinator.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Use pause resume
  homeassistant/components/wallbox/strings.json
  homeassistant/components/wallbox/switch.py
  tests/components/wallbox/const.py
Due: mypy, pylint, hassfest

Remove redundant AsyncMock
  tests/components/ecobee/test_config_flow.py
  tests/components/ios/test_init.py
  tests/components/mill/test_init.py
  tests/components/mobile_app/test_http_api.py
  tests/components/onboarding/test_init.py
  tests/components/owntracks/test_device_tracker.py
  tests/components/spaceapi/test_init.py
  tests/components/spc/test_init.py
  tests/components/syncthru/test_config_flow.py
  tests/components/websocket_api/test_auth.py
  tests/components/zha/test_button.py
  tests/components/zha/test_device_action.py
  tests/components/zha/test_number.py
  tests/components/zha/test_siren.py
  tests/test_bootstrap.py
Due: none

Use snapshot assertion for rdw diagnostics test
  tests/components/rdw/snapshots/test_diagnostics.ambr
  tests/components/rdw/test_diagnostics.py
Due: none

Avoid fetching state and charging state multiple time for hkc icon (#98995)
  homeassistant/components/homekit_controller/sensor.py
Due: mypy, pylint

Use freezegun in airly tests
  tests/components/airly/test_init.py
Due: none

Use freezegun in devolo_home_network tests
  tests/components/devolo_home_network/test_binary_sensor.py
  tests/components/devolo_home_network/test_sensor.py
Due: none

Use freezegun in fronius tests
  tests/components/fronius/test_coordinator.py
Due: none

Use snapshot assertion for rdw diagnostics test (#99027)
  tests/components/rdw/snapshots/test_diagnostics.ambr
  tests/components/rdw/test_diagnostics.py
Due: none

Use freezegun in fully_kiosk tests
  tests/components/fully_kiosk/test_binary_sensor.py
  tests/components/fully_kiosk/test_sensor.py
Due: none
