Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Bump aiowithings to 1.0.3 (#104530)
  homeassistant/components/withings/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update nibe heatpump dependency to 2.5.2 (#104526)
  homeassistant/components/nibe_heatpump/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove use of config_entry.async_setup
  tests/components/rainbird/test_init.py
Due: none

Add definitions for EcoNet water heaters' vacation mode
  homeassistant/components/econet/water_heater.py
  homeassistant/components/water_heater/__init__.py
  homeassistant/components/water_heater/group.py
  homeassistant/components/water_heater/reproduce_state.py
Due: mypy, pylint

Add support for air purifier type in HomeKit.
  homeassistant/components/homekit/type_air_purifiers.py
Due: mypy, pylint

Add support for air purifier type in HomeKit.
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/type_air_purifiers.py
  homeassistant/components/homekit/util.py
Due: mypy, pylint

Add test for auto/manual switch
  tests/components/homekit/test_type_air_purifiers.py
Due: none

Ensure all chars are added before creating service
  homeassistant/components/homekit/type_air_purifiers.py
  homeassistant/components/homekit/type_fans.py
Due: mypy, pylint

Refactor to make AirPurifier class extend Fan.
  homeassistant/components/homekit/type_air_purifiers.py
  homeassistant/components/homekit/type_fans.py
Due: mypy, pylint

Add support for switching automatic mode.
  homeassistant/components/homekit/type_air_purifiers.py
  homeassistant/components/homekit/type_fans.py
Due: mypy, pylint

Add alert to zwave_js device info page for custom device config (#104115)
  homeassistant/components/zwave_js/api.py
  tests/components/zwave_js/test_api.py
Due: mypy, pylint

fix translation key
  homeassistant/components/vicare/number.py
Due: mypy, pylint

Update related test-asserts
  tests/components/plugwise/test_climate.py
Due: none

Update relevant test-fixtures
  tests/components/plugwise/fixtures/anna_heatpump_heating/all_data.json
  tests/components/plugwise/fixtures/m_anna_heatpump_cooling/all_data.json
  tests/components/plugwise/fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Update plugwise to v0.34.3
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix hvac_modes list
  tests/components/plugwise/test_climate.py
Due: none

Adjust HomeWizard test fixtures to match actual devices
  tests/components/homewizard/fixtures/HWE-SKT/data.json
  tests/components/homewizard/fixtures/HWE-WTR/data.json
  tests/components/homewizard/fixtures/SDM230/data.json
  tests/components/homewizard/fixtures/SDM630/data.json
  tests/components/homewizard/snapshots/test_sensor.ambr
  tests/components/homewizard/test_sensor.py
Due: none

Fix translation key in ViCare integration (#104536)
  homeassistant/components/vicare/number.py
Due: mypy, pylint

Update missed test-assert
  tests/components/plugwise/test_climate.py
Due: none

Update diagnostics snapshot too
  tests/components/homewizard/snapshots/test_diagnostics.ambr
Due: none

Adjust HomeWizard test fixtures to match actual devices (#104537)
  tests/components/homewizard/fixtures/HWE-SKT/data.json
  tests/components/homewizard/fixtures/HWE-WTR/data.json
  tests/components/homewizard/fixtures/SDM230/data.json
  tests/components/homewizard/fixtures/SDM630/data.json
  tests/components/homewizard/snapshots/test_diagnostics.ambr
  tests/components/homewizard/snapshots/test_sensor.ambr
  tests/components/homewizard/test_sensor.py
Due: none

Remove duplicate tarif sensors on single phase HomeWizard meters
  homeassistant/components/homewizard/sensor.py
  tests/components/homewizard/snapshots/test_sensor.ambr
  tests/components/homewizard/test_sensor.py
Due: mypy, pylint

Apply suggestions from code review
  homeassistant/components/homewizard/sensor.py
Due: mypy, pylint

Migrate Epson to has entity name (#98164)
  homeassistant/components/epson/media_player.py
  tests/components/epson/test_media_player.py
Due: mypy, pylint

Remove duplicate sensors on single phase HomeWizard meters (#104493)
  homeassistant/components/homewizard/sensor.py
  tests/components/homewizard/snapshots/test_sensor.ambr
  tests/components/homewizard/test_sensor.py
Due: mypy, pylint

use async executor for get_circuits
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/number.py
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vicare/water_heater.py
Due: mypy, pylint

Move APCUPSd to separate file
  homeassistant/components/apcupsd/__init__.py
  homeassistant/components/apcupsd/const.py
  homeassistant/components/apcupsd/coordinator.py
Due: mypy, pylint

Fix tests
  tests/components/apcupsd/test_init.py
  tests/components/apcupsd/test_sensor.py
Due: none

use async executor for get_burners and get_compressors
  homeassistant/components/vicare/binary_sensor.py
  homeassistant/components/vicare/climate.py
  homeassistant/components/vicare/sensor.py
Due: mypy, pylint

Fix tests
  tests/components/apcupsd/test_init.py
Due: none

Add entity translations to Balboa
  homeassistant/components/balboa/binary_sensor.py
  homeassistant/components/balboa/climate.py
  homeassistant/components/balboa/entity.py
  homeassistant/components/balboa/strings.json
  tests/components/balboa/test_binary_sensor.py
  tests/components/balboa/test_climate.py
Due: mypy, pylint, hassfest

Add entity translations to Balboa
  homeassistant/components/balboa/entity.py
Due: mypy, pylint

Improve power switch behavior for locked HomeWizard devices
  homeassistant/components/homewizard/strings.json
  homeassistant/components/homewizard/switch.py
  tests/components/homewizard/test_switch.py
Due: mypy, pylint, hassfest

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
