Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Use explicit device name for Stookalert (#96755)
  homeassistant/components/stookalert/binary_sensor.py
Due: mypy, pylint

Prevent otbr creating multiple config entries (#96783)
  homeassistant/components/otbr/config_flow.py
  tests/components/otbr/test_config_flow.py
Due: mypy, pylint

Fix check for HA Yellow radio in otbr config flow (#96789)
  homeassistant/components/otbr/config_flow.py
  tests/components/otbr/test_config_flow.py
Due: mypy, pylint

Update PyYAML to 6.0.1 (#96800)
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Update pycocotools to 2.0.6 (#96831)
  homeassistant/components/tensorflow/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Add username to Reauth flow in Honeywell (#96850)
  homeassistant/components/honeywell/config_flow.py
  tests/components/honeywell/test_config_flow.py
Due: mypy, pylint

bump python-Roborock to 0.30.1 (#96877)
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Avoid infinite loop on corrupt stream recording (#96881)
  homeassistant/components/stream/fmp4utils.py
  tests/components/stream/test_worker.py
Due: mypy, pylint

Bump AIOSomecomfort to 0.0.15 in Honeywell (#96904)
  homeassistant/components/honeywell/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix timer switch in Sensibo (#96911)
  homeassistant/components/sensibo/switch.py
Due: mypy, pylint

Bumped version to 2023.7.3
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Fix bug in check_config when an integration is removed by its own validator (#96068)
  homeassistant/helpers/check_config.py
  tests/helpers/test_check_config.py
Due: mypy, pylint

Shell command response (#96695)
  homeassistant/components/shell_command/__init__.py
  tests/components/shell_command/test_init.py
Due: mypy, pylint

Disable wheels building for pycocotools
  requirements_all.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Implement data coordinator for LastFM
  homeassistant/components/lastfm/__init__.py
  homeassistant/components/lastfm/coordinator.py
  homeassistant/components/lastfm/sensor.py
Due: mypy, pylint

Fix broken service test
  tests/helpers/test_service.py
Due: none

Create an issue if push updates fail for Shelly gen1 devices (#96910)
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/coordinator.py
  homeassistant/components/shelly/strings.json
  tests/components/shelly/test_coordinator.py
Due: mypy, pylint, hassfest

Update .devcontainer.json structure (#96537)
  .devcontainer/devcontainer.json
Due: none

Fix broken service test (#96943)
  tests/helpers/test_service.py
Due: none

Disable wheels building for pycocotools (#96937)
  requirements_all.txt
  script/gen_requirements_all.py
Due: gen_requirements_all

Update aiohttp to 3.8.5
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

revert unneeded formatting change
  homeassistant/components/mqtt/binary_sensor.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
