Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Add condition to resolve broken tests
  homeassistant/helpers/intent.py
Due: mypy

use async_config_entry_first_refresh
  homeassistant/components/netgear/__init__.py
  homeassistant/components/netgear/router.py
Due: mypy

Update adguard to 0.5.1 (#65305)
  homeassistant/components/adguard/config_flow.py
  homeassistant/components/adguard/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Update sensor class to work with device dictionary
  homeassistant/components/honeywell/sensor.py
Due: mypy

linter fix
  homeassistant/components/esphome/lock.py
Due: mypy

Update wled to 0.13.0
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add MQTT light unknown sate support
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
Due: mypy

Fix missing expiration data in Whois information
  homeassistant/components/whois/sensor.py
Due: mypy

Improve reliablity of august setup with recent api changes
  homeassistant/components/august/__init__.py
Due: mypy

Update wled to 0.13.0 (#65312)
  homeassistant/components/wled/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add Mqtt vacuum `unknown` status
  homeassistant/components/mqtt/vacuum/schema_state.py
  tests/components/mqtt/test_state_vacuum.py
Due: mypy

Improve reliability of august setup with recent api changes (#65314)
  homeassistant/components/august/__init__.py
Due: mypy

Bump androidtv to 0.0.61
  requirements_all.txt
Due: none

Update requirements_test_all.txt
  requirements_test_all.txt
Due: none

Update manifest.json
  homeassistant/components/androidtv/manifest.json
Due: gen_requirements_all, hassfest

Add diagnostics support to WLED
  homeassistant/components/wled/diagnostics.py
  tests/components/wled/test_diagnostics.py
Due: mypy

Update tailscale to 0.2.0
  homeassistant/components/tailscale/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update docstring
  homeassistant/components/zwave_me/binary_sensor.py
Due: mypy

Handle Unknown binary sensor state
  homeassistant/components/tailscale/binary_sensor.py
Due: mypy

Fix unifiprotect being rediscovered
  homeassistant/components/unifiprotect/config_flow.py
  homeassistant/components/unifiprotect/utils.py
Due: mypy

Bump androidtv to 0.0.61 (#65315)
  homeassistant/components/androidtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update homeassistant/components/netatmo/sensor.py
  homeassistant/components/netatmo/sensor.py
Due: mypy

Fix missing expiration data in Whois information (#65313)
  homeassistant/components/whois/sensor.py
Due: mypy

Add diagnostics support to WLED (#65317)
  homeassistant/components/wled/diagnostics.py
  tests/components/wled/test_diagnostics.py
Due: mypy

Update tailscale to 0.2.0 (#65318)
  homeassistant/components/tailscale/binary_sensor.py
  homeassistant/components/tailscale/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Redact serial and title containing serial
  homeassistant/components/homewizard/diagnostics.py
Due: mypy
