Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Add support for air purifiers to HomeKit Device (#109880)
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/fan.py
  homeassistant/components/homekit_controller/select.py
  homeassistant/components/homekit_controller/sensor.py
  homeassistant/components/homekit_controller/strings.json
  tests/components/homekit_controller/snapshots/test_init.ambr
Due: mypy, pylint, hassfest

Bump aio-geojson-geonetnz-quakes to 0.16 (#109873)
  homeassistant/components/geonetnz_quakes/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix YoLink SpeakerHub support (#107925)
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/number.py
  homeassistant/components/yolink/services.py
  homeassistant/components/yolink/services.yaml
  homeassistant/components/yolink/strings.json
Due: mypy, pylint, hassfest

Remove soft hyphens from myuplink sensor names (#109845)
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Bump version to 2024.2.0
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Address review suggestions
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Copy mock to conftest
  tests/components/ring/conftest.py
Due: none

Addition of add filter
  homeassistant/helpers/template.py
Due: mypy, pylint

Test for add filter
  tests/helpers/test_template.py
Due: none

Test unique IDs for Shelly entities (#109879)
  tests/components/shelly/conftest.py
  tests/components/shelly/test_binary_sensor.py
  tests/components/shelly/test_button.py
  tests/components/shelly/test_climate.py
  tests/components/shelly/test_cover.py
  tests/components/shelly/test_event.py
  tests/components/shelly/test_light.py
  tests/components/shelly/test_number.py
  tests/components/shelly/test_sensor.py
  tests/components/shelly/test_switch.py
  tests/components/shelly/test_update.py
Due: none

Add analog input value sensor for Shelly (#109312)
  homeassistant/components/shelly/sensor.py
  tests/components/shelly/conftest.py
  tests/components/shelly/test_sensor.py
Due: mypy, pylint

Reset log level in script tests (#109881)
  tests/scripts/test_auth.py
  tests/scripts/test_check_config.py
Due: none

Fix cast.show_lovelace_view service
  homeassistant/components/cast/home_assistant_cast.py
  homeassistant/components/cast/services.yaml
  homeassistant/components/cast/strings.json
Due: mypy, pylint, hassfest

Don't pass entity ids in hassil slot lists
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/intent/__init__.py
  homeassistant/helpers/intent.py
  tests/components/conversation/test_default_agent.py
Due: mypy, pylint

Fix kitchen sink tests (#109243)
  tests/components/kitchen_sink/test_init.py
Due: none

Remove fixture and separate event from mock_client
  tests/components/blue_current/__init__.py
  tests/components/blue_current/conftest.py
  tests/components/blue_current/test_init.py
  tests/components/blue_current/test_sensor.py
Due: none

Check entity unique_id
  tests/components/shelly/test_sensor.py
Due: none

Fix history test
  tests/components/ring/conftest.py
  tests/components/ring/fixtures/doorbot_history.json
  tests/components/ring/fixtures/intercom_history.json
  tests/components/ring/fixtures/other.json
  tests/components/ring/test_sensor.py
Due: none

Bump myuplink dependency to 0.1.1 (#109878)
  homeassistant/components/myuplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add missing `unique_id` check for Shelly Analog Input sensor (#109888)
  tests/components/shelly/test_sensor.py
Due: none

Use first completed response
  homeassistant/components/climate/intent.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/helpers/intent.py
  tests/components/climate/test_intent.py
  tests/components/conversation/snapshots/test_init.ambr
  tests/components/conversation/test_default_agent.py
Due: mypy, pylint

Simplify emulated_hue exposed entities cache
  homeassistant/components/emulated_hue/config.py
  homeassistant/components/emulated_hue/hue_api.py
Due: mypy, pylint

Adress more review comments
  homeassistant/components/myuplink/sensor.py
Due: mypy, pylint

Remove obsolete check in config flow
  homeassistant/components/eq3btsmart/config_flow.py
Due: mypy, pylint

Write ha state directly
  homeassistant/components/ring/camera.py
Due: mypy, pylint

Wrap library exceptions in HomeAssistantErrors
  homeassistant/components/ring/camera.py
  homeassistant/components/ring/entity.py
  homeassistant/components/ring/light.py
  homeassistant/components/ring/siren.py
  homeassistant/components/ring/switch.py
  tests/components/ring/test_light.py
  tests/components/ring/test_siren.py
  tests/components/ring/test_switch.py
Due: mypy, pylint

Bump Python matter server to 5.5.0
  homeassistant/components/matter/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Address late review on husqvarna_automower
  homeassistant/components/husqvarna_automower/coordinator.py
  homeassistant/components/husqvarna_automower/entity.py
  homeassistant/components/husqvarna_automower/lawn_mower.py
  homeassistant/components/husqvarna_automower/strings.json
Due: mypy, pylint, hassfest
