Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Enable strict typing for backup integration (#67427)
  .strict-typing
  homeassistant/components/backup/websocket.py
  mypy.ini
Due: mypy

Bump hatasmota to 0.4.0 (#67421)
  homeassistant/components/tasmota/__init__.py
  homeassistant/components/tasmota/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/tasmota/test_common.py
  tests/components/tasmota/test_device_trigger.py
  tests/components/tasmota/test_discovery.py
  tests/components/tasmota/test_init.py
  tests/components/tasmota/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Improve mobile_app key handling
  homeassistant/components/mobile_app/const.py
  homeassistant/components/mobile_app/helpers.py
  homeassistant/components/mobile_app/webhook.py
  tests/components/mobile_app/test_http_api.py
  tests/components/mobile_app/test_webhook.py
Due: mypy

Remove class attributes for backup manager
  homeassistant/components/backup/manager.py
  tests/components/backup/test_manager.py
  tests/components/backup/test_websocket.py
Due: mypy

Correct selector for remote integration line 50
  homeassistant/components/remote/services.yaml
Due: hassfest

delete mqtt bridge
  homeassistant/components/ais_mqtt_bridge/__init__.py
  homeassistant/components/ais_mqtt_bridge/config_flow.py
  homeassistant/components/ais_mqtt_bridge/const.py
  homeassistant/components/ais_mqtt_bridge/manifest.json
  homeassistant/components/ais_mqtt_bridge/sensor.py
  homeassistant/components/ais_mqtt_bridge/strings.json
  homeassistant/components/ais_mqtt_bridge/translations/en.json
  homeassistant/components/ais_mqtt_bridge/translations/pl.json
  homeassistant/generated/config_flows.py
Due: mypy, gen_requirements_all, hassfest

Owntracks
  homeassistant/components/owntracks/manifest.json
Due: gen_requirements_all, hassfest

Add additional switch for dmaker.airfresh.a1/t2017 to xiaomi_miio (#67033)
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/switch.py
Due: mypy

Bump httpx to 0.22.0 Bump httpcore to 0.14.7
  homeassistant/package_constraints.txt
  requirements.txt
  script/gen_requirements_all.py
  setup.cfg
Due: none

remove patches
  tests/components/backup/test_websocket.py
Due: none

spotipy==2.19.0
  homeassistant/components/ais_spotify_service/manifest.json
Due: gen_requirements_all, hassfest

Bump python-songpal to 0.14.1
  homeassistant/components/songpal/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use helper to get device tuple
  homeassistant/components/rfxtrx/config_flow.py
Due: mypy

Add "Auxiliary Heat Status" binary_sensor for dmaker.airfresh.a1/t2017 to xiaomi_miio (#67040)
  homeassistant/components/xiaomi_miio/binary_sensor.py
Due: mypy

Allow event code to be null
  homeassistant/components/rfxtrx/config_flow.py
Due: mypy

Remove class attributes for backup manager (#67431)
  homeassistant/components/backup/manager.py
  tests/components/backup/test_manager.py
  tests/components/backup/test_websocket.py
Due: mypy

media duration fix
  homeassistant/components/ais_exo_player/media_player.py
Due: mypy

Fix returned value from backup/info WS command
  homeassistant/components/backup/websocket.py
  tests/components/backup/test_websocket.py
Due: mypy

use tarfile directly
  homeassistant/components/backup/manager.py
Due: mypy

CONF_SLAVE do not have default 0 in a validator (#67418)
  homeassistant/components/modbus/validators.py
Due: mypy

Small simplification
  homeassistant/components/uptime/config_flow.py
Due: mypy

Add config flow to Moon
  .strict-typing
  CODEOWNERS
  homeassistant/components/moon/__init__.py
  homeassistant/components/moon/config_flow.py
  homeassistant/components/moon/const.py
  homeassistant/components/moon/manifest.json
  homeassistant/components/moon/sensor.py
  homeassistant/components/moon/strings.json
  homeassistant/components/moon/translations/en.json
  homeassistant/generated/config_flows.py
  mypy.ini
  tests/components/moon/conftest.py
  tests/components/moon/test_config_flow.py
  tests/components/moon/test_init.py
  tests/components/moon/test_sensor.py
Due: mypy, gen_requirements_all, hassfest

Add support for joaoapps_join notification categories
  homeassistant/components/joaoapps_join/manifest.json
  homeassistant/components/joaoapps_join/notify.py
  requirements_all.txt
Due: mypy, gen_requirements_all, hassfest

Implement reauth for Sensibo
  homeassistant/components/sensibo/config_flow.py
  homeassistant/components/sensibo/coordinator.py
  homeassistant/components/sensibo/strings.json
  homeassistant/components/sensibo/translations/en.json
  tests/components/sensibo/test_config_flow.py
Due: mypy, hassfest

Bump python-songpal to 0.14.1 (#67435)
  homeassistant/components/songpal/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Cleanup search for mac in samsungtv (#67374)
  homeassistant/components/samsungtv/__init__.py
Due: mypy
