Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Fix Shelly last_reset (#54101)
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
Due: mypy

Two fixes (#54102)
  homeassistant/components/fritz/sensor.py
  homeassistant/components/fritz/switch.py
Due: mypy

Increase time before scene and script HomeKit entities are reset (#54105)
  homeassistant/components/homekit/type_switches.py
  tests/components/homekit/test_type_switches.py
Due: mypy

Bump zeroconf to 0.33.3 (#54108)
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bumped version to 2021.8.2
  homeassistant/const.py
Due: mypy

Run coordinator config_entry_first_refresh in rituals_perfume_genie setup (#54080)
  homeassistant/components/rituals_perfume_genie/__init__.py
Due: mypy

Test knx sensor (#54090)
  tests/components/knx/test_sensor.py
Due: none

Test KNX binary sensor (#53820)
  tests/components/knx/test_binary_sensor.py
Due: none

Fix jinja warning (#54109)
  homeassistant/helpers/template.py
Due: mypy

Fix reauth
  homeassistant/components/vlc_telnet/__init__.py
  homeassistant/components/vlc_telnet/config_flow.py
  homeassistant/components/vlc_telnet/media_player.py
  homeassistant/components/vlc_telnet/strings.json
  homeassistant/components/vlc_telnet/translations/en.json
Due: mypy, hassfest

Disconnect in config flow
  homeassistant/components/vlc_telnet/config_flow.py
Due: mypy

Exclude init module from coverage
  .coveragerc
Due: hassfest

Fix constant
  tests/components/homekit/test_accessories.py
Due: none

Fix tests
  tests/components/vlc_telnet/test_config_flow.py
Due: none

Remove device variable
  homeassistant/components/xiaomi_miio/binary_sensor.py
Due: mypy

Use constant
  homeassistant/components/xiaomi_miio/binary_sensor.py
Due: mypy

Remove the constants from the homeassistant constants file
  homeassistant/const.py
Due: mypy

Use sensor constants for the state_class
  homeassistant/components/kostal_plenticore/const.py
Due: mypy

Reformat
  homeassistant/components/kostal_plenticore/sensor.py
Due: mypy

Cleaning
  homeassistant/components/solarlog/const.py
  homeassistant/components/solarlog/sensor.py
Due: mypy

Update test name
  tests/components/coinbase/test_init.py
Due: none
