Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Add type ignore error codes [helpers] (#66776)
  homeassistant/helpers/aiohttp_client.py
  homeassistant/helpers/config_entry_oauth2_flow.py
  homeassistant/helpers/config_validation.py
  homeassistant/helpers/data_entry_flow.py
  homeassistant/helpers/debounce.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/httpx_client.py
  homeassistant/helpers/intent.py
  homeassistant/helpers/location.py
  homeassistant/helpers/restore_state.py
  homeassistant/helpers/service.py
  homeassistant/helpers/template.py
Due: mypy

Improve test coverage
  homeassistant/components/mqtt/mixins.py
  tests/components/mqtt/test_tag.py
Due: mypy

Correct state restoring for MQTT temperature sensors (#66741)
  homeassistant/components/mqtt/sensor.py
  tests/components/mqtt/test_sensor.py
Due: mypy

Add `workflow_dispatch` ci trigger (#66697)
  .github/workflows/ci.yaml
Due: none

Use fixture for MockConfig
  tests/components/google_travel_time/conftest.py
  tests/components/google_travel_time/test_sensor.py
Due: none

added number platform to tolo integration for timer settings
  homeassistant/components/tolo/__init__.py
  homeassistant/components/tolo/const.py
  homeassistant/components/tolo/number.py
Due: mypy

Move mock_config_fixture to test_sensor
  tests/components/google_travel_time/conftest.py
  tests/components/google_travel_time/test_sensor.py
Due: none

added tolo number platform to .coveragerc
  .coveragerc
Due: hassfest

fix type conflict
  homeassistant/components/update/__init__.py
Due: mypy

Improve cleanup of Google Cast entities
  homeassistant/components/cast/media_player.py
Due: mypy

Add missing coverage
  homeassistant/components/update/__init__.py
  tests/components/update/test_init.py
Due: mypy

Replace conf with attr
  tests/components/webostv/test_notify.py
Due: none

(Re-)Use fixtures
  tests/components/waze_travel_time/conftest.py
  tests/components/waze_travel_time/test_sensor.py
Due: none

Test notify service without data parameter
  tests/components/webostv/test_notify.py
Due: none

Clean kwargs access
  homeassistant/components/webostv/notify.py
Due: mypy

Replace icon constant
  homeassistant/components/webostv/notify.py
  tests/components/webostv/test_notify.py
Due: mypy

deprecate service instead
  homeassistant/components/modem_callerid/sensor.py
  homeassistant/components/modem_callerid/services.yaml
Due: mypy, hassfest

Update homeassistant/components/tuya/climate.py
  homeassistant/components/tuya/climate.py
Due: mypy

fix: Removed Serial Number sensor - too big
  homeassistant/components/intellifire/sensor.py
Due: mypy

Use data from notify
  tests/components/webostv/test_notify.py
Due: none

disabled sensors, moved up/down time to timestamps
  homeassistant/components/intellifire/sensor.py
Due: mypy

Improve MQTT device removal (#66766)
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/device_automation.py
  homeassistant/components/mqtt/device_trigger.py
  homeassistant/components/mqtt/mixins.py
  homeassistant/components/mqtt/tag.py
  tests/components/mqtt/test_device_tracker_discovery.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_tag.py
Due: mypy

Clean webostv notify (#66803)
  homeassistant/components/webostv/notify.py
  tests/components/webostv/test_notify.py
Due: mypy

Improve test coverage
  tests/components/cast/test_media_player.py
Due: none

Improve test coverage
  tests/helpers/test_selector.py
Due: none

Add support for removing Google Cast devices
  homeassistant/components/cast/__init__.py
Due: mypy

Correct current temperature for tuya thermostats (#66715)
  homeassistant/components/tuya/climate.py
Due: mypy
