Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Reduce min scan interval to 10s for InfluxDB (#53276)
  homeassistant/components/influxdb/const.py
  homeassistant/components/influxdb/sensor.py
Due: mypy

Add test for missing MAC address
  tests/components/samsungtv/test_config_flow.py
Due: none

Revert "Consider-using-with"
  homeassistant/components/telegram_bot/__init__.py
Due: mypy

Remove turn on script
  homeassistant/components/webostv/__init__.py
  homeassistant/components/webostv/config_flow.py
  homeassistant/components/webostv/const.py
  homeassistant/components/webostv/media_player.py
  homeassistant/components/webostv/strings.json
  homeassistant/components/webostv/translations/en.json
  tests/components/webostv/test_config_flow.py
Due: mypy, hassfest

Address late review of homekit_controller (#53492)
  homeassistant/components/homekit_controller/config_flow.py
Due: mypy

Apply suggestions from code review
  homeassistant/components/nest/camera.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/climate.py
  homeassistant/components/nest/climate_sdm.py
Due: mypy

Add necessary imports for reviewer suggestions
  homeassistant/components/nest/camera.py
  homeassistant/components/nest/camera_sdm.py
  homeassistant/components/nest/climate.py
  homeassistant/components/nest/climate_sdm.py
Due: mypy

Update homeassistant/components/nest/binary_sensor.py
  homeassistant/components/nest/binary_sensor.py
Due: mypy

Update homeassistant/components/nest/sensor_sdm.py
  homeassistant/components/nest/sensor_sdm.py
Due: mypy

Add imports for reviewer suggestions
  homeassistant/components/nest/binary_sensor.py
  homeassistant/components/nest/sensor_sdm.py
Due: mypy

Update homeassistant/components/nest/sensor.py
  homeassistant/components/nest/sensor.py
Due: mypy

Apply suggestions from code review
  homeassistant/components/twcmanager/config_flow.py
  homeassistant/components/twcmanager/manifest.json
  homeassistant/components/twcmanager/strings.json
  homeassistant/components/twcmanager/translations/en.json
Due: mypy, gen_requirements_all, hassfest

Add import for reviewer suggestions
  homeassistant/components/nest/sensor.py
Due: mypy

Updated constants
  homeassistant/components/twcmanager/sensor.py
Due: mypy

Remove assert and add type hint earlier in code
  homeassistant/components/nest/device_trigger.py
Due: mypy

Update webostv service description github link
  homeassistant/components/webostv/services.yaml
Due: hassfest

Adjust diff to play some games with code coverage
  homeassistant/components/nest/device_trigger.py
Due: mypy

Update pylint to 2.9.5 (#53496)
  homeassistant/auth/providers/command_line.py
  homeassistant/components/androidtv/media_player.py
  homeassistant/components/co2signal/__init__.py
  homeassistant/components/homekit/img_util.py
  homeassistant/components/plugwise/config_flow.py
  homeassistant/components/shell_command/__init__.py
  homeassistant/core.py
  homeassistant/helpers/script.py
  requirements_test.txt
  tests/components/shell_command/test_init.py
Due: mypy

Apply suggestions from code review
  homeassistant/components/yamaha_musiccast/media_player.py
Due: mypy

Bump motioneye-client version to v0.3.11.
  homeassistant/components/motioneye/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add MAC to SamsungTV when missing (#53479)
  homeassistant/components/samsungtv/__init__.py
  homeassistant/components/samsungtv/config_flow.py
  homeassistant/components/samsungtv/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/samsungtv/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Increase pool max size for urllib3 in Fritz integration (#53461)
  homeassistant/components/fritz/common.py
Due: mypy

Simplify state attribute check from reviewer comment
  homeassistant/components/climate/reproduce_state.py
Due: mypy

Implemented the requested changes from the review
  homeassistant/components/yamaha_musiccast/media_player.py
Due: mypy

move nested functions to top level functions
  homeassistant/components/zwave_js/api.py
Due: mypy

Broadlink, remove attr_current_power_w and add sensor (#53342)
  homeassistant/components/broadlink/const.py
  homeassistant/components/broadlink/sensor.py
  homeassistant/components/broadlink/switch.py
Due: mypy

Support controlling Flowerbud spray level via homekit_controller (#53493)
  homeassistant/components/homekit_controller/const.py
  homeassistant/components/homekit_controller/number.py
  tests/components/homekit_controller/specific_devices/test_vocolinc_flowerbud.py
  tests/components/homekit_controller/test_number.py
  tests/fixtures/homekit_controller/vocolinc_flowerbud.json
Due: mypy
