Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

add config for SOMRIG
  homeassistant/components/deconz/device_trigger.py
Due: mypy, pylint

Remove deprecated restart service in modbus (#128059)
  homeassistant/components/modbus/modbus.py
  homeassistant/components/modbus/strings.json
  tests/components/modbus/test_init.py
Due: mypy, pylint, hassfest

Update tests/components/squeezebox/test_init.py
  tests/components/squeezebox/test_init.py
Due: none

Add squeezebox API failure test (#128066)
  tests/components/squeezebox/test_init.py
Due: none

Modify repeat branch to support shuffle
  homeassistant/components/bang_olufsen/const.py
  homeassistant/components/bang_olufsen/media_player.py
  tests/components/bang_olufsen/test_media_player.py
Due: mypy, pylint

Remove deprecated speed limit lock entity from tessie (#128043)
  homeassistant/components/tessie/lock.py
  tests/components/tessie/test_lock.py
Due: mypy, pylint

Add missing already_configured strings (#128058)
  homeassistant/components/local_calendar/strings.json
  homeassistant/components/luftdaten/strings.json
  homeassistant/components/met_eireann/strings.json
  homeassistant/components/smappee/strings.json
  homeassistant/components/sunweg/strings.json
Due: hassfest

Delete device models and use entity descriptions
  homeassistant/components/home_connect/__init__.py
  homeassistant/components/home_connect/api.py
  homeassistant/components/home_connect/binary_sensor.py
  homeassistant/components/home_connect/entity.py
  homeassistant/components/home_connect/light.py
  homeassistant/components/home_connect/sensor.py
  homeassistant/components/home_connect/switch.py
  tests/components/home_connect/test_binary_sensor.py
  tests/components/home_connect/test_light.py
  tests/components/home_connect/test_sensor.py
  tests/components/home_connect/test_switch.py
Due: mypy, pylint

Show different behavior with async_setup_component
  tests/helpers/test_update_coordinator.py
Due: none

Add deconz IKEA SOMRIG device trigger (#127464)
  homeassistant/components/deconz/device_trigger.py
Due: mypy, pylint

Bump tesla-fleet-api to 0.8.4 (#127995)
  homeassistant/components/tesla_fleet/manifest.json
  homeassistant/components/teslemetry/manifest.json
  homeassistant/components/tessie/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Home Connect localization & icons
  homeassistant/components/home_connect/binary_sensor.py
  homeassistant/components/home_connect/entity.py
  homeassistant/components/home_connect/icons.json
  homeassistant/components/home_connect/light.py
  homeassistant/components/home_connect/sensor.py
  homeassistant/components/home_connect/strings.json
  homeassistant/components/home_connect/switch.py
  tests/components/home_connect/test_light.py
  tests/components/home_connect/test_sensor.py
  tests/components/home_connect/test_switch.py
Due: mypy, pylint, hassfest

Update frontend to 20241002.3 (#128106)
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove deprecated yaml support from lg_netcast
  homeassistant/components/lg_netcast/config_flow.py
  homeassistant/components/lg_netcast/media_player.py
  homeassistant/components/lg_netcast/strings.json
  tests/components/lg_netcast/test_config_flow.py
Due: mypy, pylint, hassfest

Remove legacy notify service from ecobee
  homeassistant/components/ecobee/notify.py
  tests/components/ecobee/test_notify.py
  tests/components/ecobee/test_repairs.py
Due: mypy, pylint

add tests
  tests/components/bond/test_button.py
Due: none

Dailies also support reminders
  homeassistant/components/habitica/services.yaml
  homeassistant/components/habitica/strings.json
Due: hassfest

improve tests
  tests/components/husqvarna_automower/test_init.py
  tests/components/husqvarna_automower/test_switch.py
Due: none

Trap more errors
  tests/components/conftest.py
Due: none

Update conftest.py
  tests/components/conftest.py
Due: none

Tweak _original source
  tests/components/conftest.py
Due: none

Add check for schema sections
  tests/components/conftest.py
Due: none

Ignore for options and discovery
  tests/components/conftest.py
Due: none

Add ignores
  tests/components/conftest.py
Due: none

Ruff
  tests/components/conftest.py
Due: none

Ignore based on DISCOVERY_SOURCES
  tests/components/conftest.py
Due: none

Add ability to ignore
  tests/components/conftest.py
Due: none

Adjust description for the translation violations
  tests/components/conftest.py
Due: none

Fix incorrect violation
  tests/components/conftest.py
Due: none

DNM: Ensure config_flow translations are available
  tests/components/conftest.py
Due: none

Add more checks
  tests/components/conftest.py
Due: none

Be nicer about data translations
  tests/components/conftest.py
Due: none
