Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Updated icons and config_flow to conform to hassfest, pylint
  homeassistant/components/growatt_server/config_flow.py
  homeassistant/components/growatt_server/icons.json
Due: mypy, pylint

Split `progress` and `in_progress`
  homeassistant/components/zha/update.py
Due: mypy, pylint

Speed up tests by making mock_get_source_ip session scoped
  tests/conftest.py
Due: none

fix new occurrences
  tests/components/enphase_envoy/test_config_flow.py
  tests/components/esphome/test_voice_assistant.py
  tests/components/home_connect/test_init.py
  tests/components/iaqualink/test_utils.py
  tests/components/media_player/test_intent.py
  tests/components/notify/test_legacy.py
  tests/components/sharkiq/test_vacuum.py
  tests/components/totalconnect/test_button.py
  tests/components/zha/test_discover.py
  tests/helpers/test_intent.py
  tests/test_block_async_io.py
Due: none

fix esphome voice assistant tests
  tests/components/esphome/test_voice_assistant.py
Due: none

remove unneccesary blank line
  tests/components/androidtv/test_media_player.py
Due: none

Add map attribute to modbus config
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
Due: mypy, pylint

tweaks
  homeassistant/components/husqvarna_automower/strings.json
  tests/components/husqvarna_automower/test_repairs.py
Due: hassfest

Fix
  homeassistant/components/airgradient/config_flow.py
  homeassistant/components/airgradient/icons.json
  tests/components/airgradient/test_config_flow.py
  tests/components/airgradient/test_sensor.py
Due: mypy, pylint

use partial
  homeassistant/components/nws/__init__.py
Due: mypy, pylint

Add sum_scale attribute to modbus config
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/const.py
Due: mypy, pylint

revert changes for observation
  homeassistant/components/nws/__init__.py
Due: mypy, pylint

Avoid creating inner tasks to load storage
  homeassistant/helpers/storage.py
Due: mypy, pylint

Add target_temp_scale, target_temp_offset attributes to modbus config
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/base_platform.py
  homeassistant/components/modbus/climate.py
  homeassistant/components/modbus/const.py
Due: mypy, pylint

Re-raise ZHA exceptions as HA errors
  homeassistant/components/zha/update.py
Due: mypy, pylint

Keep the OTA progress in an indeterminate state until we progress
  homeassistant/components/zha/update.py
Due: mypy, pylint

concurrent loads
  tests/helpers/test_storage.py
Due: none

Avoid creating a task to clear the hass instance at test teardown
  tests/common.py
Due: none

Add `open` state to LockEntity (#111968)
  homeassistant/components/demo/lock.py
  homeassistant/components/group/lock.py
  homeassistant/components/kitchen_sink/lock.py
  homeassistant/components/lock/__init__.py
  homeassistant/components/lock/device_condition.py
  homeassistant/components/lock/device_trigger.py
  homeassistant/components/lock/group.py
  homeassistant/components/lock/icons.json
  homeassistant/components/lock/reproduce_state.py
  homeassistant/components/lock/strings.json
  tests/components/demo/test_lock.py
  tests/components/group/test_init.py
  tests/components/group/test_lock.py
  tests/components/kitchen_sink/test_lock.py
  tests/components/lock/test_device_condition.py
  tests/components/lock/test_device_trigger.py
  tests/components/lock/test_init.py
  tests/components/lock/test_reproduce_state.py
Due: mypy, pylint, hassfest

Add missing bits
  homeassistant/components/group/config_flow.py
  homeassistant/components/group/strings.json
Due: mypy, pylint, hassfest

Fix nibe_heatpump climate for models without cooling support (#114599)
  homeassistant/components/nibe_heatpump/climate.py
  tests/components/nibe_heatpump/snapshots/test_climate.ambr
  tests/components/nibe_heatpump/test_climate.py
Due: mypy, pylint

Fix mqtt discovery race for update rapidly followed on creation
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/mixins.py
Due: mypy, pylint

Revert unrelated renaming local var
  homeassistant/components/mqtt/discovery.py
Due: mypy, pylint

Improve config entry has already been setup error message (#117091)
  homeassistant/helpers/entity_component.py
  tests/helpers/test_entity_component.py
Due: mypy, pylint

Fix nws blocking startup (#117094)
  homeassistant/components/nws/__init__.py
Due: mypy, pylint

Add additional checks for Enpower supported feature
  homeassistant/components/enphase_envoy/number.py
  homeassistant/components/enphase_envoy/select.py
Due: mypy, pylint

fixes
  tests/components/network/conftest.py
  tests/conftest.py
Due: none

Make the mqtt discovery update tasks eager and fix race (#117105)
  homeassistant/components/mqtt/mixins.py
Due: mypy, pylint

put scope back on
  tests/conftest.py
Due: none

add lock states
  homeassistant/components/tedee/lock.py
Due: mypy, pylint

feedback
  homeassistant/components/tedee/__init__.py
Due: mypy, pylint

Update homeassistant/components/thread/discovery.py
  homeassistant/components/thread/discovery.py
Due: mypy, pylint

bump pynws and use retry_no_data
  homeassistant/components/nws/__init__.py
  homeassistant/components/nws/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

has as property
  homeassistant/components/teslemetry/entity.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
