Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Improve precision of HSV color conversion (#130880)
  homeassistant/util/color.py
  tests/components/abode/test_light.py
  tests/components/color_extractor/test_service.py
  tests/components/deconz/snapshots/test_light.ambr
  tests/components/deconz/test_light.py
  tests/components/demo/test_light.py
  tests/components/elgato/snapshots/test_light.ambr
  tests/components/esphome/test_light.py
  tests/components/flux_led/test_light.py
  tests/components/homekit_controller/snapshots/test_init.ambr
  tests/components/lifx/test_light.py
  tests/components/light/test_init.py
  tests/components/matter/snapshots/test_light.ambr
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/components/vera/test_light.py
  tests/components/yeelight/test_light.py
  tests/components/zerproc/test_light.py
  tests/util/test_color.py
Due: none

Add base entity to sabnzbd (#130995)
  homeassistant/components/sabnzbd/coordinator.py
  homeassistant/components/sabnzbd/entity.py
  homeassistant/components/sabnzbd/sensor.py
  tests/components/sabnzbd/snapshots/test_sensor.ambr
Due: none

Bump aiohttp to 3.11.6 (#130993)
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Bump microBeesPy to 0.3.3 (#130942)
  homeassistant/components/microbees/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Simplify FanEntity percentage and speed_count shorthand attributes (#130935)
  homeassistant/components/fan/__init__.py
Due: none

Use snapshot in Sensibo tests (#130994)
  tests/components/sensibo/conftest.py
  tests/components/sensibo/snapshots/test_sensor.ambr
  tests/components/sensibo/snapshots/test_switch.ambr
  tests/components/sensibo/snapshots/test_update.ambr
  tests/components/sensibo/test_sensor.py
  tests/components/sensibo/test_switch.py
  tests/components/sensibo/test_update.py
Due: none

Clean up old migration in Twente Milieu
  homeassistant/components/twentemilieu/__init__.py
  tests/components/twentemilieu/test_init.py
Due: none

Clean up old migration in Twente Milieu (#130998)
  homeassistant/components/twentemilieu/__init__.py
  tests/components/twentemilieu/test_init.py
Due: none

Bump pypalazzetti to 0.1.13 (#130956)
  homeassistant/components/palazzetti/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add more UI user-friendly description to six Supervisor actions (#130971)
  homeassistant/components/hassio/strings.json
Due: hassfest

Add µV as UnitOfElectricPotential (#130838)
  homeassistant/components/number/const.py
  homeassistant/components/sensor/const.py
  homeassistant/const.py
  homeassistant/util/unit_conversion.py
  tests/test_const.py
  tests/util/test_unit_conversion.py
Due: hassfest-metadata

Add button platform to sabnzbd
  homeassistant/components/sabnzbd/__init__.py
  homeassistant/components/sabnzbd/button.py
  homeassistant/components/sabnzbd/icons.json
  homeassistant/components/sabnzbd/strings.json
  tests/components/sabnzbd/conftest.py
  tests/components/sabnzbd/snapshots/test_button.ambr
  tests/components/sabnzbd/test_button.py
  tests/components/sabnzbd/test_init.py
  tests/components/sabnzbd/test_sensor.py
Due: hassfest

remove extra_state_attributes from unifiprotect for event state mapping
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/entity.py
  homeassistant/components/unifiprotect/event.py
Due: none

remove name from unifiprotect event description
  homeassistant/components/unifiprotect/event.py
  tests/components/unifiprotect/utils.py
Due: none

Update light.py
  homeassistant/components/lutron_caseta/light.py
Due: none

Add calendars for to-do and daily reminders to Habitica integration (#130789)
  homeassistant/components/habitica/calendar.py
  homeassistant/components/habitica/icons.json
  homeassistant/components/habitica/strings.json
  tests/components/habitica/fixtures/tasks.json
  tests/components/habitica/snapshots/test_calendar.ambr
  tests/components/habitica/test_calendar.py
Due: hassfest

Strip whitespaces from host in ping config flow (#130970)
  homeassistant/components/ping/config_flow.py
  tests/components/ping/test_config_flow.py
Due: none

Add onkyo ssdp config flow tests
  tests/components/onkyo/test_config_flow.py
Due: none

unifiprotect renamed doorbell evento to ring to align with behaviour and added event state for finger scanned but not identified
  homeassistant/components/unifiprotect/const.py
  homeassistant/components/unifiprotect/event.py
  homeassistant/components/unifiprotect/strings.json
  tests/components/unifiprotect/test_event.py
Due: hassfest

unifiprotect small textfix requested in #128279
  homeassistant/components/unifiprotect/strings.json
Due: hassfest

Bump plugwise to v1.5.2
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

move code to init
  homeassistant/components/vicare/fan.py
Due: none

Use `ConfigEntry.runtime_data` to store runtime data at Home Connect
  homeassistant/components/home_connect/__init__.py
  homeassistant/components/home_connect/binary_sensor.py
  homeassistant/components/home_connect/diagnostics.py
  homeassistant/components/home_connect/light.py
  homeassistant/components/home_connect/number.py
  homeassistant/components/home_connect/sensor.py
  homeassistant/components/home_connect/switch.py
  homeassistant/components/home_connect/time.py
Due: none

Address review comments
  homeassistant/components/backup/__init__.py
  homeassistant/components/hassio/backup.py
Due: none

async executor
  homeassistant/components/vicare/fan.py
Due: none

Bump plugwise to v1.5.2 (#131012)
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Revert "update snapshot"
  tests/components/vicare/snapshots/test_fan.ambr
Due: none

Path conditions:
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
