Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Use entity registry id in arcam_fmj device triggers
  homeassistant/components/arcam_fmj/device_trigger.py
  tests/components/arcam_fmj/test_device_trigger.py
Due: mypy, pylint

Use identify device class in ZHA identify button entity (#95373)
  homeassistant/components/zha/button.py
  tests/components/zha/test_button.py
Due: mypy, pylint

Add config_flow to QNAP (#80450)
  .coveragerc
  CODEOWNERS
  homeassistant/components/qnap/__init__.py
  homeassistant/components/qnap/config_flow.py
  homeassistant/components/qnap/const.py
  homeassistant/components/qnap/coordinator.py
  homeassistant/components/qnap/manifest.json
  homeassistant/components/qnap/sensor.py
  homeassistant/components/qnap/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_test_all.txt
  tests/components/qnap/__init__.py
  tests/components/qnap/conftest.py
  tests/components/qnap/test_config_flow.py
Due: mypy, pylint, gen_requirements_all, hassfest

Add test
  tests/components/arcam_fmj/test_device_trigger.py
Due: none

Add button platform to Dremel 3D printer (#94517)
  homeassistant/components/dremel_3d_printer/__init__.py
  homeassistant/components/dremel_3d_printer/button.py
  homeassistant/components/dremel_3d_printer/strings.json
  tests/components/dremel_3d_printer/test_button.py
Due: mypy, pylint, hassfest

Add contents to connection_info handler in cloud client (#95059)
  homeassistant/components/cloud/client.py
  tests/components/cloud/test_client.py
Due: mypy, pylint

Use entity registry id in kodi device triggers
  homeassistant/components/kodi/device_trigger.py
  tests/components/kodi/test_device_trigger.py
Due: mypy, pylint

Move freedompro coordinator to separate file (#95360)
  homeassistant/components/freedompro/__init__.py
  homeassistant/components/freedompro/binary_sensor.py
  homeassistant/components/freedompro/climate.py
  homeassistant/components/freedompro/coordinator.py
  homeassistant/components/freedompro/cover.py
  homeassistant/components/freedompro/fan.py
  homeassistant/components/freedompro/light.py
  homeassistant/components/freedompro/lock.py
  homeassistant/components/freedompro/sensor.py
  homeassistant/components/freedompro/switch.py
  tests/components/freedompro/conftest.py
  tests/components/freedompro/test_binary_sensor.py
  tests/components/freedompro/test_climate.py
  tests/components/freedompro/test_cover.py
  tests/components/freedompro/test_fan.py
  tests/components/freedompro/test_init.py
  tests/components/freedompro/test_lock.py
  tests/components/freedompro/test_sensor.py
  tests/components/freedompro/test_switch.py
Due: mypy, pylint

Fix machine build templates
  machine/generic-x86-64
  machine/intel-nuc
  machine/khadas-vim3
  machine/odroid-c2
  machine/odroid-c4
  machine/odroid-m1
  machine/odroid-n2
  machine/odroid-xu
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
  machine/tinker
  machine/yellow
Due: none

Fix machine build templates (#95393)
  machine/generic-x86-64
  machine/intel-nuc
  machine/khadas-vim3
  machine/odroid-c2
  machine/odroid-c4
  machine/odroid-m1
  machine/odroid-n2
  machine/odroid-xu
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
  machine/tinker
  machine/yellow
Due: none

Remove webhook deprecation notices
  homeassistant/components/webhook/__init__.py
  homeassistant/components/webhook/trigger.py
  tests/components/webhook/test_trigger.py
Due: mypy, pylint

Set automations which fail validation unavailable (#94856)
  homeassistant/components/automation/__init__.py
  homeassistant/components/automation/config.py
  tests/components/automation/test_init.py
  tests/components/config/test_automation.py
  tests/components/deconz/test_device_trigger.py
  tests/components/homeassistant/triggers/test_numeric_state.py
  tests/components/homeassistant/triggers/test_state.py
  tests/components/homeassistant/triggers/test_time.py
  tests/components/template/test_trigger.py
Due: mypy, pylint

Set scripts which fail validation unavailable (#95381)
  homeassistant/components/script/__init__.py
  homeassistant/components/script/config.py
  tests/components/config/test_script.py
  tests/components/script/test_init.py
Due: mypy, pylint

Use entity registry id in kodi device triggers (#95392)
  homeassistant/components/kodi/device_trigger.py
  tests/components/kodi/test_device_trigger.py
Due: mypy, pylint

Use entity registry id in arcam_fmj device triggers (#95391)
  homeassistant/components/arcam_fmj/device_trigger.py
  tests/components/arcam_fmj/test_device_trigger.py
Due: mypy, pylint

Add more coverage for ESPHome lights (#95384)
  tests/components/esphome/test_light.py
Due: none

Support importing Blueprints from the Home Assistant websites (#95340)
  homeassistant/components/blueprint/importer.py
  tests/components/blueprint/test_importer.py
Due: mypy, pylint

Add test to stop action
  homeassistant/helpers/config_validation.py
  tests/helpers/test_config_validation.py
Due: mypy, pylint

Add entity translations to FiveM (#95370)
  homeassistant/components/fivem/binary_sensor.py
  homeassistant/components/fivem/entity.py
  homeassistant/components/fivem/sensor.py
  homeassistant/components/fivem/strings.json
Due: mypy, pylint, hassfest

Refactor template image (#95353)
  homeassistant/components/template/image.py
  tests/components/template/test_image.py
Due: mypy, pylint

Use device class translations for Fritz (#95362)
  homeassistant/components/fritz/button.py
  homeassistant/components/fritz/strings.json
Due: mypy, pylint, hassfest

Use shorthand attributes for freedompro (#95358)
  homeassistant/components/freedompro/binary_sensor.py
  homeassistant/components/freedompro/climate.py
  homeassistant/components/freedompro/cover.py
  homeassistant/components/freedompro/fan.py
  homeassistant/components/freedompro/light.py
  homeassistant/components/freedompro/lock.py
  homeassistant/components/freedompro/sensor.py
  homeassistant/components/freedompro/switch.py
Due: mypy, pylint
