Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Fix dropped unifiprotect motion events (#120489)
  homeassistant/components/unifiprotect/binary_sensor.py
  tests/components/unifiprotect/test_binary_sensor.py
Due: mypy, pylint

Cleanup mqtt platform tests part 2
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_diagnostics.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_event.py
Due: none

Bump dbus-fast to 2.22.1
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

remove tests
  tests/components/vicare/conftest.py
  tests/components/vicare/fixtures/ViAir300F.json
  tests/components/vicare/snapshots/test_fan.ambr
  tests/components/vicare/test_fan.py
Due: none

typo
  tests/components/mqtt/test_discovery.py
Due: none

Align deviceinfo entries in pyLoad integration (#120478)
  homeassistant/components/pyload/button.py
  homeassistant/components/pyload/sensor.py
  tests/components/pyload/snapshots/test_button.ambr
Due: mypy, pylint

Fix holiday using utc instead of local time (#120432)
  homeassistant/components/holiday/calendar.py
Due: mypy, pylint

Update homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/discovery.py
Due: mypy, pylint

Update homeassistant/components/mqtt/debug_info.py
  homeassistant/components/mqtt/debug_info.py
Due: mypy, pylint

Add missing textselectors in `USER_DATA_SCHEMA` in pyLoad integration (#120479)
  homeassistant/components/pyload/config_flow.py
Due: mypy, pylint

Remove unused translation strings in pyLoad integration (#120476)
  homeassistant/components/pyload/strings.json
Due: hassfest

Add Philips WiZ Lightbulbs to Matter TRANSITION_BLOCKLIST (#120461)
  homeassistant/components/matter/light.py
Due: mypy, pylint

Make fetching integrations with requirements safer (#120481)
  homeassistant/requirements.py
Due: mypy, pylint

Cleanup mqtt platform tests part 2 (#120490)
  tests/components/mqtt/test_cover.py
  tests/components/mqtt/test_device_tracker.py
  tests/components/mqtt/test_device_trigger.py
  tests/components/mqtt/test_diagnostics.py
  tests/components/mqtt/test_discovery.py
  tests/components/mqtt/test_event.py
Due: none

Deduplicate alarm_control_panel services.yaml (#118796)
  homeassistant/components/alarm_control_panel/services.yaml
Due: hassfest

Create repair when HA auth provider is running in legacy mode (#119975)
  homeassistant/auth/__init__.py
  homeassistant/auth/providers/homeassistant.py
  homeassistant/components/auth/strings.json
  tests/auth/providers/test_homeassistant.py
Due: mypy, pylint, hassfest

Handle availability in Idasen Desk height sensor (#120277)
  homeassistant/components/idasen_desk/cover.py
  homeassistant/components/idasen_desk/sensor.py
  tests/components/idasen_desk/test_sensors.py
Due: mypy, pylint

Don't change primary config entry once set
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Due: mypy, pylint

Cleanup mqtt platform tests part 3
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_humidifier.py
  tests/components/mqtt/test_image.py
Due: none

Allow timer management from any device (#120440)
  homeassistant/components/intent/timers.py
  homeassistant/helpers/llm.py
  tests/components/conversation/test_default_agent.py
  tests/components/intent/test_timers.py
  tests/helpers/test_llm.py
Due: mypy, pylint

Avoid breaking subsequent tests
  tests/conftest.py
Due: none

Verify default timezone is restored when test ends
  tests/conftest.py
Due: none

fix tests properly
  homeassistant/components/reolink/__init__.py
  tests/components/reolink/test_config_flow.py
  tests/components/reolink/test_init.py
Due: mypy, pylint

Fix issue where an MQTT device is removed linked to two config entries (#120430)
  homeassistant/components/mqtt/debug_info.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/tag.py
  tests/components/mqtt/test_discovery.py
Due: mypy, pylint

Force alias when importing notify PLATFORM_SCHEMA
  homeassistant/components/apprise/notify.py
  homeassistant/components/cisco_webex_teams/notify.py
  homeassistant/components/clickatell/notify.py
  homeassistant/components/clicksend/notify.py
  homeassistant/components/clicksend_tts/notify.py
  homeassistant/components/facebook/notify.py
  homeassistant/components/file/notify.py
  homeassistant/components/flock/notify.py
  homeassistant/components/free_mobile/notify.py
  homeassistant/components/group/notify.py
  homeassistant/components/homematic/notify.py
  homeassistant/components/html5/notify.py
  homeassistant/components/joaoapps_join/notify.py
  homeassistant/components/kodi/notify.py
  homeassistant/components/lannouncer/notify.py
  homeassistant/components/llamalab_automate/notify.py
  homeassistant/components/mailgun/notify.py
  homeassistant/components/mastodon/notify.py
  homeassistant/components/matrix/notify.py
  homeassistant/components/message_bird/notify.py
  homeassistant/components/msteams/notify.py
  homeassistant/components/prowl/notify.py
  homeassistant/components/pushsafer/notify.py
  homeassistant/components/rest/notify.py
  homeassistant/components/rocketchat/notify.py
  homeassistant/components/sendgrid/notify.py
  homeassistant/components/signal_messenger/notify.py
  homeassistant/components/sinch/notify.py
  homeassistant/components/smtp/notify.py
  homeassistant/components/synology_chat/notify.py
  homeassistant/components/syslog/notify.py
  homeassistant/components/telegram/notify.py
  homeassistant/components/twilio_call/notify.py
  homeassistant/components/twilio_sms/notify.py
  homeassistant/components/twitter/notify.py
  homeassistant/components/xmpp/notify.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Add unique_id to MPD
  homeassistant/components/mpd/media_player.py
Due: mypy, pylint

Bump dbus-fast to 2.22.1 (#120491)
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
