Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Matter fix Energy sensor discovery schemas (#121080)
  homeassistant/components/matter/sensor.py
Due: mypy, pylint

Bump version to 2024.7.0b11
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Make the async_setup_recorder_instance fixture a context manager
  tests/components/history_stats/test_sensor.py
  tests/components/logbook/test_websocket_api.py
  tests/components/recorder/auto_repairs/events/test_schema.py
  tests/components/recorder/auto_repairs/states/test_schema.py
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/auto_repairs/statistics/test_schema.py
  tests/components/recorder/auto_repairs/test_schema.py
  tests/components/recorder/table_managers/test_recorder_runs.py
  tests/components/recorder/table_managers/test_statistics_meta.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_migration_from_schema_32.py
  tests/components/recorder/test_migration_run_time_migrations_remember.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
  tests/components/recorder/test_system_health.py
  tests/components/recorder/test_util.py
  tests/conftest.py
  tests/helpers/test_recorder.py
Due: none

Cleanup v32 recorder migration test (#121083)
  tests/components/recorder/test_v32_migration.py
Due: none

remove useless tests and add more integration style tests
  homeassistant/components/iotty/coordinator.py
  tests/components/iotty/conftest.py
  tests/components/iotty/snapshots/test_switch.ambr
  tests/components/iotty/test_coordinator.py
  tests/components/iotty/test_switch.py
Due: mypy, pylint

Bump version to 2024.7.0
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

switch back to get
  homeassistant/core.py
Due: mypy, pylint

Add repair issue when trying to set up unknown integration
  homeassistant/components/homeassistant/repairs.py
  homeassistant/components/homeassistant/strings.json
  homeassistant/config_entries.py
  homeassistant/setup.py
  tests/test_config_entries.py
Due: mypy, pylint, hassfest

try
  homeassistant/core.py
Due: mypy, pylint

Add repair issue when trying to set up unknown integration
  homeassistant/components/homeassistant/repairs.py
  tests/test_config_entries.py
Due: mypy, pylint

fix type
  homeassistant/core.py
Due: mypy, pylint

adding the reauth message
  homeassistant/components/simplefin/strings.json
Due: hassfest

addressing PR
  CODEOWNERS
Due: none

reset to latest dev branch
  .coveragerc
  CODEOWNERS
  homeassistant/components/simplefin/__init__.py
  homeassistant/components/simplefin/config_flow.py
  homeassistant/components/simplefin/const.py
  homeassistant/components/simplefin/coordinator.py
  homeassistant/components/simplefin/entity.py
  homeassistant/components/simplefin/icons.json
  homeassistant/components/simplefin/manifest.json
  homeassistant/components/simplefin/sensor.py
  homeassistant/components/simplefin/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  tests/components/simplefin/conftest.py
  tests/components/simplefin/fixtures/fin_data.json
  tests/components/simplefin/test_config_flow.py
  tests/components/simplefin/test_init.py
Due: mypy, pylint, gen_requirements_all, hassfest

addressing PR
  homeassistant/components/simplefin/config_flow.py
  tests/components/simplefin/__init__.py
  tests/components/simplefin/test_config_flow.py
Due: mypy, pylint

update reqs
  requirements_test_all.txt
Due: none

formatting tweak
  homeassistant/components/simplefin/sensor.py
Due: mypy, pylint

ruff
  flake.lock
  flake.nix
  homeassistant/components/simplefin/const.py
  homeassistant/components/simplefin/entity.py
  tests/components/simplefin/conftest.py
  tests/components/simplefin/test_init.py
Due: mypy, pylint

Removed info errors
  homeassistant/components/simplefin/config_flow.py
Due: mypy, pylint

fix bad billing error message
  homeassistant/components/simplefin/coordinator.py
Due: mypy, pylint

Update homeassistant/components/simplefin/sensor.py
  homeassistant/components/simplefin/sensor.py
Due: mypy, pylint

reauth abort and already_confiugred added to strings.json
  CODEOWNERS
  homeassistant/components/simplefin/__init__.py
  homeassistant/components/simplefin/icons.json
  homeassistant/components/simplefin/sensor.py
  homeassistant/components/simplefin/strings.json
Due: mypy, pylint, hassfest

Fix Lock state if lock is in partially unlocked state
  homeassistant/components/matter/lock.py
Due: mypy, pylint

Add translations for google assistant
  homeassistant/components/cloud/google_config.py
  homeassistant/components/google_assistant/__init__.py
  homeassistant/components/google_assistant/const.py
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/trait.py
  homeassistant/components/input_select/strings.json
  homeassistant/components/select/strings.json
  homeassistant/components/water_heater/strings.json
  homeassistant/helpers/translation.py
  tests/components/google_assistant/__init__.py
  tests/components/google_assistant/test_trait.py
Due: mypy, pylint, hassfest

Undo rename of existing fixture
  pylint/plugins/hass_enforce_type_hints.py
  tests/components/history/conftest.py
  tests/components/history_stats/test_sensor.py
  tests/components/logbook/test_websocket_api.py
  tests/components/recorder/auto_repairs/events/test_schema.py
  tests/components/recorder/auto_repairs/states/test_schema.py
  tests/components/recorder/auto_repairs/statistics/test_duplicates.py
  tests/components/recorder/auto_repairs/statistics/test_schema.py
  tests/components/recorder/auto_repairs/test_schema.py
  tests/components/recorder/table_managers/test_recorder_runs.py
  tests/components/recorder/table_managers/test_statistics_meta.py
  tests/components/recorder/test_entity_registry.py
  tests/components/recorder/test_history.py
  tests/components/recorder/test_history_db_schema_30.py
  tests/components/recorder/test_history_db_schema_32.py
  tests/components/recorder/test_history_db_schema_42.py
  tests/components/recorder/test_init.py
  tests/components/recorder/test_migrate.py
  tests/components/recorder/test_migration_from_schema_32.py
  tests/components/recorder/test_migration_run_time_migrations_remember.py
  tests/components/recorder/test_purge.py
  tests/components/recorder/test_purge_v32_schema.py
  tests/components/recorder/test_statistics.py
  tests/components/recorder/test_system_health.py
  tests/components/recorder/test_util.py
  tests/components/sensor/test_recorder.py
  tests/conftest.py
  tests/helpers/test_recorder.py
Due: mypy

Small speed up to writing entity state (#121043)
  homeassistant/core.py
  homeassistant/helpers/entity.py
Due: mypy, pylint

Fix leak of SQLAlchemy engine objects in recorder (#121085)
  homeassistant/components/recorder/core.py
Due: mypy, pylint

Make external state restoration more generic
  homeassistant/components/zha/entity.py
  homeassistant/components/zha/light.py
Due: mypy, pylint

Restore non-ZCL light state
  homeassistant/components/zha/light.py
Due: mypy, pylint

Implement external state for `cover`
  homeassistant/components/zha/cover.py
Due: mypy, pylint

Implement external state for `select`
  homeassistant/components/zha/select.py
Due: mypy, pylint

Implement external state for `siren`
  homeassistant/components/zha/siren.py
Due: mypy, pylint

Adjust diag test
  tests/components/google_assistant/snapshots/test_diagnostics.ambr
Due: none

Avoid comparing HA and ZHA enums, even if the values are the same
  homeassistant/components/zha/light.py
Due: mypy, pylint

Revert siren external state
  homeassistant/components/zha/siren.py
Due: mypy, pylint
