Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Update pycomfoconnect to 0.4
  homeassistant/components/comfoconnect/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Moves async_add_entities back to event loop
  homeassistant/components/tplink/common.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/switch.py
  tests/components/tplink/test_light.py
Due: mypy

Runs through isort
  tests/components/tplink/test_light.py
Due: none

Fix DSM Surveillance Station when only home mode is activated
  homeassistant/components/synology_dsm/__init__.py
Due: mypy

WIP virtual thermostat
  homeassistant/components/virtual_thermostat/__init__.py
  homeassistant/components/virtual_thermostat/climate.py
  homeassistant/components/virtual_thermostat/manifest.json
  homeassistant/components/virtual_thermostat/services.yaml
Due: mypy, gen_requirements_all, hassfest

WIP
  .gitignore
  homeassistant/components/virtual_thermostat/climate.py
Due: mypy

100% tests coverage
  homeassistant/components/virtual_thermostat/climate.py
  tests/components/virtual_thermostat/test_climate.py
Due: mypy

Manifest, codeowners, typo fix
  CODEOWNERS
  homeassistant/components/virtual_thermostat/manifest.json
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: gen_requirements_all, hassfest

Lint problem
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: none

Test file blacked
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: none

Add a test case for b4dpxl's question
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: none

More lint
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: none

Update homeassistant/components/pi4ioe5v9xxxx/binary_sensor.py
  homeassistant/components/pi4ioe5v9xxxx/binary_sensor.py
Due: mypy

Delete .gitignore
  .gitignore
Due: none

Fix pylint
  .pre-commit-config.yaml
  homeassistant/components/pi4ioe5v9xxxx/binary_sensor.py
Due: mypy, gen_requirements_all

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: gen_requirements_all

100% tests coverage
  tests/components/virtual_thermostat/test_climate.py
Due: none

Get in line with normal homeassistant repro
  .gitignore
  CODEOWNERS
  homeassistant/components/virtual_thermostat/__init__.py
  homeassistant/components/virtual_thermostat/climate.py
  homeassistant/components/virtual_thermostat/manifest.json
  homeassistant/components/virtual_thermostat/services.yaml
Due: mypy, gen_requirements_all, hassfest

Get in line with normal homeassistant repro 2
  tests/components/virtual_thermostat/test_climate.py
  tests/components/virtual_thermostat/test_virtual_thermostat.py
Due: none

Added initialie funcion on addded_to_hass to make sure device is always initialized in off state, also if signal was inverted. This prevents the device to be in a state that is not repesented by gui.
  homeassistant/components/pi4ioe5v9xxxx/switch.py
Due: mypy

Use async functions for Somfy (#42448)
  homeassistant/components/somfy/cover.py
Due: mypy

Implementing cache cleanup
  homeassistant/components/openplantbook/__init__.py
  homeassistant/components/openplantbook/config_flow.py
  homeassistant/components/openplantbook/const.py
Due: mypy

fix gitignore
  .gitignore
Due: none

fix gitignore 2
  .gitignore
Due: none

Update homeassistant/components/yeelight/strings.json
  homeassistant/components/yeelight/strings.json
Due: hassfest

Fixing test
  tests/components/openplantbook/test_init.py
Due: none

Move onewire entity classes to separate module (#42445)
  homeassistant/components/onewire/const.py
  homeassistant/components/onewire/onewire_entities.py
  homeassistant/components/onewire/sensor.py
Due: mypy

Typo
  homeassistant/components/nest/camera_sdm.py
Due: mypy

Allow the dumping of YAML with placeholders
  homeassistant/util/yaml/__init__.py
  homeassistant/util/yaml/dumper.py
  homeassistant/util/yaml/loader.py
  homeassistant/util/yaml/objects.py
  tests/util/test_yaml.py
Due: mypy

Add websocket API for listing blueprints
  homeassistant/components/blueprint/__init__.py
  homeassistant/components/blueprint/const.py
  homeassistant/components/blueprint/importer.py
  homeassistant/components/blueprint/models.py
  homeassistant/components/blueprint/schemas.py
  homeassistant/components/blueprint/websocket_api.py
  tests/components/blueprint/test_importer.py
  tests/components/blueprint/test_websocket_api.py
Due: mypy
