Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Update typing
  homeassistant/config.py
  homeassistant/config_entries.py
  homeassistant/helpers/service.py
Due: mypy

Update http typing
  homeassistant/components/http/forwarded.py
Due: mypy

Update notify typing
  homeassistant/components/notify/legacy.py
Due: mypy

Update esphome typing
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/camera.py
  homeassistant/components/esphome/fan.py
Due: mypy

Update core typing
  homeassistant/core.py
Due: mypy

Update backports/enum typing
  homeassistant/backports/enum.py
Due: mypy

Addres review comment
  homeassistant/components/esphome/camera.py
Due: mypy

Update esphome typing
  homeassistant/components/esphome/__init__.py
  homeassistant/components/esphome/fan.py
Due: mypy

Address review comments
  homeassistant/config_entries.py
Due: mypy

Address review comment
  homeassistant/components/esphome/fan.py
Due: mypy

Improve typing
  homeassistant/config_entries.py
Due: mypy

Update homeassistant/components/esphome/camera.py
  homeassistant/components/esphome/camera.py
Due: mypy

Address review comments
  homeassistant/setup.py
  homeassistant/util/color.py
Due: mypy

Add basic type hints to advantage_air (#62737)
  homeassistant/components/advantage_air/__init__.py
  homeassistant/components/advantage_air/binary_sensor.py
  homeassistant/components/advantage_air/climate.py
  homeassistant/components/advantage_air/cover.py
  homeassistant/components/advantage_air/select.py
  homeassistant/components/advantage_air/sensor.py
  homeassistant/components/advantage_air/switch.py
Due: mypy

fix 0 light value bug test
  tests/components/homekit/test_type_sensors.py
Due: none

Add return type
  homeassistant/components/abode/__init__.py
Due: mypy

Bump roombapy to 1.6.4
  homeassistant/components/roomba/manifest.json
Due: gen_requirements_all, hassfest

Update requirements_all.txt
  requirements_all.txt
Due: none

Use set[int] for current
  homeassistant/components/acmeda/cover.py
  homeassistant/components/acmeda/helpers.py
  homeassistant/components/acmeda/sensor.py
Due: mypy

Update requirements_test_all.txt
  requirements_test_all.txt
Due: none

Add basic type hints to abode (#62730)
  homeassistant/components/abode/__init__.py
  homeassistant/components/abode/alarm_control_panel.py
  homeassistant/components/abode/binary_sensor.py
  homeassistant/components/abode/camera.py
  homeassistant/components/abode/cover.py
  homeassistant/components/abode/light.py
  homeassistant/components/abode/lock.py
  homeassistant/components/abode/sensor.py
  homeassistant/components/abode/switch.py
Due: mypy

Add basic type hints to aemet
  homeassistant/components/aemet/config_flow.py
  homeassistant/components/aemet/sensor.py
  homeassistant/components/aemet/weather.py
Due: mypy

Revert change to _is_aemet_api_online
  homeassistant/components/aemet/config_flow.py
Due: mypy

Use wheel to install base requirements
  .github/workflows/ci.yaml
Due: none

Revert changes to __init__.py
  homeassistant/components/ads/__init__.py
Due: mypy

Add basic type hints to ads (#62738)
  homeassistant/components/ads/binary_sensor.py
  homeassistant/components/ads/cover.py
  homeassistant/components/ads/light.py
  homeassistant/components/ads/sensor.py
  homeassistant/components/ads/switch.py
Due: mypy

Add basic type hints to ffmpeg
  homeassistant/components/ffmpeg/__init__.py
  homeassistant/components/ffmpeg/camera.py
Due: mypy

Add basic type hints to cast
  homeassistant/components/cast/__init__.py
  homeassistant/components/cast/discovery.py
  homeassistant/components/cast/media_player.py
Due: mypy

Upgrade vehicle to 0.3.1
  homeassistant/components/rdw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add type hints to google_assistant
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
Due: mypy

Created switch.py and support
  homeassistant/components/wilight/__init__.py
  homeassistant/components/wilight/config_flow.py
  homeassistant/components/wilight/manifest.json
  homeassistant/components/wilight/services.yaml
  homeassistant/components/wilight/support.py
  homeassistant/components/wilight/switch.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, hassfest

Fix pylint
  homeassistant/components/google_assistant/http.py
Due: mypy

CI: Use wheel to install base requirements (#62743)
  .github/workflows/ci.yaml
Due: none
