Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Update zeroconf to 0.36.7 (#56553)
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Upgrade colorlog to 6.4.1
  homeassistant/scripts/check_config.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

Bump aiohomekit to 0.6.3
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Handle code review comments
  homeassistant/components/tplink/__init__.py
  homeassistant/components/tplink/common.py
  homeassistant/components/tplink/light.py
  homeassistant/components/tplink/sensor.py
Due: mypy

Upgrade PyTurboJPEG to 1.6.1 (#56571)
  homeassistant/components/camera/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Upgrade black to 21.9b0
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: gen_requirements_all

Add Airthings integration
  CODEOWNERS
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

Upgrade pre-commit to 2.14.1 (#56569)
  requirements_test.txt
Due: none

Upgrade watchdog to 2.1.5 (#56572)
  homeassistant/components/folder_watcher/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Upgrade debugpy to 1.4.3
  homeassistant/components/debugpy/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Upgrade colorlog to 6.4.1 (#56573)
  homeassistant/scripts/check_config.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

Add Airthings integration
  homeassistant/components/airthings/__init__.py
  homeassistant/components/airthings/config_flow.py
  homeassistant/components/airthings/const.py
  homeassistant/components/airthings/manifest.json
  homeassistant/components/airthings/sensor.py
  homeassistant/components/airthings/strings.json
  homeassistant/components/airthings/translations/en.json
  tests/components/airthings/__init__.py
  tests/components/airthings/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Review - Remove yaml and add async_turn_off
  homeassistant/components/escea/__init__.py
  homeassistant/components/escea/climate.py
  homeassistant/components/escea/const.py
  homeassistant/components/escea/discovery.py
  homeassistant/components/escea/translations/es-419.json
  homeassistant/components/escea/translations/es.json
Due: mypy

Add Airthings integration
  homeassistant/components/airthings/translations/en.json
Due: none

Upgrade apprise to 0.9.5.1
  homeassistant/components/apprise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Airthings
  .coveragerc
Due: hassfest

Bump aiohomekit to 0.6.3 (#56574)
  homeassistant/components/homekit_controller/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

1C doesn't support direction
  homeassistant/components/xiaomi_miio/fan.py
Due: mypy

Upgrade black to 21.9b0 (#56575)
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: gen_requirements_all

Use EntityDescription - kraken (#56436)
  homeassistant/components/kraken/const.py
  homeassistant/components/kraken/sensor.py
Due: mypy

Add long-term statistics for OpenUV sensors (#55417)
  homeassistant/components/openuv/sensor.py
Due: mypy

Enable strict typing for the tautulli integration (#55448)
  .strict-typing
  homeassistant/components/tautulli/sensor.py
  mypy.ini
Due: mypy
