Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Update coordinator.py
  homeassistant/components/lamarzocco/coordinator.py
Due: mypy, pylint

Update entity.py
  homeassistant/components/lamarzocco/entity.py
Due: mypy, pylint

Update framework for Airthings cloud (#107653)
  homeassistant/components/airthings/manifest.json
  homeassistant/components/airthings/sensor.py
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

step description, bump lmcloud
  homeassistant/components/lamarzocco/manifest.json
  homeassistant/components/lamarzocco/strings.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use async_create_task
  homeassistant/config_entries.py
Due: mypy, pylint

create init integration functino
  tests/components/lamarzocco/__init__.py
  tests/components/lamarzocco/conftest.py
Due: none

Update climate.py default unit to be more conistent with region temperature unit.
  homeassistant/components/tuya/climate.py
Due: mypy, pylint

lint
  homeassistant/components/evohome/__init__.py
Due: mypy, pylint

Fix malformed user input error on MJPEG config flow
  homeassistant/components/mjpeg/config_flow.py
Due: mypy, pylint

bump client library to 0.4.17
  homeassistant/components/evohome/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

mypy underlying client is float | None
  homeassistant/components/evohome/climate.py
Due: mypy, pylint

Add write_registers support for Fan Mode
  homeassistant/components/modbus/__init__.py
  homeassistant/components/modbus/climate.py
  tests/components/modbus/test_climate.py
Due: mypy, pylint

Fix Shelly Gen1 entity description restore
  homeassistant/components/shelly/binary_sensor.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/number.py
  homeassistant/components/shelly/sensor.py
  tests/components/shelly/test_sensor.py
Due: mypy, pylint

Update tests/components/shelly/test_sensor.py
  tests/components/shelly/test_sensor.py
Due: none

Update asyncsleepiq to 1.4.2
  homeassistant/components/sleepiq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

This is a test.
  LICENSE.md
Due: none

Attempt to use Digest authentication before Basic for MJPEG
  homeassistant/components/mjpeg/config_flow.py
Due: mypy, pylint

Suggestions from code review
  homeassistant/components/airtouch5/config_flow.py
  tests/components/airtouch5/test_config_flow.py
Due: mypy, pylint

Allow using either username or password standalone for MJPEG
  homeassistant/components/mjpeg/config_flow.py
Due: mypy, pylint

Fix duplicate Windy values showing in automations state selector
  homeassistant/components/weather/strings.json
Due: hassfest

Move default super chlorinate runtime to schema
  homeassistant/components/screenlogic/services.py
Due: mypy, pylint

Add Velocity
  .coveragerc
  homeassistant/components/hunterdouglas_powerview/__init__.py
  homeassistant/components/hunterdouglas_powerview/number.py
Due: mypy, pylint, hassfest

Handle service name must start with '_'
  homeassistant/components/hunterdouglas_powerview/manifest.json
  homeassistant/generated/zeroconf.py
Due: mypy, pylint, gen_requirements_all, hassfest

bump lmcloud
  homeassistant/components/lamarzocco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix when hub offline/online message pushing
  homeassistant/components/yolink/number.py
Due: mypy, pylint

bump firmware (again)
  homeassistant/components/lamarzocco/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

revert
  homeassistant/components/lamarzocco/config_flow.py
Due: mypy, pylint

separate device test
  tests/components/lamarzocco/snapshots/test_switch.ambr
  tests/components/lamarzocco/test_switch.py
Due: none

ruff
  homeassistant/components/lamarzocco/entity.py
Due: mypy, pylint

Update homeassistant/components/netatmo/select.py
  homeassistant/components/netatmo/select.py
Due: mypy, pylint

remove leftover BT test
  tests/components/lamarzocco/test_init.py
Due: none

make main switch main entity
  homeassistant/components/lamarzocco/strings.json
  homeassistant/components/lamarzocco/switch.py
  tests/components/lamarzocco/snapshots/test_switch.ambr
  tests/components/lamarzocco/test_switch.py
Due: mypy, pylint, hassfest

Update asyncsleepiq to 1.4.2 (#108054)
  homeassistant/components/sleepiq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove YAML auth setup support from home_connect
  homeassistant/components/home_connect/__init__.py
  tests/components/home_connect/test_config_flow.py
Due: mypy, pylint

Remove await
  tests/test_config_entries.py
Due: none

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
