Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Bump micloud to 0.5 (#63348)
  homeassistant/components/xiaomi_miio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove some unused TypeVars (#63346)
  homeassistant/components/energy/sensor.py
  homeassistant/util/__init__.py
Due: mypy

Add little slack to CodeCode project/config-flows threshold
  codecov.yml
Due: none

Add support for curtain device class to google assistant
  homeassistant/components/google_assistant/const.py
  tests/components/google_assistant/test_smart_home.py
Due: mypy

Add device to Wallbox integration (#63011)
  homeassistant/components/wallbox/__init__.py
  homeassistant/components/wallbox/const.py
  homeassistant/components/wallbox/number.py
  homeassistant/components/wallbox/sensor.py
  tests/components/wallbox/__init__.py
Due: mypy

Add webhook per agent_user_id and tests
  homeassistant/components/google_assistant/helpers.py
  homeassistant/components/google_assistant/http.py
  homeassistant/components/google_assistant/smart_home.py
  tests/components/google_assistant/test_helpers.py
  tests/components/google_assistant/test_http.py
  tests/components/google_assistant/test_smart_home.py
Due: mypy

Add support for Pet Feeder (cwwsq) in Tuya (#61359)
  homeassistant/components/tuya/binary_sensor.py
  homeassistant/components/tuya/const.py
  homeassistant/components/tuya/number.py
  homeassistant/components/tuya/sensor.py
  homeassistant/components/tuya/switch.py
Due: mypy

Limited changes to strings.select.json
  homeassistant/components/tuya/strings.select.json
  homeassistant/components/tuya/translations/select.en.json
Due: none

Add philips.light.hbulb support (#62417)
  homeassistant/components/xiaomi_miio/const.py
Due: mypy

Add support for logging in with access token in Matrix integration
  homeassistant/components/matrix/__init__.py
Due: mypy

Remove deprecated yaml config from sma (#62472)
  homeassistant/components/sma/__init__.py
  homeassistant/components/sma/config_flow.py
  homeassistant/components/sma/const.py
  homeassistant/components/sma/sensor.py
  tests/components/sma/__init__.py
  tests/components/sma/conftest.py
  tests/components/sma/test_config_flow.py
  tests/components/sma/test_sensor.py
Due: mypy

Use entity class attributes for Mazda integration (#59869)
  homeassistant/components/mazda/__init__.py
  homeassistant/components/mazda/device_tracker.py
  homeassistant/components/mazda/lock.py
  homeassistant/components/mazda/sensor.py
Due: mypy

Add support for philips js screen state (#62775)
  .coveragerc
  homeassistant/components/philips_js/__init__.py
  homeassistant/components/philips_js/light.py
  homeassistant/components/philips_js/media_player.py
  homeassistant/components/philips_js/remote.py
  homeassistant/components/philips_js/switch.py
  tests/components/philips_js/conftest.py
Due: mypy, hassfest

Add hardware revision support to homekit (#63336)
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/util.py
  tests/components/homekit/test_accessories.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_util.py
Due: mypy

Add little slack to CodeCov project/config-flows threshold (#63379)
  codecov.yml
Due: none

Cleanup nest config flow (#63351)
  homeassistant/components/nest/__init__.py
  homeassistant/components/nest/config_flow.py
Due: mypy

Convert Risco sensor states to timestamps (#63139)
  homeassistant/components/risco/sensor.py
Due: mypy
