Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

fix mypy
  homeassistant/components/reolink/config_flow.py
Due: mypy, pylint

Fix module check in _async_get_flow_handler
  homeassistant/config_entries.py
  homeassistant/loader.py
Due: mypy, pylint

create util.py
  homeassistant/components/reolink/config_flow.py
  homeassistant/components/reolink/util.py
Due: mypy, pylint

fix styling
  homeassistant/components/reolink/config_flow.py
  homeassistant/components/reolink/util.py
Due: mypy, pylint

fix docstring
  homeassistant/components/reolink/util.py
Due: mypy, pylint

Remove nest legacy service descriptions and translations
  homeassistant/components/nest/services.yaml
  homeassistant/components/nest/strings.json
Due: hassfest

Update homeassistant/components/reolink/util.py
  homeassistant/components/reolink/util.py
Due: mypy, pylint

fix tests
  tests/components/reolink/test_config_flow.py
Due: none

Code cleanup for nest device info
  homeassistant/components/nest/device_info.py
Due: mypy, pylint

Rename nest test_sensor_sdm.py to test_sensor.py
  tests/components/nest/test_sensor.py
Due: none

Switch mqtt to use async_call_later where possible (#99486)
  homeassistant/components/mqtt/binary_sensor.py
  homeassistant/components/mqtt/sensor.py
Due: mypy, pylint

typo in sub function
  tests/components/mqtt/test_util.py
Due: none

Speed up calls to the all states api (#99462)
  homeassistant/components/api/__init__.py
  tests/components/api/test_init.py
Due: mypy, pylint

Make long repr strings a contextmanager
  tests/conftest.py
Due: none

Switch isy994 to use async_call_later (#99487)
  homeassistant/components/isy994/binary_sensor.py
Due: mypy, pylint

Rework on mqtt certificate tests (#99503)
  tests/components/mqtt/conftest.py
  tests/components/mqtt/test_config_flow.py
  tests/components/mqtt/test_util.py
Due: none

Code cleanup for nest device info (#99511)
  homeassistant/components/nest/device_info.py
Due: mypy, pylint

Improve lingering timer checks (#99472)
  homeassistant/core.py
  tests/conftest.py
Due: mypy, pylint

remove scheduled setpoint
  homeassistant/components/zha/number.py
Due: mypy, pylint

remove scheduled setpoint in manufacturer specific
  homeassistant/components/zha/core/cluster_handlers/manufacturerspecific.py
Due: mypy, pylint

refactoring
  homeassistant/components/zha/number.py
Due: mypy, pylint

Handle gracefully when unloading apcupsd config entries
  homeassistant/components/apcupsd/__init__.py
Due: mypy, pylint

Check new IP of Reolink camera from DHCP (#99381)
  homeassistant/components/reolink/config_flow.py
  homeassistant/components/reolink/util.py
  tests/components/reolink/test_config_flow.py
Due: mypy, pylint

Bump zeroconf to 0.91.1 (#99490)
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Handle timestamp sensors in Prometheus integration (#98001)
  homeassistant/components/prometheus/__init__.py
  tests/components/prometheus/test_init.py
Due: mypy, pylint

Update Tibber library to 0.28.2 (#99115)
  homeassistant/components/tibber/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix device name in zwave_js repair flow (#99414)
  homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/repairs.py
  tests/components/zwave_js/test_repairs.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
