Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Prevent duplication of statistics metadata
  homeassistant/components/recorder/migration.py
  homeassistant/components/recorder/models.py
  homeassistant/components/recorder/statistics.py
  tests/components/recorder/test_statistics.py
Due: mypy

Handle entity renaming as a recorder job
  homeassistant/components/recorder/core.py
  homeassistant/components/recorder/statistics.py
  homeassistant/components/recorder/tasks.py
  homeassistant/components/recorder/websocket_api.py
  tests/components/recorder/test_statistics.py
Due: mypy

Fix tests and add #new_format anchor
  homeassistant/components/mqtt/mixins.py
  tests/components/mqtt/test_init.py
Due: mypy

Revert "Add display name for application credentials (#72053)"
  homeassistant/components/application_credentials/__init__.py
  tests/components/application_credentials/test_init.py
Due: mypy

Make changes to application_credentials trigger full CI run
  .core_files.yaml
Due: none

Fix Google tests
  tests/components/google/test_config_flow.py
Due: none

Fix Google tests (#72158)
  tests/components/google/test_config_flow.py
Due: none

Update moehlenhoff-alpha2 version
  requirements_all.txt
  requirements_test_all.txt
Due: none

Add moehlenhoff_alpha2/sensor.py to .coveragerc
  .coveragerc
Due: hassfest

Fix zone trigger (zone->zone) Issue #70364
  homeassistant/components/zone/trigger.py
Due: mypy

Move manual configuration of MQTT fan and light to the integration key (#71676)
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/const.py
  homeassistant/components/mqtt/discovery.py
  homeassistant/components/mqtt/fan.py
  homeassistant/components/mqtt/light/__init__.py
  homeassistant/components/mqtt/light/schema_basic.py
  homeassistant/components/mqtt/light/schema_json.py
  homeassistant/components/mqtt/light/schema_template.py
  homeassistant/components/mqtt/mixins.py
  tests/components/mqtt/test_common.py
  tests/components/mqtt/test_fan.py
  tests/components/mqtt/test_init.py
  tests/components/mqtt/test_light.py
  tests/components/mqtt/test_light_json.py
  tests/components/mqtt/test_light_template.py
  tests/conftest.py
Due: mypy

Add composite type
  homeassistant/components/device_automation/__init__.py
Due: mypy

Type logger
  .strict-typing
  homeassistant/components/logger/__init__.py
  homeassistant/components/logger/helpers.py
  homeassistant/components/logger/websocket_api.py
  mypy.ini
Due: mypy

Extend action protocol
  homeassistant/components/device_automation/action.py
Due: mypy

Fix mypy errors
  homeassistant/components/moehlenhoff_alpha2/sensor.py
Due: mypy

change attr default
  homeassistant/components/yolink/binary_sensor.py
Due: mypy

Assert config entry data/option
  tests/components/here_travel_time/test_config_flow.py
Due: none

Fix isort
  homeassistant/components/moehlenhoff_alpha2/sensor.py
Due: mypy

Add dataclass for settings
  homeassistant/components/logger/helpers.py
  homeassistant/components/logger/websocket_api.py
Due: mypy

Correct typo in comment
  homeassistant/components/moehlenhoff_alpha2/sensor.py
Due: mypy

Bump gcal-sync to 0.8.1
  homeassistant/components/google/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix latitude/longitude not getting updated
  homeassistant/components/jewish_calendar/__init__.py
Due: mypy

Adjust device_automation type hints in nest (#72135)
  homeassistant/components/nest/device_trigger.py
Due: mypy

Drop return/raise
  homeassistant/components/device_automation/action.py
Due: mypy

Update bond-api
  homeassistant/components/bond/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add alarm_control_panel
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/alarm_control_panel.py
  tests/components/mqtt/test_alarm_control_panel.py
Due: mypy

Add button
  homeassistant/components/mqtt/__init__.py
  homeassistant/components/mqtt/button.py
  tests/components/mqtt/test_button.py
Due: mypy

Make changes to application_credentials trigger full CI run (#72157)
  .core_files.yaml
Due: none

Add new methods to DeviceAutomationConditionProtocol
  homeassistant/components/device_automation/condition.py
Due: mypy

Add new methods to DeviceAutomationTriggerProtocol
  homeassistant/components/device_automation/trigger.py
Due: mypy

Add yolink binary sensor (#72000)
  .coveragerc
  homeassistant/components/yolink/__init__.py
  homeassistant/components/yolink/binary_sensor.py
Due: mypy, hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
