Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((homeassistant|pylint|script|tests)/.+)?[^/]+\.(py|pyi)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=astroid,checkin,currenty,hass,iif,incomfort,lookin,nam,NotIn
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^tests/fixtures/|homeassistant/generated/|tests/components/.*/snapshots/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.6.0
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py311-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(homeassistant|pylint)/.+\.(py|pyi)$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
        language: script
        types_or: [python, pyi]
        files: ^(homeassistant|tests)/.+\.(py|pyi)$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
      - id: hassfest-metadata
        name: hassfest-metadata
        entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
      - id: hassfest-mypy-config
        name: hassfest-mypy-config
        entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Fix section translations check (#133683)
  tests/components/conftest.py
Due: none

Store Twinkly runtime data in config entry (#133714)
  homeassistant/components/twinkly/__init__.py
  homeassistant/components/twinkly/const.py
  homeassistant/components/twinkly/diagnostics.py
  homeassistant/components/twinkly/light.py
Due: none

Add updates tests for Peblar Rocksolid EV Chargers (#133712)
  tests/components/peblar/snapshots/test_update.ambr
  tests/components/peblar/test_update.py
Due: none

Improve holidays config form and naming
  homeassistant/components/holiday/config_flow.py
  tests/components/holiday/test_config_flow.py
Due: none

Test color_temp updates are processed when an mqtt json light is turned off (#133715)
  tests/components/mqtt/test_light_json.py
Due: none

Fix test coverage in workday (#133616)
  homeassistant/components/workday/binary_sensor.py
  homeassistant/components/workday/config_flow.py
  tests/components/workday/test_config_flow.py
Due: none

Add quality scale to Overkiz
  homeassistant/components/overkiz/quality_scale.yaml
  script/hassfest/quality_scale.py
Due: hassfest

Use mac address in Twinkly for unique id
  homeassistant/components/twinkly/__init__.py
  homeassistant/components/twinkly/config_flow.py
  homeassistant/components/twinkly/light.py
  tests/components/twinkly/snapshots/test_diagnostics.ambr
  tests/components/twinkly/test_init.py
  tests/components/twinkly/test_light.py
Due: none

Use super constructor self.config_entry in enphase_envoy coordinator
  homeassistant/components/enphase_envoy/coordinator.py
  homeassistant/components/enphase_envoy/quality_scale.yaml
Due: none

Add device test for Peblar Rocksolid EV Chargers (#133713)
  tests/components/peblar/snapshots/test_init.ambr
  tests/components/peblar/test_init.py
Due: none

Use mac address in Twinkly for unique id
  tests/components/twinkly/test_init.py
Due: none

Use super constructor self.config_entry in enphase_envoy coordinator (#133718)
  homeassistant/components/enphase_envoy/coordinator.py
  homeassistant/components/enphase_envoy/quality_scale.yaml
Due: none

Classify integration for bronze
  homeassistant/components/overkiz/quality_scale.yaml
Due: none

remove cooling as not supported by firmware
  homeassistant/components/shelly/climate.py
Due: none

Use mac address in Twinkly for unique id (#133717)
  homeassistant/components/twinkly/__init__.py
  homeassistant/components/twinkly/config_flow.py
  homeassistant/components/twinkly/light.py
  tests/components/twinkly/snapshots/test_diagnostics.ambr
  tests/components/twinkly/test_init.py
  tests/components/twinkly/test_light.py
Due: none

Fix spelling of "Gateway PIN" and remove two excessive spaces (#133716)
  homeassistant/components/overkiz/strings.json
Due: hassfest

Add Avatar image entity
  homeassistant/components/habitica/__init__.py
  homeassistant/components/habitica/coordinator.py
  homeassistant/components/habitica/image.py
  homeassistant/components/habitica/manifest.json
  homeassistant/components/habitica/strings.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Rework audit-licenses check [ci]
  script/licenses.py
Due: none

fix ruff formating
  homeassistant/components/habitica/__init__.py
  homeassistant/components/habitica/const.py
  homeassistant/components/habitica/coordinator.py
  homeassistant/components/habitica/image.py
Due: none

Add select platform to Peblar Rocksolid EV Chargers integration
  homeassistant/components/peblar/__init__.py
  homeassistant/components/peblar/coordinator.py
  homeassistant/components/peblar/diagnostics.py
  homeassistant/components/peblar/icons.json
  homeassistant/components/peblar/select.py
  homeassistant/components/peblar/strings.json
  tests/components/peblar/conftest.py
  tests/components/peblar/fixtures/user_configuration.json
  tests/components/peblar/snapshots/test_diagnostics.ambr
  tests/components/peblar/snapshots/test_select.ambr
  tests/components/peblar/test_select.py
Due: hassfest

Tweaks
  homeassistant/components/peblar/icons.json
  homeassistant/components/peblar/select.py
Due: hassfest

Update aiohasupervisor to 0.2.2b5
  homeassistant/components/hassio/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Ignore devices (bravias) with 'video' service_type for songpal discovery
  homeassistant/components/songpal/config_flow.py
Due: none

Update AEMET-OpenData to v0.6.4
  homeassistant/components/aemet/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

update deps
  homeassistant/components/habitica/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add select platform to Peblar Rocksolid EV Chargers integration (#133720)
  homeassistant/components/peblar/__init__.py
  homeassistant/components/peblar/coordinator.py
  homeassistant/components/peblar/diagnostics.py
  homeassistant/components/peblar/icons.json
  homeassistant/components/peblar/select.py
  homeassistant/components/peblar/strings.json
  tests/components/peblar/conftest.py
  tests/components/peblar/fixtures/user_configuration.json
  tests/components/peblar/snapshots/test_diagnostics.ambr
  tests/components/peblar/snapshots/test_select.ambr
  tests/components/peblar/test_select.py
Due: hassfest

Update more places
  homeassistant/package_constraints.txt
  pyproject.toml
  requirements.txt
Due: gen_requirements_all, hassfest-metadata

Refactor Twinkly tests
  homeassistant/components/twinkly/strings.json
  tests/components/twinkly/__init__.py
  tests/components/twinkly/conftest.py
  tests/components/twinkly/fixtures/get_current_movie.json
  tests/components/twinkly/fixtures/get_details.json
  tests/components/twinkly/fixtures/get_firmware_version.json
  tests/components/twinkly/fixtures/get_saved_movies.json
  tests/components/twinkly/snapshots/test_diagnostics.ambr
  tests/components/twinkly/snapshots/test_light.ambr
  tests/components/twinkly/test_config_flow.py
  tests/components/twinkly/test_diagnostics.py
  tests/components/twinkly/test_init.py
  tests/components/twinkly/test_light.py
Due: hassfest

Refactor Twinkly tests
  tests/components/twinkly/__init__.py
  tests/components/twinkly/const.py
  tests/components/twinkly/test_config_flow.py
  tests/components/twinkly/test_init.py
  tests/components/twinkly/test_light.py
Due: none

Replace all occurrence of "service" with "action"
  homeassistant/components/zwave_js/strings.json
Due: hassfest
