Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

fix manifest
  homeassistant/components/zha/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump bleak to 0.22.0 (#116955)
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Migrate bluetooth to use config entry runtime_data
  homeassistant/components/bluetooth/__init__.py
Due: mypy, pylint

Added configflow and tests for touchline. Switched from pytouchline to pytouchline_extended, which brings support for multiple roth touchline controllers and updated dependencies.
  homeassistant/components/touchline/__init__.py
  homeassistant/components/touchline/climate.py
  homeassistant/components/touchline/config_flow.py
  homeassistant/components/touchline/const.py
  homeassistant/components/touchline/manifest.json
  homeassistant/components/touchline/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/touchline/__init__.py
  tests/components/touchline/test_config_flow.py
Due: mypy, pylint, gen_requirements_all, hassfest

Ensure runtime_data can be garbage collected after config entry unload
  homeassistant/config_entries.py
Due: mypy, pylint

Convert Anova to cloud push (#109508)
  homeassistant/components/anova/__init__.py
  homeassistant/components/anova/config_flow.py
  homeassistant/components/anova/coordinator.py
  homeassistant/components/anova/entity.py
  homeassistant/components/anova/manifest.json
  homeassistant/components/anova/models.py
  homeassistant/components/anova/sensor.py
  homeassistant/components/anova/strings.json
  homeassistant/components/anova/util.py
  homeassistant/generated/integrations.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/anova/__init__.py
  tests/components/anova/conftest.py
  tests/components/anova/test_config_flow.py
  tests/components/anova/test_init.py
  tests/components/anova/test_sensor.py
Due: mypy, pylint, gen_requirements_all, hassfest

fixes, test
  homeassistant/config_entries.py
  tests/test_config_entries.py
Due: mypy, pylint

Add docstrings and clean code.
  homeassistant/components/ledsc/__init__.py
  homeassistant/components/ledsc/config_flow.py
  homeassistant/components/ledsc/consts.py
  homeassistant/components/ledsc/exceptions.py
  homeassistant/components/ledsc/ledsc.py
  homeassistant/components/ledsc/light.py
  homeassistant/components/ledsc/manifest.json
Due: mypy, pylint, gen_requirements_all, hassfest

Migrate govee_ble to use config entry runtime_data
  homeassistant/components/govee_ble/__init__.py
  homeassistant/components/govee_ble/sensor.py
Due: mypy, pylint

Migrate elkm1 to use config entry runtime_data
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/alarm_control_panel.py
  homeassistant/components/elkm1/binary_sensor.py
  homeassistant/components/elkm1/climate.py
  homeassistant/components/elkm1/light.py
  homeassistant/components/elkm1/scene.py
  homeassistant/components/elkm1/sensor.py
  homeassistant/components/elkm1/switch.py
Due: mypy, pylint

Update tests/helpers/test_template.py
  tests/helpers/test_template.py
Due: none

missed saving one
  homeassistant/components/elkm1/__init__.py
  homeassistant/components/elkm1/sensor.py
Due: mypy, pylint

fixes
  homeassistant/config_entries.py
Due: mypy, pylint

Bump python-roborock to 2.1.1
  homeassistant/components/roborock/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

tests
  tests/helpers/test_update_coordinator.py
  tests/test_config_entries.py
Due: none

update manifest and call script.gen_requirements_all
  homeassistant/components/ledsc/manifest.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  requirements_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Bump rokuecp to 0.19.3 (#117059)
  homeassistant/components/roku/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add an add template filter (#109884)
  homeassistant/helpers/template.py
  tests/helpers/test_template.py
Due: mypy, pylint

Migrate baf to use config entry runtime_data
  homeassistant/components/baf/__init__.py
  homeassistant/components/baf/binary_sensor.py
  homeassistant/components/baf/climate.py
  homeassistant/components/baf/fan.py
  homeassistant/components/baf/light.py
  homeassistant/components/baf/number.py
  homeassistant/components/baf/sensor.py
  homeassistant/components/baf/switch.py
Due: mypy, pylint

Migrate yalexs_ble to use config entry runtime_data
  homeassistant/components/yalexs_ble/__init__.py
  homeassistant/components/yalexs_ble/binary_sensor.py
  homeassistant/components/yalexs_ble/lock.py
  homeassistant/components/yalexs_ble/sensor.py
Due: mypy, pylint

Fix config entry _async_process_on_unload being called for forwarded platforms
  homeassistant/config_entries.py
Due: mypy, pylint

set correct state classes
  homeassistant/components/tibber/sensor.py
Due: mypy, pylint

Ensure setup lock is held when removing a config entry
  homeassistant/config_entries.py
Due: mypy, pylint

fix wemo
  homeassistant/components/wemo/__init__.py
  homeassistant/components/wemo/wemo_device.py
Due: mypy, pylint

Add a missing `addon_name` placeholder to the SkyConnect config flow
  homeassistant/components/homeassistant_sky_connect/config_flow.py
Due: mypy, pylint

use SensorUpdate
  homeassistant/components/govee_ble/__init__.py
Due: mypy, pylint

delete more
  homeassistant/components/baf/__init__.py
  homeassistant/components/baf/binary_sensor.py
  homeassistant/components/baf/climate.py
  homeassistant/components/baf/fan.py
  homeassistant/components/baf/light.py
  homeassistant/components/baf/models.py
  homeassistant/components/baf/number.py
  homeassistant/components/baf/sensor.py
  homeassistant/components/baf/switch.py
Due: mypy, pylint

fix
  homeassistant/components/baf/__init__.py
Due: mypy, pylint

Increase max export limit to 200%
  homeassistant/components/goodwe/number.py
Due: mypy, pylint

Correct state class of ecowitt hourly rain rate sensors (#110475)
  homeassistant/components/ecowitt/sensor.py
Due: mypy, pylint

Initial commit
  homeassistant/components/jewish_calendar/__init__.py
  homeassistant/components/jewish_calendar/binary_sensor.py
  homeassistant/components/jewish_calendar/config_flow.py
  homeassistant/components/jewish_calendar/const.py
  homeassistant/components/jewish_calendar/manifest.json
  homeassistant/components/jewish_calendar/sensor.py
  homeassistant/components/jewish_calendar/strings.json
  homeassistant/components/jewish_calendar/translations/en.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
Due: mypy, pylint, gen_requirements_all, hassfest

bit by bit, still not working tho
  tests/components/jewish_calendar/test_config_flow.py
Due: none

Set basic UID for now
  homeassistant/components/jewish_calendar/__init__.py
  homeassistant/components/jewish_calendar/binary_sensor.py
  homeassistant/components/jewish_calendar/sensor.py
Due: mypy, pylint

update unique_id
  homeassistant/components/jewish_calendar/binary_sensor.py
  homeassistant/components/jewish_calendar/sensor.py
Due: mypy, pylint

remove translations
  homeassistant/components/jewish_calendar/translations/en.json
Due: none
