Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Add Opower virtual integration for Portland General Electric (#101800)
  homeassistant/components/portlandgeneral/__init__.py
  homeassistant/components/portlandgeneral/manifest.json
  homeassistant/generated/integrations.json
Due: mypy, pylint, gen_requirements_all, hassfest

Updated test-TestGetBinStatus to test get_bin_status() function
  tests/components/roomba/test_binary_sensor.py
Due: none

Bump env_canada to 0.6.0 (#101798)
  homeassistant/components/environment_canada/manifest.json
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest, hassfest-metadata

Add MariaDB 10.11.2 to CI
  .github/workflows/ci.yaml
Due: none

chore: move global variables to functions
  tests/components/blebox/test_helpers.py
Due: none

Added return types
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/netatmo/climate.py
  homeassistant/components/netatmo/media_source.py
Due: mypy, pylint

Fix option flow
  homeassistant/components/workday/config_flow.py
Due: mypy, pylint

Bumb python-homewizard-energy to 2.1.2 (#101805)
  homeassistant/components/homewizard/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fixed some more code smells
  homeassistant/components/netatmo/climate.py
Due: mypy, pylint

Review related changes
  homeassistant/components/switchbot_cloud/climate.py
Due: mypy, pylint

Update aioqsw to v0.3.5
  homeassistant/components/qnap_qsw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

changed to more appropriate method names
  homeassistant/components/template/light.py
Due: mypy, pylint

Mark entities field of screne.create service advanced
  homeassistant/components/scene/services.yaml
Due: hassfest

Define constants instead of duplicated strings (emulated_hue)
  homeassistant/components/emulated_hue/const.py
  homeassistant/components/emulated_hue/hue_api.py
Due: mypy, pylint

Remove NONE_SENTINEL in favor of optional select in template (#101279)
  homeassistant/components/template/config_flow.py
  homeassistant/components/template/strings.json
Due: mypy, pylint, hassfest

Add update entity for Plex Media Server (#101682)
  homeassistant/components/plex/const.py
  homeassistant/components/plex/update.py
  tests/components/plex/conftest.py
  tests/components/plex/fixtures/release_new.xml
  tests/components/plex/fixtures/release_new_not_updatable.xml
  tests/components/plex/fixtures/release_nochange.xml
  tests/components/plex/test_update.py
Due: mypy, pylint

Update mypy to 1.6.0 (#101780)
  homeassistant/auth/mfa_modules/__init__.py
  homeassistant/auth/permissions/util.py
  homeassistant/auth/providers/__init__.py
  homeassistant/backports/functools.py
  homeassistant/components/bond/utils.py
  homeassistant/components/cloud/prefs.py
  homeassistant/components/doorbird/util.py
  homeassistant/components/emulated_hue/config.py
  homeassistant/components/isy994/sensor.py
  homeassistant/components/media_extractor/__init__.py
  homeassistant/components/mysensors/climate.py
  homeassistant/components/upcloud/__init__.py
  homeassistant/data_entry_flow.py
  homeassistant/helpers/entity.py
  homeassistant/helpers/template.py
  mypy.ini
  requirements_test.txt
  script/hassfest/mypy_config.py
Due: mypy, pylint, hassfest-mypy-config

Remove NONE_SENTINEL in favor of optional select in workday (#101280)
  homeassistant/components/workday/config_flow.py
  homeassistant/components/workday/repairs.py
  tests/components/workday/test_config_flow.py
  tests/components/workday/test_repairs.py
Due: mypy, pylint

Add MariaDB 10.11.2 to CI (#101807)
  .github/workflows/ci.yaml
Due: none

Bump bimmer_connected to 0.14.1 (#101789)
  homeassistant/components/bmw_connected_drive/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/bmw_connected_drive/snapshots/test_diagnostics.ambr
Due: gen_requirements_all, hassfest

Fixing new codesmell by renaming parameters
  homeassistant/components/yale_smart_alarm/coordinator.py
Due: mypy, pylint

Adjust language slightly for philips_js strings (#101783)
  homeassistant/components/philips_js/strings.json
Due: hassfest

Update legacy.py
  homeassistant/components/recorder/history/legacy.py
Due: mypy, pylint

Continue refactoring
  homeassistant/components/analytics/analytics.py
Due: mypy, pylint

Add unique_id to Pilight integration
  homeassistant/components/pilight/base_class.py
  homeassistant/components/pilight/binary_sensor.py
  homeassistant/components/pilight/sensor.py
  tests/components/pilight/test_binary_sensor.py
  tests/components/pilight/test_light.py
  tests/components/pilight/test_sensor.py
  tests/components/pilight/test_switch.py
Due: mypy, pylint

Reduced cognitive complexity in _reduce_statistics in statistics.py
  homeassistant/components/recorder/statistics.py
Due: mypy, pylint

refactored second part of the second code smell.
  homeassistant/components/template/light.py
Due: mypy, pylint

linting
  homeassistant/components/lamarzocco/binary_sensor.py
  homeassistant/components/lamarzocco/button.py
  homeassistant/components/lamarzocco/config_flow.py
  homeassistant/components/lamarzocco/const.py
  homeassistant/components/lamarzocco/coordinator.py
  homeassistant/components/lamarzocco/entity.py
  homeassistant/components/lamarzocco/lm_client.py
  homeassistant/components/lamarzocco/sensor.py
  homeassistant/components/lamarzocco/services.py
  homeassistant/components/lamarzocco/switch.py
  homeassistant/components/lamarzocco/update.py
  homeassistant/components/lamarzocco/water_heater.py
  tests/components/lamarzocco/conftest.py
  tests/components/lamarzocco/test_config_flow.py
Due: mypy, pylint

Fix Plex update module docstring
  homeassistant/components/plex/update.py
Due: mypy, pylint

Update aioqsw to v0.3.5 (#101809)
  homeassistant/components/qnap_qsw/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
