Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Use SensorEntityDescription in Brother integration (#53558)
  homeassistant/components/brother/const.py
  homeassistant/components/brother/model.py
  homeassistant/components/brother/sensor.py
Due: mypy

Add initial version for the YouLess integration (#41942)
  .coveragerc
  CODEOWNERS
  homeassistant/components/youless/__init__.py
  homeassistant/components/youless/config_flow.py
  homeassistant/components/youless/const.py
  homeassistant/components/youless/manifest.json
  homeassistant/components/youless/sensor.py
  homeassistant/components/youless/strings.json
  homeassistant/components/youless/translations/en.json
  homeassistant/generated/config_flows.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/youless/__init__.py
  tests/components/youless/test_config_flows.py
Due: mypy, gen_requirements_all, hassfest

Remove switch current power
  homeassistant/components/mysensors/switch.py
Due: mypy

Use EntityDescription - epsonworkforce (#53556)
  homeassistant/components/epsonworkforce/sensor.py
Due: mypy

Use entity descriptions classes in Forecast.Solar (#53553)
  homeassistant/components/forecast_solar/const.py
  homeassistant/components/forecast_solar/models.py
  homeassistant/components/forecast_solar/sensor.py
Due: mypy

Add sensor power and energy device classes
  homeassistant/components/mysensors/sensor.py
Due: mypy

Refactor the logic for peeking into the start of the stream (#52699)
  homeassistant/components/stream/worker.py
  tests/components/stream/test_worker.py
Due: mypy

Add sensor state class
  homeassistant/components/mysensors/sensor.py
Due: mypy

Set sensor last reset
  homeassistant/components/mysensors/sensor.py
Due: mypy

Use EntityDescription - rainbird (#53560)
  homeassistant/components/rainbird/__init__.py
  homeassistant/components/rainbird/binary_sensor.py
  homeassistant/components/rainbird/sensor.py
Due: mypy

Add more sensor attributes
  homeassistant/components/mysensors/sensor.py
Due: mypy

Clean f-string
  homeassistant/components/mysensors/sensor.py
Due: mypy

Fix defaults
  homeassistant/components/mysensors/sensor.py
Due: mypy

Use EntityDescription - skybell
  homeassistant/components/skybell/binary_sensor.py
  homeassistant/components/skybell/sensor.py
  homeassistant/components/skybell/switch.py
Due: mypy

Use EntityDescription - ebox
  homeassistant/components/ebox/sensor.py
Due: mypy

Test power sensor
  tests/components/mysensors/conftest.py
  tests/components/mysensors/test_sensor.py
  tests/fixtures/mysensors/power_sensor_state.json
Due: none

Add extension kdcro101.favorites to devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.default.json
Due: none

Bump matrix-client to 0.4.0 (#53508)
  homeassistant/components/matrix/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Fix version in test
  tests/components/hassio/test_init.py
Due: none

Use EntityDescription - netatmo
  homeassistant/components/netatmo/sensor.py
Due: mypy

Only return epoch 0 for energy sensor
  homeassistant/components/mysensors/sensor.py
Due: mypy

Use EntityDescription - tibber
  homeassistant/components/tibber/sensor.py
Due: mypy

Move the coordinator logic to the BroadlinkEntity class
  homeassistant/components/broadlink/entity.py
  homeassistant/components/broadlink/remote.py
  homeassistant/components/broadlink/sensor.py
  homeassistant/components/broadlink/switch.py
Due: mypy

Fix typing
  homeassistant/components/skybell/binary_sensor.py
  homeassistant/components/skybell/sensor.py
Due: mypy

Use EntityDescription - ebox (#53565)
  homeassistant/components/ebox/sensor.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
