Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Disable thermobeacon voltage sensors by default
  homeassistant/components/thermobeacon/sensor.py
  tests/components/thermobeacon/test_sensor.py
Due: mypy, pylint

Review comments
  homeassistant/components/zwave_js/__init__.py
  tests/components/zwave_js/test_init.py
Due: mypy, pylint

Update homeassistant/components/zwave_js/__init__.py
  homeassistant/components/zwave_js/__init__.py
Due: mypy, pylint

zm-py version bump for zoneminder
  CODEOWNERS
  homeassistant/components/zoneminder/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

refactor to avoid waiting
  homeassistant/bootstrap.py
Due: mypy, pylint

tweaks
  homeassistant/bootstrap.py
Due: mypy, pylint

tweak
  homeassistant/bootstrap.py
Due: mypy, pylint

Disable thermobeacon voltage sensors by default (#107326)
  homeassistant/components/thermobeacon/sensor.py
  tests/components/thermobeacon/test_sensor.py
Due: mypy, pylint

background is fine
  homeassistant/bootstrap.py
Due: mypy, pylint

Add API to fetch Assist devices
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/select.py
  homeassistant/components/assist_pipeline/websocket_api.py
  homeassistant/components/esphome/select.py
  homeassistant/components/voip/select.py
  homeassistant/components/wyoming/select.py
  tests/components/assist_pipeline/conftest.py
  tests/components/assist_pipeline/test_select.py
  tests/components/assist_pipeline/test_websocket.py
Due: mypy, pylint

Fix name of 64bit intel/amd arch
  .github/workflows/builder.yml
  .github/workflows/wheels.yml
Due: none

Bump zm-py version to v0.5.3 for zoneminder (#107331)
  CODEOWNERS
  homeassistant/components/zoneminder/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Add coverage for scanning tags with ESPHome
  tests/components/esphome/test_manager.py
Due: none

Reduce duplicate code in ESPHome connection callback
  homeassistant/components/esphome/manager.py
Due: mypy, pylint

preen
  homeassistant/components/esphome/manager.py
Due: mypy, pylint

fixes
  tests/components/esphome/conftest.py
  tests/components/esphome/test_manager.py
Due: none

Revert some changes to fixture, make a single fixture for an Assist device
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/websocket_api.py
  tests/components/assist_pipeline/conftest.py
  tests/components/assist_pipeline/test_websocket.py
Due: mypy, pylint

cover
  tests/components/esphome/test_manager.py
Due: none

Add API to fetch Assist devices (#107333)
  homeassistant/components/assist_pipeline/pipeline.py
  homeassistant/components/assist_pipeline/select.py
  homeassistant/components/assist_pipeline/websocket_api.py
  homeassistant/components/esphome/select.py
  homeassistant/components/voip/select.py
  homeassistant/components/wyoming/select.py
  tests/components/assist_pipeline/conftest.py
  tests/components/assist_pipeline/test_select.py
  tests/components/assist_pipeline/test_websocket.py
Due: mypy, pylint

Avoid fetching logger in check_if_deprecated_constant if there is nothing to log
  homeassistant/helpers/deprecation.py
Due: mypy, pylint

fixes
  homeassistant/components/logger/helpers.py
Due: mypy, pylint

Small cleanup to zeroconf properties matcher
  homeassistant/components/zeroconf/__init__.py
Due: mypy, pylint

tweak
  homeassistant/components/zeroconf/__init__.py
Due: mypy, pylint

Clean up zwave_js test_removed_device test
  tests/components/zwave_js/test_init.py
Due: none

Increase number of devices in test
  tests/components/homematicip_cloud/test_device.py
Due: none

Update homeassistant/components/renson/time.py
  homeassistant/components/renson/time.py
Due: mypy, pylint

Add time entity to Renson (#105031)
  .coveragerc
  homeassistant/components/renson/__init__.py
  homeassistant/components/renson/sensor.py
  homeassistant/components/renson/strings.json
  homeassistant/components/renson/time.py
Due: mypy, pylint, hassfest

Change CONF_IP_ADDRESS to CONF_HOST for TechnoVE
  homeassistant/components/technove/config_flow.py
  homeassistant/components/technove/coordinator.py
  homeassistant/components/technove/strings.json
  tests/components/technove/conftest.py
  tests/components/technove/test_config_flow.py
Due: mypy, pylint, hassfest

Use faster identity checks for SupportsResponse Enum
  homeassistant/core.py
Due: mypy, pylint

add identifiers to device_info
  homeassistant/components/webmin/coordinator.py
Due: mypy, pylint

Update homeassistant/components/technove/config_flow.py
  homeassistant/components/technove/config_flow.py
Due: mypy, pylint

remove unnecessary check
  homeassistant/components/homematicip_cloud/climate.py
Due: mypy, pylint

Fix support for play/pause functionality in System Bridge (#103423)
  homeassistant/components/system_bridge/media_player.py
Due: mypy, pylint
