Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Register callbacks in the executor
  homeassistant/components/raspihats/binary_sensor.py
  homeassistant/components/raspihats/switch.py
Due: mypy

Move read_dq to online_callback
  homeassistant/components/raspihats/switch.py
Due: mypy

Add missing PRECIPITATION_MILLIMETERS in const
  homeassistant/const.py
Due: mypy

Fix tests and add setup type in feedreader (#64280)
  homeassistant/components/feedreader/__init__.py
  tests/components/feedreader/test_init.py
Due: mypy

Update homeassistant/components/github/const.py
  homeassistant/components/github/const.py
Due: mypy

Use domain names, not platform enum, in service calls
  tests/components/wemo/test_fan.py
  tests/components/wemo/test_light_bridge.py
  tests/components/wemo/test_light_dimmer.py
  tests/components/wemo/test_switch.py
Due: none

Review adjustments
  homeassistant/components/github/config_flow.py
  homeassistant/components/github/sensor.py
  tests/components/github/test_config_flow.py
Due: mypy

Move storing coordinators
  homeassistant/components/github/__init__.py
Due: mypy

Fix raspihats callbacks (#64122)
  homeassistant/components/raspihats/binary_sensor.py
  homeassistant/components/raspihats/switch.py
Due: mypy

Add type hints to configurator
  homeassistant/components/configurator/__init__.py
Due: mypy

typo
  homeassistant/components/github/sensor.py
Due: mypy

WeMo state changes are seen by all coordinator entities (#64228)
  homeassistant/components/wemo/entity.py
  homeassistant/components/wemo/fan.py
  homeassistant/components/wemo/light.py
  homeassistant/components/wemo/switch.py
  homeassistant/components/wemo/wemo_device.py
  tests/components/wemo/entity_test_helpers.py
  tests/components/wemo/test_fan.py
  tests/components/wemo/test_light_bridge.py
  tests/components/wemo/test_light_dimmer.py
  tests/components/wemo/test_switch.py
Due: mypy

Adjust fitbit
  homeassistant/components/fitbit/sensor.py
Due: mypy

Adjust gpmdp
  homeassistant/components/gpmdp/media_player.py
Due: mypy

remove option to specify port
  homeassistant/components/netgear/config_flow.py
  homeassistant/components/netgear/strings.json
  tests/components/netgear/test_config_flow.py
Due: mypy, hassfest

Implement entity_descriptions in SIA (#63130)
  homeassistant/components/sia/alarm_control_panel.py
  homeassistant/components/sia/binary_sensor.py
  homeassistant/components/sia/config_flow.py
  homeassistant/components/sia/const.py
  homeassistant/components/sia/hub.py
  homeassistant/components/sia/sia_entity_base.py
Due: mypy

Reuse name variable
  homeassistant/components/utility_meter/__init__.py
Due: mypy

Add Shelly Gen2 polling for sesnors missing push updates (#64171)
  homeassistant/components/shelly/__init__.py
  homeassistant/components/shelly/const.py
  homeassistant/components/shelly/entity.py
  homeassistant/components/shelly/sensor.py
Due: mypy

Initial Tuya support for FSD based fans
  homeassistant/components/tuya/fan.py
Due: mypy

spelling: components/fritz (#64259)
  homeassistant/components/fritz/common.py
Due: mypy

spelling: components/denonavr (#64244)
  homeassistant/components/denonavr/strings.json
  homeassistant/components/denonavr/translations/en.json
Due: hassfest

Improve tests
  tests/components/alexa/test_state_report.py
  tests/components/cloud/test_alexa_config.py
Due: none

Improve tests
  tests/components/cloud/test_alexa_config.py
Due: none

Redact password from logged media player url
  homeassistant/components/media_player/__init__.py
Due: mypy

fix styling
  homeassistant/components/netgear/__init__.py
  homeassistant/components/netgear/config_flow.py
  homeassistant/components/netgear/router.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
