Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

changing reverse logic
  homeassistant/components/tuya/base.py
  homeassistant/components/tuya/cover.py
Due: mypy

Adjust tests
  tests/components/cast/test_media_player.py
Due: none

removing duplicate
  homeassistant/components/tuya/base.py
Due: mypy

Fixed broken by commit #55065 switch platform.
  homeassistant/components/wirelesstag/__init__.py
Due: mypy

Add proper type hints
  homeassistant/components/goodwe/__init__.py
  homeassistant/components/goodwe/sensor.py
Due: mypy

Bump pymysensors to 0.22.0 (#51265)
  homeassistant/components/mysensors/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix hvac action for climate entities without controller_mode
  homeassistant/components/knx/climate.py
  homeassistant/components/knx/const.py
Due: mypy

some changes
  .coveragerc
  homeassistant/components/tautulli/__init__.py
  homeassistant/components/tautulli/config_flow.py
  homeassistant/components/tautulli/coordinator.py
  homeassistant/components/tautulli/sensor.py
  homeassistant/components/tautulli/strings.json
  homeassistant/components/tautulli/translations/en.json
  tests/components/tautulli/__init__.py
  tests/components/tautulli/test_config_flow.py
Due: mypy, hassfest

Set PARALLEL_UPDATES for ping binary sensor
  homeassistant/components/ping/binary_sensor.py
Due: mypy

Add Nut device explicitly to the device registry
  homeassistant/components/nut/__init__.py
Due: mypy

[ci skip] Translation update
  homeassistant/components/alarm_control_panel/translations/tr.json
  homeassistant/components/awair/translations/tr.json
  homeassistant/components/blink/translations/tr.json
  homeassistant/components/climate/translations/tr.json
  homeassistant/components/cloudflare/translations/tr.json
  homeassistant/components/deconz/translations/tr.json
  homeassistant/components/directv/translations/tr.json
  homeassistant/components/esphome/translations/fr.json
  homeassistant/components/evil_genius_labs/translations/bg.json
  homeassistant/components/evil_genius_labs/translations/ca.json
  homeassistant/components/evil_genius_labs/translations/nl.json
  homeassistant/components/forecast_solar/translations/pl.json
  homeassistant/components/google_travel_time/translations/tr.json
  homeassistant/components/hyperion/translations/tr.json
  homeassistant/components/juicenet/translations/tr.json
  homeassistant/components/konnected/translations/tr.json
  homeassistant/components/litterrobot/translations/pl.json
  homeassistant/components/motion_blinds/translations/tr.json
  homeassistant/components/motioneye/translations/pl.json
  homeassistant/components/mqtt/translations/tr.json
  homeassistant/components/nanoleaf/translations/tr.json
  homeassistant/components/nut/translations/en.json
  homeassistant/components/roomba/translations/tr.json
  homeassistant/components/samsungtv/translations/pl.json
  homeassistant/components/shelly/translations/fr.json
  homeassistant/components/simplisafe/translations/tr.json
  homeassistant/components/tuya/translations/fr.json
  homeassistant/components/tuya/translations/pl.json
  homeassistant/components/volumio/translations/tr.json
  homeassistant/components/watttime/translations/fr.json
  homeassistant/components/wolflink/translations/sensor.tr.json
  homeassistant/components/xiaomi_miio/translations/tr.json
  homeassistant/components/yale_smart_alarm/translations/pl.json
Due: none

tweak and clean up
  homeassistant/components/tautulli/__init__.py
  homeassistant/components/tautulli/config_flow.py
  homeassistant/components/tautulli/sensor.py
  homeassistant/components/tautulli/strings.json
  homeassistant/components/tautulli/translations/en.json
Due: mypy, hassfest

Remove yaml config from modem_callerid
  homeassistant/components/modem_callerid/config_flow.py
  homeassistant/components/modem_callerid/const.py
  homeassistant/components/modem_callerid/sensor.py
  tests/components/modem_callerid/test_config_flow.py
Due: mypy

Fix wirelesstag switch arm/disarm (#59515)
  homeassistant/components/wirelesstag/__init__.py
Due: mypy

write to temp
  tests/components/config/test_group.py
Due: none

Bump sqlalchemy to 1.4.26
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump sqlalchemy to 1.4.26 (#59527)
  homeassistant/components/recorder/manifest.json
  homeassistant/components/sql/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Make yaml file writes safer (#59384)
  homeassistant/components/config/__init__.py
  homeassistant/util/file.py
  homeassistant/util/json.py
  tests/components/config/test_group.py
  tests/util/test_file.py
Due: mypy

Upgrade pyupgrade to v2.29.0 (#59499)
  .pre-commit-config.yaml
  requirements_test_pre_commit.txt
Due: gen_requirements_all

Add binary sensor platform to RDW Vehicle information (#59253)
  homeassistant/components/rdw/__init__.py
  homeassistant/components/rdw/binary_sensor.py
  tests/components/rdw/test_binary_sensor.py
Due: mypy

Fix ESPHome state watching when new state is None
  homeassistant/components/esphome/__init__.py
Due: mypy

Add button entity platform (restart button) to WLED (#59086)
  homeassistant/components/wled/__init__.py
  homeassistant/components/wled/button.py
  tests/components/wled/test_button.py
Due: mypy

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
