Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Improved code styling
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Add sorting of artists, albums and tracks
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Fix unit tests for config flow
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  tests/components/jellyfin/test_config_flow.py
Due: mypy

Optimize configuration flow
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Fix import order
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Use empty string as media type for non playables
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Conform to style requirements
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/manifest.json
  homeassistant/components/jellyfin/media_source.py
  homeassistant/components/jellyfin/strings.json
  homeassistant/components/jellyfin/translations/en.json
  tests/components/jellyfin/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

100% code coverage config_flow
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  tests/components/jellyfin/test_config_flow.py
Due: mypy

Add __init__ and media_source files to .coveragerc
  .coveragerc
Due: hassfest

Type async_get_media_source
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Fix testing issues after rebase
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/manifest.json
  tests/components/jellyfin/test_config_flow.py
Due: mypy, gen_requirements_all, hassfest

Final docsctring fix after rebase
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Remove unused manifest entries
  homeassistant/components/jellyfin/manifest.json
Due: gen_requirements_all, hassfest

Raise ConfigEntry exceptions, not log errors
  homeassistant/components/jellyfin/__init__.py
Due: mypy

Fix string format issues and relative const import
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Upgrade dependency to avoid WARNING on startup
  homeassistant/components/jellyfin/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Change to builtin tuple and list (deprecation)
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Log broad exceptions
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
Due: mypy

Add strict typing
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Further type fixes after rebase
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Retry when cannot connect, otherwise fail setup
  homeassistant/components/jellyfin/__init__.py
Due: mypy

Remove unused CONFIG_SCHEMA
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Enable strict typing checks
  .strict-typing
Due: none

FlowResultDict -> FlowResult
  homeassistant/components/jellyfin/config_flow.py
  mypy.ini
Due: mypy

Code quality improvements
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/media_source.py
Due: mypy

Resolve mypy.ini merge conflict
  mypy.ini
Due: none

Use unique userid generated by Jellyfin
  homeassistant/components/jellyfin/config_flow.py
  tests/components/jellyfin/test_config_flow.py
Due: mypy

Update homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/config_flow.py
Due: mypy

Implement contextlib way of exception handling
  homeassistant/components/statistics/sensor.py
Due: mypy

enabling switch control GPIO from outside HomeAssistant and reading the current status of outputs
  homeassistant/components/rpi_gpio/switch.py
Due: mypy

Minor changes for additional checks after rebase
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/media_source.py
  mypy.ini
Due: mypy

Remove title from string and translations
  homeassistant/components/jellyfin/strings.json
  homeassistant/components/jellyfin/translations/en.json
Due: hassfest

Changes wrt review
  homeassistant/components/jellyfin/__init__.py
  homeassistant/components/jellyfin/config_flow.py
  homeassistant/components/jellyfin/const.py
  homeassistant/components/jellyfin/media_source.py
  tests/components/jellyfin/test_config_flow.py
Due: mypy

Switch test case logic to remove sensor last
  tests/components/statistics/test_sensor.py
Due: none

Mark various config and diagnostic sensors' entity category as such
  homeassistant/components/huawei_lte/sensor.py
Due: mypy

Add uptime sensor
  homeassistant/components/huawei_lte/sensor.py
Due: mypy

Bump pytradfri to v7.2.0. (#59342)
  homeassistant/components/tradfri/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Address review comments for KNX config flow
  homeassistant/components/knx/config_flow.py
  tests/components/knx/test_config_flow.py
Due: mypy
