Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

Fix homekit options being mutated during config_flow/migration (#64003)
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/config_flow.py
  tests/components/homekit/test_config_flow.py
Due: mypy

Fix HomeKit reporting/setting colors when white values are present (#63948)
  homeassistant/components/homekit/type_lights.py
  tests/components/homekit/test_type_lights.py
Due: mypy

Apply suggestions to other platforms, use async_on_unload
  homeassistant/components/vesync/__init__.py
  homeassistant/components/vesync/const.py
  homeassistant/components/vesync/fan.py
  homeassistant/components/vesync/light.py
  homeassistant/components/vesync/sensor.py
  homeassistant/components/vesync/switch.py
Due: mypy

Upgrade async_timeout to 4.0.2
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Due: none

Add support for changing the white strip type to flux_led (#63943)
  homeassistant/components/flux_led/__init__.py
  homeassistant/components/flux_led/const.py
  homeassistant/components/flux_led/light.py
  homeassistant/components/flux_led/manifest.json
  homeassistant/components/flux_led/select.py
  homeassistant/components/flux_led/util.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/flux_led/__init__.py
  tests/components/flux_led/test_light.py
  tests/components/flux_led/test_select.py
Due: mypy, gen_requirements_all, hassfest

Add light platform to SenseME (#63772)
  .coveragerc
  homeassistant/components/senseme/light.py
Due: mypy, hassfest

Convert siri requests for target heating cooling state auto to a valid mode (#60220)
  homeassistant/components/homekit/manifest.json
  homeassistant/components/homekit/type_thermostats.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/homekit/test_type_thermostats.py
Due: mypy, gen_requirements_all, hassfest

Fix reconnect rather than reauth when both HA and UniFi controller restarts at the same time (#63994)
  homeassistant/components/unifi/controller.py
  tests/components/unifi/test_controller.py
Due: mypy

Use list comprehension and entity description
  homeassistant/components/doorbird/button.py
Due: mypy

Rename dev_list to entities
  homeassistant/components/vesync/fan.py
  homeassistant/components/vesync/switch.py
Due: mypy

Upgrade yarl to 1.7.2
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Due: none

add content deeplinking support to roku
  homeassistant/components/roku/const.py
  homeassistant/components/roku/media_player.py
  tests/components/roku/test_media_player.py
Due: mypy

Remove unused pillow 8.2.0 constraint
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: none

Update test_media_player.py
  tests/components/roku/test_media_player.py
Due: none

Update media_player.py
  homeassistant/components/roku/media_player.py
Due: mypy

Remove unused pillow 8.2.0 constraint (#64011)
  homeassistant/package_constraints.txt
  script/gen_requirements_all.py
Due: none

fix changed port on Netgear R7000
  homeassistant/components/netgear/config_flow.py
  homeassistant/components/netgear/const.py
  tests/components/netgear/test_config_flow.py
Due: mypy

Update const.py
  homeassistant/components/roku/const.py
Due: mypy

Address late review of VeSync (#63945)
  homeassistant/components/vesync/__init__.py
  homeassistant/components/vesync/const.py
  homeassistant/components/vesync/fan.py
  homeassistant/components/vesync/light.py
  homeassistant/components/vesync/sensor.py
  homeassistant/components/vesync/switch.py
Due: mypy

Upgrade async_timeout to 4.0.2 (#64008)
  homeassistant/package_constraints.txt
  requirements.txt
  setup.py
Due: none
