Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Add missing translations for device class in Template (#120893)
  homeassistant/components/template/strings.json
Due: hassfest

Improve add user error messages (#120909)
  homeassistant/auth/providers/homeassistant.py
  homeassistant/components/auth/strings.json
  homeassistant/components/config/auth_provider_homeassistant.py
  tests/components/config/test_auth_provider_homeassistant.py
Due: mypy, pylint, hassfest

Bump incomfort-client dependency to 0.6.3 (#120913)
  homeassistant/components/incomfort/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump openai to 1.35.1 (#120926)
  homeassistant/components/openai_conversation/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Mark dry/fan-only climate modes as supported for Panasonic room air conditioner (#120939)
  homeassistant/components/matter/climate.py
Due: mypy, pylint

Bump python-kasa to 0.7.0.2 (#120940)
  homeassistant/components/tplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Downgrade logging previously reported asyncio block to debug (#120942)
  homeassistant/util/loop.py
  tests/util/test_loop.py
Due: mypy, pylint

Fix Bang & Olufsen jumping volume bar (#120946)
  homeassistant/components/bang_olufsen/media_player.py
Due: mypy, pylint

Bump version to 2024.7.0b7
  homeassistant/const.py
  pyproject.toml
Due: mypy, pylint, gen_requirements_all, hassfest-metadata

Use fixtures in deCONZ fan tests (#120953)
  tests/components/deconz/test_fan.py
Due: none

Use fixtures in deCONZ cover tests
  tests/components/deconz/test_cover.py
Due: none

Fix missing airgradient string
  homeassistant/components/airgradient/strings.json
Due: hassfest

Use fixtures in deCONZ cover tests (#120954)
  tests/components/deconz/test_cover.py
Due: none

Add camera_online check
  homeassistant/components/reolink/__init__.py
Due: mypy, pylint

Use fixtures on deCONZ button tests
  tests/components/deconz/conftest.py
  tests/components/deconz/test_button.py
Due: none

Fix missing airgradient string (#120957)
  homeassistant/components/airgradient/strings.json
Due: hassfest

adjust tests
  tests/components/reolink/test_init.py
Due: none

Use fixtures in deCONZ button tests (#120958)
  tests/components/deconz/conftest.py
  tests/components/deconz/test_button.py
Due: none

Bump airgradient to 0.6.1
  homeassistant/components/airgradient/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update homeassistant/components/icloud/strings.json
  homeassistant/components/icloud/strings.json
Due: hassfest

Bump reolink-aio to 0.9.4
  homeassistant/components/reolink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Remove async_added_to_hass and use _async_call_update_attrs already late in __init__
  homeassistant/components/tplink/climate.py
  homeassistant/components/tplink/entity.py
  homeassistant/components/tplink/fan.py
  homeassistant/components/tplink/light.py
  tests/components/tplink/snapshots/test_sensor.ambr
  tests/components/tplink/test_init.py
Due: mypy, pylint

cleanup
  homeassistant/components/tplink/climate.py
Due: mypy, pylint

Tests review corrections
  homeassistant/components/dio_chacon/cover.py
  homeassistant/components/dio_chacon/entity.py
  tests/components/dio_chacon/conftest.py
  tests/components/dio_chacon/test_config_flow.py
  tests/components/dio_chacon/test_cover.py
  tests/components/dio_chacon/test_init.py
Due: mypy, pylint

Use fixtures in deCONZ alarm control panel tests
  tests/components/deconz/test_alarm_control_panel.py
Due: none

Use fixtures in deCONZ diagnostics tests
  tests/components/deconz/test_diagnostics.py
Due: none

Allow listdir in /proc in the event loop
  homeassistant/block_async_io.py
  tests/test_block_async_io.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
