Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((homeassistant|pylint|script|tests)/.+)?[^/]+\.(py|pyi)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=astroid,checkin,currenty,hass,iif,incomfort,lookin,nam,NotIn
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^tests/fixtures/|homeassistant/generated/|tests/components/.*/snapshots/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.6.0
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      # pre-commit run --hook-stage manual python-typing-update --all-files
      - id: python-typing-update
        stages: [manual]
        args:
          - --py311-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types_or: [python, pyi]
        require_serial: true
        files: ^(homeassistant|pylint)/.+\.(py|pyi)$
      - id: pylint
        name: pylint
        entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
        language: script
        types_or: [python, pyi]
        files: ^(homeassistant|tests)/.+\.(py|pyi)$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(icons|manifest|strings)\.json|homeassistant/brands/.*\.json|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$
      - id: hassfest-metadata
        name: hassfest-metadata
        entry: script/run-in-env.sh python3 -m script.hassfest -p metadata,docker
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
      - id: hassfest-mypy-config
        name: hassfest-mypy-config
        entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
        pass_filenames: false
        language: script
        types: [text]
        files: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Use new helper properties in konnected options flow
  homeassistant/components/konnected/config_flow.py
Due: none

Use new helper properties in motioneye options flow
  homeassistant/components/motioneye/config_flow.py
Due: none

Use new helper properties in netatmo options flow
  homeassistant/components/netatmo/config_flow.py
Due: none

Use new helper properties in plaato options flow
  homeassistant/components/plaato/config_flow.py
Due: none

Use new helper properties in recollect_waste options flow
  homeassistant/components/recollect_waste/config_flow.py
Due: none

Use new helper properties in rfxtrx options flow
  homeassistant/components/rfxtrx/config_flow.py
Due: none

Use new helper properties in steam_online options flow
  homeassistant/components/steam_online/config_flow.py
Due: none

Use new helper properties in tomorrowio options flow
  homeassistant/components/tomorrowio/config_flow.py
Due: none

Use new helper properties in verisure options flow
  homeassistant/components/verisure/config_flow.py
Due: none

Use new helper properties in watttime options flow
  homeassistant/components/watttime/config_flow.py
Due: none

Use JSON as format for .HA_RESTORE
  homeassistant/backup_restore.py
  homeassistant/components/backup/manager.py
  tests/test_backup_restore.py
Due: none

Use new helper properties in yalexs_ble options flow
  homeassistant/components/yalexs_ble/config_flow.py
Due: none

Use new helper properties in yeelight options flow
  homeassistant/components/yeelight/config_flow.py
Due: none

Adjust bakup manager test
  tests/components/backup/test_manager.py
Due: none

Improve
  homeassistant/config_entries.py
  homeassistant/helpers/schema_config_entry_flow.py
Due: none

Improve
  homeassistant/components/androidtv/config_flow.py
  homeassistant/components/androidtv_remote/config_flow.py
  homeassistant/components/onkyo/config_flow.py
  homeassistant/config_entries.py
Due: none

Use RTCIceCandidate instead of str for candidate
  homeassistant/components/camera/__init__.py
  homeassistant/components/camera/webrtc.py
  homeassistant/components/go2rtc/__init__.py
  tests/components/camera/test_init.py
  tests/components/camera/test_webrtc.py
  tests/components/go2rtc/test_init.py
Due: none

Only set ESPHome configuration url to addon if there is an existing configuration for the device (#129356)
  homeassistant/components/esphome/manager.py
Due: none

Bump Airthings BLE to 0.9.2 (#129659)
  homeassistant/components/airthings_ble/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump python-linkplay to 0.0.17 (#129683)
  homeassistant/components/linkplay/manifest.json
  homeassistant/components/linkplay/media_player.py
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Change alexa arm handler to allow switching arm states unless in armed_away mode (#129701)
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Due: none

Bump bring-api to 0.9.1 (#129702)
  homeassistant/components/bring/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump DoorBirdPy to 3.0.8 (#129709)
  homeassistant/components/doorbird/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix nest streams broken due to CameraCapabilities change (#129711)
  homeassistant/components/nest/camera.py
  tests/components/nest/test_camera.py
  tests/components/nest/test_media_source.py
Due: none

Add missing translation string to lamarzocco (#129713)
  homeassistant/components/lamarzocco/strings.json
  tests/components/lamarzocco/test_config_flow.py
Due: hassfest

Bump HAP-python to 4.9.2 (#129715)
  homeassistant/components/homekit/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump spotifyaio to 0.8.3 (#129729)
  homeassistant/components/spotify/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump thinqconnect to 1.0.0 (#129769)
  homeassistant/components/lg_thinq/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump version to 2024.11.0b3
  homeassistant/const.py
  pyproject.toml
Due: gen_requirements_all, hassfest-metadata
