Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Code review: @edenhaus
  homeassistant/components/matrix/__init__.py
  tests/components/matrix/test_send_message.py
Due: mypy, pylint

Use snapshot assertion for Environment Canada diagnostics test
  tests/components/environment_canada/fixtures/config_entry_data.json
  tests/components/environment_canada/snapshots/test_diagnostics.ambr
  tests/components/environment_canada/test_diagnostics.py
Due: none

Use snapshot assertion for ESPHome diagnostics test
  tests/components/esphome/conftest.py
  tests/components/esphome/snapshots/test_diagnostics.ambr
  tests/components/esphome/test_diagnostics.py
Due: none

Open a repair from ZHA flows when the wrong firmware is running
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/config_flow.py
  homeassistant/components/zha/radio_manager.py
  homeassistant/components/zha/repairs.py
  homeassistant/components/zha/strings.json
Due: mypy, pylint, hassfest

Use snapshot assertion for Axis diagnostics test (#98902)
  tests/components/axis/conftest.py
  tests/components/axis/snapshots/test_diagnostics.ambr
  tests/components/axis/test_diagnostics.py
Due: none

Use snapshot assertion for Deconz diagnostics test (#98908)
  tests/components/deconz/snapshots/test_diagnostics.ambr
  tests/components/deconz/test_diagnostics.py
Due: none

Bump energyzero to v0.5.0
  homeassistant/components/energyzero/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix existing unit tests
  homeassistant/components/zha/repairs.py
  tests/components/zha/test_config_flow.py
Due: mypy, pylint

Add entity translations to QNAP QSW
  homeassistant/components/qnap_qsw/binary_sensor.py
  homeassistant/components/qnap_qsw/button.py
  homeassistant/components/qnap_qsw/entity.py
  homeassistant/components/qnap_qsw/sensor.py
  homeassistant/components/qnap_qsw/strings.json
  homeassistant/components/qnap_qsw/update.py
  tests/components/qnap_qsw/test_binary_sensor.py
  tests/components/qnap_qsw/test_button.py
  tests/components/qnap_qsw/test_coordinator.py
  tests/components/qnap_qsw/test_update.py
Due: mypy, pylint, hassfest

Add entity to pick best hours
  homeassistant/components/energyzero/sensor.py
  tests/components/energyzero/snapshots/test_sensor.ambr
  tests/components/energyzero/test_sensor.py
Due: mypy, pylint

Add entity also to diagnostics
  homeassistant/components/energyzero/diagnostics.py
  tests/components/energyzero/snapshots/test_diagnostics.ambr
Due: mypy, pylint

Use snapshot assertion for Environment Canada diagnostics test (#98912)
  tests/components/environment_canada/fixtures/config_entry_data.json
  tests/components/environment_canada/snapshots/test_diagnostics.ambr
  tests/components/environment_canada/test_diagnostics.py
Due: none

Fix tests
  tests/components/group/test_config_flow.py
Due: none

Remove string translation that doesn't exists
  homeassistant/components/energyzero/strings.json
Due: hassfest

Add entity translations to Rachio
  homeassistant/components/rachio/binary_sensor.py
  homeassistant/components/rachio/strings.json
  homeassistant/components/rachio/switch.py
Due: mypy, pylint, hassfest

Correct test for connected state
  tests/components/gardena_bluetooth/snapshots/test_sensor.ambr
  tests/components/gardena_bluetooth/test_sensor.py
Due: none

Add entity translations to Ridwell
  homeassistant/components/ridwell/sensor.py
  homeassistant/components/ridwell/strings.json
  homeassistant/components/ridwell/switch.py
Due: mypy, pylint, hassfest

Use snapshot assertion for Ridwell diagnostics test
  tests/components/ridwell/conftest.py
  tests/components/ridwell/snapshots/test_diagnostics.ambr
  tests/components/ridwell/test_diagnostics.py
Due: none

Bump energyzero to v0.5.0 (#98914)
  homeassistant/components/energyzero/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add moisture sensors entities for gardena (#98282)
  homeassistant/components/gardena_bluetooth/binary_sensor.py
  homeassistant/components/gardena_bluetooth/button.py
  homeassistant/components/gardena_bluetooth/coordinator.py
  homeassistant/components/gardena_bluetooth/number.py
  homeassistant/components/gardena_bluetooth/sensor.py
  homeassistant/components/gardena_bluetooth/strings.json
  tests/components/gardena_bluetooth/snapshots/test_number.ambr
  tests/components/gardena_bluetooth/snapshots/test_sensor.ambr
  tests/components/gardena_bluetooth/test_number.py
  tests/components/gardena_bluetooth/test_sensor.py
Due: mypy, pylint, hassfest

Add entity translations to Risco
  homeassistant/components/risco/alarm_control_panel.py
  homeassistant/components/risco/binary_sensor.py
  homeassistant/components/risco/entity.py
  homeassistant/components/risco/strings.json
  homeassistant/components/risco/switch.py
Due: mypy, pylint, hassfest

Add entity translations to Risco
  homeassistant/components/risco/binary_sensor.py
Due: mypy, pylint

Energyzero - Add sensor entity to pick best hours (#98916)
  homeassistant/components/energyzero/diagnostics.py
  homeassistant/components/energyzero/sensor.py
  homeassistant/components/energyzero/strings.json
  tests/components/energyzero/snapshots/test_diagnostics.ambr
  tests/components/energyzero/snapshots/test_sensor.ambr
  tests/components/energyzero/test_sensor.py
Due: mypy, pylint, hassfest

Add entity translations to Sabnzbd
  homeassistant/components/sabnzbd/sensor.py
  homeassistant/components/sabnzbd/strings.json
Due: mypy, pylint, hassfest

Remove unnnecessary pylint configs from components [s-z]*
  homeassistant/components/saj/sensor.py
  homeassistant/components/sendgrid/notify.py
  homeassistant/components/sia/hub.py
  homeassistant/components/smarty/__init__.py
  homeassistant/components/smarty/binary_sensor.py
  homeassistant/components/smarty/fan.py
  homeassistant/components/smarty/sensor.py
  homeassistant/components/smhi/weather.py
  homeassistant/components/sms/__init__.py
  homeassistant/components/sms/config_flow.py
  homeassistant/components/sms/gateway.py
  homeassistant/components/sms/notify.py
  homeassistant/components/smtp/notify.py
  homeassistant/components/ssdp/__init__.py
  homeassistant/components/system_log/__init__.py
  homeassistant/components/tank_utility/sensor.py
  homeassistant/components/template/template_entity.py
  homeassistant/components/template/trigger.py
  homeassistant/components/tensorflow/image_processing.py
  homeassistant/components/tuya/__init__.py
  homeassistant/components/upnp/__init__.py
  homeassistant/components/watson_tts/tts.py
  homeassistant/components/xiaomi_aqara/__init__.py
  homeassistant/components/xiaomi_miio/light.py
  homeassistant/components/xmpp/notify.py
  homeassistant/components/zha/core/cluster_handlers/general.py
  homeassistant/components/zha/core/cluster_handlers/manufacturerspecific.py
  homeassistant/components/zha/core/cluster_handlers/measurement.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/discovery.py
  homeassistant/components/zha/core/endpoint.py
  homeassistant/components/zha/device_tracker.py
  homeassistant/components/zha/light.py
  homeassistant/components/zha/sensor.py
  tests/components/sensor/test_recorder.py
  tests/components/smartthings/test_init.py
  tests/components/time_date/test_sensor.py
  tests/components/water_heater/test_init.py
  tests/components/websocket_api/test_auth.py
Due: mypy, pylint

Bump bluetooth-data-tools to 1.9.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/components/esphome/manifest.json
  homeassistant/components/ld2410_ble/manifest.json
  homeassistant/components/led_ble/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Use snapshot assertion for August diagnostics test (#98901)
  tests/components/august/snapshots/test_diagnostics.ambr
  tests/components/august/test_diagnostics.py
Due: none

Remove unnnecessary pylint configs from components/[a-d]* (#98911)
  homeassistant/components/abode/camera.py
  homeassistant/components/aten_pe/switch.py
  homeassistant/components/avea/light.py
  homeassistant/components/azure_service_bus/notify.py
  homeassistant/components/beewi_smartclim/sensor.py
  homeassistant/components/bloomsky/binary_sensor.py
  homeassistant/components/bloomsky/sensor.py
  homeassistant/components/bluetooth/wrappers.py
  homeassistant/components/bluetooth_tracker/device_tracker.py
  homeassistant/components/browser/__init__.py
  homeassistant/components/caldav/calendar.py
  homeassistant/components/color_extractor/__init__.py
  homeassistant/components/config/config_entries.py
  homeassistant/components/conversation/default_agent.py
  homeassistant/components/decora/light.py
  homeassistant/components/decora_wifi/light.py
  homeassistant/components/demo/light.py
  homeassistant/components/dhcp/__init__.py
  homeassistant/components/digital_ocean/binary_sensor.py
  homeassistant/components/digital_ocean/switch.py
  homeassistant/components/dlib_face_detect/image_processing.py
  homeassistant/components/dlib_face_identify/image_processing.py
  homeassistant/components/dsmr/sensor.py
  homeassistant/components/duckdns/__init__.py
  tests/components/alexa/test_flash_briefings.py
  tests/components/alexa/test_intent.py
  tests/components/api/test_init.py
  tests/components/arcam_fmj/test_media_player.py
  tests/components/assist_pipeline/test_select.py
  tests/components/balboa/conftest.py
  tests/components/cast/test_media_player.py
  tests/components/dhcp/test_init.py
Due: mypy, pylint

Use snapshot assertion for Cpuspeed diagnostics test (#98907)
  tests/components/cpuspeed/snapshots/test_diagnostics.ambr
  tests/components/cpuspeed/test_diagnostics.py
Due: none

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
