Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

cleanup
  homeassistant/helpers/collection.py
Due: mypy, pylint

reduce
  homeassistant/helpers/collection.py
Due: mypy, pylint

Update __init__.py
  homeassistant/components/vicare/__init__.py
Due: mypy, pylint

tweak
  homeassistant/helpers/collection.py
Due: mypy, pylint

increase config flow version
  homeassistant/components/vicare/config_flow.py
Due: mypy, pylint

Fix race in openalpr_cloud tests
  tests/components/openalpr_cloud/test_image_processing.py
Due: none

add test case
  tests/components/vicare/conftest.py
  tests/components/vicare/test_migration.py
Due: none

add test case
  tests/components/vicare/snapshots/test_config_option.ambr
  tests/components/vicare/test_config_option.py
Due: none

Bump myuplink lib to v0.4.1
  homeassistant/components/myuplink/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix race in openalpr_cloud tests (#111185)
  tests/components/openalpr_cloud/test_image_processing.py
Due: none

fixes review
  homeassistant/components/microbees/light.py
Due: mypy, pylint

Bump roombapy to 1.6.13
  homeassistant/components/roomba/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

change log levels
  homeassistant/components/tedee/__init__.py
  homeassistant/components/tedee/coordinator.py
Due: mypy, pylint

Bump pytraccar from 2.1.0 to 2.1.1
  homeassistant/components/traccar/manifest.json
  homeassistant/components/traccar_server/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update homeassistant/components/tedee/coordinator.py
  homeassistant/components/tedee/coordinator.py
Due: mypy, pylint

fix minor version
  homeassistant/components/tedee/__init__.py
  homeassistant/components/tedee/config_flow.py
  tests/components/tedee/test_init.py
Due: mypy, pylint

ruff
  homeassistant/components/tedee/coordinator.py
Due: mypy, pylint

v0.4.5
  homeassistant/components/teslemetry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

mock config entry version
  tests/components/tedee/conftest.py
Due: none

Bump roombapy to 1.6.13 (#111187)
  homeassistant/components/roomba/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add binary sensor platform to microBees
  .coveragerc
  homeassistant/components/microbees/binary_sensor.py
  homeassistant/components/microbees/const.py
Due: mypy, pylint, hassfest

Update AEMET-OpenData to v0.5.1
  homeassistant/components/aemet/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

update based on pr review
  homeassistant/components/fyta/config_flow.py
  homeassistant/components/fyta/coordinator.py
  homeassistant/components/fyta/entity.py
  homeassistant/components/fyta/exception.py
  homeassistant/components/fyta/sensor.py
  tests/components/fyta/test_config_flow.py
Due: mypy, pylint

Convert hardware system status websocket api to a normal function (#111172)
  homeassistant/components/hardware/websocket_api.py
Due: mypy, pylint

Bump pytraccar from 2.1.0 to 2.1.1 (#111188)
  homeassistant/components/traccar/manifest.json
  homeassistant/components/traccar_server/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update AEMET-OpenData to v0.5.1 (#111191)
  homeassistant/components/aemet/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump pysnmp-lextudio to version 6.0.2
  homeassistant/components/snmp/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix comment
  homeassistant/components/zwave_js/light.py
Due: mypy, pylint

Update coverage to 7.4.2
  requirements_test.txt
Due: none

Update beautifulsoup4 to 4.12.3
  homeassistant/components/scrape/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
