Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Automatically add and remove locks
  homeassistant/components/schlage/__init__.py
  homeassistant/components/schlage/binary_sensor.py
  homeassistant/components/schlage/coordinator.py
  homeassistant/components/schlage/lock.py
  homeassistant/components/schlage/sensor.py
  homeassistant/components/schlage/switch.py
  tests/components/schlage/test_binary_sensor.py
  tests/components/schlage/test_init.py
  tests/components/schlage/test_lock.py
Due: mypy, pylint

Sort and remove duplicates from template/const.py (#125591)
  homeassistant/components/template/const.py
Due: mypy, pylint

Update homeassistant/components/update/__init__.py
  homeassistant/components/update/__init__.py
Due: mypy, pylint

Add alias to DOMAIN import in tests [n-z] (#125581)
  tests/components/notify_events/test_notify.py
  tests/components/picnic/test_todo.py
  tests/components/sleepiq/test_binary_sensor.py
  tests/components/sleepiq/test_button.py
  tests/components/sleepiq/test_light.py
  tests/components/sleepiq/test_number.py
  tests/components/sleepiq/test_select.py
  tests/components/sleepiq/test_sensor.py
  tests/components/sleepiq/test_switch.py
  tests/components/template/test_cover.py
  tests/components/template/test_fan.py
  tests/components/tomato/test_device_tracker.py
  tests/components/venstar/util.py
  tests/components/xiaomi/test_device_tracker.py
  tests/components/xiaomi_miio/test_button.py
  tests/components/xiaomi_miio/test_select.py
  tests/components/xiaomi_miio/test_vacuum.py
  tests/components/zha/test_button.py
  tests/components/zwave_js/test_cover.py
  tests/components/zwave_js/test_switch.py
Due: none

Add alias to DOMAIN import in homekit (#125572)
  homeassistant/components/homekit/type_covers.py
  homeassistant/components/homekit/type_fans.py
  homeassistant/components/homekit/type_humidifiers.py
  homeassistant/components/homekit/type_lights.py
  homeassistant/components/homekit/type_locks.py
  homeassistant/components/homekit/type_media_players.py
  homeassistant/components/homekit/type_security_systems.py
  homeassistant/components/homekit/type_switches.py
Due: mypy, pylint

Add alias to DOMAIN import in tests [e-g] (#125575)
  tests/components/ecobee/test_number.py
  tests/components/ecobee/test_switch.py
  tests/components/flo/test_switch.py
  tests/components/fritzbox/test_binary_sensor.py
  tests/components/fritzbox/test_button.py
  tests/components/fritzbox/test_climate.py
  tests/components/fritzbox/test_cover.py
  tests/components/fritzbox/test_light.py
  tests/components/fritzbox/test_sensor.py
  tests/components/fritzbox/test_switch.py
  tests/components/generic_hygrostat/test_humidifier.py
  tests/components/generic_thermostat/test_climate.py
  tests/components/goalzero/test_switch.py
  tests/components/gree/test_bridge.py
  tests/components/gree/test_climate.py
  tests/components/gree/test_switch.py
  tests/components/group/test_cover.py
  tests/components/group/test_fan.py
Due: none

Add alias to DOMAIN import (part 3)
  homeassistant/components/tomato/device_tracker.py
  homeassistant/components/xiaomi/device_tracker.py
  tests/components/tomato/test_device_tracker.py
  tests/components/xiaomi/test_device_tracker.py
Due: mypy, pylint

Add alias to DOMAIN import in tests [a-d] (#125573)
  tests/components/accuweather/test_init.py
  tests/components/bluetooth_le_tracker/test_device_tracker.py
  tests/components/comfoconnect/test_sensor.py
  tests/components/demo/test_button.py
  tests/components/demo/test_climate.py
  tests/components/demo/test_cover.py
  tests/components/demo/test_date.py
  tests/components/demo/test_datetime.py
  tests/components/demo/test_humidifier.py
  tests/components/demo/test_number.py
  tests/components/demo/test_select.py
  tests/components/demo/test_siren.py
  tests/components/demo/test_text.py
  tests/components/demo/test_time.py
  tests/components/demo/test_update.py
  tests/components/demo/test_vacuum.py
  tests/components/device_sun_light_trigger/test_init.py
  tests/components/devolo_home_control/test_binary_sensor.py
  tests/components/devolo_home_control/test_climate.py
  tests/components/devolo_home_control/test_cover.py
  tests/components/devolo_home_control/test_light.py
  tests/components/devolo_home_control/test_sensor.py
  tests/components/devolo_home_control/test_siren.py
  tests/components/devolo_home_control/test_switch.py
  tests/components/devolo_home_network/test_binary_sensor.py
  tests/components/devolo_home_network/test_image.py
  tests/components/doorbird/test_button.py
Due: none

Add alias to DOMAIN import in tests [h-m] (#125577)
  tests/components/home_connect/test_light.py
  tests/components/home_connect/test_switch.py
  tests/components/homekit/test_type_covers.py
  tests/components/homekit/test_type_fans.py
  tests/components/homekit/test_type_humidifiers.py
  tests/components/homekit/test_type_lights.py
  tests/components/homekit/test_type_locks.py
  tests/components/homekit/test_type_media_players.py
  tests/components/homekit/test_type_remote.py
  tests/components/homekit/test_type_security_systems.py
  tests/components/homekit_controller/test_climate.py
  tests/components/homekit_controller/test_humidifier.py
  tests/components/homematicip_cloud/test_lock.py
  tests/components/hydrawise/test_valve.py
  tests/components/knx/test_date.py
  tests/components/knx/test_datetime.py
  tests/components/knx/test_time.py
Due: none

Fixture for a Eve Door & Window node
  tests/components/matter/test_sensor.py
Due: none

remove sensors for now
  homeassistant/components/squeezebox/strings.json
Due: hassfest

make update vserion less wordy
  homeassistant/components/squeezebox/coordinator.py
  homeassistant/components/squeezebox/update.py
Due: mypy, pylint

Apply suggestions from code review
  homeassistant/components/template/coordinator.py
Due: mypy, pylint

Add quality scale (platinum) to lamarzocco
  homeassistant/components/lamarzocco/manifest.json
Due: gen_requirements_all, hassfest

Test battery voltage sensor
  tests/components/matter/test_sensor.py
Due: none

Update test_sensor.py
  tests/components/matter/test_sensor.py
Due: none

fix saved indexes breaking options flows
  homeassistant/components/bayesian/config_flow.py
  homeassistant/components/bayesian/manifest.json
  homeassistant/components/bayesian/strings.json
Due: mypy, pylint, gen_requirements_all, hassfest

Deduplicate
  homeassistant/components/automation/__init__.py
  homeassistant/components/template/coordinator.py
  homeassistant/helpers/condition.py
Due: mypy, pylint

ruff spacing
  homeassistant/components/bayesian/__init__.py
Due: mypy, pylint

Enable hadolint for hassfest docker image and adjust hadolint job (#125146)
  .github/workflows/ci.yaml
Due: none

Tweak name used in debug message
  homeassistant/components/template/coordinator.py
  tests/components/template/test_sensor.py
Due: mypy, pylint

Add and improve type annotations of modified code
  homeassistant/components/template/coordinator.py
  homeassistant/helpers/script.py
Due: mypy, pylint

Adjust typing
  homeassistant/components/automation/__init__.py
  homeassistant/components/template/coordinator.py
  homeassistant/helpers/condition.py
Due: mypy, pylint

Remove myself from codeowner from lutron_caseta
  CODEOWNERS
  homeassistant/components/lutron_caseta/manifest.json
Due: gen_requirements_all, hassfest

Update frontend to 20240909.1
  homeassistant/components/frontend/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Bump aioopenexchangerates to 0.6.2 (#125593)
  homeassistant/components/openexchangerates/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

test config flow
  homeassistant/components/bayesian/config_flow.py
  tests/components/bayesian/test_config_flow.py
Due: mypy, pylint

Adjust typing
  homeassistant/components/template/coordinator.py
Due: mypy, pylint

start options flow tests
  homeassistant/components/bayesian/binary_sensor.py
Due: mypy, pylint

start options flow tests2
  tests/components/bayesian/test_config_flow.py
Due: none

Simplify cv._base_trigger_list_flatten
  homeassistant/helpers/config_validation.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
