Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Only log to info level for normal on/offline
  homeassistant/components/aurora_abb_powerone/__init__.py
Due: mypy, pylint

minor fix
  homeassistant/components/transmission/sensor.py
Due: mypy, pylint

Add reauth support to Tailwind (#105959)
  homeassistant/components/tailwind/config_flow.py
  homeassistant/components/tailwind/coordinator.py
  homeassistant/components/tailwind/strings.json
  tests/components/tailwind/test_config_flow.py
  tests/components/tailwind/test_init.py
Due: mypy, pylint, hassfest

Bump opower to 0.1.0 (#105957)
  homeassistant/components/opower/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Clean up unnecessary code
  homeassistant/components/netatmo/sensor.py
Due: mypy, pylint

Apply mypy fixes
  homeassistant/components/devolo_home_network/sensor.py
Due: mypy, pylint

Add button platform to Tailwind integration
  homeassistant/components/tailwind/__init__.py
  homeassistant/components/tailwind/button.py
  tests/components/tailwind/snapshots/test_button.ambr
  tests/components/tailwind/test_button.py
Due: mypy, pylint

Add scheduled to renault charge mode - fixed 105751
  homeassistant/components/renault/select.py
  homeassistant/components/renault/strings.json
Due: mypy, pylint, hassfest

Additional assertions confirming other domain
  tests/components/aladdin_connect/test_init.py
Due: none

Add diagnostics platform to Tailwind
  homeassistant/components/tailwind/diagnostics.py
  tests/components/tailwind/snapshots/test_diagnostics.ambr
  tests/components/tailwind/test_diagnostics.py
Due: mypy, pylint

Improve rfxtrx typing
  homeassistant/components/rfxtrx/__init__.py
Due: mypy, pylint

Assertion error
  tests/components/aladdin_connect/test_init.py
Due: none

typo in deprecated note
  homeassistant/components/blink/binary_sensor.py
Due: mypy, pylint

Set aiohttp shutdown_timeout on AppRunner instead of TCPSite
  homeassistant/components/http/__init__.py
  homeassistant/components/http/web_runner.py
Due: mypy, pylint

Avoid mutating entity descriptions in onewire
  homeassistant/components/onewire/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in ovo_energy
  homeassistant/components/ovo_energy/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in radarr
  homeassistant/components/radarr/sensor.py
Due: mypy, pylint

Improve rfxtrx typing (#105966)
  homeassistant/components/rfxtrx/__init__.py
Due: mypy, pylint

Avoid mutating entity descriptions in solaredge
  homeassistant/components/solaredge_local/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in tomorrowio
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in unifiprotect
  homeassistant/components/unifiprotect/binary_sensor.py
  homeassistant/components/unifiprotect/models.py
Due: mypy, pylint

Fix easyenergy async_setup_services declaration (#105947)
  homeassistant/components/easyenergy/__init__.py
  homeassistant/components/easyenergy/services.py
Due: mypy, pylint

Bump async-upnp-client to 0.38.0
  homeassistant/components/dlna_dmr/manifest.json
  homeassistant/components/dlna_dms/manifest.json
  homeassistant/components/samsungtv/manifest.json
  homeassistant/components/ssdp/manifest.json
  homeassistant/components/upnp/manifest.json
  homeassistant/components/yeelight/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Improve logging util typing
  homeassistant/util/logging.py
Due: mypy, pylint

Add type ignore comments
  homeassistant/util/logging.py
Due: mypy, pylint

Avoid mutating entity descriptions in solaredge (#105974)
  homeassistant/components/solaredge_local/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in tomorrowio (#105975)
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

Fix unreachable Netatmo sensor returning false values (#105954)
  homeassistant/components/netatmo/manifest.json
  homeassistant/components/netatmo/sensor.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/netatmo/fixtures/getstationsdata.json
  tests/components/netatmo/snapshots/test_diagnostics.ambr
  tests/components/netatmo/test_sensor.py
Due: mypy, pylint, gen_requirements_all, hassfest

Allow step size any for number selector in slider mode
  homeassistant/helpers/selector.py
  tests/helpers/test_selector.py
Due: mypy, pylint

Avoid mutating entity descriptions in onewire (#105970)
  homeassistant/components/onewire/sensor.py
Due: mypy, pylint

Avoid mutating entity descriptions in radarr (#105972)
  homeassistant/components/radarr/sensor.py
Due: mypy, pylint
