Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Finish EntityDescription implementation for RainMachine (#55180)
  .coveragerc
  homeassistant/components/rainmachine/__init__.py
  homeassistant/components/rainmachine/binary_sensor.py
  homeassistant/components/rainmachine/model.py
  homeassistant/components/rainmachine/sensor.py
  homeassistant/components/rainmachine/switch.py
Due: mypy, hassfest

Fix supported_color_modes
  homeassistant/components/esphome/light.py
Due: mypy

Remove temperature conversion - sht31 (#55213)
  homeassistant/components/sht31/sensor.py
Due: mypy

Support device triggers in HomeKit (#53869)
  homeassistant/components/homekit/__init__.py
  homeassistant/components/homekit/accessories.py
  homeassistant/components/homekit/aidmanager.py
  homeassistant/components/homekit/config_flow.py
  homeassistant/components/homekit/const.py
  homeassistant/components/homekit/strings.json
  homeassistant/components/homekit/translations/en.json
  homeassistant/components/homekit/type_triggers.py
  tests/components/homekit/conftest.py
  tests/components/homekit/test_config_flow.py
  tests/components/homekit/test_homekit.py
  tests/components/homekit/test_type_triggers.py
Due: mypy, hassfest

Changes based on review
  homeassistant/components/template/binary_sensor.py
  homeassistant/components/template/select.py
  homeassistant/components/template/trigger_entity.py
  tests/components/template/test_select.py
Due: mypy

Suggested change
  homeassistant/components/xiaomi_miio/fan.py
Due: mypy

Add tests for Rituals init and platforms sensor and switch.
  .coveragerc
  tests/components/rituals_perfume_genie/common.py
  tests/components/rituals_perfume_genie/test_init.py
  tests/components/rituals_perfume_genie/test_sensor.py
  tests/components/rituals_perfume_genie/test_switch.py
Due: hassfest

Remove unnecessary patch
  tests/components/rituals_perfume_genie/test_switch.py
Due: none

Adjust tests for changes made in #52587
  tests/components/rituals_perfume_genie/common.py
  tests/components/rituals_perfume_genie/test_sensor.py
  tests/components/rituals_perfume_genie/test_switch.py
Due: none

Update homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/fan.py
Due: mypy

Add unique_id conf param to flux_led
  homeassistant/components/flux_led/light.py
Due: mypy

Change logging to do rollover() instead of rotate() (#55177)
  .gitignore
  homeassistant/bootstrap.py
  tests/test_bootstrap.py
Due: mypy

Implement color_mode support for mysensors (#52068)
  homeassistant/components/mysensors/light.py
Due: mypy

Address review of Nanoleaf Config Flow (#55215)
  homeassistant/components/nanoleaf/config_flow.py
  homeassistant/components/nanoleaf/light.py
  tests/components/nanoleaf/test_config_flow.py
Due: mypy

Sonos add bass & treble EQ option (#53978)
  homeassistant/components/sonos/media_player.py
  homeassistant/components/sonos/services.yaml
  homeassistant/components/sonos/speaker.py
Due: mypy, hassfest

Call API update method directly when creating coordinator
  homeassistant/components/eight_sleep/__init__.py
Due: mypy

Add support for Xiaomi Miio pedestal fans (#55114)
  CODEOWNERS
  homeassistant/components/xiaomi_miio/__init__.py
  homeassistant/components/xiaomi_miio/const.py
  homeassistant/components/xiaomi_miio/fan.py
  homeassistant/components/xiaomi_miio/manifest.json
  homeassistant/components/xiaomi_miio/number.py
  homeassistant/components/xiaomi_miio/select.py
  homeassistant/components/xiaomi_miio/sensor.py
  homeassistant/components/xiaomi_miio/switch.py
Due: mypy, gen_requirements_all, hassfest

Support for EnergyStorageTrait for vacuum cleaners (#55134)
  homeassistant/components/google_assistant/trait.py
  tests/components/google_assistant/test_trait.py
Due: mypy

guard against discovery_info being None
  homeassistant/components/template/number.py
Due: mypy

Add tests for Rituals init, sensor and switch (#52406)
  .coveragerc
  tests/components/rituals_perfume_genie/common.py
  tests/components/rituals_perfume_genie/test_init.py
  tests/components/rituals_perfume_genie/test_sensor.py
  tests/components/rituals_perfume_genie/test_switch.py
Due: hassfest

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
