Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

Bump aprslib to 0.7.0 (#64093)
  homeassistant/components/aprs/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Import onboarding (#64115)
  homeassistant/components/auth/login_flow.py
  homeassistant/components/frontend/__init__.py
  homeassistant/components/onboarding/__init__.py
Due: mypy

Import cloud (#64116)
  homeassistant/components/cloud/__init__.py
  homeassistant/components/mobile_app/http_api.py
  homeassistant/components/mobile_app/webhook.py
  homeassistant/components/netatmo/__init__.py
  homeassistant/components/owntracks/__init__.py
  homeassistant/components/owntracks/config_flow.py
  homeassistant/components/plaato/config_flow.py
  homeassistant/components/rachio/__init__.py
  homeassistant/components/rachio/webhooks.py
  homeassistant/components/smartthings/smartapp.py
  homeassistant/components/toon/coordinator.py
  tests/components/smartthings/test_config_flow.py
Due: mypy

Revert "Adjust callback registration"
  homeassistant/components/raspihats/binary_sensor.py
  homeassistant/components/raspihats/switch.py
Due: mypy

set utcnow beforehand and increase timedelta
  tests/components/homewizard/test_sensor.py
Due: none

Upgrade enturclient to 0.2.3
  homeassistant/components/entur_public_transport/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Add setup type hints to raspihats (#63988)
  homeassistant/components/raspihats/__init__.py
  homeassistant/components/raspihats/binary_sensor.py
  homeassistant/components/raspihats/switch.py
Due: mypy

Adjust callback registration
  homeassistant/components/raspihats/binary_sensor.py
  homeassistant/components/raspihats/switch.py
Due: mypy

Fix typos
  tests/components/tradfri/test_cover.py
Due: none

Update tests/components/tradfri/test_cover.py
  tests/components/tradfri/test_cover.py
Due: none

Upgrade enturclient to 0.2.3 (#64121)
  homeassistant/components/entur_public_transport/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Fix
  tests/components/tradfri/test_cover.py
Due: none

Remove unused function
  tests/components/tradfri/test_cover.py
Due: none

Move common tools to separate file
  tests/components/tradfri/common.py
  tests/components/tradfri/test_cover.py
  tests/components/tradfri/test_light.py
Due: none

Keep favorite groups ordering consistent
  homeassistant/components/sonos/media_browser.py
Due: mypy

Simplify parametrization
  tests/components/tradfri/test_cover.py
Due: none

Upgrade boto3 to 1.20.24 + aiobotocore to 2.1.0 (#64045)
  homeassistant/components/amazon_polly/manifest.json
  homeassistant/components/aws/__init__.py
  homeassistant/components/aws/manifest.json
  homeassistant/components/aws/notify.py
  homeassistant/components/route53/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/aws/test_init.py
Due: mypy, gen_requirements_all, hassfest

Roll back f658749
  tests/components/homewizard/test_sensor.py
Due: none

Modernize Elgato tests (#64060)
  tests/components/elgato/__init__.py
  tests/components/elgato/conftest.py
  tests/components/elgato/fixtures/settings-temperature.json
  tests/components/elgato/fixtures/state-color.json
  tests/components/elgato/fixtures/state-temperature.json
  tests/components/elgato/fixtures/state.json
  tests/components/elgato/test_button.py
  tests/components/elgato/test_config_flow.py
  tests/components/elgato/test_init.py
  tests/components/elgato/test_light.py
Due: none

Use int
  tests/components/tradfri/test_cover.py
Due: none

Rolled back the rollback and fixed timing
  tests/components/homewizard/test_sensor.py
Due: none

Fix changing the preset mode (#64119)
  homeassistant/components/shelly/climate.py
Due: mypy

Skip root folder if only one child available
  homeassistant/components/sonos/media_browser.py
  homeassistant/components/sonos/media_player.py
Due: mypy

Move setting time after adding to hass
  tests/components/homewizard/test_sensor.py
Due: none

Remove loop
  tests/components/tradfri/test_cover.py
Due: none

Path conditions:
  mypy: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$
