Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Enable strict typing for Climate component (#99301)
  .strict-typing
  homeassistant/components/climate/__init__.py
  homeassistant/components/climate/device_condition.py
  homeassistant/components/climate/reproduce_state.py
  mypy.ini
Due: mypy, pylint, hassfest-mypy-config

Bump zeroconf to 0.98.0
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Timer change paused timers
  homeassistant/components/timer/__init__.py
  tests/components/timer/test_init.py
Due: mypy, pylint

complete
  homeassistant/components/husqvarna_automower/application_credentials.py
  homeassistant/components/husqvarna_automower/config_flow.py
  homeassistant/components/husqvarna_automower/strings.json
  tests/components/husqvarna_automower/test_application_credentials.py
Due: mypy, pylint, hassfest

Raise error on open/close failure in Aladdin Connect (#99746)
  homeassistant/components/aladdin_connect/cover.py
  tests/components/aladdin_connect/test_cover.py
Due: mypy, pylint

Fix feedback
  homeassistant/components/waqi/config_flow.py
  homeassistant/components/waqi/sensor.py
Due: mypy, pylint

Do not connect to the radio hardware within `_connect_zigpy_app`
  homeassistant/components/zha/radio_manager.py
Due: mypy, pylint

Add additional fields for 3-phase UPS to nut (#98625)
  homeassistant/components/nut/sensor.py
  homeassistant/components/nut/strings.json
Due: mypy, pylint, hassfest

Bump dbus-fast to 1.95.0
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Make `connect_zigpy_app` public
  homeassistant/components/zha/radio_manager.py
  tests/components/homeassistant_hardware/conftest.py
  tests/components/homeassistant_sky_connect/conftest.py
  tests/components/homeassistant_sky_connect/test_init.py
  tests/components/homeassistant_yellow/conftest.py
  tests/components/zha/test_radio_manager.py
Due: mypy, pylint

Run Black after merge
  homeassistant/components/aladdin_connect/cover.py
Due: mypy, pylint

Improve typing of trend component (#99719)
  .strict-typing
  homeassistant/components/trend/binary_sensor.py
  mypy.ini
Due: mypy, pylint, hassfest-mypy-config

Handle alexa invalid climate temp adjustment (#99740)
  homeassistant/components/alexa/errors.py
  homeassistant/components/alexa/handlers.py
  tests/components/alexa/test_smart_home.py
Due: mypy, pylint

Fix feedback
  homeassistant/components/waqi/config_flow.py
  homeassistant/components/waqi/sensor.py
  homeassistant/components/waqi/strings.json
Due: mypy, pylint, hassfest

Bump aiowaqi to 1.1.0
  homeassistant/components/waqi/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Migrate AVM FRITZ!Box Call monitor to has entity name
  homeassistant/components/fritzbox_callmonitor/sensor.py
  homeassistant/components/fritzbox_callmonitor/strings.json
Due: mypy, pylint, hassfest

Update homeassistant/components/fritzbox_callmonitor/strings.json
  homeassistant/components/fritzbox_callmonitor/strings.json
Due: hassfest

Create radio manager instances from config entries
  homeassistant/components/zha/radio_manager.py
Due: mypy, pylint

Bump zeroconf to 0.98.0 (#99748)
  homeassistant/components/zeroconf/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update sensor.py
  homeassistant/components/fritzbox_callmonitor/sensor.py
Due: mypy, pylint

Log warning when load_default_certs is called in the event loop
  homeassistant/block_async_io.py
  homeassistant/util/async_.py
Due: mypy, pylint

log at debug level
  homeassistant/block_async_io.py
Due: mypy, pylint

Add config flow to trend
  homeassistant/components/trend/__init__.py
  homeassistant/components/trend/binary_sensor.py
  homeassistant/components/trend/config_flow.py
  homeassistant/components/trend/manifest.json
  homeassistant/components/trend/strings.json
  homeassistant/generated/config_flows.py
  homeassistant/generated/integrations.json
  tests/components/trend/test_config_flow.py
  tests/components/trend/test_init.py
Due: mypy, pylint, gen_requirements_all, hassfest

Bump dbus-fast to 1.95.0 (#99749)
  homeassistant/components/bluetooth/manifest.json
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add pytest fixture
  tests/components/withings/test_sensor.py
Due: none

Cache device triggers on startup
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/const.py
  homeassistant/components/zha/core/device.py
  homeassistant/components/zha/device_trigger.py
Due: mypy, pylint

reorg zha init
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/gateway.py
Due: mypy, pylint

Change AVM FRITZ!Box Call monitor sensor into an enum
  homeassistant/components/fritzbox_callmonitor/sensor.py
  homeassistant/components/fritzbox_callmonitor/strings.json
Due: mypy, pylint, hassfest

don't reuse gateway
  homeassistant/components/zha/__init__.py
Due: mypy, pylint

don't nuke yaml configuration
  homeassistant/components/zha/core/gateway.py
Due: mypy, pylint

review comments
  homeassistant/components/zha/__init__.py
  homeassistant/components/zha/core/gateway.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
