Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: script/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
  language: script

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

hassfest:
  name: hassfest
  entry: script/run-in-env.sh python3 -m script.hassfest
  pass_filenames: false
  language: script

hassfest-metadata:
  name: hassfest-metadata
  entry: script/run-in-env.sh python3 -m script.hassfest -p metadata
  pass_filenames: false
  language: script

hassfest-mypy-config:
  name: hassfest-mypy-config
  entry: script/run-in-env.sh python3 -m script.hassfest -p mypy_config
  pass_filenames: false
  language: script

Update pylutron to 0.2.15
  homeassistant/components/lutron/manifest.json
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest, hassfest-metadata

Fix loading created_at/modified_at values from disk in entity registry
  homeassistant/helpers/entity_registry.py
Due: mypy, pylint

update unique id
  homeassistant/components/bluesound/config_flow.py
  homeassistant/components/bluesound/media_player.py
  homeassistant/components/bluesound/utils.py
Due: mypy, pylint

add async_unload_entry
  homeassistant/components/bluesound/__init__.py
Due: mypy, pylint

fix: entry will never be none
  homeassistant/components/madvr/config_flow.py
Due: mypy, pylint

Fix loading created_at/modified_at from entity registry store (#122486)
  homeassistant/helpers/entity_registry.py
  tests/helpers/test_entity_registry.py
Due: mypy, pylint

squeezebox rework device handling based on freedback
  homeassistant/components/squeezebox/__init__.py
  homeassistant/components/squeezebox/binary_sensor.py
  homeassistant/components/squeezebox/entity.py
Due: mypy, pylint

Update aioairzone to v0.8.1 (#122481)
  homeassistant/components/airzone/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/airzone/test_climate.py
  tests/components/airzone/test_sensor.py
Due: gen_requirements_all, hassfest

Tweak deCONZ init and hub tests (#122484)
  tests/components/deconz/conftest.py
  tests/components/deconz/snapshots/test_hub.ambr
  tests/components/deconz/test_config_flow.py
  tests/components/deconz/test_hub.py
  tests/components/deconz/test_init.py
  tests/components/deconz/test_services.py
Due: none

Use snapshot validation on Axis binary sensor (#122483)
  tests/components/axis/snapshots/test_binary_sensor.ambr
  tests/components/axis/test_binary_sensor.py
Due: none

Add tests to emoncms
  homeassistant/components/emoncms/const.py
  tests/components/emoncms/__init__.py
  tests/components/emoncms/conftest.py
  tests/components/emoncms/snapshots/test_sensor.ambr
  tests/components/emoncms/test_sensor.py
Due: mypy, pylint

Update pylutron to 0.2.15 (#122455)
  homeassistant/components/lutron/manifest.json
  pyproject.toml
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest, hassfest-metadata

Apply suggestions from code review
  homeassistant/components/vicare/icons.json
  homeassistant/components/vicare/sensor.py
  homeassistant/components/vicare/strings.json
Due: mypy, pylint, hassfest

Reduce snapshot size
  tests/components/emoncms/snapshots/test_sensor.ambr
Due: none

use async functions from api
  homeassistant/components/apsystems/switch.py
Due: mypy, pylint

convert Api IntEnum Status Information to bool
  homeassistant/components/apsystems/switch.py
Due: mypy, pylint

Update aioairzone-cloud to v0.5.5 (#122482)
  homeassistant/components/airzone_cloud/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Fix device class on sensor in ViCare (#122334)
  homeassistant/components/vicare/sensor.py
Due: mypy, pylint

add translation key
  homeassistant/components/apsystems/strings.json
  homeassistant/components/apsystems/switch.py
Due: mypy, pylint, hassfest

fix: restore files required for service
  homeassistant/components/onkyo/__init__.py
  homeassistant/components/onkyo/icons.json
  homeassistant/components/onkyo/services.yaml
Due: mypy, pylint, hassfest

Remigrate device_registry created_at/modified_at
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Due: mypy, pylint

feat: working manual entry and discovery
  homeassistant/components/onkyo/config_flow.py
  homeassistant/components/onkyo/const.py
  homeassistant/components/onkyo/receiver.py
  homeassistant/components/onkyo/strings.json
Due: mypy, pylint, hassfest

reduce
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Due: mypy, pylint

split migration per discord comments
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Due: mypy, pylint

Fix device creation
  homeassistant/components/squeezebox/__init__.py
Due: mypy, pylint

squeezebox rework coordinator error handling
  homeassistant/components/squeezebox/coordinator.py
Due: mypy, pylint

Improve fan tests
  tests/components/deconz/test_fan.py
Due: none

Remigrate device_registry created_at/modified_at (#122490)
  homeassistant/helpers/device_registry.py
  tests/helpers/test_device_registry.py
Due: mypy, pylint

Use snapshots
  tests/components/deconz/snapshots/test_fan.ambr
  tests/components/deconz/test_fan.py
Due: none

Fix lint type error
  homeassistant/components/squeezebox/__init__.py
Due: mypy, pylint

Correct spelling
  homeassistant/components/squeezebox/__init__.py
  homeassistant/components/squeezebox/coordinator.py
  homeassistant/components/squeezebox/entity.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$
