Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.0.2
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/prettier/prettier
    rev: 2.0.4
    hooks:
      - id: prettier
        stages: [manual]
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [json]
        files: ^homeassistant/.+/(manifest|strings)\.json$

Better timeout handling in samsungtv integration (#38759)
  homeassistant/components/samsungtv/bridge.py
  tests/components/samsungtv/test_media_player.py
Due: mypy

Add tests coverage to Sentry integration (#38913)
  .coveragerc
  homeassistant/components/sentry/__init__.py
  tests/components/sentry/test_init.py
Due: mypy

Fix ozw pure rgb dimmer light (#38877)
  homeassistant/components/ozw/light.py
  tests/components/ozw/conftest.py
  tests/components/ozw/test_light.py
  tests/fixtures/ozw/light_pure_rgb.json
  tests/fixtures/ozw/light_pure_rgb_dimmer_dump.csv
Due: mypy

Add support for tlx-devices
  homeassistant/components/growatt_server/sensor.py
Due: mypy

pcm_mulaw frames should be s16
  tests/components/stream/common.py
Due: none

catch KeyError and UnboundLocalError in light setup
  homeassistant/components/control4/light.py
Due: mypy

Sentry: Deprecate YAML config, add 100% config_flow test coverage
  homeassistant/components/sentry/__init__.py
  homeassistant/components/sentry/config_flow.py
  tests/components/sentry/test_config_flow.py
Due: mypy

Upgrade Sentry SDK to 0.16.5
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix log message format in daikin
  homeassistant/components/daikin/config_flow.py
Due: mypy

Initial attempt at converting hyperion to current API.
  homeassistant/components/hyperion/light.py
Due: mypy

Fix boost event handling
  homeassistant/components/netatmo/climate.py
Due: mypy

Replace strings with vars
  homeassistant/components/netatmo/climate.py
Due: mypy

Add more tests (may still be able to trim this down)
  homeassistant/helpers/template.py
  tests/helpers/test_event.py
  tests/helpers/test_template.py
Due: mypy

Add track_template_result method to events (#38802)
  homeassistant/core.py
  homeassistant/helpers/event.py
  homeassistant/helpers/template.py
  tests/helpers/test_condition.py
  tests/helpers/test_event.py
  tests/helpers/test_template.py
Due: mypy

Fix log message format in daikin (#38920)
  homeassistant/components/daikin/config_flow.py
Due: mypy

add check for no dimmer info from control4
  homeassistant/components/control4/light.py
Due: mypy

bump the version of openevsewifi to latest upstream 1.1.0 (#38892)
  homeassistant/components/openevse/manifest.json
  requirements_all.txt
Due: gen_requirements_all, hassfest

Fall back to entry id
  homeassistant/components/kodi/media_player.py
Due: mypy

Fix getting software version in unauthenticated mode
  homeassistant/components/huawei_lte/const.py
Due: mypy

Add serial number device identifier if available
  homeassistant/components/huawei_lte/__init__.py
Due: mypy

Upgrade Sentry SDK to 0.16.5 (#38918)
  homeassistant/components/sentry/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Add wind max speed to trafikverket_weatherstation
  homeassistant/components/trafikverket_train/manifest.json
  homeassistant/components/trafikverket_weatherstation/manifest.json
  homeassistant/components/trafikverket_weatherstation/sensor.py
  requirements_all.txt
Due: mypy, gen_requirements_all, hassfest

Remove local import, fix CamelCase
  homeassistant/components/cast/media_player.py
  homeassistant/components/tts/__init__.py
Due: mypy

Only update hdmi_out if supported
  homeassistant/components/onkyo/media_player.py
Due: mypy

Update CODEOWNERS
  CODEOWNERS
Due: none

Fix Netatmo climate boost/heat event handling (#38923)
  homeassistant/components/netatmo/climate.py
Due: mypy

Update __init__.py
  homeassistant/components/fibaro/__init__.py
Due: mypy

Huawei LTE device registry improvements (#38925)
  homeassistant/components/huawei_lte/__init__.py
  homeassistant/components/huawei_lte/const.py
Due: mypy
