Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.21.2
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((homeassistant|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.7.0
          - pyflakes==2.3.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.0.0
          - flake8-comprehensions==3.5.0
          - flake8-noqa==1.1.0
          - mccabe==0.6.1
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=rc
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        stages: [manual]
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.3.5
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py38-plus
          - --force
          - --keep-updates
        files: ^(homeassistant|tests|script)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^homeassistant/.+\.py$
      - id: gen_requirements_all
        name: gen_requirements_all
        entry: script/run-in-env.sh python3 -m script.gen_requirements_all
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/manifest\.json|\.pre-commit-config\.yaml)$
      - id: hassfest
        name: hassfest
        entry: script/run-in-env.sh python3 -m script.hassfest
        pass_filenames: false
        language: script
        types: [text]
        files: ^(homeassistant/.+/(manifest|strings)\.json|\.coveragerc|homeassistant/.+/services\.yaml)$

spelling: components/emulated_hue (#64250)
  homeassistant/components/emulated_hue/hue_api.py
Due: mypy

Update homeassistant/components/nest/diagnostics.py
  homeassistant/components/nest/diagnostics.py
Due: mypy

Fix test
  tests/components/github/test_diagnostics.py
Due: none

Add diagnostics to the core files
  .core_files.yaml
Due: none

Add launch mission sensor for launch_library (#64387)
  homeassistant/components/launch_library/const.py
  homeassistant/components/launch_library/sensor.py
Due: mypy

17track package status is not updated when there are no packages
  homeassistant/components/seventeentrack/sensor.py
Due: mypy

Add diagnostic information for nest (#64405)
  homeassistant/components/nest/diagnostics.py
  tests/components/nest/common.py
  tests/components/nest/test_diagnostics.py
Due: mypy

Fix source ip detection in unifi-discovery
  homeassistant/components/unifiprotect/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Clean up Launch Library consts
  homeassistant/components/launch_library/const.py
  homeassistant/components/launch_library/sensor.py
Due: mypy

Adjust kulersky
  homeassistant/components/kulersky/light.py
Due: mypy

Adjust keenetic_ndms2
  homeassistant/components/keenetic_ndms2/__init__.py
Due: mypy

Adjust test
  tests/components/launch_library/test_config_flow.py
Due: none

Adjust kodi
  homeassistant/components/kodi/config_flow.py
Due: mypy

Adjust motion_blinds
  homeassistant/components/motion_blinds/__init__.py
Due: mypy

Clean up Launch Library consts (#64420)
  homeassistant/components/launch_library/const.py
  homeassistant/components/launch_library/sensor.py
  tests/components/launch_library/test_config_flow.py
Due: mypy

Introduce RequiredKeysMixin in kaiterra
  homeassistant/components/kaiterra/sensor.py
Due: mypy

Add return types to xiaomi_miio
  homeassistant/components/xiaomi_miio/__init__.py
Due: mypy

Set constant and move to attribute from property
  homeassistant/components/hunterdouglas_powerview/cover.py
  homeassistant/components/hunterdouglas_powerview/sensor.py
Due: mypy

Make launch library lambdas single line
  homeassistant/components/launch_library/sensor.py
Due: mypy

Make launch library lambdas single line (#64424)
  homeassistant/components/launch_library/sensor.py
Due: mypy

Remove integrations from mypy ignored modules (part 3) (#64414)
  homeassistant/components/kaiterra/const.py
  homeassistant/components/kaiterra/sensor.py
  homeassistant/components/keenetic_ndms2/__init__.py
  homeassistant/components/keenetic_ndms2/config_flow.py
  homeassistant/components/keenetic_ndms2/device_tracker.py
  homeassistant/components/kodi/config_flow.py
  homeassistant/components/kulersky/light.py
  homeassistant/components/litejet/config_flow.py
  homeassistant/components/motion_blinds/__init__.py
  homeassistant/components/motion_blinds/sensor.py
  mypy.ini
  script/hassfest/mypy_config.py
Due: mypy

Add AQHI sensor for Environment Canada (#63644)
  homeassistant/components/environment_canada/__init__.py
  homeassistant/components/environment_canada/sensor.py
Due: mypy

Add diagnostics to the core files (#64417)
  .core_files.yaml
Due: none

Fix return type
  homeassistant/components/xiaomi_miio/__init__.py
Due: mypy

Bump PyOverkiz to 1.2.0
  homeassistant/components/overkiz/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest
