Repository home-assistant/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, gen_requirements_all, hassfest, hassfest-metadata, hassfest-mypy-config

Path conditions:
  mypy: any of: ^(homeassistant|pylint)/.+\.py$ and \.py$
  pylint: any of: ^homeassistant/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(homeassistant/.+/manifest\.json|homeassistant/brands/.+\.json|pyproject\.toml|\.pre-commit-config\.yaml|script/gen_requirements_all\.py)$
  hassfest: any of: ^(homeassistant/.+/(manifest|strings)\.json|homeassistant/brands/.*\.json|\.coveragerc|homeassistant/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py)$
  hassfest-metadata: any of: ^(script/hassfest/metadata\.py|homeassistant/const\.py$|pyproject\.toml)$
  hassfest-mypy-config: any of: ^(script/hassfest/mypy_config\.py|\.strict-typing|mypy\.ini)$

Add Renson button entity (#99494)
  .coveragerc
  homeassistant/components/renson/__init__.py
  homeassistant/components/renson/button.py
  homeassistant/components/renson/manifest.json
  homeassistant/components/renson/strings.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Bump ring to 0.7.3
  homeassistant/components/ring/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

Update plugwise to v0.33.0
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

fix diagnostics
  tests/components/roborock/snapshots/test_diagnostics.ambr
Due: none

update imports to comply with ruff check
  homeassistant/components/permobil/config_flow.py
  homeassistant/components/permobil/coordinator.py
  homeassistant/components/permobil/sensor.py
Due: mypy, pylint

Limit state writes for mqtt alarm_control_panel
  homeassistant/components/mqtt/alarm_control_panel.py
  tests/components/mqtt/test_alarm_control_panel.py
Due: mypy, pylint

Added state_class to sensors.
  homeassistant/components/tomorrowio/sensor.py
Due: mypy, pylint

Update plugwise to v0.33.0 (#100689)
  homeassistant/components/plugwise/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, hassfest

ZHA multiprotocol detected message: add info (#100686)
  homeassistant/components/zha/strings.json
Due: hassfest

Avoid polling in sun sensor entities
  homeassistant/components/sun/__init__.py
  homeassistant/components/sun/const.py
  homeassistant/components/sun/sensor.py
  tests/components/sun/test_sensor.py
Due: mypy, pylint

Add missing step-differentiation for the Plugwise temperature_offset (#100654)
  homeassistant/components/plugwise/number.py
  tests/components/plugwise/test_number.py
Due: mypy, pylint

Group 9: Update .gitignore to exclude SonarQube related files/directories
  .gitignore
Due: none

add power number entity to ecoforest integration
  homeassistant/components/ecoforest/__init__.py
  homeassistant/components/ecoforest/number.py
  homeassistant/components/ecoforest/strings.json
Due: mypy, pylint, hassfest

fix number.py header
  homeassistant/components/ecoforest/number.py
Due: mypy, pylint

Limit state writes for mqtt climate & water_heater
  homeassistant/components/mqtt/climate.py
  homeassistant/components/mqtt/water_heater.py
  tests/components/mqtt/test_climate.py
  tests/components/mqtt/test_water_heater.py
Due: mypy, pylint

give title a custom name
  homeassistant/components/husqvarna_automower/config_flow.py
Due: mypy, pylint

Update tests
  tests/components/recorder/test_init.py
Due: none

minor fixes
  homeassistant/components/ecoforest/number.py
Due: mypy, pylint

Use webrtc-noise-gain instead of webrtcvad package
  homeassistant/components/assist_pipeline/manifest.json
  homeassistant/components/assist_pipeline/vad.py
  homeassistant/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/assist_pipeline/test_vad.py
Due: mypy, pylint, gen_requirements_all, hassfest

Update component to use new API version
  homeassistant/components/faa_delays/__init__.py
  homeassistant/components/faa_delays/binary_sensor.py
  homeassistant/components/faa_delays/config_flow.py
  homeassistant/components/faa_delays/const.py
  homeassistant/components/faa_delays/coordinator.py
  homeassistant/components/faa_delays/manifest.json
  requirements_all.txt
  requirements_test_all.txt
  tests/components/faa_delays/test_config_flow.py
Due: mypy, pylint, gen_requirements_all, hassfest

add coordinator and init to .coveragerc
  .coveragerc
Due: hassfest

change power to power level
  homeassistant/components/ecoforest/number.py
  homeassistant/components/ecoforest/strings.json
Due: mypy, pylint, hassfest

update comment for native value prop
  homeassistant/components/ecoforest/number.py
Due: mypy, pylint

exclude number.py from coverage
  .coveragerc
Due: hassfest

Add number platform to ecoforest (#100694)
  .coveragerc
  homeassistant/components/ecoforest/__init__.py
  homeassistant/components/ecoforest/number.py
  homeassistant/components/ecoforest/strings.json
Due: mypy, pylint, hassfest

Revert new features, implement #95546, bump library
  homeassistant/components/faa_delays/__init__.py
  homeassistant/components/faa_delays/binary_sensor.py
  homeassistant/components/faa_delays/config_flow.py
  homeassistant/components/faa_delays/const.py
  homeassistant/components/faa_delays/coordinator.py
  homeassistant/components/faa_delays/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, pylint, gen_requirements_all, hassfest

Update brands URLs to use fallback search parameter
  homeassistant/components/forked_daapd/browse_media.py
  homeassistant/components/kodi/browse_media.py
  homeassistant/components/lovelace/cast.py
  homeassistant/components/media_source/models.py
  homeassistant/components/plex/cast.py
  homeassistant/components/plex/media_browser.py
  homeassistant/components/roku/browse_media.py
  homeassistant/components/sonos/media_browser.py
  homeassistant/components/spotify/browse_media.py
  homeassistant/components/tts/media_source.py
  homeassistant/components/update/__init__.py
  tests/components/cast/test_media_player.py
  tests/components/demo/test_update.py
  tests/components/esphome/test_media_player.py
  tests/components/forked_daapd/test_browse_media.py
  tests/components/lovelace/test_cast.py
  tests/components/mqtt/test_update.py
  tests/components/update/test_init.py
  tests/components/update/test_recorder.py
  tests/components/wled/test_update.py
Due: mypy, pylint

add freshness and air comfort
  homeassistant/components/tado/__init__.py
  homeassistant/components/tado/const.py
  homeassistant/components/tado/sensor.py
  homeassistant/components/tado/strings.json
Due: mypy, pylint, hassfest

Test restored state
  tests/components/august/test_sensor.py
Due: none

add cpu temp disable by default
  homeassistant/components/ecoforest/sensor.py
Due: mypy, pylint

Fix mqtt light rgbww update without state topic
  homeassistant/components/mqtt/light/schema_basic.py
  tests/components/mqtt/test_light.py
Due: mypy, pylint

add switch platform to ecoforest integration
  homeassistant/components/ecoforest/__init__.py
  homeassistant/components/ecoforest/strings.json
  homeassistant/components/ecoforest/switch.py
Due: mypy, pylint, hassfest

Add additional sensors to ecoforest integration (#100681)
  homeassistant/components/ecoforest/sensor.py
  homeassistant/components/ecoforest/strings.json
Due: mypy, pylint, hassfest

ignore switch.py from coverage
  .coveragerc
Due: hassfest

Assign color_mode for mqtt light as ColorMode
  homeassistant/components/mqtt/light/schema_basic.py
  tests/components/mqtt/test_light.py
Due: mypy, pylint
